<div class="wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">

    <!-- search wrapper -->
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"></app-search>

    <div class="display-flex">
      <div class="filter-icon-wrapper" (click)="showFilter()">
        <div class="filter-card-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459"
            style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
            <g>
              <g>
                <g id="filter">
                  <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#8F8F8F" />
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <app-button-wrapper [buttonTitle]="'Add User'" routerLink="../add"></app-button-wrapper>
    </div>
  </div>

  <!-- Filter wrapper -->
  <div *ngIf="isVisible" class="filter-wrapper" [@openClose]>

    <div class="filter-flex-wrapper flex-direction-row">
      <div>
        <h3 class="filter-title-text">Filter</h3>
      </div>
      <div (click)="clearFilter()">
        <i class="fa fa-times filter-close-icon"></i>
      </div>
    </div>
    <form [formGroup]="adminFilterForm" (ngSubmit)="onSubmit()" class="filter-form-wrapper">
      <div class="filter-flex-wrapper">
        <div>
          <div class="padding-top-24">
            <p class="filter-text">Branches</p>

            <p-dropdown [options]="branches" placeholder="Select Branch" [showClear]="true"
              styleClass="prime-dropdown-wrapper" formControlName="business_branch_id">

            </p-dropdown>
          </div>

          <div class="padding-top-24">
            <p class="filter-text">Status</p>

            <p-dropdown optionLabel="name" [options]="status" [showClear]="true" formControlName="user_status"
              dropdownIcon="fa fa-chevron-down" styleClass="prime-dropdown-wrapper" styleClass="prime-dropdown-status">
              <ng-template let-fs pTemplate="item">
                <div class="option-row">
                  <div>
                    {{fs.value.name}}
                  </div>
                </div>
              </ng-template>

            </p-dropdown>
          </div>
        </div>

        <div class="filter-button-wrapper">
          <button type="submit" class="full-button-wrapper">Apply Filters</button>
          <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
        </div>

      </div>


    </form>

  </div>

  <!-- table wrapper -->
  <div class="table-wrapper">
    <p-table [value]="adminList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true" [lazy]="true"
      (onLazyLoad)="paginate($event)" [alwaysShowPaginator]="false" [rows]="10" sortField="title" [sortOrder]="1"
      [totalRecords]="total">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:9em">First Name</th>
          <th>Last Name</th>
          <th style="width:14em">Email</th>
          <th style="width:11em">Mobile No.</th>
          <th>Branch</th>
          <th>Status</th>
          <th style="width:14em">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-admin>
        <tr>
          <td>
            <span class="ui-column-title">First Name</span>
            <span class="text-capitalize">{{admin.first_name}}</span>
          </td>
          <td>
            <span class="ui-column-title">Last Name</span>
            <span class="text-capitalize">{{admin.last_name}}</span>
          </td>
          <td><span class="ui-column-title">Email</span>{{admin.email_id}}</td>
          <td><span class="ui-column-title">Mobile No.</span>{{admin.mobile_number}}</td>
          <td><span
              class="ui-column-title">Branch</span>{{admin.businessArea?admin.businessArea.address_branch_name : "-"}}
          </td>
          <td class="admin-status">
            <span class="ui-column-title">Status</span>

            <app-active-switch *ngIf="admin.user_status != 'pending' else staticContent"
              [checked]="admin.user_status == 'active'" [possibleValue]="possibleValue"
              (change)="changeStatus($event, admin.user_id)"></app-active-switch>
            <ng-template #staticContent>
              {{admin.user_status}}
            </ng-template>
          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0 view-link" [routerLink]="['../details', utility.base64Encode(admin.user_id)]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
            <span *ngIf="admin.user_status == 'pending'" (click)="resendOTP(admin)">
              <span>
                <i class="fa fa-location-arrow location-icon"></i>
              </span>
              <a class="resend-link">Resend Link</a>
            </span>

          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="7">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
