.admin-status {
    text-transform: capitalize;
}

::ng-deep .prime-dropdown-status {
    width:100%;
}

.view-link {
    padding-right: 10px !important;
}

.location-icon {
    padding-right: 5px !important;
}