.align-button-right {
    padding-top:32px;
}

.checkbox-flex-wrapper {
    display:flex;
    flex-direction: row;
    padding-top:5px;

    ::ng-deep p-checkbox {
        padding:5px 10px 0 0;
         
        .ui-chkbox-label {
            letter-spacing: 0px;
            color: #4A4A4A;
        }
    }
}