<div class="wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <!-- Form Wrapper -->
  <div class="col-sm-8 card form-card-wrapper">
    <form [formGroup]="businessListForm" (ngSubmit)="onSubmit()">
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">First Name*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter first name" formControlName="firstName"
              [class.is-invalid]="(businessForm.firstName.errors  && (businessForm.firstName.dirty || businessForm.firstName.touched) && isSubmitted) || (businessForm.firstName.errors  && (businessForm.firstName.dirty || businessForm.firstName.touched))">
          </div>
          <div
            *ngIf="(((businessForm.firstName.hasError('required') || businessForm.firstName.hasError('whitespace'))  && (businessForm.firstName.dirty || businessForm.firstName.touched)) && isSubmitted) || ((businessForm.firstName.hasError('required') || businessForm.firstName.hasError('whitespace'))  && (businessForm.firstName.dirty || businessForm.firstName.touched))"
            [ngClass]="(businessForm.firstName.valid) ? 'display-none' : 'error'">
            Please enter first name.
          </div>
        </div>
        <div class="form-block padding-right-32">
          <p class="form-text">Last Name*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter last name" formControlName="lastName"
              [class.is-invalid]="(businessForm.lastName.errors  && (businessForm.lastName.dirty || businessForm.lastName.touched) && isSubmitted) || (businessForm.lastName.errors  && (businessForm.lastName.dirty || businessForm.lastName.touched))">
          </div>
          <div
            *ngIf="(((businessForm.lastName.hasError('required') || businessForm.lastName.hasError('whitespace'))  && (businessForm.lastName.dirty || businessForm.lastName.touched)) && isSubmitted) || ((businessForm.lastName.hasError('required') || businessForm.lastName.hasError('whitespace'))  && (businessForm.lastName.dirty || businessForm.lastName.touched))"
            [ngClass]="(businessForm.lastName.valid) ? 'display-none' : 'error'">
            Please enter last name.
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Email Id*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter email" formControlName="email"
              [class.is-invalid]="(businessForm.email.errors  && (businessForm.email.dirty || businessForm.email.touched) && isSubmitted) || (businessForm.email.errors  && (businessForm.email.dirty || businessForm.email.touched))">
          </div>
          <div
            *ngIf="(((businessForm.email.hasError('required') || businessForm.email.hasError('whitespace'))  && (businessForm.email.dirty || businessForm.email.touched)) && isSubmitted) || ((businessForm.email.hasError('required') || businessForm.email.hasError('whitespace'))  && (businessForm.email.dirty || businessForm.email.touched))"
            [ngClass]="(businessForm.email.valid) ? 'display-none' : 'error'">
            Please enter email.
          </div>
        </div>
        <div class="form-block padding-right-32">
          <p class="form-text">Mobile*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter mobile number" formControlName="mobile"
              [class.is-invalid]="(businessForm.mobile.errors  && (businessForm.mobile.dirty || businessForm.mobile.touched) && isSubmitted) || (businessForm.mobile.errors  && (businessForm.mobile.dirty || businessForm.mobile.touched))">
          </div>
          <div
            *ngIf="(((businessForm.mobile.hasError('required') || businessForm.mobile.hasError('whitespace'))  && (businessForm.mobile.dirty || businessForm.mobile.touched)) && isSubmitted) || ((businessForm.mobile.hasError('required') || businessForm.mobile.hasError('whitespace'))  && (businessForm.mobile.dirty || businessForm.mobile.touched))"
            [ngClass]="(businessForm.mobile.valid) ? 'display-none' : 'error'">
            Please enter mobile number.
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Branch*</p>
          <div class="form-small-input">
            <p-dropdown [options]="branches" formControlName="branch" placeholder="Select branch" [showClear]="true"
              styleClass="prime-dropdown-wrapper"
              [class.is-invalid]="(businessForm.branch.hasError('required') && businessForm.branch.touched)  || isSubmitted">
            </p-dropdown>
            <div
              *ngIf="(businessForm.branch.hasError('required')  && (businessForm.branch.dirty || businessForm.branch.touched)) || isSubmitted"
              [ngClass]="(businessForm.branch.valid) ? 'display-none' : 'error'">
              Please select branch.
            </div>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block">
          <p class="form-text">User Role*</p>
          <div class="checkbox-flex-wrapper">
            <p-checkbox name="groupname" value="MC Donald" label="MC Donald" [(ngModel)]="selectedValue"
              [ngModelOptions]="{standalone: true}"></p-checkbox>
            <p-checkbox name="groupname" value="Dominos" label="Dominos" [(ngModel)]="selectedValue"
              [ngModelOptions]="{standalone: true}"></p-checkbox>
            <p-checkbox name="groupname" value="Cafe Coffee Day" label="Cafe Coffee Day" [(ngModel)]="selectedValue"
              [ngModelOptions]="{standalone: true}"></p-checkbox>
          </div>
        </div>
      </div>
      <!-- button wrapper -->
      <div class="align-button-right">
        <button type="reset" (click)="resetForm()" class="border-button-wrapper margin-right-32">Cancel</button>
        <button type="submit" class="button-wrapper">{{buttonName}}</button>
      </div>
    </form>
  </div>

</div>