<div class="wrapper">
  <!-- Common heading wrapper -->
  <!-- <div class="heading-wrapper">
    <h3>Vendor Type</h3>
  </div> -->
  <app-heading-wrapper></app-heading-wrapper>
  <!-- Search wrapper -->
  <div class="search-flex-wrapper business-page">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"
      [placeHolderText]="'Search Business Type'"></app-search>
    <!-- <div class="button-wrapper" (click)="addVendor()">
      <a>Add Vendor Type</a>
    </div> -->
    <app-button-wrapper [buttonTitle]="'Add Business Type'" (click)="addVendor()"></app-button-wrapper>
  </div>

  <!-- dialog starts -->
  <p-dialog header="Add Business Type" [(visible)]="addDisplay" [modal]="true" [responsive]="true"
    [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body"
    [closeOnEscape]="false" styleClass="prime-modal-dialog" (onHide)="resetForm()">
    <form [formGroup]="vendorTypeForm" (ngSubmit)="onSubmit()">
      <div>
        <p class="modal-text">Business Type*</p>
        <div class="modal-search-input">
          <input type="text" placeholder="Enter business type"
            (blur)="utility.removeInputSpace(vendorForm.businessType)"
            (keydown)="utility.allowCharacters($event,'customPattern')" pattern="^[a-zA-Z0-9 .-]*$"
            formControlName="businessType"
            [class.is-invalid]="(vendorForm.businessType.errors  && (vendorForm.businessType.dirty || vendorForm.businessType.touched) && isSubmitted) || (vendorForm.businessType.errors  && (vendorForm.businessType.dirty || vendorForm.businessType.touched))" />
        </div>
        <div
          *ngIf="(((vendorForm.businessType.hasError('required') || vendorForm.businessType.hasError('whitespace'))  && (vendorForm.businessType.dirty || vendorForm.businessType.touched)) && isSubmitted) || ((vendorForm.businessType.hasError('required') || vendorForm.businessType.errors||  vendorForm.businessType.hasError('whitespace'))  && (vendorForm.businessType.dirty || vendorForm.businessType.touched))"
          [ngClass]="(vendorForm.businessType.valid) ? 'display-none' : 'error'">
          Please enter business type.
        </div>
      </div>
      <p-footer>
        <div class="modal-flex-button padding-top-32">
          <button type="reset" (click)="resetForm()" class="modal-border-button">Cancel</button>
          <button type="submit" class="modal-button-wrapper">Add</button>
        </div>
      </p-footer>
    </form>

  </p-dialog>
  <!-- table wrapper -->
  <!-- <app-vendor-table-wrapper></app-vendor-table-wrapper> -->
  <div class="table-wrapper">
    <p-table [value]="vendors" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" (onLazyLoad)="paginate($event)" [lazy]="true" [totalRecords]="total" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 8em;">S.No.</th>
          <th>Business Type</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vendor let-i="rowIndex">
        <tr>
          <td><span class="ui-column-title">S.No.</span>{{i+1}}</td>
          <td class="text-capitalize"><span class="ui-column-title">Business Type</span>{{vendor.business_type}}</td>

          <td>
            <span class="ui-column-title">Status</span>
            <app-active-switch [checked]="vendor.status == 'active'" [possibleValue]="possibleValue"
              (change)="changeStatus($event, vendor.id)"></app-active-switch>
          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../business-type-details', utility.base64Encode(vendor.id)]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="4">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
