<section class="full-height-wrapper bg-theme-grey auth-bg">
  <div class="section-content full-height-wrapper">
    <div class="centered-box shadow-lg">
      <div class="box-image bg-theme-yellow">
        <figure>
          <img src="../../../assets/project-images/Color logo - no background.svg" alt="Delivr Logo">
        </figure>
      </div>
      <div class="box-content bg-white">
        <!-- <router-outlet></router-outlet> -->
      </div>
    </div>
  </div>
</section>