<section class="full-height-wrapper bg-theme-grey auth-bg">
  <div class="section-content full-height-wrapper">
    <div class="centered-box shadow-lg">
      <div class="box-image bg-theme-yellow">
        <figure [routerLink]="['/']">
          <img src="../../../assets/project-images/Color logo - no background.svg" alt="Delivr Logo">
        </figure>
      </div>
      <div class="box-content bg-white">
        <!--Content: START-->
        <div class="content">
          <h3 class="heading font-medium color-dark-grey">LOGIN</h3>
          <p class="sub-heading font-medium color-light-grey">Welcome back, please login to your account.</p>
          <!-- Login Form Start -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form custom-form">
            <input type="email" placeholder="Email" (keyup)="check_login()" formControlName="email"
              [class.invalid]="(loginForm.controls.email.invalid && (loginForm.controls['email'].dirty) && isSubmitted)">
            <div
              *ngIf="(loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched) && isSubmitted)"
              class="error">
              <p *ngIf="(loginForm.controls.email.hasError('required') || loginForm.controls.email.errors)">
                Please enter valid email (xyz@abc.com)
              </p>
            </div>
            <input type="password" placeholder="Password" (keyup)="check_login()" formControlName="password">
            <div
              *ngIf="(loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched) && isSubmitted)"
              class="error">
              <p
                *ngIf="(loginForm.controls.password.hasError('required') || loginForm.controls.password.hasError('whitespace'))">
                Password is required.
              </p>
            </div>

            <div class="action-items d-flex justify-content-between">
              <div class="remember-me">
              </div>
              <div class="forget-password">
                <a href="#" class="no-style-link font-medium" routerLink="../recover-password">Forget
                  your password?</a></div>
            </div>
            <button type="submit" title="Login" class="custom-btn yellow-btn text-center block-center">Login</button>
          </form>
        </div>
        <!--Content: END-->
      </div>
    </div>
  </div>
</section>