// .error{
//     font-size: 14px;
//     color: #de0b23;
//     position: relative;
//     top: -15px;
// }

.custom-form {
    input[type=email] {
        margin-bottom:0;
    }
    input[type=password] {
        margin-top: 30px;
    }
}