<section class="full-height-wrapper bg-theme-grey auth-bg">
  <div class="section-content full-height-wrapper">
    <div class="centered-box shadow-lg">
      <div class="box-image bg-theme-yellow">
        <figure [routerLink]="['/']">
          <img src="../../../assets/project-images/Color logo - no background.svg" alt="Delivr Logo">
        </figure>
      </div>
      <div class="box-content bg-white">


        <!--Content Starts-->
        <div class="content" *ngIf="!resetDone">
          <h3 class="heading font-medium color-dark-grey">RECOVER PASSWORD</h3>
          <p class="sub-heading font-medium color-light-grey">Please enter your email address and we'll send you
            instructions on how to reset your password.</p>
          <form class="auth-form custom-form" [formGroup]="forgotform" (ngSubmit)="onSubmit()">
            <input type="email" placeholder="Email" formControlName="email"
              [class.invalid]="forgotform.controls.email.errors && (forgotform.controls['email'].dirty || forgotform.controls['email'].touched) && isSubmitted" />
            <div
              *ngIf="(forgotform.controls.email.invalid && (forgotform.controls.email.dirty || forgotform.controls.email.touched) && isSubmitted)"
              class="error">
              <p *ngIf="(forgotform.controls.email.hasError('required') || forgotform.controls.email.errors)">
                Please enter valid email (xyz@abc.com)
              </p>
            </div>
            <div class="d-flex justify-content-between footer-login-button">
              <button type="button" class="custom-btn same-width-btn white-btn text-center" routerLink="../login">Back
                to Login</button>
              <button type="submit" class="custom-btn same-width-btn yellow-btn text-center"
                (click)="onSubmit()">Submit</button>
            </div>
          </form>
        </div>
        <div class="content" *ngIf="resetDone">
          <h3 class="heading font-medium color-dark-grey">ONE STEP CLOSER!</h3>
          <p class="sub-heading font-medium color-light-grey">We have sent a reset password link to
            <strong>{{(emailId) ? emailId: '-'}}</strong>.</p>

          <p class="sub-heading font-regular color-light-grey">Didn't receive email? Check your spam folder or resend
            link.</p>
          <form class="auth-form custom-form">
            <div class="d-flex justify-content-between">
              <button type="button" class="custom-btn same-width-btn white-btn text-center" routerLink="../login">Back
                to
                Login</button>
              <button type="button" class="custom-btn same-width-btn yellow-btn text-center"
                (click)="resetDone = !resetDone">Resend Link</button>
            </div>
          </form>
        </div>
        <!--Content Ends-->



      </div>
    </div>
  </div>
</section>