<div class="landing-wrapper business-page">

    <!-- header wrapper -->
    <!-- <header class="header-wrapper animated fadeInDown" id="navbar">
    <div class="container-fluid">
      <div class="header-flex-wrapper">
      
        <div class="logo-image" [routerLink]="['/']">
          <img src="assets/project-images/delivr-landing-logo.svg" alt="delivr landing logo" />
        </div>

        <div class="landing-button-wrapper">
          <button type="button" class="transparent-button-wrapper">
            Delivr for Business
          </button>
          <button type="button" class="transparent-button-wrapper" [routerLink]="['../partners']">
            Delivr for Partners
          </button>
        </div>

      </div>
    </div>
  </header> -->

    <!-- header wrapper -->
    <header class="header-wrapper animated fadeInDown" id="navbar">
        <div class="container">
            <div class="header-flex-wrapper">
                <!-- delivr-logo -->
                <div class="logo-image" [routerLink]="['/']">
                    <img src="assets/project-images/delivr-landing-logo.svg" alt="delivr landing logo" />
                </div>

                <!-- header button wrapper -->
                <div class="landing-button-wrapper">
                    <button type="button" class="transparent-button-wrapper" [routerLink]="['../delivr-for-business']" routerLinkActive="active-class">
                        <span class="desk-btn">Delivr for Business</span>
                        <span class="phone-btn"><img src="assets/project-images/phone-business.png"></span>
                    </button>
                    <button type="button" class="transparent-button-wrapper" [routerLink]="['../delivr-for-riders']" routerLinkActive="active-class">
                        <span class="desk-btn"> Delivr for Riders</span>
                        <span class="phone-btn"><img src="assets/project-images/phone-partner.png"></span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <!-- heading section wrappper -->
    <section class="header-section-wrapper">
        <div class="container">
            <div class="row">
                <!-- header section wrapper  -->
                <div class="col-md-7 col-sm-12">
                    <!-- heading title wrapper -->
                    <div class="heading-title-wrapper">
                        <div class="landing-header-text">
                            <h3>Your Business can go places</h3>
                        </div>
                        <div class="landing-para-text">
                            <p>
                                Does your business need on - demand, hyperlocal deliveries? Delivr for business is the one - stop solution you're looking for.
                            </p>
                        </div>
                        <p class="reach-text">For more information, reach us at</p>
                        <p class="email-text"><b>delivrforbusiness@delivr.biz</b></p>

                        <div class="display-flex">
                            <!-- location wrapper -->
                            <div class="location-wrapper sign-up-btn" (click)="scrollToSection(signupForm)">
                                <a>Sign Up</a>
                            </div>

                            <!-- login wrapper -->
                            <div class="location-wrapper sign-up-btn login-btn-wrapper" [routerLink]="['/business/login']">
                                <a>Login</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- banner image wrapper -->
                <!-- <div class="col-md-5 col-sm-12">
          <div class="landing-image-wrapper">
            <img src="assets/project-images/Group 110.svg" alt="landing cycle image" />
          </div>
        </div> -->
            </div>
        </div>
    </section>

    <!-- confirmed delivery section -->
    <section class="confirmed-delivery-wrapper">
        <div class="container">
            <div class="delivery-header">
                <h4>We can get your business moving </h4>
                <p>Sign up with delivr to get your packages delivered in under 30 mins.</p>
            </div>

            <!-- cards wrapper -->
            <div class="delivery-card-wrapper">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <!-- card wrapper -->
                        <div class="delivery-card patner-card">
                            <div class="display-flex align-items-center">
                                <div class="padding-right-32">
                                    <img src="assets/project-images/customer-service (1).svg" alt="motorbike" />
                                </div>
                                <div>
                                    <h3>Express support</h3>
                                    <div class="padding-top-24 padding_top_11">
                                        <p>We're always here to answer your queries. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <!-- card wrapper -->
                        <div class="delivery-card patner-card">
                            <div class="display-flex align-items-center">
                                <div class="padding-right-32">
                                    <img src="assets/project-images/map.svg" alt="stopwatch" />
                                </div>
                                <div>
                                    <h3>Live tracking </h3>
                                    <div class="padding-top-24 padding_top_11">
                                        <p>Get live updates about your delivery. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row delivery-row-wrapper">
                    <!-- card wrapper here -->
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <div class="delivery-card patner-card">
                            <div class="display-flex align-items-center">
                                <div class="padding-right-32">
                                    <img src="assets/project-images/box-business.svg" alt="goods" />
                                </div>
                                <div>
                                    <h3>On-demand delivery </h3>
                                    <div class="padding-top-24 padding_top_11">
                                        <p>Pick up and deliver your goods anytime you chose.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- card wrapper here -->
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <div class="delivery-card patner-card">
                            <div class="display-flex align-items-center">
                                <div class="padding-right-32">
                                    <img src="assets/project-images/del-box.svg" alt="giftbox" />
                                </div>
                                <div>
                                    <h3>Multiple orders</h3>
                                    <div class="padding-top-24 padding_top_11">
                                        <p>Raise multiple orders at the same time.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <div class="delivery-card patner-card">
                            <div class="display-flex align-items-center">
                                <div class="padding-right-32">
                                    <img src="assets/project-images/employeeplatform.svg" alt="giftbox" />
                                </div>
                                <div>
                                    <h3>No platform services fee </h3>
                                    <div class="padding-top-24 padding_top_11">
                                        <p>There are no added costs, pay only for what you use. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <div class="delivery-card patner-card">
                            <div class="display-flex align-items-center">
                                <div class="padding-right-32">
                                    <img src="assets/project-images/statistics.svg" alt="giftbox" />
                                </div>
                                <div>
                                    <h3>Expand your business</h3>
                                    <div class="padding-top-24 padding_top_11">
                                        <p>Grow as a hyper-local business and reach new customers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Carousel -->

    <!-- video-testimonial-section -->
    <div class="video-testimonial-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 text-center">
                    <!-- section-title -->
                    <div class="section-title">
                        <h2>Testimonials</h2>
                    </div>
                </div>
                <!-- /.section-title -->
            </div>

            <!-- <div class="row ">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <div class="videos-list">
                        <div class="video-wrap">
                            <video poster="assets/project-images/testi-v.png" id="video">
                                <source src="assets/videoclick/testimonial-1.mp4" type="video/mp4">
                            </video>
                            <a class="play show" (click)="showHideControls()" id="playbtn"></a>
                        </div>

                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                    <div class="videos-list">
                        <div class="video-wrap">
                            <video poster="assets/project-images/testi-v.png" id="video2">
                                <source src="assets/videoclick/testimonial-1.mp4" type="video/mp4">

                            </video>
                            <a class="play show " (click)="showHideControls2()" id="playbtn2"></a>
                        </div>

                    </div>

                </div>


            </div> -->
            <!-- image with text -->

            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="testimonialSlideConfig">
                <div ngxSlickItem *ngFor="let slide of testimonialSlides" class="slide testimonial-slide">
                    <div>
                        <div class="videos-list">
                            <div class="video-wrap">
                                <!-- <video poster="{{slide.poster}}" id="video2">
                                    <source src="{{slide.src}}" type="video/mov">
                                </video> -->
                                <div class="video-content">
                                    <p>
                                        Reza
                                    </p>
                                    <p>
                                        Lazy Express
                                    </p>
                                </div>
                                <video controls="controls" id="video2" width="800" height="600" src="{{slide.src}}"></video>
                                <a class="play show " (click)="showHideControls2()" id="playbtn2"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>

        </div>
    </div>
    <!-- /.video-testimonial-section -->

    <section class="carousel-section carousel-inner">
        <div class="container-fluid">
            <h4 class="text-center">Testimonials</h4>
            <p class="text-center testimonial-sub-head">
                Our partners are our best reviews.
            </p>

            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <div class="user-post-box">
                        <img src="{{slide.img }}" class="mr-2 user-image" alt="user image">
                        <div class="user-detail">
                            <h5>{{slide.name}}</h5>
                            <!-- <p>{{slide.city}}</p> -->
                        </div>
                        <div class="user-post-desc">
                            <p>{{slide.description}}</p>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </section>
    <section class="slider-bottom-banner">
        <img src="assets/project-images/slider-bottom.svg" alt="slider bottom" />
    </section>
    <!-- testimonials section starts -->


    <section class="signupfootform" #signupForm>
        <div class="container">
            <div class="row">
                <h1> SIGN UP with Delivr Today</h1>
                <div class="form-sec">

                    <form [formGroup]="businessForm" (ngSubmit)="onSubmit()">
                        <div class="field-sec">

                            <!-- name -->
                            <div class="form-group padding-top-10 col-md-6">
                                <input type="text" class="form-control" id="name" placeholder="Name" name="name" formControlName="name">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>

                                <div *ngIf="(businessForm.controls.name.invalid && (businessForm.controls.name.dirty || businessForm.controls.name.touched) && isSubmitted)" class="error">
                                    <p *ngIf="(businessForm.controls.name.hasError('required') || businessForm.controls.name.hasError('whitespace') || businessForm.controls.name.errors)">
                                        Please enter valid name
                                    </p>
                                </div>
                            </div>

                            <!-- email -->
                            <div class="form-group padding-top-10 col-md-6">
                                <input type="text" class="form-control" name="email" formControlName="email" placeholder="Email" ngModel="{{email}}" ngModelOptions="{standalone: true}">
                                <span class="input-group-addon">
                                    <i class="fa fa-map-marker"></i>
                                </span>

                                <div *ngIf="(businessForm.controls.email.invalid && (businessForm.controls.email.dirty || businessForm.controls.email.touched) && isSubmitted)" class="error">
                                    <p *ngIf="(businessForm.controls.email.hasError('required') || businessForm.controls.email.hasError('whitespace') || businessForm.controls.email.errors)">
                                        Please enter valid email (xyz@abc.com)
                                    </p>
                                </div>
                            </div>

                            <!-- city -->
                            <div class="form-group padding-top-10 col-md-6">
                                <input type="text" class="form-control" name="city" id="city" formControlName="city" placeholder="City" #search (keydown)="loadMap()" (change)="onChangeLocation($event.target.value)" ngModel="{{city}}">
                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                <div *ngIf="(businessForm.controls.city.invalid && (businessForm.controls.city.dirty || businessForm.controls.city.touched) && isSubmitted)" class="error">
                                    <p *ngIf="(businessForm.controls.city.hasError('required') || businessForm.controls.city.hasError('whitespace') || businessForm.controls.city.errors)">
                                        Please enter valid city
                                    </p>
                                </div>
                            </div>

                            <!-- number -->
                            <div class="form-group padding-top-10 col-md-6">
                                <input type="number" class="form-control" id="number" placeholder="Mobile Number" name="number" formControlName="number">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <div *ngIf="(businessForm.controls['number'].invalid && (businessForm.controls['number'].dirty || businessForm.controls['number'].touched) && isSubmitted)" class="error">
                                    <p *ngIf="(businessForm.controls['number'].hasError('required') || businessForm.controls['number'].hasError('whitespace') || businessForm.controls['number'].errors)">
                                        Please enter valid number
                                    </p>
                                </div>

                            </div>

                        </div>
                        <div class="landing-custom-button-wrapper">
                            <button type="submit">Submit</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </section>
    <!-- testimonials section ends -->

    <!-- footer starts -->
    <footer class="footer-wrapper">
        <div class="container">
            <div class="row">
                <!-- delivery-logo -->
                <div class="col-lg-2 col-sm-12">
                    <div [routerLink]="['/']" class="footer-logo">
                        <img src="assets/project-images/delivr-landing-logo.svg" alt="delivr landing logo" />
                    </div>
                </div>

                <!-- about terms&condition  -->
                <div class="col-lg-5 col-sm-12">
                    <div class="footer-heading">
                        <p>Contact</p>
                    </div>
                    <!-- footer list wrapper  -->
                    <div class="footer-list-wrapper">
                        <ul class="list-style-none">
                            <li [routerLink]="['../about']">
                                <a>About</a>
                            </li>
                            <li [routerLink]="['../terms-and-conditions']">
                                <a>Terms & Conditions</a>
                            </li>
                            <li [routerLink]="['../privacy-policy']">
                                <a>Privacy Policy</a>
                            </li>
                        </ul>
                    </div>

                    <!-- footer social wrapper  -->
                    <!-- <div class="footer-social-wrapper">
            <ul class="list-style-none">
              <li class="footer-list-icon">
                <a>
                  <i class="fa fa-facebook-f"></i>
                </a>
              </li>
              <li class="footer-list-icon">
                <a>
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="footer-list-icon">
                <a>
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li class="footer-list-icon">
                <a>
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div> -->

                    <!-- copyright wrapper -->
                    <div class="copyright-wrapper">
                        <p>Copyright {{currentYear}} | Delivr</p>
                    </div>

                </div>

                <!-- contact wrapper -->
                <div class="col-lg-5 col-sm-12">

                    <!-- footer heading -->
                    <div class="footer-heading">
                        <p>Contact</p>
                    </div>

                    <!-- footer para text -->
                    <!-- <div class="footer-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div> -->

                    <!-- delivr mail wrapper -->
                    <div class="delivery-mail-wrapper">
                        <ul class="list-style-none">
                            <li class="display-flex">
                                <div class="delivery-footer-img">
                                    <img src="assets/project-images/icon-location.svg" alt="icon email" />
                                </div>
                                <div class="footer-end-text">
                                    <p>
                                        22<sup>nd</sup> St, AI Quoz Industrial Area 3, Dubai
                                    </p>
                                </div>
                            </li>
                            <li class="display-flex">
                                <div class="delivery-footer-img">
                                    <img src="assets/project-images/icon-email.svg" alt="icon email" />
                                </div>
                                <div class="footer-end-text">
                                    <a href="mailto:deepak@delivr.biz?Subject=''" target="_blank" class="hyperlink">deepak@delivr.biz</a>
                                </div>
                            </li>
                            <li class="display-flex">
                                <div class="delivery-footer-img">
                                    <img src="assets/project-images/icon-call.svg" alt="icon call icon" />
                                </div>
                                <div class="footer-end-text">
                                    <a href="tel:+971-504570395" class="hyperlink">+971-504570395</a>, <a href="tel:+971-505539468" class="hyperlink">+971-505539468</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </footer>
    <!-- footer ends -->
</div>