.subtotal-block .form-search-input {
    padding-top:5px;
}
.number-wrapper-block .form-search-input {
    width:100%;
}
.item-input-wrapper {
    .form-block {
        width: 20%;
        display:inline-block;
        margin-right: 15px;
    }
}

.item-info-wrapper {
    .form-block {
        width: 20%;
        display: inline-block;
        margin-right: 15px;
    }
}

.payment-wrapper-block {
    justify-content: space-between;

    .form-block {
        &:nth-child(1) {
            width:50%;
        }
        &:nth-child(2) {
            width:32%;
        }
    }
}


.total-input-wrapper {
    span {
        padding:7px 10px 0;
    }
}