<div class="wrapper vehicle-form-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="col-sm-8 card form-card-wrapper">
        <form [formGroup]="orderManagementForm" (ngSubmit)="onSubmit()">
            <div class="padding-top-24">
                <p class="form-grey-text font-size-16 text-uppercase">Customer Info</p>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block ">
                    <p class="form-text">Branch*</p>
                    <p-dropdown [options]="businessBranchList" (onChange)="changeBranch()" formControlName="business_branch_id" placeholder="Select Branch" [showClear]="true" styleClass="prime-dropdown-wrapper" [class.is-invalid]="(orderManagementForm.controls['business_branch_id'].hasError('required') && orderManagementForm.controls['business_branch_id'].touched)  || isSubmitted">
                    </p-dropdown>
                    <div *ngIf="(orderManagementForm.controls['business_branch_id'].hasError('required')  && (orderManagementForm.controls['business_branch_id'].dirty || orderManagementForm.controls['business_branch_id'].touched)) || isSubmitted" [ngClass]="(orderManagementForm.controls['business_branch_id'].valid) ? 'display-none' : 'error'">
                        Please select a branch.
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-text">Channel*</p>
                    <p-dropdown [options]="channels" formControlName="channel" placeholder="Select channel" [showClear]="true" styleClass="prime-dropdown-wrapper" [class.is-invalid]="(orderManagementForm.controls['channel'].hasError('required') && orderManagementForm.controls['channel'].touched)  || isSubmitted">
                    </p-dropdown>
                    <div *ngIf="(orderManagementForm.controls['channel'].hasError('required')  && (orderManagementForm.controls['channel'].dirty || orderManagementForm.controls['channel'].touched)) || isSubmitted" [ngClass]="(orderManagementForm.controls['channel'].valid) ? 'display-none' : 'error'">
                        Please select channel.
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-text">Order Date*</p>
                    <div class="prime-calender-wrapper">
                        <p-calendar (ngModel)="order_date" ngModelOptions="{standalone: true}" formControlName="order_date" dateFormat="dd-mm-yy" [minDate]="today" [maxDate]="today" [showIcon]="true" placeholder="select order date" [class.is-invalid]="(orderManagementForm.controls['order_date'].hasError('required') && orderManagementForm.controls['order_date'].touched)  || isSubmitted">
                        </p-calendar>
                        <div *ngIf="(orderManagementForm.controls['order_date'].hasError('required')  && (orderManagementForm.controls['order_date'].dirty || orderManagementForm.controls['order_date'].touched)) || isSubmitted" [ngClass]="(orderManagementForm.controls['order_date'].valid) ? 'display-none' : 'error'">
                            Please select order date.
                        </div>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">

                <div class="form-block padding-right-32">
                    <p class="form-text">First Name*</p>
                    <div class="form-search-input">
                        <input type="text" placeholder="Enter first name" formControlName="first_name" [class.is-invalid]="orderManagementForm.controls['first_name'].hasError('required') && isSubmitted">
                    </div>
                    <div *ngIf="(orderManagementForm.controls['first_name'].hasError('required')  && (orderManagementForm.controls['first_name'].dirty || orderManagementForm.controls['first_name'].touched)) || isSubmitted" [ngClass]="(orderManagementForm.controls['first_name'].valid) ? 'display-none' : 'error'">
                        Please enter first name.
                    </div>
                </div>
                <div class="form-block ">
                    <p class="form-text">Last Name*</p>
                    <div class="form-search-input">
                        <input type="text" placeholder="Enter last name" formControlName="last_name" [class.is-invalid]="orderManagementForm.controls['last_name'].hasError('required') && isSubmitted">
                    </div>
                    <div *ngIf="(orderManagementForm.controls['last_name'].hasError('required')  && (orderManagementForm.controls['last_name'].dirty || orderManagementForm.controls['last_name'].touched)) || isSubmitted" [ngClass]="(orderManagementForm.controls['last_name'].valid) ? 'display-none' : 'error'">
                        Please enter last name.
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-text">Mobile Number*</p>
                    <div class="form-search-input contact-form-input">
                        <div class="input-group contact-input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">{{countrycode}}</span>
                            </div>
                            <input type="text" placeholder="Enter mobile number" (keydown)="utility.onInputValidator($event)" formControlName="mobile_number" [class.is-invalid]="orderForm.mobile_number.errors  && (orderForm.mobile_number.dirty || orderForm.mobile_number.touched) && isSubmitted">
                        </div>
                    </div>
                    <div *ngIf="(((orderForm.mobile_number.hasError('required') || orderForm.mobile_number.hasError('whitespace'))  && (orderForm.mobile_number.touched || orderForm.mobile_number.dirty)) && isSubmitted) || (orderForm.mobile_number.hasError('required') && (orderForm.mobile_number.touched || orderForm.mobile_number.dirty))"
                        [ngClass]="(orderForm.mobile_number.valid) ? 'display-none' : 'error'">
                        Please enter mobile number.
                    </div>
                    <div *ngIf="((orderForm.mobile_number.value?.length > 10  && orderForm.mobile_number.touched) && isSubmitted) || (orderForm.mobile_number.value?.length > 10 && (orderForm.mobile_number.touched || orderForm.mobile_number.dirty)) " [ngClass]="(orderForm.mobile_number.valid) ? 'display-none' : 'error'">
                        enter of 10 digit only
                    </div>
                </div>

                <div class="form-block">
                    <p class="form-text">Email ID*</p>
                    <div class="form-search-input">
                        <input type="text" placeholder="Enter email id" formControlName="email" [class.is-invalid]="orderManagementForm.controls['email'].hasError('required') && isSubmitted">
                    </div>
                    <div *ngIf="(orderManagementForm.controls['email'].hasError('required')  && (orderManagementForm.controls['email'].dirty || orderManagementForm.controls['email'].touched)) || isSubmitted" [ngClass]="(orderManagementForm.controls['last_name'].valid) ? 'display-none' : 'error'">
                        Please enter email.
                    </div>
                </div>

            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-text">Country*</p>
                    <p-dropdown [options]="countries" (onChange)="changeCountry()" [disabled]="orderManagementForm.value.business_branch_id != null && orderManagementForm.value.business_branch_id != ''" formControlName="country" placeholder="Select country" [showClear]="true"
                        styleClass="prime-dropdown-wrapper" [class.is-invalid]="(orderForm.country.hasError('required') && orderForm.country.touched)  || isSubmitted">
                    </p-dropdown>
                    <div *ngIf="(orderForm.country.hasError('required')  && (orderForm.country.dirty || orderForm.country.touched)) || isSubmitted" [ngClass]="(orderForm.country.valid) ? 'display-none' : 'error'">
                        Please select country.
                    </div>
                </div>
                <div class="form-block ">
                    <p class="form-text">City*</p>
                    <p-dropdown [options]="cities" formControlName="city" [disabled]="orderManagementForm.value.business_branch_id != null && orderManagementForm.value.business_branch_id != ''" placeholder="Select city" [showClear]="true" styleClass="prime-dropdown-wrapper"
                        [class.is-invalid]="(orderForm.city.hasError('required') && orderForm.city.touched)  || isSubmitted">
                    </p-dropdown>
                    <div *ngIf="(orderForm.city.hasError('required')  && (orderForm.city.dirty || orderForm.city.touched)) || isSubmitted" [ngClass]="(orderForm.city.valid) ? 'display-none' : 'error'">
                        Please select city.
                    </div>
                </div>
            </div>

            <div class="display-flex padding-top-24">
                <div class="form-block">
                    <p class="form-text">Area / Street Address *</p>
                    <div class="form-search-input">
                        <input type="text" #address placeholder="Enter address " formControlName="address_2" [class.is-invalid]="orderForm.address_2.hasError('required') && isSubmitted">
                    </div>
                    <div *ngIf="(orderForm.address_2.hasError('required')  && (orderForm.address_2.dirty || orderForm.address_2.touched)) || isSubmitted" [ngClass]="(orderForm.address_2.valid) ? 'display-none' : 'error'">
                        Please enter Area / Street Address
                    </div>

                </div>

            </div>
            <div class="padding-top-24 " style="height: 300px">

                <agm-map [latitude]="latitude" [longitude]="longitude">
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
                <!-- <input type="hidden" formControlName="latitude">
        <input type="hidden" formControlName="longitude"> -->
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-text">Flat / Building / House</p>
                    <div class="form-search-input">
                        <input type="text" placeholder="Flat No. / Building / House No." formControlName="address_1" [class.is-invalid]="orderForm.address_1.hasError('required') && isSubmitted">
                    </div>
                    <div *ngIf="(orderForm.address_1.hasError('required')  && (orderForm.address_1.dirty || orderForm.address_1.touched)) || isSubmitted" [ngClass]="(orderForm.address_1.valid) ? 'display-none' : 'error'">
                        Please enter Flat / Building / House
                    </div>
                </div>
                <div class="form-block  ">
                    <p class="form-text">PO Box *</p>
                    <div class="form-search-input ">
                        <input type="text" placeholder="Enter PO Box" (keydown)="utility.onInputValidator($event)" formControlName="postal_code" [class.is-invalid]="orderForm.postal_code.errors  && (orderForm.postal_code.dirty || orderForm.postal_code.touched) && isSubmitted">
                    </div>
                    <div *ngIf="(((orderForm.postal_code.hasError('required') || orderForm.postal_code.hasError('whitespace'))  && (orderForm.postal_code.touched || orderForm.postal_code.dirty)) && isSubmitted) || (orderForm.postal_code.hasError('required') && (orderForm.postal_code.touched || orderForm.postal_code.dirty))"
                        [ngClass]="(orderForm.postal_code.valid) ? 'display-none' : 'error'">
                        Please enter PO Box.
                    </div>
                </div>
            </div>

            <div class="padding-top-24 separator-line">
            </div>
            <div class="padding-top-24">
                <p class="form-grey-text font-size-16 text-uppercase">Item Info</p>
            </div>
            <div class="display-flex padding-top-24 item-info-wrapper">
                <div class="form-block">
                    <p class="form-text">Item Name *</p>
                </div>
                <div class="form-block">
                    <p class="form-text">Quantity *</p>
                </div>
                <div class="form-block">
                    <p class="form-text">Price *</p>
                </div>
                <div class="form-block">
                    <p class="form-text">Total *</p>
                </div>
            </div>
            <div formArrayName="OrderItem">
                <div *ngFor="let items of orderManagementForm.controls.OrderItem.controls; let i=index">
                    <div [formGroupName]="i">
                        <div class="display-flex padding-top-24 item-input-wrapper">
                            <div class="form-block number-wrapper-block">
                                <div class="form-search-input">
                                    <input type="text" placeholder="Enter item" formControlName="item_name" [class.is-invalid]="items.controls.item_name.hasError('required') && isSubmitted">
                                </div>
                                <div *ngIf="(items.controls.item_name.hasError('required')  && (items.controls.item_name.dirty || items.controls.item_name.touched)) || isSubmitted" [ngClass]="(items.controls.item_name.valid) ? 'display-none' : 'error'">
                                    enter item name.
                                </div>
                            </div>
                            <div class="form-block number-wrapper-block">
                                <div class="form-search-input">
                                    <input type="text" placeholder="Enter quantity" (keyup)="calculatePrice()" (keydown)="utility.onInputValidator($event)" formControlName="quantity" [class.is-invalid]="items.controls.quantity.hasError('required') && isSubmitted">
                                </div>
                                <div *ngIf="(items.controls.quantity.hasError('required')  && (items.controls.quantity.dirty || items.controls.quantity.touched)) || isSubmitted" [ngClass]="(items.controls.quantity.valid) ? 'display-none' : 'error'">
                                    enter quantity.
                                </div>
                            </div>
                            <div class="form-block number-wrapper-block">
                                <div class="form-search-input form-small-input">
                                    <input type="text" placeholder="Enter price" (keyup)="calculatePrice()" (keydown)="utility.onInputValidator($event, true)" formControlName="price" [class.is-invalid]="items.controls.price.hasError('required') && isSubmitted">
                                </div>
                                <div *ngIf="(items.controls.price.hasError('required')  && (items.controls.price.dirty || items.controls.price.touched)) || isSubmitted" [ngClass]="(items.controls.price.valid) ? 'display-none' : 'error'">
                                    enter price.
                                </div>
                            </div>
                            <div class="form-block number-wrapper-block total-input-wrapper">
                                <span>
                  {{items.controls.quantity.value != "" && items.controls.price.value != "" ? (items.controls.quantity.value * items.controls.price.value)+" "+currency : "-"}}
                </span>
                            </div>
                            <div *ngIf="i >= 1" class="delete-icon-wrapper" (click)="removeItems(i)">
                                <i class="fa fa-trash"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="padding-top-24">
                <div class="file-upload-plus-wrapper">
                    <button type="button" (click)="addMoreItems()">
            <i class="fa fa-plus"></i>
            <span>Add new product</span>
          </button>
                </div>
            </div>
            <div class="padding-top-24 separator-line">
            </div>
            <div class="padding-top-24">
                <p class="form-grey-text font-size-16 text-uppercase">Payment Details</p>
            </div>
            <div class="display-flex padding-top-24 payment-wrapper-block">
                <div class="form-block padding-right-32">
                    <p class="form-text">Payment Method *</p>
                    <p-dropdown [options]="payment" formControlName="payment_method" placeholder="Select payment" [showClear]="true" styleClass="prime-dropdown-wrapper" [class.is-invalid]="(orderForm.payment_method.hasError('required') && orderForm.payment_method.touched)  || isSubmitted">
                    </p-dropdown>
                    <div *ngIf="(orderForm.payment_method.hasError('required')  && (orderForm.payment_method.dirty || orderForm.payment_method.touched)) || isSubmitted" [ngClass]="(orderForm.payment_method.valid) ? 'display-none' : 'error'">
                        Please select payment.
                    </div>
                </div>
                <div class="form-block subtotal-block">
                    <p class="form-text">Subtotal *</p>
                    <div class="form-search-input">
                        <input type="hidden" placeholder="Enter item subtotal" formControlName="subtotal"> {{orderForm.subtotal.value}}&nbsp;{{currency}}
                    </div>
                </div>
            </div>
            <div class="padding-top-24 align-button-right">
                <button type="button" (click)="resetForm()" class="border-button-wrapper margin-right-32">
          Cancel
        </button>
                <button type="submit" class="button-wrapper">
          {{buttonName}}
        </button>
            </div>


        </form>

    </div>
</div>