<div class="wrapper vehicle-form-wrapper">
  <app-breadcrumb></app-breadcrumb>
  <app-heading-wrapper></app-heading-wrapper>
  <!-- Form Wrapper -->
  <div class="col-sm-8 card form-card-wrapper">
    <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Country*</p>

          <!-- <p-dropdown [options]="countries" formControlName="country" placeholder="Select country" [showClear]="true"
            styleClass="prime-dropdown-wrapper" (onChange)="filtercities(vehicleForm.value.country)"
            [class.is-invalid]="(vehForm.country.hasError('required') && vehForm.country.touched)  || isSubmitted">
          </p-dropdown> -->
          <p-dropdown
            [options]="countries"
            formControlName="country"
            placeholder="Select country"
            styleClass="prime-dropdown-wrapper"
            (onChange)="filtercities(vehicleForm.value.country)"
            [class.is-invalid]="
              vehForm.country.hasError('required') && isSubmitted
            "
            optionLabel="country"
          >
            <ng-template let-option pTemplate="item">
              <div
                class="custom-dropdown-item"
                (click)="disableOptionClick(option.value.status === 'inActive')"
                [ngClass]="{ disabled: option.value.status === 'inActive' }"
              >
                {{ option.value.country }}
              </div>
            </ng-template>
          </p-dropdown>

          <div
            *ngIf="
              (vehForm.country.hasError('required') &&
                (vehForm.country.dirty || vehForm.country.touched)) ||
              isSubmitted
            "
            [ngClass]="vehForm.country.valid ? 'display-none' : 'error'"
          >
            Please select country name.
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">City*</p>
          <p-dropdown
            [options]="cities"
            formControlName="city"
            placeholder="Select city"
            [showClear]="true"
            styleClass="prime-dropdown-wrapper"
            [class.is-invalid]="
              (vehForm.city.hasError('required') && vehForm.city.touched) ||
              isSubmitted
            "
          >
          </p-dropdown>
          <div
            *ngIf="
              (vehForm.city.hasError('required') &&
                (vehForm.city.dirty || vehForm.city.touched)) ||
              isSubmitted
            "
            [ngClass]="vehForm.city.valid ? 'display-none' : 'error'"
          >
            Please select city name.
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Vehicle Brand*</p>
          <div class="form-search-input">
            <p-dropdown
              [options]="brands"
              placeholder="Select brand"
              [showClear]="true"
              formControlName="brand"
              (onChange)="filterModel(vehicleForm.value.brand)"
              styleClass="prime-dropdown-wrapper"
              [class.is-invalid]="
                (vehForm.brand.errors &&
                  (vehForm.brand.dirty || vehForm.brand.touched) &&
                  isSubmitted) ||
                (vehForm.brand.errors &&
                  (vehForm.brand.dirty || vehForm.brand.touched))
              "
            >
            </p-dropdown>
          </div>
          <div
            *ngIf="
              ((vehForm.brand.hasError('required') ||
                vehForm.brand.hasError('whitespace')) &&
                (vehForm.brand.dirty || vehForm.brand.touched) &&
                isSubmitted) ||
              ((vehForm.brand.hasError('required') ||
                vehForm.brand.hasError('whitespace')) &&
                (vehForm.brand.dirty || vehForm.brand.touched))
            "
            [ngClass]="vehForm.brand.valid ? 'display-none' : 'error'"
          >
            Please enter brand name.
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Vehicle Model*</p>
          <div class="form-search-input">
            <p-dropdown
              [options]="models"
              placeholder="Select model"
              [showClear]="true"
              formControlName="model"
              styleClass="prime-dropdown-wrapper"
              [disabled]="models.length == 0"
              [class.is-invalid]="
                (vehForm.model.errors &&
                  (vehForm.model.dirty || vehForm.model.touched) &&
                  isSubmitted) ||
                (vehForm.model.errors &&
                  (vehForm.model.dirty || vehForm.model.touched))
              "
            >
            </p-dropdown>
          </div>
          <div
            *ngIf="
              ((vehForm.model.hasError('required') ||
                vehForm.model.hasError('whitespace')) &&
                (vehForm.model.dirty || vehForm.model.touched) &&
                isSubmitted) ||
              ((vehForm.model.hasError('required') ||
                vehForm.model.hasError('whitespace')) &&
                (vehForm.model.dirty || vehForm.model.touched))
            "
            [ngClass]="vehForm.model.valid ? 'display-none' : 'error'"
          >
            Please enter model name.
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Color*</p>
          <div class="form-search-input">
            <input
              type="text"
              placeholder="Enter color"
              (blur)="utility.removeInputSpace(vehForm.color)"
              formControlName="color"
              [class.is-invalid]="
                (vehForm.color.errors &&
                  (vehForm.color.dirty || vehForm.color.touched) &&
                  isSubmitted) ||
                (vehForm.color.errors &&
                  (vehForm.color.dirty || vehForm.color.touched))
              "
            />
          </div>
          <div
            *ngIf="
              ((vehForm.color.hasError('required') ||
                vehForm.color.hasError('whitespace')) &&
                (vehForm.color.dirty || vehForm.color.touched) &&
                isSubmitted) ||
              ((vehForm.color.hasError('required') ||
                vehForm.color.hasError('whitespace')) &&
                (vehForm.color.dirty || vehForm.color.touched))
            "
            [ngClass]="vehForm.color.valid ? 'display-none' : 'error'"
          >
            Please enter color.
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Engine Capacity (CC)*</p>
          <div class="form-search-input">
            <input
              type="text"
              placeholder="Enter engine capacity"
              (blur)="utility.removeInputSpace(vehForm.engine_capacity)"
              (keydown)="utility.onInputValidator($event, true)"
              formControlName="engine_capacity"
              [class.is-invalid]="
                (vehForm.engine_capacity.errors &&
                  (vehForm.engine_capacity.dirty ||
                    vehForm.engine_capacity.touched) &&
                  isSubmitted) ||
                (vehForm.engine_capacity.errors &&
                  (vehForm.engine_capacity.dirty ||
                    vehForm.engine_capacity.touched))
              "
            />
          </div>
          <div
            *ngIf="
              ((vehForm.engine_capacity.hasError('required') ||
                vehForm.engine_capacity.hasError('whitespace')) &&
                (vehForm.engine_capacity.dirty ||
                  vehForm.engine_capacity.touched) &&
                isSubmitted) ||
              ((vehForm.engine_capacity.hasError('required') ||
                vehForm.engine_capacity.hasError('whitespace')) &&
                (vehForm.engine_capacity.dirty ||
                  vehForm.engine_capacity.touched))
            "
            [ngClass]="vehForm.engine_capacity.valid ? 'display-none' : 'error'"
          >
            Please enter engine capacity.
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Engine Number*</p>
          <div class="form-search-input">
            <input
              type="text"
              placeholder="Enter engine number"
              (keyup)="utility.capitalizeValue(vehForm.engine_number)"
              (keydown)="
                utility.allowCharacters($event, 'alphaNumericWithoutSpace')
              "
              (blur)="utility.removeInputSpace(vehForm.engine_number)"
              formControlName="engine_number"
              [class.is-invalid]="
                (vehForm.engine_number.errors &&
                  (vehForm.engine_number.dirty ||
                    vehForm.engine_number.touched) &&
                  isSubmitted) ||
                (vehForm.engine_number.errors &&
                  (vehForm.engine_number.dirty ||
                    vehForm.engine_number.touched))
              "
            />
          </div>
          <div
            *ngIf="
              ((vehForm.engine_number.hasError('required') ||
                vehForm.engine_number.hasError('whitespace')) &&
                (vehForm.engine_number.dirty ||
                  vehForm.engine_number.touched) &&
                isSubmitted) ||
              ((vehForm.engine_number.hasError('required') ||
                vehForm.engine_number.hasError('whitespace')) &&
                (vehForm.engine_number.dirty ||
                  vehForm.engine_number.touched)) ||
              vehForm.engine_number.dirty ||
              vehForm.engine_number.touched
            "
            [ngClass]="vehForm.engine_number.valid ? 'display-none' : 'error'"
          >
            Please enter engine number.
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Starting Mechanism*</p>
          <p-dropdown
            [options]="mechanisms"
            placeholder="Select starting mechanism"
            [showClear]="true"
            styleClass="prime-dropdown-wrapper"
            formControlName="starting_mechanism"
            [class.is-invalid]="
              (vehForm.starting_mechanism.hasError('required') &&
                vehForm.starting_mechanism.touched) ||
              isSubmitted
            "
          >
          </p-dropdown>
          <div
            *ngIf="
              (vehForm.starting_mechanism.hasError('required') &&
                (vehForm.starting_mechanism.dirty ||
                  vehForm.starting_mechanism.touched)) ||
              isSubmitted
            "
            [ngClass]="
              vehForm.starting_mechanism.valid ? 'display-none' : 'error'
            "
          >
            Please select starting mechanism
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Tyre Type Front*</p>
          <div class="form-search-input">
            <input
              type="text"
              placeholder="Enter Tyre Type Front"
              (blur)="utility.removeInputSpace(vehForm.tyre_type)"
              formControlName="tyre_type"
              (keydown)="utility.allowCharacters($event, 'customPattern')"
              [class.is-invalid]="
                (vehForm.tyre_type.errors &&
                  (vehForm.tyre_type.dirty || vehForm.tyre_type.touched) &&
                  isSubmitted) ||
                (vehForm.tyre_type.errors &&
                  (vehForm.tyre_type.dirty || vehForm.tyre_type.touched))
              "
              pattern="^[a-zA-Z0-9 /-]*$"
            />
          </div>
          <div
            *ngIf="
              (vehForm.tyre_type.hasError('required') &&
                (vehForm.tyre_type.dirty || vehForm.tyre_type.touched)) ||
              isSubmitted
            "
            [ngClass]="vehForm.tyre_type.valid ? 'display-none' : 'error'"
          >
            Please enter tyre type front
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Tyre Type Rear*</p>
          <div class="form-search-input">
            <input
              type="text"
              placeholder="Enter Tyre Type Rear"
              (blur)="utility.removeInputSpace(vehForm.wheel_type)"
              formControlName="wheel_type"
              (keydown)="utility.allowCharacters($event, 'customPattern')"
              [class.is-invalid]="
                (vehForm.wheel_type.errors &&
                  (vehForm.wheel_type.dirty || vehForm.wheel_type.touched) &&
                  isSubmitted) ||
                (vehForm.wheel_type.errors &&
                  (vehForm.wheel_type.dirty || vehForm.wheel_type.touched))
              "
              pattern="^[a-zA-Z0-9 /-]*$"
            />
          </div>
          <div
            *ngIf="
              (vehForm.wheel_type.hasError('required') &&
                (vehForm.wheel_type.dirty || vehForm.wheel_type.touched)) ||
              isSubmitted
            "
            [ngClass]="vehForm.wheel_type.valid ? 'display-none' : 'error'"
          >
            Please enter tyre type rear
          </div>
        </div>
      </div>
      <!-- <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Stroke*</p>
          <p-dropdown [options]="strokes" placeholder="Select stroke" [showClear]="true"
            styleClass="prime-dropdown-wrapper" formControlName="stroke"
            [class.is-invalid]="(vehForm.stroke.hasError('required') && vehForm.stroke.touched)  || isSubmitted">
          </p-dropdown>
          <div
            *ngIf="(vehForm.stroke.hasError('required')  && (vehForm.stroke.dirty || vehForm.stroke.touched)) || isSubmitted"
            [ngClass]="(vehForm.stroke.valid) ? 'display-none' : 'error'">
            Please select stroke
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Brake Fronts*</p>
          <p-dropdown [options]="fronts" placeholder="Select brake fronts" [showClear]="true"
            styleClass="prime-dropdown-wrapper" formControlName="breakfront"
            [class.is-invalid]="(vehForm.breakfront.hasError('required') && vehForm.breakfront.touched)  || isSubmitted">
          </p-dropdown>
          <div
            *ngIf="(vehForm.breakfront.hasError('required')  && (vehForm.breakfront.dirty || vehForm.breakfront.touched)) || isSubmitted"
            [ngClass]="(vehForm.breakfront.valid) ? 'display-none' : 'error'">
            Please select brake fronts
          </div>
        </div>
      </div> -->
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Price*</p>
          <div class="form-search-input">
            <input
              type="text"
              placeholder="Enter price"
              (blur)="utility.removeInputSpace(vehForm.price)"
              formControlName="price"
              (keydown)="utility.onInputValidator($event, true)"
              [class.is-invalid]="
                (vehForm.price.errors &&
                  (vehForm.price.dirty || vehForm.price.touched) &&
                  isSubmitted) ||
                (vehForm.price.errors &&
                  (vehForm.price.dirty || vehForm.price.touched))
              "
            />
          </div>
          <div
            *ngIf="
              ((vehForm.price.hasError('required') ||
                vehForm.price.hasError('whitespace')) &&
                (vehForm.price.dirty || vehForm.price.touched) &&
                isSubmitted) ||
              ((vehForm.price.hasError('required') ||
                vehForm.price.hasError('whitespace')) &&
                (vehForm.price.dirty || vehForm.price.touched)) ||
              vehForm.price.dirty ||
              vehForm.price.touched
            "
            [ngClass]="vehForm.price.valid ? 'display-none' : 'error'"
          >
            Please select price
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Vehicle Registration Number*</p>
          <div class="form-search-input">
            <input
              type="text"
              placeholder="Enter vehicle registration number"
              formControlName="vehicle_number"
              (keyup)="utility.capitalizeValue(vehForm.vehicle_number)"
              (keydown)="
                utility.allowCharacters($event, 'alphaNumericWithoutSpace')
              "
              (blur)="utility.removeInputSpace(vehForm.vehicle_number)"
              [class.is-invalid]="
                (vehForm.vehicle_number.errors &&
                  (vehForm.vehicle_number.dirty ||
                    vehForm.vehicle_number.touched) &&
                  isSubmitted) ||
                (vehForm.vehicle_number.errors &&
                  (vehForm.vehicle_number.dirty ||
                    vehForm.vehicle_number.touched))
              "
            />
          </div>
          <div
            *ngIf="
              ((vehForm.vehicle_number.hasError('required') ||
                vehForm.vehicle_number.hasError('whitespace')) &&
                (vehForm.vehicle_number.dirty ||
                  vehForm.vehicle_number.touched) &&
                isSubmitted) ||
              ((vehForm.vehicle_number.hasError('required') ||
                vehForm.vehicle_number.hasError('whitespace')) &&
                (vehForm.vehicle_number.dirty ||
                  vehForm.vehicle_number.touched)) ||
              vehForm.vehicle_number.dirty ||
              vehForm.vehicle_number.touched
            "
            [ngClass]="vehForm.vehicle_number.valid ? 'display-none' : 'error'"
          >
            Please enter vehicle number.
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Usage Status*</p>
          <p-dropdown
            [options]="usage"
            placeholder="Select Usage Status"
            [showClear]="true"
            styleClass="prime-dropdown-wrapper"
            formControlName="usage_status"
            [class.is-invalid]="
              (vehForm.usage_status.hasError('required') &&
                vehForm.usage_status.touched) ||
              isSubmitted
            "
          >
          </p-dropdown>
          <div
            *ngIf="
              (vehForm.usage_status.hasError('required') &&
                (vehForm.usage_status.dirty || vehForm.usage_status.touched)) ||
              isSubmitted
            "
            [ngClass]="vehForm.usage_status.valid ? 'display-none' : 'error'"
          >
            Please select usage status
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Vehicle Chassis Number*</p>
          <div class="form-search-input">
            <input
              type="text"
              placeholder="Enter vehicle Chassis number"
              (keyup)="utility.capitalizeValue(vehForm.chasing_number)"
              (keydown)="
                utility.allowCharacters($event, 'alphaNumericWithoutSpace')
              "
              (blur)="utility.removeInputSpace(vehForm.chasing_number)"
              formControlName="chasing_number"
              [class.is-invalid]="
                (vehForm.chasing_number.errors &&
                  (vehForm.chasing_number.dirty ||
                    vehForm.chasing_number.touched) &&
                  isSubmitted) ||
                (vehForm.chasing_number.errors &&
                  (vehForm.chasing_number.dirty ||
                    vehForm.chasing_number.touched))
              "
            />
          </div>
          <div
            *ngIf="
              ((vehForm.chasing_number.hasError('required') ||
                vehForm.chasing_number.hasError('whitespace')) &&
                (vehForm.chasing_number.dirty ||
                  vehForm.chasing_number.touched) &&
                isSubmitted) ||
              ((vehForm.chasing_number.hasError('required') ||
                vehForm.chasing_number.hasError('whitespace')) &&
                (vehForm.chasing_number.dirty ||
                  vehForm.chasing_number.touched)) ||
              vehForm.chasing_number.dirty ||
              vehForm.chasing_number.touched
            "
            [ngClass]="vehForm.chasing_number.valid ? 'display-none' : 'error'"
          >
            Please enter vehicle chassis number.
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <div class="form-block">
            <p class="form-text">Mileage*</p>
            <div class="form-search-input">
              <input
                type="text"
                placeholder="Enter mileage"
                (keydown)="utility.onInputValidator($event)"
                formControlName="mileage"
                [class.is-invalid]="
                  (vehForm.mileage.errors &&
                    (vehForm.mileage.dirty || vehForm.mileage.touched) &&
                    isSubmitted) ||
                  (vehForm.mileage.errors &&
                    (vehForm.mileage.dirty || vehForm.mileage.touched))
                "
              />
            </div>
            <div
              *ngIf="
                ((vehForm.mileage.hasError('required') ||
                  vehForm.mileage.hasError('whitespace')) &&
                  (vehForm.mileage.dirty || vehForm.mileage.touched) &&
                  isSubmitted) ||
                ((vehForm.mileage.hasError('required') ||
                  vehForm.mileage.hasError('whitespace')) &&
                  (vehForm.mileage.dirty || vehForm.mileage.touched)) ||
                vehForm.mileage.dirty ||
                vehForm.mileage.touched
              "
              [ngClass]="vehForm.mileage.valid ? 'display-none' : 'error'"
            >
              Please enter mileage number.
            </div>
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Lease Price*</p>
          <div class="form-search-input">
            <input
              type="text"
              placeholder="Enter lease price"
              formControlName="lease_price"
              [class.is-invalid]="
                (vehForm.lease_price.errors &&
                  (vehForm.lease_price.dirty || vehForm.lease_price.touched) &&
                  isSubmitted) ||
                (vehForm.lease_price.errors &&
                  (vehForm.lease_price.dirty || vehForm.lease_price.touched))
              "
            />
          </div>
          <div
            *ngIf="
              ((vehForm.lease_price.hasError('required') ||
                vehForm.lease_price.hasError('whitespace')) &&
                (vehForm.lease_price.dirty || vehForm.lease_price.touched) &&
                isSubmitted) ||
              ((vehForm.lease_price.hasError('required') ||
                vehForm.lease_price.hasError('whitespace')) &&
                (vehForm.lease_price.dirty || vehForm.lease_price.touched)) ||
              vehForm.lease_price.dirty ||
              vehForm.lease_price.touched
            "
            [ngClass]="vehForm.lease_price.valid ? 'display-none' : 'error'"
          >
            Please enter valid lease price.
          </div>
          <!--<div
            *ngIf="vehForm.lease_price.hasError('pricevalid')"
            [ngClass]="error"
          >
            Lease price cannot be greater than price
          </div>-->
        </div>
      </div>

      <div class="padding-top-24">
        <p class="form-text">Upload Document (Registration Card)</p>

        <div class="file-upload-wrapper file-wrapper">
          <input
            name="reg-card-upload"
            type="file"
            (change)="uploadImage($event, 'registration_card')"
          />
          <span>
            <i class="icon-attachment"></i>
            Browse File
          </span>
        </div>

        <!-- image wrapper here -->
        <div class="document-wrapper document-position-wrapper">
          <img
            [src]="
              vehicleForm.value.registration_card ||
              'assets/project-images/thumbnail-image.svg'
            "
            height="100"
            (click)="openImageDialog('registration_card')"
          />
          <div
            class="close-icon-wrapper"
            *ngIf="vehicleForm.value.registration_card"
            (click)="
              delete(0, vehicleForm.value.registration_card, 'registration')
            "
          >
            <span class="close-icon"><i class="fa fa-close"></i></span>
          </div>
        </div>

        <div *ngIf="vehForm.registration_card.invalid" class="error full-width">
          <p
            *ngIf="
              (vehForm.registration_card.hasError('required') ||
                vehForm.registration_card.hasError('whitespace') ||
                vehForm.registration_card.errors) &&
              isSubmitted
            "
            class="error"
          >
            Upload Registration Card
          </p>
          <p
            *ngIf="vehForm.registration_card.hasError('pattern')"
            class="error"
          >
            Not a valid type. Only images are allowed.
          </p>
          <p
            *ngIf="vehForm.registration_card.hasError('maxLength')"
            class="error"
          >
            Maximum 2MB file is allowed.
          </p>
        </div>
      </div>
      <div class="padding-top-24">
        <p class="form-text">Upload Document (Insurance)</p>

        <div class="file-upload-wrapper file-wrapper">
          <input
            name="reg-card-upload"
            type="file"
            (change)="uploadImage($event, 'insurance')"
          />
          <span>
            <i class="icon-attachment"></i>
            Browse File
          </span>
        </div>

        <!-- image wrapper here -->
        <div class="document-wrapper document-position-wrapper">
          <img
            [src]="
              vehicleForm.value.insurance ||
              'assets/project-images/thumbnail-image.svg'
            "
            height="100"
            width="100"
            (click)="openImageDialog('insurance')"
          />
          <!-- close icon -->
          <div
            class="close-icon-wrapper"
            *ngIf="vehicleForm.value.insurance"
            (click)="delete(0, vehicleForm.value.insurance, 'insurance')"
          >
            <span class="close-icon"><i class="fa fa-close"></i></span>
          </div>
        </div>

        <div
          *ngIf="
            vehForm.insurance.invalid &&
            (vehForm.insurance.dirty || vehForm.insurance.touched)
          "
          class="error full-width"
        >
          <p
            *ngIf="
              (vehForm.insurance.hasError('required') ||
                vehForm.insurance.hasError('whitespace') ||
                vehForm.insurance.errors) &&
              isSubmitted
            "
            class="error"
          >
            Upload Insurance document
          </p>
          <p *ngIf="vehForm.insurance.hasError('pattern')" class="error">
            Not a valid type. Only images are allowed.
          </p>
          <p *ngIf="vehForm.insurance.hasError('maxLength')" class="error">
            Maximum 2MB file is allowed.
          </p>
        </div>
      </div>
      <div class="padding-top-24">
        <p class="form-text">Upload Vehicle Images</p>

        <div class="file-upload-wrapper file-wrapper">
          <input
            name="reg-card-upload"
            #fileInput
            type="file"
            value=""
            name="imageUrls[]"
            (click)="fileInput.value = null"
            (change)="add_vehicle_images($event)"
            multiple
          />
          <span>
            <i class="icon-attachment"></i>
            Browse File
          </span>
        </div>

        <!-- image wrapper here -->
        <div class="display-flex">
          <div
            *ngFor="let url of imageObject; let i = index"
            class="document-position-wrapper"
          >
            <img
              [src]="
                url.vehicle_image || 'assets/project-images/thumbnail-image.svg'
              "
              (click)="openImageDialog(url)"
            />
            <div
              class="close-icon-wrapper"
              (click)="delete(i, url.vehicle_image, 'vehicle-image')"
            >
              <span class="close-icon"><i class="fa fa-close"></i></span>
            </div>
          </div>
        </div>

        <div *ngIf="vehForm.vehicle_images.invalid" class="error full-width">
          <p
            *ngIf="
              (vehForm.vehicle_images.hasError('required') ||
                vehForm.vehicle_images.hasError('whitespace') ||
                vehForm.vehicle_images.errors) &&
                isSubmitted;
              else patternBlock
            "
            class="error"
          >
            Upload atleast one image for vehicle
          </p>
          <ng-template #patternBlock>
            <p
              *ngIf="
                vehForm.vehicle_images.hasError('pattern');
                else lengthBlock
              "
              class="error"
            >
              Not a valid type. Only images are allowed.
            </p>
            <ng-template #lengthBlock>
              <p
                *ngIf="vehForm.vehicle_images.hasError('maxLength')"
                class="error"
              >
                Maximum 2MB file is allowed.
              </p>
            </ng-template>
          </ng-template>
        </div>
      </div>

      <div class="align-button-right button-form-wrapper">
        <button
          type="button"
          (click)="resetForm()"
          class="border-button-wrapper margin-right-32"
        >
          Cancel
        </button>
        <button type="submit" class="button-wrapper">{{ buttonName }}</button>
      </div>
    </form>
  </div>
</div>

<!-- image dialog wrapper starts -->
<p-dialog
  header="Image Viewer"
  [(visible)]="imageDisplay"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '650px', minWidth: '650px' }"
  [minY]="70"
  [maximizable]="false"
  appendTo="body"
  styleClass="prime-modal-dialog prime-dialog-repair"
>
  <div class="dialog-content">
    <div *ngIf="imageUrl" class="image-wrapper-block">
      <img
        [src]="imageUrl || 'assets/project-images/City-bg.png'"
        alt="vehicle images wrapper "
      />
    </div>
  </div>
</p-dialog>
<!-- image dialog wrapper ends -->
