.file-wrapper {

    text-align: center;
    padding: 9px 0px 0;
    position: relative;
    overflow: hidden;
    display: flex;

     span {
        margin-bottom: 0;
        padding: 10px 0;
        // color: #8f8f8f !important;
        color: #4d8fff !important;
        font-size: 14px;
        font-weight: 500;
     }

     input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 10px;
        opacity: 0;
        width: 100%;
      }

      .icon-attachment {
        font-size: 13px;
      }
}

.close-icon {
    font-size: 14px;
    background: #FF586B;
    color: white;
    border-radius: 50%; 
    padding: 2px 7px 4px;
    cursor: pointer;
}

.document-position-wrapper {
    position: relative;
    margin:10px 15px 0 0;
    width:50px;
    height:50px;

    .close-icon-wrapper {
        position: absolute;
        top: -7px;
        right: -7px;
    
        .close-icon {
            @extend .close-icon;
        }
        
    }

    img {
        width:100%;
        height:100%;
        border-radius:inherit;
    }
}

// confirmation dialog css
::ng-deep .prime-confirm-wrapper {
    .ui-dialog {
      .ui-dialog-titlebar {
        padding: 26px 24px 15px !important;
      }
    }
    .ui-button {
  
      &.reject-button {
        background-color: #fcd30303 !important;
        border: 1px solid #8F8F8F !important;
        color: #8F8F8F !important;
    
        &:hover {
  
          transition:0.3s all ease-in;
          border: 1px solid #4A4A4A !important;
          color: #4A4A4A !important;
        }
      }
  
      &:hover {
        transition:0.3s all ease-in;
        box-shadow: 0px 0px 3px #d6d6d6;
      }
    }
  
  }

.button-form-wrapper {
  padding-top: 50px;
}

 