<!-- <app-breadcrumb></app-breadcrumb> -->
<div class=" vehicle-wrapper wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="search-flex-wrapper">
        <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)" [placeHolderText]="'Search Registration No'"></app-search>
        <div class="display-flex">
            <div class="filter-icon-wrapper" (click)="showFilter()">
                <!-- <i class="fa fa-filter card-icon"></i> -->
                <div class="filter-card-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
            <g>
              <g>
                <g id="filter">
                  <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#8F8F8F" />
                </g>
              </g>
            </g>
          </svg>
                </div>
            </div>
            <app-button-wrapper [buttonTitle]="'Add Vehicle'" routerLink="../vehicles-list/add"></app-button-wrapper>
        </div>
    </div>

    <!-- tabs wrapper -->
    <div class="tabs-wrapper">
        <p-tabMenu [model]="items" [activeItem]="activeItem" styleClass="prime-tabs-wrapper">
            <ng-template pTemplate="item" let-item let-i="index">
                <div (click)="getItem($event, i, item.label)">
                    <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
                    <div class="ui-menuitem-text">
                        {{item.label}}
                    </div>
                </div>
            </ng-template>
        </p-tabMenu>
    </div>
    <!--All Vehicles-->
    <div class="table-wrapper vehicle-wrapper">
        <p-table [value]="vehicleList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true" [lazy]="true" [alwaysShowPaginator]="false" [rows]="10" (onLazyLoad)="paginate($event)" [totalRecords]="total" [rows]="10">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:6em;">S.No.
                    </th>
                    <th>#Registration</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Location</th>
                    <th>Price</th>
                    <th style="width:12em;">Status</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-vehicle let-i="rowIndex">
                <tr [ngClass]="(isChecked == true)? 'unchecked': 'checked'">
                    <td><span class="ui-column-title">S.No.</span>{{i+1}}</td>
                    <td><span class="ui-column-title">Registation Number</span>{{vehicle.vehicle_number}}</td>
                    <td class="text-capitalize"><span class="ui-column-title">Brand</span>{{vehicle.brand_name}}</td>
                    <td class="text-capitalize"><span class="ui-column-title">Model</span>{{vehicle.model_name}}</td>
                    <td><span class="ui-column-title">Location</span>{{vehicle.country}}</td>
                    <td><span class="ui-column-title">Price</span>{{vehicle.price}} {{vehicle.currency}}</td>
                    <td class="text-capitalize">
                        <span class="ui-column-title">Status</span>
                        <span *ngIf="vehicle.is_on_lease == 'true'" class="text-capitalize"> on lease </span>

                        <app-active-switch *ngIf="vehicle.is_on_lease == 'false'" [checked]="vehicle.is_available == 'true'" [possibleValue]="posibleValue" (change)="changeStatus($event, vehicle.vehicle_id)"></app-active-switch>
                    </td>
                    <td>
                        <span class="ui-column-title">Action</span>
                        <a class="success p-0 action-link" [routerLink]="['../vehicles-list/details', utility.base64Encode(vehicle.vehicle_id)]">
                            <i class="fa fa-eye font-medium-1 "></i> View
                        </a>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center text-danger font-weight-600" colspan="8">No Records Found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<!-- Filter wrapper -->
<div *ngIf="isVisible" class="filter-wrapper" [@openClose] style="max-height: 100%; ">
    <div class="filter-flex-wrapper flex-direction-row">
        <div>
            <h3 class="filter-title-text">Filter</h3>
        </div>
        <div (click)="closeFilter()">
            <i class="fa fa-times filter-close-icon"></i>
        </div>
    </div>
    <form [formGroup]="vehicleFilterForm" (ngSubmit)="onSubmit()" class="filter-form-wrapper">
        <div class="filter-flex-wrapper">
            <div [formGroup]="vehicleFilterForm">
                <div>
                    <p class="filter-text">Brand</p>

                    <div [formGroup]="vehicleFilterForm">
                        <p-dropdown [options]="brands" formControlName="brand" placeholder="Select brand" [showClear]="true" styleClass="prime-dropdown-wrapper" (onChange)="filterModelOnBrandChange()" [class.is-invalid]="(vehicleFilterForm.controls['brand'].hasError('required') && vehicleFilterForm.controls['brand'].touched)  || isSubmitted">
                        </p-dropdown>
                    </div>
                    <div *ngIf="(vehicleFilterForm.controls['brand'].hasError('required')  && (vehicleFilterForm.controls['brand'].dirty || vehicleFilterForm.controls['brand'].touched)) || isSubmitted" [ngClass]="(vehicleFilterForm.controls['brand'].valid) ? 'display-none' : 'error'">
                        Please select brand value.
                    </div>
                </div>
                <div class="padding-top-24">
                    <p class="filter-text">Model</p>
                    <p-dropdown [options]="models" formControlName="model" placeholder="Select model" [showClear]="true" styleClass="prime-dropdown-wrapper" [disabled]="models.length==0" [class.is-invalid]="(vehicleFilterForm.controls['model'].hasError('required') && vehicleFilterForm.controls['model'].touched)  || isSubmitted">
                    </p-dropdown>
                    <div *ngIf="(vehicleFilterForm.controls['model'].hasError('required')  && (vehicleFilterForm.controls['model'].dirty || vehicleFilterForm.controls['model'].touched)) || isSubmitted" [ngClass]="(vehicleFilterForm.controls['model'].valid) ? 'display-none' : 'error'">
                        Please enter modal.
                    </div>
                </div>
                <div class="padding-top-24">
                    <p class="filter-text">Usage Status</p>
                    <p-dropdown [options]="usageStatus" formControlName="usage" placeholder="Usage Status" [showClear]="true" styleClass="prime-dropdown-wrapper" [class.is-invalid]="(vehicleFilterForm.controls['model'].hasError('required') && vehicleFilterForm.controls['model'].touched)  || isSubmitted">
                    </p-dropdown>
                    <div *ngIf="(vehicleFilterForm.controls['model'].hasError('required')  && (vehicleFilterForm.controls['model'].dirty || vehicleFilterForm.controls['model'].touched)) || isSubmitted" [ngClass]="(vehicleFilterForm.controls['model'].valid) ? 'display-none' : 'error'">
                        Please select usage status.
                    </div>
                </div>
                <div class="padding-top-24">
                    <p class="filter-text">Country</p>

                    <p-dropdown [options]="countries" formControlName="country" placeholder="Select country" [showClear]="true" styleClass="prime-dropdown-wrapper" (onChange)="filtercities(vehicleFilterForm.value.country)" [class.is-invalid]="(vehicleFilterForm.controls['country'].hasError('required') && vehicleFilterForm.controls['coubtry'].touched)  || isSubmitted">
                    </p-dropdown>

                    <div *ngIf="(vehicleFilterForm.controls['country'].hasError('required')  && (vehicleFilterForm.controls['country'].dirty || vehicleFilterForm.controls['country'].touched)) || isSubmitted" [ngClass]="(vehicleFilterForm.controls['country'].valid) ? 'display-none' : 'error'">
                        Please select country
                    </div>
                </div>
                <div class="padding-top-24">
                    <p class="filter-text">City</p>

                    <p-dropdown [options]="cities" formControlName="city" placeholder="Select city" [showClear]="true" [disabled]="cities.length==0" styleClass="prime-dropdown-wrapper" [class.is-invalid]="(vehicleFilterForm.controls['city'].hasError('required') && vehicleFilterForm.controls['city'].touched)  || isSubmitted">
                    </p-dropdown>

                    <div *ngIf="(vehicleFilterForm.controls['city'].hasError('required')  && (vehicleFilterForm.controls['city'].dirty || vehicleFilterForm.controls['city'].touched)) || isSubmitted" [ngClass]="(vehicleFilterForm.controls['city'].valid) ? 'display-none' : 'error'">
                        Please select city.
                    </div>

                </div>
                <div class="padding-top-24">
                    <p class="filter-text">Price</p>
                    <div>
                        <input type="text" class="filter-small-input" formControlName="priceFrom" placeholder="0" (keydown)="utility.onInputValidator($event)" [class.is-invalid]="vehicleFilterForm.controls['priceFrom'].hasError('required') && isSubmitted">                        &nbsp; to &nbsp;
                        <input type="text" class="filter-small-input" formControlName="priceTo" (keydown)="utility.onInputValidator($event)" placeholder="10000" [class.is-invalid]="vehicleFilterForm.controls['priceTo'].hasError('required') && isSubmitted">
                    </div>
                    <div *ngIf="((vehicleFilterForm.controls['priceFrom'].hasError('required')  && (vehicleFilterForm.controls['priceFrom'].dirty || vehicleFilterForm.controls['priceFrom'].touched)) || isSubmitted) && ((vehicleFilterForm.controls['priceTo'].hasError('required')  && (vehicleFilterForm.controls['priceTo'].dirty || vehicleFilterForm.controls['priceTo'].touched)) || isSubmitted)"
                        [ngClass]="((vehicleFilterForm.controls['priceFrom'].valid) && (vehicleFilterForm.controls['priceTo'].valid)) ? 'display-none' : 'error'">
                        Please enter prices.
                    </div>
                </div>
            </div>
            <div class="filter-button-wrapper">
                <button type="submit" class="full-button-wrapper">Apply Filters</button>
                <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
            </div>
        </div>
    </form>
</div>