.vehicle-wrapper {
    .filter-wrapper {
        position:fixed;
        top:-70px !important;
        height: 100%;
        overflow-y: scroll;
        min-height: unset;
        max-height: 725px !important;
    }
}


.filter-button-wrapper {
    display:flex;
    justify-content: space-between;

    .full-button-wrapper {
        min-width:auto;
        padding: 8px 15px;
    }

    .full-border-wrapper {
        border: 1px solid #D8D8D8 !important;
        color: #8F8F8F;
        min-width: 5em;
        border-radius: 3px;
    }
}
tr{
    th,td{
        word-break: break-all;
        text-align: left;
    }
}