.vehicle-list-dropdown {
  border-radius: 0.2rem;
  margin-top: 0.3rem;
  box-shadow: 0px 0px 4px #ddd;
}

.vehicle-list-dropdown ul {
  list-style: none;
  font-size: 0.8rem;
  padding: 0;
  box-shadow: 0 0 6px rgba(171, 165, 165, 0.3);
}

.vehicle-list-dropdown ul li {
  padding: 5px 0.6rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.vehicle-list-dropdown ul li:last-child {
  border: none;
}

.vehicle-list-dropdown ul li.active,
.vehicle-list-dropdown ul li:focus,
.vehicle-list-dropdown ul li:hover,
.vehicle-list-dropdown ul li:active {
  background: #f36e1d;
  color: #fff;
}

.vehicle-list-dropdown ul li:hover {
  cursor: pointer;
}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left[icon="fa fa-times"] {
  background: none !important;
}

span.ui-button-icon-left.ui-clickable.fa.fa-times {
  display: block !important;
}

.contact-form-input {
  input[type=text] {
    width: 84.1%;

    @media(max-width: 375px) {
      width: 83.8%;
    }
  }

  @media(max-width:640px) {
    .form-card-wrapper .display-flex .form-block:nth-child(2) {
      padding-top: 0;
    }
  }

  .contact-input-group {
    .input-group-text {
      color: #fff;
      background-color: #f36e1d;
      border: 1px solid #f36e1d;
      min-width: 3.5em;
      font-size: 14px;
      padding: 5px 8px 4px;
    }
  }
}

.document-position-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  display: inline-block;

  img {
    width: 100%;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
    object-position: inherit;
  }

  // &::before {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(184, 184, 184, 0.18);
  // }
}



.error {
  p {
    font-size: 14px;
  }
}

.document-image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  margin: 10px 17px 0 0;
  display: inline-flex;
  // margin-right: 10px;

  img {
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
  }
}

.document-wrapper-block {

  .document-image-wrapper {
    @extend .document-image-wrapper;
  }
}

.file-wrapper {
  padding: 0;
}

.document-file-wrapper {
  width: 50px;
  height: 50px;

  .close-icon-wrapper {
    position: absolute;
    top: -10px;
    right: -7px;
  }
}

p-dropdown.ui-inputwrapper-focus {
  .prime-dropdown-wrapper.ui-dropdown {
    border-color: #000 !important;
  }
}
