<div class="wrapper vehicle-form-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="col-sm-8 card form-card-wrapper">
        <form [formGroup]="driverForm" (ngSubmit)="onSubmit()">
            <div class="padding-top-24">
                <p class="form-grey-text font-size-16 text-uppercase">Basics Information</p>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block form-small-input">
                    <p class="form-text">Branch *</p>
                    <p-dropdown [options]="businessBranch" tabindex="1" (onChange)="filterBranch($event)" placeholder="Select Branch" [showClear]="true" styleClass="prime-dropdown-wrapper" formControlName="business_branch_id" #branch [class.is-invalid]="(getDriverFormControl.business_branch_id.hasError('required') && getDriverFormControl.business_branch_id.touched)  || isSubmitted">
                    </p-dropdown>
                    <div *ngIf="(getDriverFormControl.business_branch_id.hasError('required')  && (getDriverFormControl.business_branch_id.dirty || getDriverFormControl.business_branch_id.touched)) || isSubmitted" [ngClass]="(getDriverFormControl.business_branch_id.valid) ? 'display-none' : 'error'">
                        Please select branch
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-text">First Name*</p>
                    <div class="form-search-input">
                        <input type="text" placeholder="Enter first name" tabindex="2" (blur)="utility.removeInputSpace(getDriverFormControl.first_name)" formControlName="first_name" [class.is-invalid]="getDriverFormControl.first_name.errors  && (getDriverFormControl.first_name.dirty || getDriverFormControl.first_name.touched) && isSubmitted">
                    </div>
                    <div *ngIf="(getDriverFormControl.first_name.hasError('required') || getDriverFormControl.first_name.hasError('whitespace')  && (getDriverFormControl.first_name.touched || getDriverFormControl.first_name.dirty)) && isSubmitted" [ngClass]="(getDriverFormControl.first_name.valid) ? 'display-none' : 'error'">
                        Please enter first name.
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-text">Last Name*</p>
                    <div class="form-search-input">
                        <input type="text" placeholder="Enter last name" (blur)="utility.removeInputSpace(getDriverFormControl.last_name)" tabindex="3" formControlName="last_name" [class.is-invalid]="getDriverFormControl.last_name.errors  && (getDriverFormControl.last_name.dirty || getDriverFormControl.last_name.touched) && isSubmitted">
                    </div>
                    <div *ngIf="(getDriverFormControl.last_name.hasError('required') || getDriverFormControl.last_name.hasError('whitespace')  && (getDriverFormControl.last_name.touched || getDriverFormControl.last_name.dirty)) && isSubmitted" [ngClass]="(getDriverFormControl.last_name.valid) ? 'display-none' : 'error'">
                        Please enter last name.
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">

                <div class="form-block  padding-right-32">
                    <p class="form-text">Country*</p>
                    <p-dropdown [options]="countries" #countryId placeholder="Select country" tabindex="4" [showClear]="true" [disabled]="driverForm.value.business_branch_id != null && driverForm.value.business_branch_id != ''" (onChange)="filterOnCountry()" styleClass="prime-dropdown-wrapper"
                        formControlName="country" [class.is-invalid]="getDriverFormControl.country.errors  && (getDriverFormControl.country.dirty || getDriverFormControl.country.touched) && isSubmitted">
                    </p-dropdown>
                    <div *ngIf="(getDriverFormControl.country.hasError('required') || getDriverFormControl.country.hasError('whitespace')  && (getDriverFormControl.country.touched || getDriverFormControl.country.dirty)) && isSubmitted" [ngClass]="(getDriverFormControl.country.valid) ? 'display-none' : 'error'">
                        Please select country.
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-text">City *</p>
                    <p-dropdown [options]="cities" placeholder="Select city" tabindex="5" #cityId [showClear]="true" styleClass="prime-dropdown-wrapper" formControlName="city" [disabled]="(driverForm.value.business_branch_id != null && driverForm.value.business_branch_id != '') || cities.length==0"
                        [class.is-invalid]="(getDriverFormControl.city.hasError('required') && getDriverFormControl.city.touched)  || isSubmitted">
                    </p-dropdown>
                    <div *ngIf="(getDriverFormControl.city.hasError('required')  && (getDriverFormControl.city.dirty || getDriverFormControl.city.touched)) || isSubmitted" [ngClass]="(getDriverFormControl.city.valid) ? 'display-none' : 'error'">
                        Please select city
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-text">Contact number *</p>
                    <div class="form-search-input contact-form-input">
                        <div class="input-group contact-input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">{{countrycode}}</span>
                            </div>
                            <input type="text" placeholder="Enter mobile number" tabindex="6" (keydown)="utility.onInputValidator($event)" (blur)="utility.removeInputSpace(getDriverFormControl.mobile_number)" formControlName="mobile_number" [class.is-invalid]="getDriverFormControl.mobile_number.errors  && (getDriverFormControl.mobile_number.dirty || getDriverFormControl.mobile_number.touched) && isSubmitted"
                            />
                        </div>
                    </div>
                    <div *ngIf="(((getDriverFormControl.mobile_number.hasError('required') || getDriverFormControl.mobile_number.hasError('whitespace'))  && (getDriverFormControl.mobile_number.touched || getDriverFormControl.mobile_number.dirty)) && isSubmitted) || (getDriverFormControl.mobile_number.hasError('required') && (getDriverFormControl.mobile_number.touched || getDriverFormControl.mobile_number.dirty))"
                        [ngClass]="(getDriverFormControl.mobile_number.valid) ? 'display-none' : 'error'">
                        Please enter Contact number.
                    </div>
                    <div *ngIf="((getDriverFormControl.mobile_number.value?.length > 10   && getDriverFormControl.mobile_number.touched) && isSubmitted) || (getDriverFormControl.mobile_number.value?.length > 10 && (getDriverFormControl.mobile_number.touched || getDriverFormControl.mobile_number.dirty)) "
                        [ngClass]="(getDriverFormControl.mobile_number.valid) ? 'display-none' : 'error'">
                        Please enter 10 digits only.
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-text">Email ID </p>
                    <div class="form-search-input">
                        <input type="text" placeholder="Enter email id" (blur)="utility.removeInputSpace(getDriverFormControl.email_id)" tabindex="7" formControlName="email_id" [class.is-invalid]="getDriverFormControl.email_id.errors  && (getDriverFormControl.email_id.dirty || getDriverFormControl.email_id.touched) && isSubmitted">
                    </div>
                    <div *ngIf="(getDriverFormControl.email_id.hasError('email') && (getDriverFormControl.email_id.touched || getDriverFormControl.email_id.dirty)) && isSubmitted" [ngClass]="(getDriverFormControl.email_id.valid) ? 'display-none' : 'error'">
                        Please enter a valid email.
                    </div>
                </div>

            </div>

            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-text">Address 1 *</p>
                    <div class="form-search-input">
                        <input type="text" placeholder="Enter address 1" (blur)="utility.removeInputSpace(getDriverFormControl.address_line_1)" tabindex="8" formControlName="address_line_1" [class.is-invalid]="getDriverFormControl.address_line_1.errors  && (getDriverFormControl.address_line_1.dirty || getDriverFormControl.address_line_1.touched) && isSubmitted">
                    </div>
                    <div *ngIf="(getDriverFormControl.address_line_1.hasError('required') || getDriverFormControl.address_line_1.hasError('whitespace')  && (getDriverFormControl.address_line_1.touched || getDriverFormControl.address_line_1.dirty)) && isSubmitted" [ngClass]="(getDriverFormControl.address_line_1.valid) ? 'display-none' : 'error'">
                        Please enter address 1.
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-text">Address 2 *</p>
                    <div class="form-search-input">
                        <input type="text" placeholder="Enter address 2" (blur)="utility.removeInputSpace(getDriverFormControl.address_line_2)" tabindex="9" formControlName="address_line_2" [class.is-invalid]="getDriverFormControl.address_line_2.errors  && (getDriverFormControl.address_line_2.dirty || getDriverFormControl.address_line_2.touched) && isSubmitted">
                    </div>
                    <div *ngIf="(getDriverFormControl.address_line_2.hasError('required') || getDriverFormControl.address_line_2.hasError('whitespace')  && (getDriverFormControl.address_line_2.touched || getDriverFormControl.address_line_2.dirty)) && isSubmitted" [ngClass]="(getDriverFormControl.address_line_2.valid) ? 'display-none' : 'error'">
                        Please enter address 2.
                    </div>
                </div>
            </div>


            <div class="padding-top-24">
                <p class="form-text">Upload License Document</p>
                <div class="file-upload-wrapper w-75">


                    <div class="file-upload-wrapper file-wrapper">
                        <input name="reg-card-upload" #fileInput type="file" value="" name="imageLicenseObject[]" (click)="fileInput.value = null" tabindex="10" (change)="uploadImage($event, 'license_document')" limit="2" maxsize="2000000" accept=".jpg, .jpeg, .png" multiple
                        />
                        <span>
              <i class="icon-attachment"></i>
              Browse File
            </span>
                    </div>

                    <!-- image wrapper -->
                    <div *ngFor="let url of imageLicenseObject;let i=index" class="document-position-wrapper">
                        <img [src]="url || 'assets/project-images/thumbnail-image.svg'" (click)="openImageDialog('license_document',imageLicenseObject, i)" />
                        <div class="close-icon-wrapper" (click)="delete(i,'license_document',url)">
                            <span class="close-icon"><i class="fa fa-close"></i></span>
                        </div>
                    </div>

                    <div *ngIf="(getDriverFormControl.license_document.invalid)" class="error">
                        <p *ngIf="(getDriverFormControl.license_document.hasError('required')  && (getDriverFormControl.license_document.dirty || getDriverFormControl.license_document.touched) && isSubmitted)">
                            File is required!
                        </p>
                        <p *ngIf="(getDriverFormControl.license_document.hasError('limit'))">
                            Limit exceeds. You can upload only 2 files.
                        </p>
                        <p *ngIf="(getDriverFormControl.license_document.hasError('pattern'))">
                            Only Images (png/jpeg/jpg) are allowed.
                        </p>
                        <p *ngIf="(getDriverFormControl.license_document.hasError('size'))">
                            Size exceeds. You can upload upto 2MB
                        </p>
                    </div>
                </div>
            </div>
            <div class="padding-top-24">
                <p class="form-text">Upload Passport Document</p>
                <div class="file-upload-wrapper w-75">
                    <div class="file-upload-wrapper file-wrapper">
                        <input name="reg-card-upload" tabindex="11" #filePassportInput type="file" value="" name="imageLicenseObject[]" (click)="filePassportInput.value = null" (change)="uploadImage($event, 'passport_document')" limit="2" maxsize="2000000" accept=".jpg, .jpeg, .png"
                            multiple />
                        <span>
              <i class="icon-attachment"></i>
              Browse File
            </span>
                    </div>
                </div>
                <div>
                    <div *ngFor="let url of imagePassportObject;let i=index" class="document-position-wrapper">
                        <img [src]="url || 'assets/project-images/thumbnail-image.svg'" (click)="openImageDialog('passport_document',imagePassportObject, i)" />
                        <div class="close-icon-wrapper" (click)="delete(i,'passport_document',url)">
                            <span class="close-icon"><i class="fa fa-close"></i></span>
                        </div>
                    </div>
                </div>

                <div *ngIf="(getDriverFormControl.passport_document.invalid )" class="error">
                    <p *ngIf="(getDriverFormControl.passport_document.hasError('required') && (getDriverFormControl.passport_document.dirty || getDriverFormControl.passport_document.touched) && isSubmitted)">
                        File is required!
                    </p>
                    <p *ngIf="(getDriverFormControl.passport_document.hasError('limit'))">
                        Limit exceeds. You can upload only 2 files.
                    </p>
                    <p *ngIf="(getDriverFormControl.passport_document.hasError('pattern'))">
                        Only Images (png/jpeg/jpg) are allowed.
                    </p>
                    <p *ngIf="(getDriverFormControl.passport_document.hasError('size'))">
                        Size exceeds. You can upload upto 2MB
                    </p>
                </div>

            </div>
            <div class="padding-top-24">
                <p class="form-text">Upload TOllgate Document</p>
                <div class="file-upload-wrapper w-75">

                    <div class="file-upload-wrapper file-wrapper">
                        <input name="reg-card-upload" tabindex="12" #fileTollgateInput type="file" value="" name="imageLicenseObject[]" (click)="fileTollgateInput.value = null" (change)="uploadImage($event, 'tollgate_document')" accept="application/pdf" maxsize="10000000" />
                        <span>
              <i class="icon-attachment"></i>
              Browse File
            </span>
                    </div>
                    <div>
                        <div *ngFor="let url of imageTollgateObject;let i=index" class="document-file-wrapper">
                            <a target="_blank" href="{{url}}">
                                <img src="assets/project-images/document-pdf.png" alt="document-image" />
                            </a>
                            <div class="close-icon-wrapper" (click)="delete(i,'tollgate_document',url)">
                                <span class="close-icon"><i class="fa fa-close"></i></span>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="(getDriverFormControl.tollgate_document.invalid)" class="error">
                        <p *ngIf="(getDriverFormControl.tollgate_document.hasError('required') && (getDriverFormControl.tollgate_document.dirty || getDriverFormControl.tollgate_document.touched) && isSubmitted)">
                            File is required!
                        </p>
                        <p *ngIf="(getDriverFormControl.passport_document.hasError('pattern'))">
                            Only PDF file is allowed.
                        </p>
                        <p *ngIf="(getDriverFormControl.passport_document.hasError('size'))">
                            Size exceeds. You can upload upto 10MB
                        </p>
                    </div>

                </div>
            </div>
            <div class="padding-top-24">
                <p class="form-text">Upload Emirates Id Document</p>
                <div class="file-upload-wrapper w-75">

                    <div class="file-upload-wrapper file-wrapper">
                        <input name="reg-card-upload" tabindex="13" #fileEmiratesIdInput type="file" value="" name="emiratesIds[]" (click)="fileEmiratesIdInput.value = null" (change)="uploadImage($event, 'emirates_id')" accept=".jpg, .jpeg, .png" limit="2" maxsize="2000000"
                            multiple />
                        <span>
              <i class="icon-attachment"></i>
              Browse File
            </span>
                    </div>

                    <div>
                        <div *ngFor="let url of imageEmirateIdObject;let i=index" class="document-position-wrapper">
                            <img [src]="url || 'assets/project-images/thumbnail-image.svg'" (click)="openImageDialog('emirates',imageEmirateIdObject, i)" />
                            <div class="close-icon-wrapper" (click)="delete(i,'emirates_id',url)">
                                <span class="close-icon"><i class="fa fa-close"></i></span>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="(getDriverFormControl.emirates_id.invalid)" class="error">
                        <p *ngIf="(getDriverFormControl.emirates_id.hasError('required')&& (getDriverFormControl.emirates_id.dirty || getDriverFormControl.emirates_id.touched) && isSubmitted)">
                            File is required!
                        </p>

                        <p *ngIf="(getDriverFormControl.emirates_id.hasError('limit'))">
                            Limit exceeds. You can upload only 2 files.
                        </p>
                        <p *ngIf="(getDriverFormControl.emirates_id.hasError('pattern'))">
                            Only Images (png/jpeg/jpg) are allowed.
                        </p>
                        <p *ngIf="(getDriverFormControl.emirates_id.hasError('size'))">
                            Size exceeds. You can upload upto 2MB
                        </p>
                    </div>

                </div>
            </div>
            <div class="padding-top-24 separator-line">
            </div>
            <div class="padding-top-24">
                <p class="form-grey-text font-size-16 text-uppercase">Vehicle Information</p>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32 ">
                    <p class="form-text">Registation Number *</p>

                    <div class="form-search-input form-small-input position-relative">
                        <input type="text" placeholder="Enter Model Name" tabindex="14" formControlName="register" [class.is-invalid]="getDriverFormControl.register.errors  && (getDriverFormControl.register.dirty || getDriverFormControl.register.touched) " (keyup)="searchVehicles($event)">
                        <div>
                            <button type="button" class="search-button-wrapper">Search</button>
                        </div>
                    </div>
                    <div *ngIf="(getDriverFormControl.register.invalid && (getDriverFormControl.register.dirty || getDriverFormControl.register.touched) && isSubmitted) || (getDriverFormControl.register.invalid && (getDriverFormControl.register.dirty || getDriverFormControl.register.touched) || isSubmitted)"
                        class="error">
                        <p *ngIf="(getDriverFormControl.register.hasError('required') || getDriverFormControl.register.hasError('whitespace') || getDriverFormControl.register.errors)">
                            Please enter model name.
                        </p>
                    </div>
                    <div *ngIf="vehicleList" class="vehicle-list-dropdown form-small-input">
                        <ul>
                            <li *ngFor="let vehicle of vehicleList; let i=index;" class="text-capitalize" [ngClass]="{'active': (i==0 && registrationNumber== '' )|| vehicle.vehicle_number==registrationNumber}" (click)="chooseVehicle(vehicle)">
                                <span>
                  {{vehicle.vehicle_brand.brand_name}} -
                  {{vehicle.vehicle_model.model_name}}
                </span>
                                <span>{{vehicle.vehicle_number}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="mapVehicle">
                <div class="display-flex padding-top-24">
                    <div class="form-block padding-right-32">
                        <p class="form-grey-text">Brand</p>
                        <div class="form-search-input text-capitalize">
                            <p class="form-view-text">{{mapVehicle.vehicle_brand.brand_name}}</p>
                        </div>
                    </div>
                    <div class="form-block">
                        <p class="form-grey-text">Model</p>
                        <div class="form-search-input  text-capitalize">
                            <p class="form-view-text">{{mapVehicle.vehicle_model.model_name}}</p>
                        </div>
                    </div>
                </div>
                <div class="display-flex padding-top-24">
                    <div class="form-block padding-right-32">
                        <p class="form-grey-text">Engine Number</p>
                        <div class="form-search-input">
                            <p class="form-view-text">{{mapVehicle.engine_number}}</p>
                        </div>
                    </div>
                    <div class="form-block">
                        <p class="form-grey-text">Starting Mechanism</p>
                        <div class="form-search-input">
                            <p class="form-view-text">{{mapVehicle.starting_mechanism}}</p>
                        </div>
                    </div>
                </div>
                <div class="display-flex padding-top-24">
                    <div class="form-block padding-right-32">
                        <p class="form-grey-text">Tyre Type</p>
                        <div class="form-search-input">
                            <p class="form-view-text">{{mapVehicle.tyre_type}}</p>
                        </div>
                    </div>
                    <div class="form-block">
                        <p class="form-grey-text">Wheel Type</p>
                        <div class="form-search-input">
                            <p class="form-view-text">{{mapVehicle.wheel_type}}</p>
                        </div>
                    </div>
                </div>
                <div class="display-flex  padding-top-24">
                    <div class="form-block padding-right-32">
                        <p class="form-grey-text">Stroke Type</p>
                        <div class="form-search-input">
                            <p class="form-view-text">{{mapVehicle.stroke}}</p>
                        </div>
                    </div>
                    <div class="form-block">
                        <!-- <p class="form-grey-text">Registration Number</p> -->
                        <p class="form-grey-text">Choose Vehicle</p>
                        <div class="form-search-input">
                            <p class="form-view-text">{{mapVehicle.vehicle_number}}</p>
                        </div>
                    </div>
                </div>
                <div class="padding-top-24">
                    <div class="form-block">
                        <p class="form-grey-text">Documents</p>
                        <div class="display-flex document-wrapper-block">
                            <div class="form-search-input document-image-wrapper">
                                <img class="w-100" [src]="mapVehicle.insurance" (click)="openImageDialog('insurance',mapVehicle.insurance,'')" />
                            </div>
                            <div class="form-search-input document-image-wrapper">
                                <img class="w-100" [src]="mapVehicle.registration_card" (click)="openImageDialog('registration_card',mapVehicle.registration_card, '')" />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="mapVehicle.vehicle_images" class="padding-top-24">
                    <div class="form-block">
                        <p class="form-grey-text">Vehicle Images</p>
                        <div class="form-search-input">
                            <div *ngFor="let vehicleImg of mapVehicle.vehicle_images;let i = index" class="document-image-wrapper">
                                <img [src]="vehicleImg.vehicle_image" class="w-100" (click)="openImageDialog('vehicle_image',mapVehicle.vehicle_images,i)" />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>


            <div class=" padding-top-24 align-button-right">
                <div class="border-button-wrapper margin-right-32" (click)="resetForm()">
                    Cancel
                </div>
                <div>
                    <button type="submit" class="button-wrapper">{{buttonName}}</button>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- dialog starts -->
<p-dialog header="Image Viewer" [(visible)]="imageDisplayFlag" [modal]="true" [responsive]="true" [style]="{width: '46%', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body" styleClass="prime-modal-dialog">
    <div *ngIf="imageUrl" class="image-wrapper-block">
        <img [src]="imageUrl" alt="image viewer image">
    </div>
</p-dialog>
<!-- dialog ends -->