<div class="wrapper">

  <!-- button wrapper -->
  <div class="border-button-wrapper back-button-wrapper" (click)="previousPage()">
    <button type="button" class="back-button">Back</button>
  </div>

  <div class="col-sm-12 card business-type-card">
    <div class="flex-wrapper">
      <div class="card-flex-wrap">
        <div>
          <h4 class="detail-sub-title">Business Type</h4>
          <p class="padding-top-12 text-capitalize" *ngIf="businessType">{{businessType.business_type}}</p>
        </div>
        <div>
          <h4 class="detail-sub-title">Status</h4>
          <!-- <div class="padding-top-12"> -->
          <p class="padding-top-12" *ngIf="businessType">{{businessType.status}}</p>
          <!-- <app-active-switch></app-active-switch> -->
          <!-- </div> -->
        </div>
      </div>

      <div class="align-right-wrapper">
        <p class="detail-sub-title edit-icon" (click)="editVendor(businessType.business_type)">
          <i class="fa fa-pencil"></i> Edit
        </p>
      </div>
    </div>

    <!-- table wrapper list -->
    <div>
      <p-table [value]="businessList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
        selectionMode="single" [alwaysShowPaginator]="false" [rows]="10" sortField="city" [sortOrder]="1">
        <ng-template pTemplate="header">
          <tr>
            <th>S.No.
            </th>
            <th>Business</th>
            <th>Email Id</th>
            <th>Contact Number</th>
            <th># Vehicles Assigned</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-business let-i="rowIndex">
          <tr [pSelectableRow]="business"
            [routerLink]="['../..business-list/details', utiltiy.base64Encode(business.business_id)]">
            <td><span class="ui-column-title">Serial</span>{{i+1}}</td>
            <td><span class="ui-column-title">Business</span>{{business.business_name}}</td>
            <td>
              <span class="ui-column-title">Email Id</span> {{business.email_id}}
            </td>
            <td>
              <span class="ui-column-title">Contact Number</span> {{business.mobile_number}}
            </td>
            <td>
              <span class="ui-column-title"># Vehicles Assigned</span>
              {{business.vehicleMapping[0]? business.vehicleMapping[0].count : 0}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center text-danger font-weight-600" colspan="5">No Records Found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>


</div>

<!-- dialog starts -->
<p-dialog header="Edit Business Type" [(visible)]="editDisplay" [modal]="true" [responsive]="true"
  [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body"
  styleClass="prime-modal-dialog" [closeOnEscape]="false" (onHide)="resetForm()">
  <form [formGroup]="vendorTypeDetailsForm" (ngSubmit)="onSubmit()">
    <div>
      <p class="modal-text">Business Type*</p>
      <div class="modal-search-input">
        <input type="text" placeholder="Edit Business Type"
          (blur)="utiltiy.removeInputSpace(vendorDetailForm.vendorType)"
          (keydown)="utiltiy.allowCharacters($event,'customPattern')" pattern="^[a-zA-Z0-9 .-]*$"
          formControlName="vendorType"
          [class.is-invalid]="(vendorDetailForm.vendorType.errors  && (vendorDetailForm.vendorType.dirty || vendorDetailForm.vendorType.touched) && isSubmitted) || (vendorDetailForm.vendorType.errors  && (vendorDetailForm.vendorType.dirty || vendorDetailForm.vendorType.touched))"
          [value]="editable.businessType" />
      </div>
      <div
        *ngIf="(((vendorDetailForm.vendorType.hasError('required') || vendorDetailForm.vendorType.hasError('whitespace'))  && (vendorDetailForm.vendorType.dirty || vendorDetailForm.vendorType.touched)) && isSubmitted) || ((vendorDetailForm.vendorType.hasError('required') || vendorDetailForm.vendorType.hasError('whitespace'))  && (vendorDetailForm.vendorType.dirty || vendorDetailForm.vendorType.touched))"
        [ngClass]="(vendorDetailForm.vendorType.valid) ? 'display-none' : 'error'">
        Please enter business type.
      </div>
    </div>
    <p-footer>
      <div class="modal-flex-button padding-top-32">
        <button type="reset" (click)="resetForm()" class="modal-border-button">Cancel</button>
        <button type="submit" class="modal-button-wrapper">Update</button>
      </div>
    </p-footer>
  </form>
</p-dialog>
