<div class="wrapper">
    <div class="col-sm-8 heading-flex-wrapper">
        <app-heading-wrapper></app-heading-wrapper>
        <div class="display-flex align-center heading-toggle-switch">
            <!-- <app-active-switch></app-active-switch> -->
            <!-- <div [routerLink]="['details']">
                  <a class="border-button-small">Edit</a>
            </div> -->
        </div>
    </div>

    <div class="row justify-content-between" [ngClass]="{'profile-row-wrapper': (!businessData?.agreement && !businessData?.license && !businessData?.emirates_id && !businessData?.bank_statement && !businessData?.other_document && !businessData?.passport && !businessData?.credit_application_form) }">

        <div class="col-sm-8 card profile-column-wrapper">
            <form [formGroup]="profileForm" (ngSubmit)="onProfileSubmit()">
                <!-- form details wrapper -->
                <div class="form-card-wrapper">
                    <!-- profile -->
                    <div class="form-block padding-top-24">
                        <div class="display-flex justify-space-between">

                            <!-- profie image wrapper -->
                            <div class="form-search-input">

                                <p class="form-grey-text">Profile</p>

                                <div class="file-upload-wrapper file-wrapper">
                                    <input name="reg-card-upload" #fileInput type="file" value="" name="profile_image" (click)="fileInput.value = null" (change)="fileUploadImage($event)" limit="2" maxsize="2000000" accept=".jpg, .jpeg, .png" />

                                    <!-- profile-wrapper -->
                                    <span class="profile-image-block">
                    <img
                      [src]="profileContent.profile_image == null ? '../assets/project-images/profile-image-new2.svg' : profileContent.profile_image"
                      alt="profile image wrapper" />

                    <!-- camera wrapper -->
                    <span class="upload-camera-wrapper">
                      <i class="fa fa-camera"></i>
                    </span>
                                    </span>
                                </div>
                            </div>

                            <!-- business logo wrapper -->
                            <ng-container *ngIf="(profileContent.Business)">
                                <div class="form-search-input">
                                    <p class="form-grey-text">Business Logo</p>

                                    <div class="file-upload-wrapper file-wrapper">
                                        <input name="reg-card-upload" #fileBusinessInput type="file" value="" name="business_logo" (click)="fileBusinessInput.value = null" (change)="fileUploadBusinessImage($event)" limit="2" maxsize="2000000" accept=".jpg, .jpeg, .png" />

                                        <!-- profile-wrapper -->
                                        <span class="profile-image-block">
                      <img
                        [src]="(profileContent.Business.business_logo == null || profileContent.Business.business_logo == '') ? '../assets/project-images/profile-image-new2.svg' : profileContent.Business.business_logo"
                        alt="profile image wrapper" />

                      <!-- camera wrapper -->
                      <span class="upload-camera-wrapper">
                        <i class="fa fa-camera"></i>
                      </span>
                                        </span>
                                    </div>
                                </div>
                            </ng-container>



                        </div>



                    </div>

                    <div class="display-flex padding-top-24">

                        <!-- first name -->
                        <div class="form-block padding-right-32">
                            <p class="form-grey-text">First Name</p>
                            <div class="form-search-input">
                                <ng-container *ngIf="editTypeForm != 'first_name'">
                                    <div class="display-flex justify-content-between profile-form-block">
                                        <div>
                                            <p class="form-view-text">
                                                {{(profileContent.first_name) ? profileContent.first_name : '-'}}
                                            </p>
                                        </div>
                                        <div class="pencil-icon" (click)="patchFormValue('first_name')">
                                            <span>
                        <i class="fa fa-pencil"></i>
                      </span>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="editTypeForm == 'first_name'">
                                    <div class="display-flex justify-content-between ">
                                        <div>
                                            <input type="text" value="" formControlName="first_name" />
                                        </div>
                                        <div class="button-wrapper-block">
                                            <button type="submit" class="button-wrapper button-check-wrapper">
                        <i class="fa fa-check"></i>
                      </button>
                                            <button type="button" class="button-cancel-wrapper" (click)="closeFormField('first_name')">
                        <i class="fa fa-times"></i>
                      </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <!-- last name -->
                        <div class="form-block">
                            <p class="form-grey-text">Last Name</p>
                            <div class="form-search-input">
                                <ng-container *ngIf="editTypeForm != 'last_name'">
                                    <div class="display-flex justify-content-between profile-form-block">
                                        <div>
                                            <p class="form-view-text">
                                                {{(profileContent.last_name) ? profileContent.last_name : '-'}}
                                            </p>
                                        </div>
                                        <div class="pencil-icon" (click)="patchFormValue('last_name')">
                                            <span>
                        <i class="fa fa-pencil"></i>
                      </span>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="editTypeForm == 'last_name'">
                                    <div class="display-flex justify-content-between">
                                        <div>
                                            <input type="text" value="" formControlName="last_name" />

                                        </div>
                                        <div class="button-wrapper-block">
                                            <button type="submit" class="button-wrapper button-check-wrapper">
                        <i class="fa fa-check"></i>
                      </button>
                                            <button type="button" class="button-cancel-wrapper" (click)="closeFormField('last_name')">
                        <i class="fa fa-times"></i>
                      </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>


                    </div>
                    <ng-container *ngIf="profileContent?.Business === null">

                        <!-- contact number -->
                        <div class="display-flex padding-top-24">

                            <div class="form-block padding-right-32">
                                <p class="form-grey-text">Contact Number</p>
                                <div class="form-search-input">
                                    <ng-container *ngIf="editTypeForm != 'mobile_number'">
                                        <div class="display-flex justify-content-between profile-form-block">
                                            <div>
                                                <p class="form-view-text">
                                                    {{(profileContent?.mobile_number) ? profileContent?.mobile_number : '-'}}
                                                </p>
                                            </div>
                                            <div class="pencil-icon" (click)="patchFormValue('mobile_number')">
                                                <span>
                          <i class="fa fa-pencil"></i>
                        </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="editTypeForm == 'mobile_number'">
                                        <div class="display-flex justify-content-between">
                                            <div>
                                                <input type="text" value="" formControlName="mobile_number" />
                                                <div *ngIf="(profileForm.controls.mobile_number.invalid && (profileForm.controls.mobile_number.dirty || profileForm.controls.mobile_number.touched) && isProfileSubmitted)" class="error">
                                                    <p *ngIf="(profileForm.controls.mobile_number.hasError('minlength') || profileForm.controls.mobile_number.hasError('whitespace'))">
                                                        only 10 digits is required.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="button-wrapper-block">
                                                <button type="submit" class="button-wrapper button-check-wrapper">
                          <i class="fa fa-check"></i>
                        </button>
                                                <button type="button" class="button-cancel-wrapper" (click)="closeFormField('mobile_number')">
                          <i class="fa fa-times"></i>
                        </button>
                                            </div>
                                        </div>
                                    </ng-container>

                                </div>
                            </div>

                            <!-- alternate number -->
                            <div class="form-block">
                                <p class="form-grey-text">Alternate Number</p>
                                <div class="form-search-input">
                                    <ng-container *ngIf="editTypeForm != 'alternate_number'">
                                        <div class="display-flex justify-content-between profile-form-block">
                                            <div>
                                                <p class="form-view-text">
                                                    {{(businessData?.alternate_number) ? businessData?.alternate_number : '-'}}
                                                </p>
                                            </div>
                                            <div class="pencil-icon" (click)="patchFormValue('alternate_number')">
                                                <span>
                          <i class="fa fa-pencil"></i>
                        </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="editTypeForm == 'alternate_number'">
                                        <div class="display-flex justify-content-between">
                                            <div>
                                                <input type="text" value="" formControlName="alternate_number" />

                                                <!-- alternate number -->
                                                <div *ngIf="(profileForm.controls.alternate_number.invalid && (profileForm.controls.alternate_number.dirty || profileForm.controls.alternate_number.touched) && isProfileSubmitted)" class="error">
                                                    <p *ngIf="(profileForm.controls.alternate_number.hasError('minlength') || profileForm.controls.alternate_number.hasError('whitespace'))">
                                                        only 10 digits is required.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="button-wrapper-block">
                                                <button type="submit" class="button-wrapper button-check-wrapper">
                          <i class="fa fa-check"></i>
                        </button>
                                                <button type="button" class="button-cancel-wrapper" (click)="closeFormField('alternate_number')">
                          <i class="fa fa-times"></i>
                        </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <!-- email id -->
                        <div class="display-flex padding-top-24">
                            <div class="form-block">
                                <p class="form-grey-text">Email Id</p>
                                <div class="form-search-input">
                                    <p class="form-view-text">
                                        {{(profileContent?.email_id) ? profileContent?.email_id : '-'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-container>


                    <ng-container *ngIf="businessData">
                        <div class="display-flex padding-top-24">
                            <!-- business name -->
                            <div class="form-block padding-right-32">
                                <p class="form-grey-text">Business Name</p>
                                <div class="form-search-input">
                                    <p class="form-view-text">
                                        {{(businessData.business_name) ? businessData.business_name : '-'}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="display-flex padding-top-24">

                            <!-- contact number -->
                            <div class="form-block padding-right-32">
                                <p class="form-grey-text">Contact Number</p>
                                <div class="form-search-input">
                                    <ng-container *ngIf="editTypeForm != 'mobile_number'">
                                        <div class="display-flex justify-content-between profile-form-block">
                                            <div>
                                                <p class="form-view-text">
                                                    {{(businessData?.mobile_number) ? businessData?.mobile_number : '-'}}
                                                </p>
                                            </div>
                                            <div class="pencil-icon" (click)="patchFormValue('mobile_number')">
                                                <span>
                          <i class="fa fa-pencil"></i>
                        </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="editTypeForm == 'mobile_number'">
                                        <div class="display-flex justify-content-between">
                                            <div>
                                                <input type="text" value="" formControlName="mobile_number" />
                                                <div *ngIf="(profileForm.controls.mobile_number.invalid && (profileForm.controls.mobile_number.dirty || profileForm.controls.mobile_number.touched) && isProfileSubmitted)" class="error">
                                                    <p *ngIf="(profileForm.controls.mobile_number.hasError('minlength') || profileForm.controls.mobile_number.hasError('whitespace'))">
                                                        only 10 digits is required.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="button-wrapper-block">
                                                <button type="submit" class="button-wrapper button-check-wrapper">
                          <i class="fa fa-check"></i>
                        </button>
                                                <button type="button" class="button-cancel-wrapper" (click)="closeFormField('mobile_number')">
                          <i class="fa fa-times"></i>
                        </button>
                                            </div>
                                        </div>
                                    </ng-container>

                                </div>
                            </div>

                            <!-- alternate number -->
                            <div class="form-block">
                                <p class="form-grey-text">Alternate Number</p>
                                <div class="form-search-input">
                                    <ng-container *ngIf="editTypeForm != 'alternate_number'">
                                        <div class="display-flex justify-content-between profile-form-block">
                                            <div>
                                                <p class="form-view-text">

                                                    {{(businessData?.alternate_number) ? businessData?.alternate_number : '-'}}
                                                </p>
                                            </div>
                                            <div class="pencil-icon" (click)="patchFormValue('alternate_number')">
                                                <span>
                          <i class="fa fa-pencil"></i>
                        </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="editTypeForm == 'alternate_number'">
                                        <div class="display-flex justify-content-between">
                                            <div>
                                                <input type="text" value="" formControlName="alternate_number" />

                                                <!-- alternate number -->
                                                <div *ngIf="(profileForm.controls.alternate_number.invalid && (profileForm.controls.alternate_number.dirty || profileForm.controls.alternate_number.touched) && isProfileSubmitted)" class="error">
                                                    <p *ngIf="(profileForm.controls.alternate_number.hasError('minlength') || profileForm.controls.alternate_number.hasError('whitespace'))">
                                                        only 10 digits is required.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="button-wrapper-block">
                                                <button type="submit" class="button-wrapper button-check-wrapper">
                          <i class="fa fa-check"></i>
                        </button>
                                                <button type="button" class="button-cancel-wrapper" (click)="closeFormField('alternate_number')">
                          <i class="fa fa-times"></i>
                        </button>
                                            </div>
                                        </div>
                                    </ng-container>

                                </div>
                            </div>

                        </div>


                        <div class="display-flex padding-top-24">
                            <!-- email id -->
                            <div class="form-block">
                                <p class="form-grey-text">Email Id</p>
                                <div class="form-search-input">
                                    <p class="form-view-text">
                                        {{(businessData?.email_id) ? businessData?.email_id : '-'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </form>


            <ng-container *ngIf="businessBranchList.length > 0">
                <!-- Business Branch address list -->
                <div class="heading-business-wrapper">
                    <h4>Business Branch List</h4>
                </div>

                <!-- address table list starts -->
                <div class="table-wrapper vehicle-wrapper">
                    <p-table [value]="businessBranchList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true" [lazy]="true" [alwaysShowPaginator]="false" [rows]="10" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Serial
                                </th>
                                <!-- <th>Branch Id</th> -->
                                <th style="width:10em">Branch Name</th>
                                <th style="width:19em">Branch Address</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-branch let-i="rowIndex">
                            <tr>
                                <td><span class="ui-column-title">Serial</span>{{i+1}}</td>
                                <!-- <td><span class="ui-column-title">Branch Id</span>{{branch.branch_area_id}}</td> -->
                                <td><span class="ui-column-title">Branch
                    Name</span>{{(branch.address_branch_name) ? branch.address_branch_name : '-'}}</td>
                                <td><span class="ui-column-title">Branch Address</span>{{(branch.address) ? branch.address : '-'}}</td>
                                <td>
                                    <span class="ui-column-title">Action</span>
                                    <a class="success p-0 action-link" [routerLink]="['/business/branch/edit', utility.base64Encode(branch.branch_area_id)]">
                                        <i class="fa fa-pencil font-medium-1 "></i> Edit
                                    </a>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="text-center text-danger font-weight-600" colspan="8">No Records Found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </ng-container>
        </div>

        <!-- images wrapper -->
        <ng-container *ngIf="(businessData?.agreement || businessData?.license || profileContent.emirates_id != '' || businessData?.bank_statement || businessData?.other_document || profileContent.passport_document != '' || businessData?.credit_application_form)">
            <!-- documents wrapper -->
            <div class="col-sm-4 card form-card-wrapper">

                <div class="display-flex">
                    <!-- agreement -->
                    <ng-container *ngIf="businessData?.agreement">
                        <div class="padding-top-24 flex-basis-50">
                            <p class="form-grey-text">Agreement</p>
                            <!-- image wrapper here -->
                            <!-- <div class="document-wrapper" (click)="openImageDialog('agreement',businessData?.agreement, '')">
                                <img [src]="businessData?.agreement" />
                            </div> -->
                            <div class="document-file-wrapper">
                                <a target="_blank" href="{{businessData?.agreement}}">
                                    <img src="assets/project-images/document-pdf.png" alt="document-image" />
                                </a>
                            </div>
                        </div>
                    </ng-container>

                    <!-- license -->
                    <ng-container *ngIf="businessData?.license">
                        <div class="padding-top-24 flex-basis-50">
                            <p class="form-grey-text">License</p>
                            <!-- image wrapper here -->
                            <!-- <div class="document-wrapper" (click)="openImageDialog('license',businessData?.license,'')">
                                <img [src]="businessData?.license" />
                            </div> -->
                            <div class="document-file-wrapper">
                                <a target="_blank" href="{{businessData?.license}}">
                                    <img src="assets/project-images/document-pdf.png" alt="document-image" />
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </div>


                <div class="display-flex">

                    <ng-container *ngIf="profileContent.emirates_id != ''">
                        <!-- emirates id -->
                        <div class="padding-top-24 flex-basis-50">
                            <p class="form-grey-text">Emirates ID</p>
                            <!-- image wrapper here -->
                            <!-- <div class="document-wrapper">
                                <img [src]="profileContent.emirates_id" />
                            </div> -->
                            <div class="document-file-wrapper">
                                <a target="_blank" href="{{profileContent.emirates_id}}">
                                    <img src="assets/project-images/document-pdf.png" alt="document-image" />
                                </a>
                            </div>
                        </div>
                    </ng-container>


                    <ng-container *ngIf="businessData?.bank_statement">
                        <!-- bank statement file -->
                        <div class="padding-top-24 flex-basis-50">
                            <p class="form-grey-text">Bank Statement</p>
                            <!-- image wrapper here -->
                            <!-- <div class="document-wrapper">
                                <img [src]="businessData?.bank_statement" />
                            </div> -->
                            <div class="document-file-wrapper">
                                <a target="_blank" href="{{businessData?.bank_statement}}">
                                    <img src="assets/project-images/document-pdf.png" alt="document-image" />
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </div>


                <div class="display-flex">

                    <ng-container *ngIf="businessData?.other_document">
                        <!-- other document -->
                        <div class="padding-top-24 flex-basis-50">
                            <p class="form-grey-text">Other Document</p>
                            <!-- image wrapper here -->
                            <div class="document-file-wrapper">
                                <a target="_blank" href="{{businessData?.other_document}}">
                                    <img src="assets/project-images/document-pdf.png" alt="document-image" />
                                </a>
                            </div>
                        </div>
                    </ng-container>


                    <!-- passport -->
                    <ng-container *ngIf="profileContent.passport_document != ''">
                        <div class="padding-top-24 flex-basis-50">
                            <p class="form-grey-text">Passport</p>
                            <!-- image wrapper here -->
                            <!-- <div class="document-wrapper">
                                <img [src]="profileContent.passport_document" />
                            </div> -->
                            <div class="document-file-wrapper">
                                <a target="_blank" href="{{businessData?.passport_document}}">
                                    <img src="assets/project-images/document-pdf.png" alt="document-image" />
                                </a>
                            </div>
                        </div>
                    </ng-container>

                </div>

                <div class="display-flex">
                    <ng-container *ngIf="businessData?.credit_application_form">
                        <!-- credit application form -->
                        <div class="padding-top-24 flex-basis-100">
                            <p class="form-grey-text">Credit Application Form</p>
                            <!-- image wrapper here -->
                            <!-- <div class="document-wrapper">
                                <img [src]="businessData?.credit_application_form" />
                            </div> -->
                            <div class="document-file-wrapper">
                                <a target="_blank" href="{{businessData?.credit_application_form}}">
                                    <img src="assets/project-images/document-pdf.png" alt="document-image" />
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<!-- image dialog starts -->
<p-dialog header="Image Viewer" [(visible)]="imageDisplayFlag" [modal]="true" [responsive]="true" [style]="{width: '46%', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body" styleClass="prime-modal-dialog">
    <div *ngIf="imageUrl" class="image-wrapper-block">
        <img [src]="imageUrl" alt="image viewer image">
    </div>
</p-dialog>
<!-- image dialog ends -->