.file-wrapper {
    padding:0;
}

.profile-column-wrapper {
    max-width: 61%;
}

.heading-business-wrapper {
    padding: 30px 24px 15px;
    h4 {
    font-size: 22px;
    font-weight: 600;
    color: #4a4a4a;
    }
}

.profile-column-wrapper {
    &.card {
        padding:0 !important;
    }
}

// profile image wrapper 
.profile-image-wrapper {
    position:relative;
    width:100px;
    height:100px;

    &:hover::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100px;
        background: #add8e659;
    }
}

.file-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 10px;
    opacity: 0;
    width: 100px;
    height:100px;
    z-index:1;
}

.profile-image-block {
    width: 100px;
    height:115px;
    border-radius:4px;

    img {
        width:100%;
        height:100%;
        border-radius:inherit;
    }
}

// row wrapper starts
.profile-row-wrapper {
    justify-content: flex-start !important;
    padding-left: 16px;
}