<div class="landing-wrapper patner-page">

    <!-- header wrapper -->
    <header class="header-wrapper animated fadeInDown" id="navbar">
        <div class="container">
            <div class="header-flex-wrapper">
                <!-- delivr-logo -->
                <div class="logo-image" [routerLink]="['/']">
                    <img src="assets/project-images/delivr-landing-logo.svg" alt="delivr landing logo" />
                </div>

                <!-- header button wrapper -->
                <div class="landing-button-wrapper">
                    <button type="button" class="transparent-button-wrapper" [routerLink]="['../delivr-for-business']" routerLinkActive="active-class">
                        <span class="desk-btn">Delivr for Business</span>
                        <span class="phone-btn"><img src="assets/project-images/phone-business.png"></span>
                    </button>
                    <button type="button" class="transparent-button-wrapper" [routerLink]="['../delivr-for-riders']" routerLinkActive="active-class">
                        <span class="desk-btn"> Delivr for Riders</span>
                        <span class="phone-btn"><img src="assets/project-images/phone-partner.png"></span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <!-- heading section wrappper -->
    <section class="header-section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-12">
                    <!-- heading title wrapper -->
                    <div class="heading-title-wrapper">
                        <div class="landing-header-text">
                            <h3>Love to ride and save the day?</h3>
                        </div>
                        <div class="landing-para-text">
                            <p>One - stop solution to all your delivery needs</p>
                        </div>

                        <!-- location wrapper -->
                        <div class="location-wrapper sign-up-btn" (click)="scrollToSection(signupForm)">
                            <a>Sign Up</a>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-5 col-sm-12">
          <div class="landing-image-wrapper">
            <img src="assets/project-images/Group 110.svg" alt="landing cycle image" />
          </div>
        </div> -->
            </div>
        </div>
    </section>

    <!-- confirmed delivery section -->
    <section class="confirmed-delivery-wrapper">
        <div class="container">
            <div class="delivery-header">
                <h4>You want to expand your horizon</h4>
                <p> Delivr gives you wings, lease bikes and start delivering.</p>
            </div>

            <!-- cards wrapper -->
            <div class="delivery-card-wrapper">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <!-- card wrapper -->
                        <div class="delivery-card patner-card">
                            <div class="display-flex align-items-center">
                                <div class="padding-right-32">
                                    <img src="assets/project-images/businessman.svg" alt="motorbike" />
                                </div>
                                <div>
                                    <h3>You're in charge</h3>
                                    <div class="padding-top-24 padding_top_11">
                                        <p>Want to scale your business.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <!-- card wrapper -->
                        <div class="delivery-card patner-card">
                            <div class="display-flex align-items-center">
                                <div class="padding-right-32">
                                    <img src="assets/project-images/calendar.svg" alt="stopwatch" />
                                </div>
                                <div>
                                    <h3>You pick the time</h3>
                                    <div class="padding-top-24 padding_top_11">
                                        <p>Most comprehensive fleet management solution. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row delivery-row-wrapper">
                    <!-- card wrapper here -->
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <div class="delivery-card patner-card">
                            <div class="display-flex align-items-center">
                                <div class="padding-right-32">
                                    <img src="assets/project-images/buildings.svg" alt="goods" />
                                </div>
                                <div>
                                    <h3>Your ride. your city </h3>
                                    <div class="padding-top-24 padding_top_11">
                                        <p>All deliveries will be with in the city limits.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- card wrapper here -->
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <div class="delivery-card patner-card">
                            <div class="display-flex align-items-center">
                                <div class="padding-right-32">
                                    <img src="assets/project-images/earn.svg" alt="giftbox" />
                                </div>
                                <div>
                                    <h3>Earn as you go</h3>
                                    <div class="padding-top-24 padding_top_11">
                                        <p>Leasing plans to suit your needs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <div class="delivery-card patner-card">
                            <div class="display-flex align-items-center">
                                <div class="padding-right-32">
                                    <img src="assets/project-images/stars.svg" alt="giftbox" />
                                </div>
                                <div>
                                    <h3>Your'll be far from bored</h3>
                                    <div class="padding-top-24 padding_top_11">
                                        <p>Rider app, like no one else. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <div class="delivery-card patner-card">
                            <div class="display-flex align-items-center">
                                <div class="padding-right-32">
                                    <img src="assets/project-images/deal.svg" alt="giftbox" />
                                </div>
                                <div>
                                    <h3>Join the movement </h3>
                                    <div class="padding-top-24 padding_top_11">
                                        <p>Be a part of the fastest growing delivery startup.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Carousel -->
    <!-- <section class="carousel-section carousel-inner">
        <div class="container-fluid">
            <h4 class="text-center">Testimonials</h4>
            <p class="text-center testimonial-sub-head">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <div class="user-post-box">
                        <img src="{{slide.img }}" class="mr-2 user-image" alt="user image">
                        <div class="user-detail">
                            <h5>{{slide.name}}</h5>
                            <p>{{slide.city}}</p>
                        </div>
                        <div class="user-post-desc">
                            <p>{{slide.description}}</p>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </section>
    <section class="slider-bottom-banner">
        <img src="assets/project-images/slider-bottom.svg" alt="" />
    </section> -->
    <!-- testimonials section starts -->
    <section class="signupfootform riders-signup-form" #signupForm>
        <div class="container">
            <div class="row">
                <h1> SIGN UP with Delivr Today</h1>
                <div class="form-sec">

                    <form [formGroup]="partnerForm" (ngSubmit)="onSubmit()">
                        <div class="field-sec">
                            <!-- name -->
                            <div class="form-group padding-top-10 col-md-6">
                                <input type="text" class="form-control" id="name" placeholder="Name" name="name" formControlName="name">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>

                                <div *ngIf="(partnerForm.controls['number'].invalid && (partnerForm.controls['number'].dirty || partnerForm.controls['number'].touched) && isSubmitted)" class="error">
                                    <p *ngIf="(partnerForm.controls['number'].hasError('required') || partnerForm.controls['number'].hasError('whitespace') || partnerForm.controls['number'].errors)">
                                        Please enter valid name.
                                    </p>
                                </div>
                            </div>

                            <!-- email -->
                            <div class="form-group padding-top-10 col-md-6">
                                <input type="text" class="form-control" name="email" formControlName="email" placeholder="Email">
                                <span class="input-group-addon">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <div *ngIf="(partnerForm.controls['email'].invalid && (partnerForm.controls['email'].dirty || partnerForm.controls['email'].touched) && isSubmitted)" class="error">
                                    <p *ngIf="(partnerForm.controls['email'].hasError('required') || partnerForm.controls['email'].hasError('whitespace') || partnerForm.controls['email'].errors)">
                                        Please enter valid email (abc@xyz.com).
                                    </p>
                                </div>
                            </div>

                            <!-- city -->
                            <div class="form-group padding-top-10 col-md-6">
                                <input type="text" class="form-control" name="city" id="city" formControlName="city" placeholder="City" #search (keydown)="loadMap()" (change)="onChangeLocation($event.target.value)" ngModel="{{city}}">
                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                <div *ngIf="(partnerForm.controls['city'].invalid && (partnerForm.controls['city'].dirty || partnerForm.controls['city'].touched) && isSubmitted)" class="error">
                                    <p *ngIf="(partnerForm.controls['city'].hasError('required') || partnerForm.controls['city'].hasError('whitespace') || partnerForm.controls['city'].errors)">
                                        Please enter valid city.
                                    </p>
                                </div>
                            </div>

                            <!-- number -->
                            <div class="form-group padding-top-10 col-md-6">
                                <input type="number" class="form-control" id="number" placeholder="Mobile Number" name="number" formControlName="number">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <div *ngIf="(partnerForm.controls['number'].invalid && (partnerForm.controls['number'].dirty || partnerForm.controls['number'].touched) && isSubmitted)" class="error">
                                    <p *ngIf="(partnerForm.controls['number'].hasError('required') || partnerForm.controls['number'].hasError('whitespace') || partnerForm.controls['number'].errors)">
                                        Please enter valid number.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <!-- submit button wrapper -->
                        <div class="btn-sec">
                            <button type="submit" class="btn location-wrapper sign-up-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonials section ends -->

    <!-- footer starts -->
    <footer class="footer-wrapper">
        <div class="container">
            <div class="row">
                <!-- delivery-logo -->
                <div class="col-lg-2 col-sm-12">
                    <div [routerLink]="['/']" class="footer-logo">
                        <img src="assets/project-images/delivr-landing-logo.svg" alt="delivr landing logo" />
                    </div>
                </div>

                <!-- about terms&condition  -->
                <div class="col-lg-5 col-sm-12">
                    <div class="footer-heading">
                        <p>Contact</p>
                    </div>
                    <!-- footer list wrapper  -->
                    <div class="footer-list-wrapper">
                        <ul class="list-style-none">
                            <li [routerLink]="['../about']">
                                <a>About</a>
                            </li>
                            <li [routerLink]="['../terms-and-conditions']">
                                <a>Terms & Conditions</a>
                            </li>
                            <li [routerLink]="['../privacy-policy']">
                                <a>Privacy Policy</a>
                            </li>
                        </ul>
                    </div>

                    <!-- footer social wrapper  -->
                    <!-- <div class="footer-social-wrapper">
                        <ul class="list-style-none">
                            <li class="footer-list-icon">
                                <a>
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="footer-list-icon">
                                <a>
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="footer-list-icon">
                                <a>
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="footer-list-icon">
                                <a>
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->

                    <!-- copyright wrapper -->
                    <div class="copyright-wrapper">
                        <p>Copyright {{currentYear}} | Delivr</p>
                    </div>

                </div>

                <!-- contact wrapper -->
                <div class="col-lg-5 col-sm-12">

                    <!-- footer heading -->
                    <div class="footer-heading">
                        <p>Contact</p>
                    </div>

                    <!-- footer para text -->
                    <!-- <div class="footer-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div> -->

                    <!-- delivr mail wrapper -->
                    <div class="delivery-mail-wrapper">
                        <ul class="list-style-none">
                            <li class="display-flex">
                                <div class="delivery-footer-img">
                                    <img src="assets/project-images/icon-location.svg" alt="icon email" />
                                </div>
                                <div class="footer-end-text">
                                    <p>
                                        22<sup>nd</sup> St, AI Quoz Industrial Area 3, Dubai
                                    </p>
                                </div>
                            </li>
                            <li class="display-flex">
                                <div class="delivery-footer-img">
                                    <img src="assets/project-images/icon-email.svg" alt="icon email" />
                                </div>
                                <div class="footer-end-text">
                                    <a href="mailto:deepak@delivr.biz?Subject=''" target="_blank" class="hyperlink">deepak@delivr.biz</a>
                                </div>
                            </li>
                            <li class="display-flex">
                                <div class="delivery-footer-img">
                                    <img src="assets/project-images/icon-call.svg" alt="icon call icon" />
                                </div>
                                <div class="footer-end-text">
                                    <a href="tel:+971-504570395" class="hyperlink">+971-504570395</a>, <a href="tel:+971-505539468" class="hyperlink">+971-505539468</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </footer>
    <!-- footer ends -->
</div>


