<div class="wrapper request-repair-wrapper">
  <div class="card col-sm-10">

    <div class="request-details-block">
      <!-- request details -->
      <div class="padding-top-24">
        <div class="heading-wrapper">
          <p>Request Details</p>
        </div>

        <div class="display-flex justify-space-between">
          <div class="form-group">
            <span class="form-details-heading">Request Number:</span>
            <span>{{pageContent.requestDetails.request_number == null ? '-' : pageContent.requestDetails.request_number}}</span>
          </div>
          <div class="form-group">
            <span class="form-details-heading">
              Requested On
            </span>
            <span>
              {{pageContent.requestDetails.requested_on == null ? '-' : pageContent.requestDetails.requested_on}}
            </span>
          </div>
        </div>
        <div class="display-flex justify-space-between">
          <div class="form-group">
            <span class="form-details-heading">
              Resolved At:
            </span>
            <span>
              {{pageContent.requestDetails.resolved_at == null ? '-' : pageContent.requestDetails.resolved_at }}
            </span>
          </div>
          <div class="form-group">
            <span class="form-details-heading">
              Status:
            </span>
            <span class="text-capitalize">
              {{pageContent.requestDetails.status == null ? '-' : pageContent.requestDetails.status }}
            </span>
          </div>
        </div>
      </div>


      <!-- driver wrapper -->
      <div class="padding-top-24">
        <div class="heading-wrapper">
          <p>
            Driver
          </p>
        </div>
        <div class="display-flex justify-space-between">
          <div class="form-group">
            <span class="form-details-heading">
              Driver Name:
            </span>
            <span>
              {{pageContent.requestDetails.driver.driver == null ? '-' : pageContent.requestDetails.driver.driver}}
            </span>
          </div>
          <div class="form-group">
            <span class="form-details-heading">
              Driver Contact:
            </span>
            <span>
              {{pageContent.requestDetails.driver.mobile_number == null ? '-' : pageContent.requestDetails.driver.mobile_number}}
            </span>
          </div>
        </div>
      </div>


      <div class="padding-top-24">
        <div class="heading-wrapper">
          <p>Vehicle</p>
        </div>

        <div class="display-flex justify-space-between">
          <div class="form-group">
            <span class="form-details-heading">
              Vehicle Number:
            </span>
            <span>
              {{vehicleData.vehicle_number == null ? '-' : vehicleData.vehicle_number}}
            </span>
          </div>

          <div class="form-group">
            <span class="form-details-heading">
              Brand Name:
            </span>
            <span>
              {{vehicleData.brand_name == null ? '-' : vehicleData.brand_name}}
            </span>
          </div>

        </div>
        <div class="display-flex justify-space-between">

          <div class="form-group">
            <span class="form-details-heading">
              Model Name:
            </span>
            <span>
              {{vehicleData.model_name == null ? '-' : vehicleData.model_name}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="table-wrapper">
      <p-table [value]="serviceList" styleClass="country-list-wrapper" [responsive]="true" [alwaysShowPaginator]="false"
        [rows]="10" sortField="id" [sortOrder]="-1" columnResizeMode="expand">
        <ng-template pTemplate="header">
          <tr>
            <!-- <th>Service No.</th> -->
            <th>Service Name</th>
            <th>Service Type</th>
            <th>Service Pricing</th>
            <!-- <th>Status</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-service>
          <tr>

            <td>
              <span class="ui-column-title">Service Name</span>{{service.service_name}}
            </td>
            <td>
              <span class="ui-column-title">Service Type</span>
              {{service.type}}
            </td>
            <td>
              <span class="ui-column-title">Service Pricing</span>
              {{service.servicePricing[0] == null ? '-' : service.servicePricing[0].price+" "+service.servicePricing[0].currency}}

            </td>
            <!-- <td><span class="ui-column-title">Status</span>{{service.status}}</td> -->
          </tr>

        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center text-danger font-weight-600" colspan="8">No Records Found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>
</div>
