.form-group {
    flex-basis: 40%;
    margin-bottom: 0;
}

.heading-wrapper {
    p {
        font-size: 16px;
        color: #b3b0b0;
        font-weight: 500;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
}

.request-repair-wrapper {
    .card {
        padding:0 !important;
    }
}

.request-details-block {
    padding:0 16px 24px;
}