<div class="wrapper accounts-details-wrapper">
    <!-- heading details wrapper -->
    <div class="col-sm-10 heading-flex-wrapper">
        <app-heading-wrapper></app-heading-wrapper>
        <div class="display-flex align-center heading-toggle-switch">
            <!-- edit and back button -->
            <div (click)="previousPage()">
                <a class="border-button-small">Back</a>
            </div>
        </div>
    </div>
    <!-- card wrapper -->
    <div class="card col-sm-10">
        <form [formGroup]="accountDetailsForm" (ngSubmit)="onSubmit()" class="account-form-wrapper">
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="filter-text">Start Date</p>
                    <div class="prime-calender-wrapper">
                        <p-calendar [(ngModel)]="dateValue1" formControlName="start_date" placeholder="Start Date"
                            [maxDate]="dateValue2" showIcon="true" [readonlyInput]="true"
                            (onSelect)="changeDatePicker()" (onClearClick)="changeDatePicker()"
                            (onTodayClick)="changeDatePicker()" showButtonBar="true">
                        </p-calendar>
                    </div>
                </div>
                <div class="form-block">
                    <p class="filter-text">End Date</p>
                    <div class="prime-calender-wrapper">
                        <p-calendar [(ngModel)]="dateValue2" formControlName="end_date" placeholder="End Date"
                            [minDate]="dateValue1" showIcon="true" (onSelect)="changeDatePicker()"
                            (onClearClick)="changeDatePicker()" (onTodayClick)="changeDatePicker()"
                            [readonlyInput]="true" showButtonBar="true">
                        </p-calendar>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Name</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{driver}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Total Balance</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{balance}} {{currency}}</p>
                    </div>
                </div>
            </div>
        </form>

        <!-- table wrapper starts -->
        <div class="table-wrapper">
            <p-table [value]="accountDetailsData" styleClass="country-list-wrapper" [responsive]="true"
                [paginator]="true" [alwaysShowPaginator]="false" [rows]="10" sortField="title" [sortOrder]="1">

                <ng-template pTemplate="header">
                    <tr>
                        <th>Date</th>
                        <th>Message</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-account>
                    <tr>
                        <td>
                            <span class="ui-column-title">Date</span>
                            {{account.created_at | date : 'mediumDate'}}
                        </td>
                        <td>
                            <span class="ui-column-title">
                            </span>

                            <span *ngIf="account.debit_type == ''">Amount Credited </span>
                            <span *ngIf="account.debit_type == 'fuel'">Debited for Fuel </span>
                            <span *ngIf="account.debit_type == 'fine'">Debited for Fine </span>
                            <span *ngIf="account.debit_type == 'salik'">Debited for Salik </span>
                        </td>
                        <td>
                            <span class="ui-column-title">Amount</span>
                            {{account.account_type != 'credit' ? '-' : ''}}{{account.amount | number :'1.2-2'}}
                            {{currency}}
                        </td>
                        <td>
                            <span class="ui-column-title">Action</span>
                            <span class="text-capitalize font-weight-600"
                                [ngClass]="(account.account_type == 'credit') ? 'text-green' : 'text-red'">
                                {{account.account_type+"ed"}}
                            </span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center text-danger font-weight-600" colspan="4">No Fuel Expenditure</td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
        <!-- table wrapper ends -->
    </div>
</div>