<div class="wrapper">
  <div class="col-sm-8 heading-flex-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <!-- <div class="display-flex align-center heading-toggle-switch dropdown-status-wrapper">
        <p-dropdown optionLabel="name" [options]="status" [(ngModel)]="selectedStatus" dropdownIcon="fa fa-chevron-down"
          styleClass="prime-dropdown-wrapper" styleClass="prime-dropdown-status">
          <ng-template let-fs pTemplate="item">
            <div class="option-row">
              <div>
                <span
                  [ngClass]="{'active-circle': fs.value.name == 'Active', 'warning-circle': fs.value.name == 'Blocked'}"></span>
                {{fs.value.name}}
              </div>
            </div>
          </ng-template>
          <ng-template let-fs pTemplate="selectedItem">
            <div class="option-row">
              <div>
                <span
                  [ngClass]="{'active-circle': fs.value.name == 'Active', 'warning-circle': fs.value.name == 'Blocked'}"></span>
                {{fs.value.name}}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
  
        <div *ngIf="currentUrl != '/vendor/driver-edit/'" [routerLink]="['../../driver-edit', id]">
          <a class="border-button-small">Edit</a>
        </div>
      </div> -->
  </div>
  <!-- form wrapper  -->
  <div class="col-sm-8 card form-card-wrapper">
    <div class="padding-top-24">
      <p class="form-grey-text font-size-16 text-uppercase">Basic Information</p>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">First Name</p>
        <div class="form-search-input">
          <p class="form-view-text">Ritik</p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">Last Name</p>
        <div class="form-search-input">
          <p class="form-view-text">Nieves</p>
        </div>
      </div>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">Email ID</p>
        <div class="form-search-input">
          <p class="form-view-text">ritik.nieves@gmail.com</p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">Contact Number</p>
        <div class="form-search-input">
          <p class="form-view-text">+91-9876-543210</p>
        </div>
      </div>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">Country</p>
        <div class="form-search-input">
          <p class="form-view-text">Dubai</p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">State</p>
        <div class="form-search-input">
          <p class="form-view-text">Abu Dhabi</p>
        </div>
      </div>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">City</p>
        <div class="form-search-input">
          <p class="form-view-text">Abu Dhabi</p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">Address 1</p>
        <div class="form-search-input">
          <p class="form-view-text">Box No. 13074</p>
        </div>
      </div>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">Address 2</p>
        <div class="form-search-input">
          <p class="form-view-text">-</p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">Postal Code</p>
        <div class="form-search-input">
          <p class="form-view-text">13074</p>
        </div>
      </div>
    </div>
    <div class="padding-top-24">
      <div class="form-block">
        <p class="form-grey-text">License Document</p>
        <div class="form-search-input">
          <p class="form-view-text">-</p>
        </div>
      </div>
    </div>
    <div class="padding-top-24">
      <div class="form-block">
        <p class="form-grey-text">Passport Document</p>
        <div class="form-search-input">
          <p class="form-view-text">-</p>
        </div>
      </div>
    </div>
    <div class="padding-top-24">
      <div class="form-block">
        <p class="form-grey-text">Tollgate Document</p>
        <div class="form-search-input">
          <p class="form-view-text">-</p>
        </div>
      </div>
    </div>
    <div class="padding-top-24 separator-line">
    </div>
    <div class="padding-top-24">
      <p class="form-grey-text font-size-16 text-uppercase">Vehicle Information</p>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block">
        <p class="form-text">Vehicle Number</p>
        <div class="form-search-input form-small-input">
          <p class="form-view-text">F 65022</p>
        </div>
      </div>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">Brand</p>
        <div class="form-search-input">
          <p class="form-view-text">Hero</p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">Model</p>
        <div class="form-search-input">
          <p class="form-view-text">Sportz</p>
        </div>
      </div>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">Engine Number</p>
        <div class="form-search-input">
          <p class="form-view-text">2394780294</p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">Starting Mechanism</p>
        <div class="form-search-input">
          <p class="form-view-text">Self-start and Kick both</p>
        </div>
      </div>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">Tyre Type</p>
        <div class="form-search-input">
          <p class="form-view-text">Sports</p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">Wheel Type</p>
        <div class="form-search-input">
          <p class="form-view-text">Rim Wheels</p>
        </div>
      </div>
    </div>
    <div class="padding-top-24">
      <div class="form-block">
        <p class="form-grey-text">Stroke Type</p>
        <div class="form-search-input">
          <p class="form-view-text">4 Stroke</p>
        </div>
      </div>
    </div>
    <div class="padding-top-24">
      <div class="form-block">
        <p class="form-grey-text">Documents</p>
        <div class="form-search-input">
          <p class="form-view-text">-</p>
        </div>
      </div>
    </div>
    <div class="padding-top-24">
      <div class="form-block">
        <p class="form-grey-text">Vehicle Images</p>
        <div class="form-search-input">
          <p class="form-view-text">-</p>
        </div>
      </div>
    </div>
  </div>
</div>