<div class="wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"
      [placeHolderText]="'Search Driver Name'"></app-search>
    <i class="note"><span class="text-red">Highlighted</span> text indicates pending approvals for debited amount</i>
  </div>

  <!-- table wrapper -->
  <div class="table-wrapper">
    <p-table [value]="accountList" styleClass="country-list-wrapper prime-colspan-wrapper" [lazy]="true"
      [responsive]="true" [paginator]="true" [totalRecords]="total" [alwaysShowPaginator]="false"
      (onLazyLoad)="paginate($event)" [rows]="10" sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>
          <th rowspan="2">Driver Name</th>
          <th rowspan="2">
            Account Credits
          </th>
          <th colspan="3" class="table-border">Account Debit</th>
          <th rowspan="2">Account Balance</th>
          <th rowspan="2">Action</th>
        </tr>
        <tr>
          <th class="table-border">
            Fuel
          </th>
          <th class="table-border">Police Fine</th>
          <th class="table-border">Salik</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-account>
        <tr>
          <td [ngClass]="{'text-red': account.fuel_accounts.length > 0 || account.police_fine.length > 0}">
            <span class="ui-column-title">Driver Name</span>
            <span class="text-capitalize">
              {{account.first_name}} {{account.last_name}}
            </span>
          </td>
          <td>
            <span class="ui-column-title">Account Credits</span>
            {{(account.accountsUser.length > 0 ? account.accountsUser[0].credited : 0)| number : '1.2-2'}}
            {{account.countries.currency}}
            <span class="pencil-icon" (click)="openAccountDialog(account, 'credit')">
              <i class="fa fa-plus"></i>
            </span>
          </td>
          <td class="table-border" [ngClass]="{'text-red': account.fuel_accounts.length > 0}">
            <span class="ui-column-title">Fuel</span>
            {{(account.accountsUser.length > 0 ? account.accountsUser[0].fuel_amount : 0) | number : '1.2-2'}}
            {{account.countries.currency}}
            <span class="pencil-icon" (click)="openAccountDialog(account, 'fuel')">
              <i class="fa fa-plus"></i>
            </span>
          </td>
          <td class="table-border" [ngClass]="{'text-red': account.police_fine.length > 0}">
            <span class="ui-column-title">Police Fine</span>
            {{(account.accountsUser.length > 0 ? account.accountsUser[0].fine_amount : 0 ) | number : '1.2-2'}}
            {{account.countries.currency}}
            <span class="pencil-icon" (click)="openAccountDialog(account, 'fine')">
              <i class="fa fa-plus"></i>
            </span>
          </td>
          <td class="table-border">
            <span class="ui-column-title">Salik</span>
            {{(account.accountsUser.length > 0 ? account.accountsUser[0].salik_amount : 0) | number : '1.2-2'}}
            {{account.countries.currency}}
            <span class="pencil-icon" (click)="openAccountDialog(account, 'salik')">
              <i class="fa fa-plus"></i>
            </span>
          </td>
          <td>
            <span class="ui-column-title">
              Account Balance
            </span>
            {{(account.accountsUser.length > 0 ? (account.accountsUser[0].credited - account.accountsUser[0].debited) : 0)| number : '1.2-2'}}
            {{account.countries.currency}}
          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../details', _utility.base64Encode(account.user_id)]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="7">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- account credit dialog starts -->
<p-dialog header="Account Credit" [(visible)]="accountCreditDisplay" [modal]="true" [responsive]="true"
  [closeOnEscape]="false" [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false"
  appendTo="body" styleClass="prime-modal-dialog prime-account-dialog" (onHide)="resetForm()">
  <div>
    <!-- driver name wrapper -->
    <div class="driver-name-wrapper">
      <p class="form-view-text">{{driverName}}</p>
    </div>
    <!-- account credit form -->
    <form [formGroup]="accountCreditForm" (ngSubmit)="onSubmit()">
      <div>
        <p class="modal-text">Account Credit</p>

        <div class="modal-search-input">
          <input type="text" placeholder="account credit" name="credit" formControlName="amount"
            (keydown)="_utility.onInputValidator($event, true)"
            [class.is-invalid]="(creditForm.amount.errors  && (creditForm.amount.dirty || creditForm.amount.touched) && isSubmitted) || (creditForm.amount.errors  && (creditForm.amount.dirty || creditForm.amount.touched))" />
          <div
            *ngIf="(((creditForm.amount.hasError('required') || creditForm.amount.hasError('whitespace'))  && (creditForm.amount.dirty || creditForm.amount.touched)) && isSubmitted) || ((creditForm.amount.hasError('required') || creditForm.amount.hasError('whitespace'))  && (creditForm.amount.dirty || creditForm.amount.touched)) || (creditForm.amount.dirty || creditForm.amount.touched)"
            [ngClass]="(creditForm.amount.valid) ? 'display-none' : 'error'">
            Please enter account credit value.
          </div>
        </div>
      </div>
      <p-footer>
        <div class="modal-flex-button padding-top-32">
          <button type="reset" (click)="resetForm()" class="modal-border-button">Cancel</button>
          <button type="submit" class="modal-button-wrapper">Credit Amount</button>
        </div>
      </p-footer>
    </form>
  </div>
</p-dialog>
<!-- account credit dialog ends -->

<!-- fuel dialog starts -->
<p-dialog header="{{dialogName}}" [(visible)]="fuelDialogDisplay" [modal]="true" [responsive]="true"
  [closeOnEscape]="false" [style]="{width: '500px', minWidth: '200px'}" [minY]="70" [maximizable]="false"
  appendTo="body" styleClass="prime-modal-dialog prime-fuel-dialog" (onHide)="resetForm()">

  <div>
    <!-- driver name wrapper -->
    <div class="driver-name-wrapper">
      <p class="form-view-text">{{driverName}}</p>
    </div>

    <!-- table wrapper -->
    <div class="fuel-table-wrapper">
      <form [formGroup]="accountDebitForm">
        <div class="table-wrapper">
          <p-table [value]="fuelData" styleClass="country-list-wrapper fuel-list-wrapper" [responsive]="true"
            [paginator]="true" [alwaysShowPaginator]="false" [rows]="10" sortField="title" [sortOrder]="1">
            <ng-template pTemplate="header">
              <tr>
                <th>Amount</th>
                <th>Receipt</th>
                <th>Approve</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-fuel>
              <tr>
                <td>
                  <span class="ui-column-title">Amount</span>
                  <input type="text" value="{{fuel?.cost}}" #fuelInput class="amount-input-wrapper"
                    placeholder="Enter Amt." />
                </td>
                <td>
                  <span class="ui-column-title">Receipt</span>
                  <span class="table-image-wrapper">
                    <img [src]="fuel.image || 'assets/project-images/profile-image-new2.svg'" alt="fuel table image" />
                  </span>
                </td>
                <td>
                  <button type="submit" class="approve-button-wrapper"
                    (click)="onDebitSubmit(fuel, fuelInput.value, formTypeDebit)">Approve
                  </button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td class="text-center text-danger font-weight-600" colspan="3">No Records Found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </form>
    </div>
  </div>
</p-dialog>
<!-- fuel dialog ends -->

<!-- salik dialog starts -->
<p-dialog header="Salik Gateway" [(visible)]="salikDialogDisplay" [modal]="true" [responsive]="true"
  [closeOnEscape]="false" [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false"
  appendTo="body" styleClass="prime-modal-dialog prime-account-dialog" (onHide)="resetSalikForm()">
  <div>

    <!-- driver name wrapper -->
    <div class="driver-name-wrapper">
      <p class="form-view-text">{{driverName}}</p>
    </div>

    <!-- salik gateway form -->
    <form [formGroup]="salikForm" (ngSubmit)="salikFormSubmit()">
      <div>
        <p class="modal-text">Salik Gateway</p>
        <div class="modal-search-input">
          <input type="text" placeholder="Salik Gateway" name="amount" formControlName="amount"
            (keydown)="_utility.onInputValidator($event, true)"
            [class.is-invalid]="(salikModule.amount.errors  && (salikModule.amount.dirty || salikModule.amount.touched) && isSubmitted) || (salikModule.amount.errors  && (salikModule.amount.dirty || salikModule.amount.touched))" />
          <div
            *ngIf="(((salikModule.amount.hasError('required') || salikModule.amount.hasError('whitespace'))  && (salikModule.amount.dirty || salikModule.amount.touched)) && isSubmitted) || ((salikModule.amount.hasError('required') || salikModule.amount.hasError('whitespace'))  && (salikModule.amount.dirty || salikModule.amount.touched)) || (salikModule.amount.dirty || salikModule.amount.touched)"
            [ngClass]="(salikModule.amount.valid) ? 'display-none' : 'error'">
            Please enter salik geteway value.
          </div>
        </div>
      </div>
      <p-footer>
        <div class="modal-flex-button padding-top-32">
          <button type="reset" (click)="resetSalikForm()" class="modal-border-button">Cancel</button>
          <button type="submit" class="modal-button-wrapper">Add</button>
        </div>
      </p-footer>
    </form>
  </div>
</p-dialog>
<!-- salik dialog ends -->