.pencil-icon {
  cursor: pointer;
}

// prime fuel wrapper
::ng-deep .prime-fuel-dialog {
  .ui-dialog-content {
    padding: 0 !important;
    background: #f5f7fa;

    .driver-name-wrapper {
      padding-bottom: 20px;
      padding-left: 24px !important;

      .form-view-text {
        text-transform: capitalize;

      }
    }
  }
}

// prime account dialog
::ng-deep .prime-account-dialog {
  .ui-dialog-content {
    padding-top: 0 !important;

    .driver-name-wrapper {
      padding-bottom: 20px;

      .form-view-text {
        text-transform: capitalize;
      }
    }
  }
}

::ng-deep .fuel-list-wrapper {
  .ui-table-wrapper {
    table {
      tr {
        th {
          text-align: center !important;
        }

        td {
          text-align: center !important;
          // padding-left:35px !important;
          padding: 10px 10px 15px 20px !important;
        }
      }
    }
  }

  .ui-paginator-bottom {
    margin-top: 0 !important;
    padding: 10px 19px;
    text-align: center;
  }
}

.fuel-table-wrapper {
  margin-top: 15px;
}

.amount-input-wrapper {
  padding: 3px 0 3px 5px;
  width: 100%;
  border: 1px solid #e3e3e3;
  box-shadow: 0px 3px 5px #e5e5e5;
  border-radius: 3px;
}

.approve-button-wrapper {
  background: #F36E1D;
  color: #fff;
  border-radius: 3px;
}

::ng-deep .prime-colspan-wrapper {
  .text-red {
    // background-color: #FF586B !important;
    color: #FF586B !important;
    font-weight: 600 !important;

    &>td {
      // background: #FF586B !important;
      color: #FF586B !important;
      font-weight: 600 !important;

      .success {
        color: #FF586B !important;
        font-weight: 600 !important;
      }
    }

    &:nth-child(odd) {
      td {
        // background: #FF586B !important;
      }
    }
  }
}

.note {

  font-size: 0.9rem;
  font-weight: 500;

}
