<div class="wrapper">
  <!-- heading wrapper -->
  <div class="col-sm-8 heading-flex-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="display-flex align-center heading-toggle-switch">
      <div *ngIf="currentUrl != '/vendor/vendor-edit/'" [routerLink]="['../../edit', id]">
        <a class="border-button-small">Edit</a>
      </div>
    </div>
  </div>
  <!-- form details wrapper -->
  <div class="col-sm-8 card card-details-wrapper ">
    <ng-container *ngIf="couponDetailsData">
      <div class="form-card-wrapper">
        <div class="display-flex padding-top-24">
        </div>
        <div class="display-flex padding-top-24">
          <div class="form-block padding-right-32">
            <p class="form-grey-text">Message</p>
            <div class="form-search-input">
              <p class="form-view-text">{{couponDetailsData.description}} </p>
            </div>
          </div>
          <div class="form-block">
            <p class="form-grey-text">Discount value (in percent) </p>
            <div class="form-search-input">
              <p class="form-view-text">{{couponDetailsData.discount_in_percent}}</p>
            </div>
          </div>
        </div>
        <div class="display-flex padding-top-24">
          <div class="form-block padding-right-32">
            <p class="form-grey-text">Start Date</p>
            <div class="form-search-input">
              <p class="form-view-text">
                {{(couponDetailsData.start_date == null) ? '-' : couponDetailsData.start_date}}
              </p>
            </div>
          </div>
          <div class="form-block">
            <p class="form-grey-text">End Date </p>
            <div class="form-search-input">
              <p class="form-view-text">{{couponDetailsData.expired_on}}</p>
            </div>
          </div>
        </div>
        <div class="display-flex padding-top-24">
          <div class="form-block">
            <p class="form-grey-text">Coupon code</p>
            <div class="form-search-input">
              <p class="form-view-text">{{couponDetailsData.coupon_code}}</p>
            </div>
          </div>
        </div>
        <div class="display-flex padding-top-24">
          <div class="form-block padding-right-32">
            <p class="form-grey-text">Coupon Images</p>
            <div class="form-search-input">
              <p class="form-view-text">{{couponDetailsData.coupon_image}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
