<div class="wrapper maintenance">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">
    <app-search
      (keyEvent)="searchText($event)"
      (clearEvent)="clearInput($event)"
    ></app-search>
    <div class="display-flex">
      <div class="filter-icon-wrapper display-block" (click)="showFilter()">
        <div class="filter-card-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            id="Capa_1"
            x="0px"
            y="0px"
            width="512px"
            height="512px"
            viewBox="0 0 459 459"
            style="enable-background: new 0 0 459 459;"
            xml:space="preserve"
            class=""
          >
            <g>
              <g>
                <g id="filter">
                  <path
                    d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000"
                    class="active-path"
                    data-old_color="#000000"
                    fill="#8F8F8F"
                  />
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="table-wrapper">
    <p-table
      [value]="requestVehicleData"
      styleClass="country-list-wrapper"
      [lazy]="true"
      [responsive]="true"
      [paginator]="true"
      [totalRecords]="total"
      [alwaysShowPaginator]="false"
      (onLazyLoad)="paginate($event)"
      [rows]="10"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 12em;">Request No.</th>
          <th style="width: 10em;">Business Name</th>
          <th style="width: 10em;">No. Of Vehicles</th>
          <th style="width: 13em;">Requested passed on</th>
          <th style="width: 15em;">Requested completed on</th>
          <th style="width: 15em;">Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request let-i="rowIndex">
        <tr>
          <td>
            <span class="ui-column-title">Request Number</span
            >{{ request.request_number }}
          </td>
          <td>
            <span class="ui-column-title">Business Name</span
            >{{ request.Business.business_name }}
          </td>
          <td>
            <span class="ui-column-title">No. of vehicles requested</span
            >{{ request.requested_vehicle_count }}
          </td>
          <td>
            <span class="ui-column-title">Requested Raised on</span>
            {{ request.requested_on | date: "mediumDate" }}
          </td>
          <td>
            <span class="ui-column-title">Requested completed on</span>
            {{
              request.last_updated_on == null
                ? "-"
                : (request.last_updated_on | date: "mediumDate")
            }}
          </td>

          <td>
            <span class="ui-column-title">Status</span>
            <p-dropdown
              [options]="requestStatus"
              [disabled]="request.status != 'pending'"
              [(ngModel)]="selectedRequestStatus[i]"
              dropdownIcon="fa fa-chevron-down"
              styleClass="prime-dropdown-status prime-dropdown-table-status"
              (onChange)="onChange($event, request.request_id)"
            >
              <ng-template let-fs pTemplate="item">
                <div
                  class="option-row"
                  (click)="disableOptionClick(fs.value === 'pending')"
                >
                  <div [ngClass]="fs.value === 'pending' ? 'disabled' : ''">
                    <span
                      [ngClass]="{
                        'new-circle': fs.value == 'pending',
                        'outgoing-circle': fs.value == 'rejected',
                        'finished-circle': fs.value == 'finished',
                        'new-circle': fs.value == 'custom'
                      }"
                    >
                    </span>
                    {{ fs.label | lowercase }}
                  </div>
                </div>
              </ng-template>
              <ng-template let-fs pTemplate="selectedItem">
                <div
                  class="option-row"
                  (click)="disableOptionClick(fs.value === 'pending')"
                >
                  <div>
                    <span
                      [ngClass]="{
                        'new-circle': fs.value == 'pending',
                        'outgoing-circle': fs.value == 'rejected',
                        'finished-circle': fs.value == 'finished',
                        'new-circle': fs.value == 'custom'
                      }"
                    >
                    </span>
                    {{ fs.label | lowercase }}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="6">
            No Records Found.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<!-- Filter wrapper -->
<div *ngIf="isVisible" class="filter-wrapper" [@openClose]>
  <div class="filter-flex-wrapper flex-direction-row">
    <div>
      <h3 class="filter-title-text">Filter</h3>
    </div>
    <div (click)="closeFilter()">
      <i class="fa fa-times filter-close-icon"></i>
    </div>
  </div>
  <form
    [formGroup]="requestRepairForm"
    (ngSubmit)="onSubmit()"
    class="filter-form-wrapper"
  >
    <div class="filter-flex-wrapper">
      <div>
        <!-- request raised on -->
        <div>
          <p class="filter-text">Requested Raised On</p>
          <div class="prime-calender-wrapper">
            <p-calendar
              [(ngModel)]="requestedRaised"
              inputId="requestedRaised1"
              name="requestedRaised1"
              formControlName="requested_raised_on"
              placeholder="Requested Raised On"
              showIcon="true"
              [readonlyInput]="true"
              showButtonBar="true"
            >
            </p-calendar>
          </div>
        </div>

        <div class="padding-top-24">
          <p class="filter-text">Status</p>
          <p-dropdown
            [options]="status"
            dropdownIcon="fa fa-chevron-down"
            placeholder="Select Status"
            formControlName="status"
            [showClear]="true"
            styleClass="prime-dropdown-wrapper prime-dropdown-status"
            [class.is-invalid]="
              (requestRepairForm.controls['status'].hasError('required') &&
                requestRepairForm.controls['status'].touched) ||
              isSubmitted
            "
          >
            <ng-template let-fs pTemplate="item">
              <div class="option-row">
                <div>
                  <span
                    [ngClass]="{
                      'pending-circle': fs.value == 'Pending',
                      'outgoing-circle': fs.value == 'Rejected',
                      'finished-circle': fs.value == 'Finished'
                    }"
                  ></span>
                  {{ fs.value }}
                </div>
              </div>
            </ng-template>
            <ng-template let-fs pTemplate="selectedItem">
              <div class="option-row">
                <div>
                  <span
                    [ngClass]="{
                      'pending-circle': fs.value == 'Pending',
                      'outgoing-circle': fs.value == 'Rejected',
                      'finished-circle': fs.value == 'Finished'
                    }"
                  ></span>
                  {{ fs.value }}
                </div>
              </div>
            </ng-template>
          </p-dropdown>
          <div
            *ngIf="
              (requestRepairForm.controls['status'].hasError('required') &&
                (requestRepairForm.controls['status'].dirty ||
                  requestRepairForm.controls['status'].touched)) ||
              isSubmitted
            "
            [ngClass]="
              requestRepairForm.controls['status'].valid
                ? 'display-none'
                : 'error'
            "
          >
            Please select status.
          </div>
        </div>
      </div>

      <div class="filter-button-wrapper">
        <button type="submit" class="full-button-wrapper">Apply Filters</button>
        <button
          type="button"
          class="full-border-wrapper"
          (click)="clearFilter()"
        >
          Clear
        </button>
      </div>
    </div>
  </form>
</div>
