::ng-deep .prime-dropdown-status {
    // .ui-dropdown-item {
    //     padding: 0 !important;
    // }

    .disabled {
        // padding: 0 10px;
        color: #b1b1b1 !important;

        .new-circle {
            background: #b1b1b1 !important;
        }
    }


}