<div class="wrapper form-wrapper-spacing">
    <app-heading-wrapper></app-heading-wrapper>

    <!-- Form Wrapper -->
    <div class="col-sm-8 card form-card-wrapper">
        <form [formGroup]="couponForm" (ngSubmit)="onSubmit()">

            <!-- branch list section -->
            <div class="display-flex padding-top-24">
                <div class="form-block">
                    <p class="form-text">Branch List</p>
                    <!-- dropdown wrapper -->
                    <p-dropdown [options]="businessAreaList" placeholder="Select Branch" [showClear]="true" styleClass="prime-dropdown-wrapper" formControlName="business_branch_id" filter="true" [class.is-invalid]="couponModule.business_branch_id.errors  && (couponModule.business_branch_id.dirty || couponModule.business_branch_id.touched) && isSubmitted">
                    </p-dropdown>
                    <div *ngIf="(couponModule.business_branch_id.hasError('required') || couponModule.business_branch_id.hasError('whitespace')  && (couponModule.business_branch_id.touched || couponModule.business_branch_id.dirty)) && isSubmitted" [ngClass]="(couponModule.business_branch_id.valid) ? 'display-none' : 'error'">
                        Please select branch.
                    </div>
                </div>
            </div>

            <div class="display-flex padding-top-24">
                <!-- start date -->
                <div class="form-block padding-right-32">
                    <p class="form-text">Start Date*</p>
                    <div class="prime-calender-wrapper">
                        <p-calendar [(ngModel)]="startDate" formControlName="start_date" dateFormat="dd/mm/yy" [minDate]="today" [readonlyInput]="true" [showIcon]="true" placeholder="select start date" [class.is-invalid]="(couponModule.start_date.hasError('required') && couponModule.start_date.touched)  || isSubmitted">
                        </p-calendar>
                        <div *ngIf="(couponModule.start_date.hasError('required')  && (couponModule.start_date.dirty || couponModule.start_date.touched)) || isSubmitted" [ngClass]="(couponModule.start_date.valid) ? 'display-none' : 'error'">
                            Please select start date.
                        </div>
                    </div>
                </div>
                <!-- end date -->
                <div class="form-block">
                    <p class="form-text">End Date*</p>
                    <div class="prime-calender-wrapper">
                        <p-calendar [(ngModel)]="endDate" [readonlyInput]="true" formControlName="expired_on" dateFormat="dd/mm/yy" [showIcon]="true" placeholder="select end date" [class.is-invalid]="(couponModule.expired_on.hasError('required') && couponModule.expired_on.touched)  || isSubmitted">
                        </p-calendar>
                        <div *ngIf="(couponModule.expired_on.hasError('required')  && (couponModule.expired_on.dirty || couponModule.expired_on.touched)) || isSubmitted" [ngClass]="(couponModule.expired_on.valid) ? 'display-none' : 'error'">
                            Please select end date.
                        </div>
                    </div>
                </div>
            </div>

            <!-- message -->
            <div class="display-flex padding-top-24">
                <div class="form-block">
                    <p class="form-text">Message</p>
                    <div class="form-search-input">
                        <textarea placeholder="Enter coupon message" formControlName="description" [class.is-invalid]="(couponModule.description.errors  && (couponModule.description.dirty || couponModule.description.touched) && isSubmitted) || (couponModule.description.errors  && (couponModule.description.dirty || couponModule.description.touched))"></textarea>
                    </div>
                    <div *ngIf="(((couponModule.description.hasError('required') || couponModule.description.hasError('whitespace'))  && (couponModule.description.dirty || couponModule.description.touched)) && isSubmitted) || ((couponModule.description.hasError('required') || couponModule.description.hasError('whitespace'))  && (couponModule.description.dirty || couponModule.description.touched)) || (couponModule.description.dirty || couponModule.description.touched)"
                        [ngClass]="(couponModule.description.valid) ? 'display-none' : 'error'">
                        Please enter message.
                    </div>
                </div>
            </div>


            <div class="display-flex padding-top-24">
                <div class="form-block">
                    <p class="form-text">Coupon Code*</p>
                    <div class="form-search-input form-small-input display-flex">
                        <div>
                            <input type="text" value="" placeholder="Enter coupon code" formControlName="coupon_code" readonly />
                        </div>

                        <!-- button wrapper here -->
                        <div class="refresh-button-wrapper" [ngClass]="{'disabled-button-wrapper': (couponModule.coupon_id.value != null)}">
                            <button type="button" class="button-wrapper" (click)="refreshCode()">
                <span class="icon-refresh-button"></span>
              </button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="padding-top-24">
                <p class="form-text">Upload Coupon Images</p>
            </div>
            <div>
                <div class="file-upload-wrapper">

                    <!-- file upload wrapper here  -->
                    <div class="file-upload-wrapper file-wrapper">
                        <input name="reg-card-upload" #fileCouponImage type="file" value="" name="fileCouponObject[]" (click)="fileCouponImage.value = null" (change)="uploadImage($event, 'coupon_document')" accept=".jpg, .jpeg" maxsize="10000000" />
                        <span>
              <i class="icon-attachment"></i>
              Browse File
            </span>
                    </div>

                    <!-- image wrapper -->

                    <div *ngFor="let url of couponImageObject;let i=index" class="document-position-wrapper">
                        <img [src]="url || 'assets/project-images/thumbnail-image.svg'" />
                    </div>

                    <div *ngIf="(couponModule.coupon_image.invalid)" class="error">
                        <p *ngIf="(couponModule.coupon_image.hasError('required')&& (couponModule.coupon_image.dirty || couponModule.coupon_image.touched) && isSubmitted)">
                            File is required!
                        </p>
                        <p *ngIf="(couponModule.coupon_image.hasError('limit'))">
                            Limit exceeds. You can upload only 2 files.
                        </p>
                        <p *ngIf="(couponModule.coupon_image.hasError('pattern'))">
                            Only Images (png/jpeg/jpg) are allowed.
                        </p>
                        <p *ngIf="(couponModule.coupon_image.hasError('size'))">
                            Size exceeds. You can upload upto 2MB
                        </p>
                    </div>
                </div>
            </div>

            <div class="align-button-right">
                <button type="reset" (click)="resetForm()" class="border-button-wrapper margin-right-32">Cancel</button>
                <button type="submit" class="button-wrapper">{{buttonName}}</button>
            </div>
        </form>
    </div>
</div>

<!-- dialog starts -->
<p-dialog header="Image Viewer" [(visible)]="imageDisplayFlag" [modal]="true" [responsive]="true" [style]="{width: '46%', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body" styleClass="prime-modal-dialog">
    <div class="image-wrapper-block">
        <img [src]="imageUrl" alt="image viewer image">
    </div>
</p-dialog>
<!-- dialog ends -->