.form-small-input {
    width: 50%;
    &>div {
        margin-right:2em;
    }
    input[type=text] {
        width:100%;
        background: #efefef;
    }
}

.refresh-button-wrapper {
    .button-wrapper {
        min-width: auto;
        padding:6px 15px;
        &:hover {
            transition: 0.3s all ease-in;
            background: #FCB803;
        }
    }
    span {
        &:hover {
            background: transparent !important;
        }
    }
  
}

// .refresh-button-wrapper {
//     span {
//         &:hover {
//             background: transparent !important;
//         }
//     }
   
// }

.disabled-input {
     background: #efefef;
     pointer-events: none;
     cursor: text;
}

.disabled-button-wrapper {
    pointer-events: none;
    opacity: 0.5;
    // .button-wrapper {
    //     background: #dedede;
    //     span {
    //         background: #dedede;
    //         color: #b6b6b6;
    //     }
    // }
}

.align-button-right {
    padding-top: 30px;
}