<div class="wrapper maintenance">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">
    <app-search></app-search>
    <div class="display-flex">
      <div class="filter-icon-wrapper display-block" (click)="showFilter()">
        <!-- <i class="fa fa-filter card-icon"></i> -->
        <div class="filter-card-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459"
            style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
            <g>
              <g>
                <g id="filter">
                  <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#8F8F8F" />
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- Filter wrapper -->
  <div *ngIf="isVisible" class="filter-wrapper" [@openClose]>
    <div class="filter-flex-wrapper flex-direction-row">
      <div>
        <h3 class="filter-title-text">Filter</h3>
      </div>
      <div (click)="closeFilter()">
        <i class="fa fa-times filter-close-icon"></i>
      </div>
    </div>
    <form [formGroup]="maintenanceForm" (ngSubmit)="onSubmit()" class="filter-form-wrapper">
      <div class="filter-flex-wrapper">
        <div>
          <div>
            <p class="filter-text">Brand</p>
            <!-- <p-dropdown [options]="brands" [(ngModel)]="selectedBrand" placeholder="Select brand name"
                      optionLabel="name" [showClear]="true" styleClass="prime-dropdown-wrapper"></p-dropdown> -->
            <p-dropdown [options]="brands" formControlName="brand" placeholder="Select brand" [showClear]="true"
              styleClass="prime-dropdown-wrapper"
              [class.is-invalid]="(maintenanceForm.controls['brand'].hasError('required') && maintenanceForm.controls['brand'].touched)  || isSubmitted">
            </p-dropdown>
            <div
              *ngIf="(maintenanceForm.controls['brand'].hasError('required')  && (maintenanceForm.controls['brand'].dirty || maintenanceForm.controls['brand'].touched)) || isSubmitted"
              [ngClass]="(maintenanceForm.controls['brand'].valid) ? 'display-none' : 'error'">
              Please select brand.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">Model</p>
            <div class="filter-search-input">
              <input type="text" placeholder="Enter model name" formControlName="model"
                [class.is-invalid]="maintenanceForm.controls['model'].hasError('required') && isSubmitted" />
            </div>
            <div
              *ngIf="(maintenanceForm.controls['model'].hasError('required')  && (maintenanceForm.controls['model'].dirty || maintenanceForm.controls['model'].touched)) || isSubmitted"
              [ngClass]="(maintenanceForm.controls['model'].valid) ? 'display-none' : 'error'">
              Please enter modal.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">Last Service Range</p>
            <div class="input-flex-wrapper">
              <input type="text" class="filter-small-input" formControlName="serviceRangeOne"
                [class.is-invalid]="maintenanceForm.controls['serviceRangeOne'].hasError('required') && isSubmitted">
              and
              <input type="text" class="filter-small-input" formControlName="serviceRangeTwo"
                [class.is-invalid]="maintenanceForm.controls['serviceRangeTwo'].hasError('required') && isSubmitted">
            </div>
            <div
              *ngIf="((maintenanceForm.controls['serviceRangeOne'].hasError('required')  && (maintenanceForm.controls['serviceRangeOne'].dirty || maintenanceForm.controls['serviceRangeOne'].touched)) || isSubmitted) && ((maintenanceForm.controls['serviceRangeTwo'].hasError('required')  && (maintenanceForm.controls['serviceRangeTwo'].dirty || maintenanceForm.controls['serviceRangeTwo'].touched)) || isSubmitted)"
              [ngClass]="((maintenanceForm.controls['serviceRangeOne'].valid) && (maintenanceForm.controls['serviceRangeTwo'].valid)) ? 'display-none' : 'error'">
              Please enter ranges.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">Distance Range</p>
            <div class="input-flex-wrapper">
              <input type="text" class="filter-small-input" formControlName="distanceRangeOne"
                [class.is-invalid]="maintenanceForm.controls['distanceRangeOne'].hasError('required') && isSubmitted">
              and
              <input type="text" class="filter-small-input" formControlName="distanceRangeTwo"
                [class.is-invalid]="maintenanceForm.controls['distanceRangeTwo'].hasError('required') && isSubmitted">
            </div>
            <div
              *ngIf="((maintenanceForm.controls['distanceRangeOne'].hasError('required')  && (maintenanceForm.controls['distanceRangeOne'].dirty || maintenanceForm.controls['distanceRangeOne'].touched)) || isSubmitted) && ((maintenanceForm.controls['distanceRangeTwo'].hasError('required')  && (maintenanceForm.controls['distanceRangeTwo'].dirty || maintenanceForm.controls['distanceRangeTwo'].touched)) || isSubmitted)"
              [ngClass]="((maintenanceForm.controls['distanceRangeOne'].valid) && (maintenanceForm.controls['distanceRangeTwo'].valid)) ? 'display-none' : 'error'">
              Please enter ranges.
            </div>
            <!-- <div *ngIf="(maintenanceForm.controls['distanceRangeTwo'].hasError('required')  && (maintenanceForm.controls['distanceRangeTwo'].dirty || maintenanceForm.controls['distanceRangeTwo'].touched)) || isSubmitted"
                      [ngClass]="(maintenanceForm.controls['distanceRangeTwo'].valid) ? 'display-none' : 'error'">
                      Please enter service range.
                  </div> -->
          </div>
          <div class="padding-top-24">
            <p class="filter-text">Country</p>
            <!-- <p-dropdown [options]="countries" placeholder="Select country" optionLabel="name" [showClear]="true"
                      styleClass="prime-dropdown-wrapper"></p-dropdown> -->
            <p-dropdown [options]="countries" formControlName="country" placeholder="Select country" [showClear]="true"
              styleClass="prime-dropdown-wrapper"
              [class.is-invalid]="(maintenanceForm.controls['country'].hasError('required') && maintenanceForm.controls['country'].touched)  || isSubmitted">
            </p-dropdown>
            <div
              *ngIf="(maintenanceForm.controls['country'].hasError('required')  && (maintenanceForm.controls['country'].dirty || maintenanceForm.controls['country'].touched)) || isSubmitted"
              [ngClass]="(maintenanceForm.controls['country'].valid) ? 'display-none' : 'error'">
              Please select country.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">City</p>
            <!-- <p-dropdown [options]="cities" placeholder="Select city" optionLabel="name" [showClear]="true"
                      styleClass="prime-dropdown-wrapper"></p-dropdown> -->
            <p-dropdown [options]="cities" formControlName="city" placeholder="Select city" [showClear]="true"
              styleClass="prime-dropdown-wrapper"
              [class.is-invalid]="(maintenanceForm.controls['city'].hasError('required') && maintenanceForm.controls['city'].touched)  || isSubmitted">
            </p-dropdown>
            <div
              *ngIf="(maintenanceForm.controls['city'].hasError('required')  && (maintenanceForm.controls['city'].dirty || maintenanceForm.controls['city'].touched)) || isSubmitted"
              [ngClass]="(maintenanceForm.controls['city'].valid) ? 'display-none' : 'error'">
              Please select city.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">Status</p>
            <p-dropdown [options]="status" dropdownIcon="fa fa-chevron-down" formControlName="status"
              styleClass="prime-dropdown-wrapper prime-dropdown-status"
              [class.is-invalid]="(maintenanceForm.controls['status'].hasError('required') && maintenanceForm.controls['status'].touched)  || isSubmitted">
              <ng-template let-fs pTemplate="item">
                <div class="option-row">
                  <div>
                    <span
                      [ngClass]="{'pending-circle': fs.value == 'Pending', 'outgoing-circle': fs.value == 'Outgoing', 'finished-circle': fs.value == 'Finished' }"></span>
                    {{fs.value}}
                  </div>
                </div>
              </ng-template>
              <ng-template let-fs pTemplate="selectedItem">
                <div class="option-row">
                  <div>
                    <span
                      [ngClass]="{'pending-circle': fs.value == 'Pending', 'outgoing-circle': fs.value == 'Outgoing', 'finished-circle': fs.value == 'Finished' }"></span>
                    {{fs.value}}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <div
              *ngIf="(maintenanceForm.controls['status'].hasError('required')  && (maintenanceForm.controls['status'].dirty || maintenanceForm.controls['status'].touched)) || isSubmitted"
              [ngClass]="(maintenanceForm.controls['status'].valid) ? 'display-none' : 'error'">
              Please select status.
            </div>
          </div>
        </div>

        <!-- <div>
          <button type="submit" class="full-button-wrapper">Apply Filters</button>
        </div> -->

        <div class="filter-button-wrapper">
          <button type="submit" class="full-button-wrapper">Apply Filters</button>
          <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
        </div>

      </div>

    </form>

  </div>
  <!-- tabs wrapper -->
  <div class="tabs-wrapper">
    <p-tabMenu [model]="items" [activeItem]="activeItem" styleClass="prime-tabs-wrapper">
      <ng-template pTemplate="item" let-item let-i="index">
        <div (click)="getItem($event, i, item.label)">
          <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
          <div class="ui-menuitem-text">
            {{item.label}}
          </div>
        </div>
      </ng-template>
    </p-tabMenu>
  </div>

  <!--Current List-->
  <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'current'">
    <p-table [value]="currentList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="10" sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'brand'">Brand
            <p-sortIcon [field]="'brand'"></p-sortIcon>
          </th>
          <th>Model</th>
          <th>Registration</th>
          <th>Last Service</th>
          <th>Distance (KM)</th>
          <th>Location</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-current>
        <tr>
          <td><span class="ui-column-title">Brand</span>{{current.brand}}</td>
          <td><span class="ui-column-title">Model</span>{{current.model}}</td>
          <td><span class="ui-column-title">Registration</span>{{current.registration}}</td>
          <td><span class="ui-column-title">Last Service</span>{{current.lastService}}</td>
          <td><span class="ui-column-title">Distance (KM)</span>{{current.distance}}</td>
          <td><span class="ui-column-title">Location</span>{{current.location}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span
              [ngClass]="{'pending-circle': current.status == 'Pending', 'outgoing-circle': current.status == 'Outgoing', 'finished-circle': current.status == 'Finished' }"></span>
            <span class="text-capitalize">
              {{current.status}}
            </span>

          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../details', current.id]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!--Service List-->
  <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'service'">
    <p-table [value]="serviceList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="10" sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'brand'">Brand
            <p-sortIcon [field]="'brand'"></p-sortIcon>
          </th>
          <th>Model</th>
          <th>Registration</th>
          <th>Last Service</th>
          <th>Distance (KM)</th>
          <th>Location</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-service>
        <tr>
          <td><span class="ui-column-title">Brand</span>{{service.brand}}</td>
          <td><span class="ui-column-title">Model</span>{{service.model}}</td>
          <td><span class="ui-column-title">Registration</span>{{service.registration}}</td>
          <td><span class="ui-column-title">Last Service</span>{{service.lastService}}</td>
          <td><span class="ui-column-title">Distance (KM)</span>{{service.distance}}</td>
          <td><span class="ui-column-title">Location</span>{{service.location}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span
              [ngClass]="{'pending-circle': service.status == 'Pending', 'outgoing-circle': service.status == 'Outgoing', 'finished-circle': service.status == 'Finished' }"></span>
            <span class="text-capitalize">
              {{service.status}}
            </span>


          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../details', service.id]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!--Past List-->
  <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'past'">
    <p-table [value]="pastList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="2" sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>

          <th [pSortableColumn]="'brand'">Brand
            <p-sortIcon [field]="'brand'"></p-sortIcon>
          </th>
          <th>Model</th>
          <th>Registration</th>
          <th>Last Service</th>
          <th>Distance (KM)</th>
          <th>Location</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-past>
        <tr>
          <td><span class="ui-column-title">Brand</span>{{past.brand}}</td>
          <td><span class="ui-column-title">Model</span>{{past.model}}</td>
          <td><span class="ui-column-title">Registration</span>{{past.registration}}</td>
          <td><span class="ui-column-title">Last Service</span>{{past.lastService}}</td>
          <td><span class="ui-column-title">Distance (KM)</span>{{past.distance}}</td>
          <td><span class="ui-column-title">Location</span>{{past.location}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span
              [ngClass]="{'pending-circle': past.status == 'Pending', 'outgoing-circle': past.status == 'Outgoing', 'finished-circle': past.status == 'Finished' }"></span>
            <span class="text-capitalize">
              {{past.status}}
            </span>

          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../details', past.id]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>


</div>