<div class="wrapper vehicle-wrapper maintenance-wrapper">
  <!-- heading wrapper -->
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">
    <app-search
      (keyEvent)="searchText($event)"
      (clearEvent)="clearInput($event)"
      [placeHolderText]="'Search Requested No'"
    ></app-search>
    <div class="display-flex">
      <app-button-wrapper
        [buttonTitle]="'New Request'"
        (click)="openRequestDialog()"
      ></app-button-wrapper>
    </div>
  </div>

  <!-- table wrapper starts -->
  <div class="table-wrapper">
    <p-table
      [value]="vehicleList"
      styleClass="country-list-wrapper"
      [responsive]="true"
      [paginator]="true"
      [alwaysShowPaginator]="false"
      [rows]="10"
      [lazy]="true"
      [sortOrder]="1"
      (onLazyLoad)="paginate($event)"
      [totalRecords]="total"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Request Number</th>
          <th># Requested Vehicle</th>
          <th>Requested On</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vehicle>
        <tr>
          <td>
            <span class="ui-column-title">Request Number</span
            >{{ vehicle.request_number }}
          </td>
          <td>
            <span class="ui-column-title"># Requested Vehicle</span
            >{{ vehicle.requested_vehicle_count }}
          </td>
          <td>
            <span class="ui-column-title">Requested On</span
            >{{ vehicle.requested_on | date: "mediumDate" }}
          </td>
          <td>
            <span class="ui-column-title">Status</span>
            <span class="text-capitalize">
              {{ vehicle.status }}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="4">
            No Records Found.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- request for vehicle dialog starts -->
<p-dialog
  header="New Request"
  [(visible)]="requestDialogFlag"
  [modal]="true"
  [responsive]="true"
  [closeOnEscape]="false"
  [style]="{ width: '490px', minWidth: '200px' }"
  [minY]="70"
  [maximizable]="false"
  appendTo="body"
  styleClass="prime-modal-dialog"
  (onHide)="closeRequestDialog()"
>
  <form [formGroup]="requestDialogForm" (ngSubmit)="onRequestSubmit()">
    <div>
      <p class="modal-text">Request for Vehicle Quantity*</p>
      <div class="modal-search-input">
        <input
          type="text"
          placeholder="Enter vehicle"
          formControlName="requested_vehicle_count"
          [class.is-invalid]="
            (requestDialogModule.requested_vehicle_count.errors &&
              (requestDialogModule.requested_vehicle_count.dirty ||
                requestDialogModule.requested_vehicle_count.touched) &&
              isRequestSubmitted) ||
            (requestDialogModule.requested_vehicle_count.errors &&
              (requestDialogModule.requested_vehicle_count.dirty ||
                requestDialogModule.requested_vehicle_count.touched))
          "
        />
      </div>
      <div
        *ngIf="
          ((requestDialogModule.requested_vehicle_count.hasError('required') ||
            requestDialogModule.requested_vehicle_count.hasError(
              'whitespace'
            )) &&
            (requestDialogModule.requested_vehicle_count.dirty ||
              requestDialogModule.requested_vehicle_count.touched) &&
            isRequestSubmitted) ||
          ((requestDialogModule.requested_vehicle_count.hasError('required') ||
            requestDialogModule.requested_vehicle_count.hasError(
              'whitespace'
            )) &&
            (requestDialogModule.requested_vehicle_count.dirty ||
              requestDialogModule.requested_vehicle_count.touched)) ||
          requestDialogModule.requested_vehicle_count.dirty ||
            requestDialogModule.requested_vehicle_count.touched
        "
        [ngClass]="
          requestDialogModule.requested_vehicle_count.valid
            ? 'display-none'
            : 'error'
        "
      >
        Please enter vehicle.
      </div>
    </div>
    <p-footer>
      <div class="modal-flex-button padding-top-32">
        <button type="reset" (click)="resetForm()" class="modal-border-button">
          Cancel
        </button>
        <button type="submit" class="modal-button-wrapper">Add</button>
      </div>
    </p-footer>
  </form>
</p-dialog>
