.vehicle-wrapper {
    .filter-wrapper {
        position:fixed;
        top:-70px !important;
        height: 100%;
        overflow-y: scroll;
        min-height: unset;
        max-height: 725px !important;
    }
}