<div class="wrapper vehicle-wrapper">
  <!-- <div class="heading-wrapper">
    <h3>Inventory</h3>
  </div> -->
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper inventory-page">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"
      [placeHolderText]="'Search Brand/Model'"></app-search>
    <!-- Search wrapper -->
    <!-- Filter wrapper -->
    <div class="display-flex">
      <div class="filter-icon-wrapper" (click)="showFilter()">
        <!-- <i class="fa fa-filter card-icon"></i> -->
        <div class="filter-card-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459"
            style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
            <g>
              <g>
                <g id="filter">
                  <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#8F8F8F" />
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- Inventory table  -->
  <!-- <app-table-wrapper></app-table-wrapper> -->
  <div class="table-wrapper">
    <p-table [value]="inventory" styleClass="country-list-wrapper" [paginator]="true" [lazy]="true"
      [alwaysShowPaginator]="false" [rows]="10" (onLazyLoad)="paginate($event)" [totalRecords]="total" [rows]="10"
      [responsive]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>S.No.
          </th>
          <th>Brand</th>
          <th>Model</th>
          <th>City/Country</th>
          <th>Quantity</th>
          <th>OnLease</th>
          <th>Available</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-inventory let-i="rowIndex">
        <tr>
          <td><span class="ui-column-title">S.No.</span>{{i+1}}</td>
          <td class="text-capitalize"><span class="ui-column-title">Brand</span>{{inventory.vehicle_brand.brand_name}}
          </td>
          <td class="text-capitalize">
            <span class="ui-column-title">Model</span>
            {{inventory.vehicle_model.model_name}}
          </td>
          <td class="text-capitalize">
            <span class="ui-column-title">City/Country</span>
            {{inventory.cities.city}}, {{inventory.countries.country}}
          </td>
          <td>
            <span class="ui-column-title">Quantity</span>
            {{(inventory.on_lease*1)+(inventory.quantity*1)}}
          </td>
          <td>
            <span class="ui-column-title">OnLease</span>
            {{inventory.on_lease}}
          </td>
          <td>
            <span class="ui-column-title">Available</span>
            {{inventory.quantity}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="7">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>

<div *ngIf="isVisible" class="filter-wrapper" [@openClose] style="max-height: 100%; ">

  <div class="filter-flex-wrapper flex-direction-row">
    <div>
      <h3 class="filter-title-text">Filter</h3>
    </div>
    <div (click)="closeFilter()">
      <i class="fa fa-times filter-close-icon"></i>
    </div>
  </div>
  <form [formGroup]="vehicleFilterForm" (ngSubmit)="onSubmit()" class="filter-form-wrapper">
    <div class="filter-flex-wrapper">
      <div>
        <div>
          <p class="filter-text">Brand</p>
          <p-dropdown [options]="brands" formControlName="brand" placeholder="Select brand" [showClear]="true"
            styleClass="prime-dropdown-wrapper" (onChange)="filterModelOnBrandChange()"
            [class.is-invalid]="(vehicleFilterForm.controls['brand'].hasError('required') && vehicleFilterForm.controls['brand'].touched)  || isSubmitted">
          </p-dropdown>
        </div>
        <div class="padding-top-24">
          <p class="filter-text">Model</p>
          <p-dropdown [options]="models" formControlName="model" placeholder="Select model" [showClear]="true"
            styleClass="prime-dropdown-wrapper" [disabled]="models.length==0"
            [class.is-invalid]="(vehicleFilterForm.controls['model'].hasError('required') && vehicleFilterForm.controls['model'].touched)  || isSubmitted">
          </p-dropdown>
        </div>
        <div class="padding-top-24">
          <p class="filter-text">Usage Status</p>
          <p-dropdown [options]="usageStatus" formControlName="usage" placeholder="Usage Status" [showClear]="true"
            styleClass="prime-dropdown-wrapper"
            [class.is-invalid]="(vehicleFilterForm.controls['model'].hasError('required') && vehicleFilterForm.controls['model'].touched)  || isSubmitted">
          </p-dropdown>
        </div>
        <div class="padding-top-24">
          <p class="filter-text">Country</p>

          <p-dropdown [options]="countries" formControlName="country" placeholder="Select country" [showClear]="true"
            styleClass="prime-dropdown-wrapper" (onChange)="filtercities(vehicleFilterForm.value.country)"
            [class.is-invalid]="(vehicleFilterForm.controls['country'].hasError('required') && vehicleFilterForm.controls['coubtry'].touched)  || isSubmitted">
          </p-dropdown>
        </div>
        <div class="padding-top-24">
          <p class="filter-text">City</p>

          <p-dropdown [options]="cities" formControlName="city" placeholder="Select city" [showClear]="true"
            [disabled]="cities.length == 0" styleClass="prime-dropdown-wrapper"
            [class.is-invalid]="(vehicleFilterForm.controls['city'].hasError('required') && vehicleFilterForm.controls['city'].touched)  || isSubmitted">
          </p-dropdown>
        </div>
        <div class="padding-top-24">
          <p class="filter-text">Price</p>
          <div>
            <input type="text" class="filter-small-input" formControlName="priceFrom" placeholder="0"
              [class.is-invalid]="vehicleFilterForm.controls['priceFrom'].hasError('required') && isSubmitted">
            &nbsp; to &nbsp;
            <input type="text" class="filter-small-input" formControlName="priceTo" placeholder="10000"
              [class.is-invalid]="vehicleFilterForm.controls['priceTo'].hasError('required') && isSubmitted">
          </div>
          <div
            *ngIf="((vehicleFilterForm.controls['priceFrom'].hasError('required')  && (vehicleFilterForm.controls['priceFrom'].dirty || vehicleFilterForm.controls['priceFrom'].touched)) || isSubmitted) && ((vehicleFilterForm.controls['priceTo'].hasError('required')  && (vehicleFilterForm.controls['priceTo'].dirty || vehicleFilterForm.controls['priceTo'].touched)) || isSubmitted)"
            [ngClass]="((vehicleFilterForm.controls['priceFrom'].valid) && (vehicleFilterForm.controls['priceTo'].valid)) ? 'display-none' : 'error'">
            Please enter prices.
          </div>
        </div>
      </div>
      <div class="filter-button-wrapper">
        <button type="submit" class="full-button-wrapper">Apply Filters</button>
        <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
      </div>

    </div>
  </form>
</div>
