@font-face {
    font-family: 'icomoon';
    src:  url('assets/icon/icomoon.eot?3n6kwd');
    src:  url('assets/icon/icomoon.eot?3n6kwd#iefix') format('embedded-opentype'),url('assets/icon/icomoon.ttf?3n6kwd') format('truetype'), url('assets/icon/icomoon.woff?3n6kwd') format('woff'), url('assets/icon/icomoon.svg?3n6kwd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 .icon-bell-blue:before {
   content: "\e906";
   color: #2ba2d6;
 }

 .icon-bell-pink:before {
  content: "\e907";
  color: #f54f60;
}

.icon-bell-orange:before {
  content: "\e908";
  color: #f15221;
}
 .icon-refresh-button:before {
   content: "\e905";
 }
 .icon-arrow-down:before {
   content: "\e903";
 }
 .icon-arrow-up:before {
   content: "\e904";
 }
 .icon-Group-6 .path1:before {
   content: "\e901";
   color: rgb(255, 74, 74);
 }
 .icon-Group-6 .path2:before {
   content: "\e902";
   margin-left: -0.7783203125em;
   color: rgb(231, 52, 63);
 }
 .icon-attachment:before {
   content: "\e900";
   color: #3480ff;
 }
 .icon-history:before {
   content: "\e94d";
 }
 
  