<div class="wrapper">
  <div class="col-sm-8 heading-flex-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="display-flex align-center heading-toggle-switch dropdown-status-wrapper">
      <p-dropdown optionLabel="name" [options]="status" [(ngModel)]="selectedStatus" dropdownIcon="fa fa-chevron-down"
        styleClass="prime-dropdown-wrapper" styleClass="prime-dropdown-status">
        <ng-template let-fs pTemplate="item">
          <div class="option-row">
            <div>
              <span
                [ngClass]="{'pending-circle': fs.value.name == 'Pending', 'outgoing-circle': fs.value.name == 'Outgoing', 'finished-circle': fs.value.name == 'Finished' }"></span>
              {{fs.value.name}}
            </div>
          </div>
        </ng-template>
        <ng-template let-fs pTemplate="selectedItem">
          <div class="option-row">
            <div>
              <span
                [ngClass]="{'pending-circle': fs.value.name == 'Pending', 'outgoing-circle': fs.value.name == 'Outgoing', 'finished-circle': fs.value.name == 'Finished' }"></span>
              {{fs.value.name}}
            </div>
          </div>
        </ng-template>
      </p-dropdown>

      <div (click)="showDialog()">
        <a class="border-button-yellow">Resolve</a>
      </div>
    </div>
  </div>
  <!-- form details wrapper -->
  <div class="col-sm-8 card card-details-wrapper ">
    <div class="form-card-wrapper">
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Brand</p>
          <div class="form-search-input">
            <p class="form-view-text">Bajaj</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Model</p>
          <div class="form-search-input">
            <p class="form-view-text">Pulsar 135</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Engine No.</p>
          <div class="form-search-input">
            <p class="form-view-text">254334 </p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Registration </p>
          <div class="form-search-input">
            <p class="form-view-text">MP 04 SS 2371</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Driver's Name</p>
          <div class="form-search-input">
            <p class="form-view-text">Alfredo Dawson </p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Driver's Email ID </p>
          <div class="form-search-input">
            <p class="form-view-text">alfredo.dawson@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Driver's Contact No.</p>
          <div class="form-search-input">
            <p class="form-view-text">+91-9876-543210</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Vendor's Name</p>
          <div class="form-search-input">
            <p class="form-view-text">Aubrey Casey</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Vendor's Email ID</p>
          <div class="form-search-input">
            <p class="form-view-text">aubrey.casey@gmail.com</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Vendor's Contact No.</p>
          <div class="form-search-input">
            <p class="form-view-text">+91-9876-543211</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Country</p>
          <div class="form-search-input">
            <p class="form-view-text">India</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">City</p>
          <div class="form-search-input">
            <p class="form-view-text">Bhopal</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Last Service</p>
          <div class="form-search-input">
            <p class="form-view-text">Engine repair</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Last Service Date</p>
          <div class="form-search-input">
            <p class="form-view-text">Jan 20, 2019</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block">
          <p class="form-grey-text">Description</p>
          <div class="form-search-input">
            <p class="form-view-text">Need brake change, since it is failed. Also need servicing and oil
              change.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- dialog starts -->
<p-dialog header="Description" [(visible)]="addDisplay" [modal]="true" [responsive]="true"
  [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body"
  styleClass="prime-modal-dialog" [closeOnEscape]="false" (onHide)="resetForm()">
  <form [formGroup]="maintenanceDetailsForm" (ngSubmit)="onSubmit()">
    <div>
      <p class="modal-text">Service Type *</p>
      <div class="prime-radio-wrapper">
        <p-radioButton name="group1" value="Service" label="Service" [(ngModel)]="selectedValue" inputId="opt1"
          formControlName="service">
        </p-radioButton>
        <p-radioButton name="group2" value="Part repair" label="Part repair" [(ngModel)]="selectedValue" inputId="opt1"
          styleClass="inactive-radio" formControlName="partRepair">
        </p-radioButton>
      </div>
    </div>
    <div class="padding-top-32">
      <p class="modal-text">Description</p>
      <div class="prime-textarea-input">
        <textarea rows="5" cols="58" pInputTextarea placeholder="Enter Description" autoResize="autoResize"
          formControlName="description"
          [class.is-invalid]="meForm.description.errors  && (meForm.description.dirty || meForm.description.touched) && isSubmitted"></textarea>

        <div
          *ngIf="(((meForm.description.hasError('required') || meForm.description.hasError('whitespace'))  && (meForm.description.touched || meForm.description.dirty)) && isSubmitted) || (meForm.description.hasError('required') && (meForm.description.touched || meForm.description.dirty))"
          class="error">
          Please enter description.
        </div>
        <div
          *ngIf="((meForm.description.hasError('maxlength')  && meForm.description.touched) && isSubmitted) || (meForm.description.hasError('maxlength') && (meForm.description.touched || meForm.description.dirty)) "
          class="error">
          Maximum of 200 characters
        </div>
      </div>
    </div>
    <p-footer>
      <div class="modal-flex-button padding-top-32">
        <button type="reset" (click)="resetForm()" class="modal-border-button">Cancel</button>
        <button type="submit" class="modal-button-wrapper">Update</button>
      </div>
    </p-footer>
  </form>
</p-dialog>