<div class="wrapper">
  <!-- coming soon wrapper  -->
  <section class="coming-soon-main">
    <!-- <img src="images/Dilvr-Landing-coming-soon.png" class="desktop" alt="coming soon image"> -->
    <img src="assets/img/landing/Dilvr-Landing-coming-soon.png" class="desktop" alt="coming soon image">
    <!-- <img src="images/Dilvr-Landing-coming-soon-mobile.png" class="mobile" alt="coming soon image"> -->
    <img src="assets/img/landing/Dilvr-Landing-coming-soon-mobile.png" class="mobile" alt="coming soon image">
  </section>

</div>