.coming-soon-main{
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../../../../assets/img/landing/landing-image.svg');

}
.coming-soon-main img{
    max-width: 100%;
    width: 100%;
}
.desktop{
        display: block;
    }
.mobile{
    display: none;
}
@media (max-width: 990px) {
     .coming-soon-main{
        text-align: center;
        padding: 35px;
    }
    .coming-soon-main img{
        max-width: 400px;
        margin: 0 auto;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        padding-top: 100px;
    }
}