<div class="wrapper">
  <div class="col-sm-8 heading-flex-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="display-flex align-center heading-toggle-switch dropdown-status-wrapper">
      <p-dropdown optionLabel="name" [options]="status" [(ngModel)]="selectedStatus" dropdownIcon="fa fa-chevron-down"
        styleClass="prime-dropdown-wrapper" styleClass="prime-dropdown-status">
        <ng-template let-fs pTemplate="item">
          <div class="option-row">
            <div>
              <span
                [ngClass]="{'pending-circle': fs.value.name == 'Pending', 'outgoing-circle': fs.value.name == 'Outgoing', 'finished-circle': fs.value.name == 'Finished' }"></span>
              {{fs.value.name}}
            </div>
          </div>
        </ng-template>
        <ng-template let-fs pTemplate="selectedItem">
          <div class="option-row">
            <div>
              <span
                [ngClass]="{'pending-circle': fs.value.name == 'Pending', 'outgoing-circle': fs.value.name == 'Outgoing', 'finished-circle': fs.value.name == 'Finished' }"></span>
              {{fs.value.name}}
            </div>
          </div>
        </ng-template>
      </p-dropdown>

      <div (click)="showDialog()">
        <a class="border-button-yellow">Resolve</a>
      </div>
      <!-- dialog starts -->
      <p-dialog header="Brake Fail is Resolved!" [(visible)]="addDisplay" [modal]="true" [responsive]="true"
        [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body"
        styleClass="prime-modal-dialog prime-dialog-repair">
        <div class="text-center">
          <p class="modal-grey-text">The request for ‘Brake Repair’ has been resolved.</p>
        </div>
        <p-footer>
          <div class="text-center modal-flex-center">
            <a (click)="addDisplay=false" class="modal-button-wrapper">Got it!</a>
          </div>
        </p-footer>
      </p-dialog>
    </div>
  </div>
  <!-- form details wrapper -->
  <div class="col-sm-8 card card-details-wrapper ">
    <div class="form-card-wrapper">
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Service Title</p>
          <div class="form-search-input">
            <p class="form-view-text">Brake fail</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Service Type</p>
          <div class="form-search-input">
            <p class="form-view-text">Brake change</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Priority</p>
          <div class="form-search-input display-flex align-center">
            <span class="high-priority"></span>
            <span class="form-view-text">High</span>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Vendor's Name </p>
          <div class="form-search-input">
            <p class="form-view-text">Aubrey Casey</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Vendor's Email ID</p>
          <div class="form-search-input">
            <p class="form-view-text">aubrey.casey@gmail.com</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Vendor's Contact No.</p>
          <div class="form-search-input">
            <p class="form-view-text">+91-9876-543211</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Country</p>
          <div class="form-search-input">
            <p class="form-view-text">India</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">City</p>
          <div class="form-search-input">
            <p class="form-view-text">Bhopal</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block">
          <p class="form-grey-text">Description</p>
          <div class="form-search-input">
            <p class="form-view-text">Need brake change, since it is failed. Also need servicing and oil change.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>