<div class="wrapper vehicle-wrapper form-wrapper-block coupon-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="search-flex-wrapper">
        <!-- search wrapper -->
        <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)" [placeHolderText]="'Search Coupon Code'"></app-search>

        <div class="display-flex">
            <div class="filter-icon-wrapper" (click)="showFilter()">
                <!-- <i class="fa fa-filter card-icon"></i> -->
                <div class="filter-card-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
            <g>
              <g>
                <g id="filter">
                  <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#8F8F8F" />
                </g>
              </g>
            </g>
          </svg>
                </div>
            </div>
        </div>
    </div>

    <!-- table wrapper -->
    <div class="table-wrapper">
        <p-table [value]="couponData" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true" [lazy]="true" (onLazyLoad)="paginate($event)" [alwaysShowPaginator]="false" [rows]="10" sortField="title" [sortOrder]="1">
            <ng-template pTemplate="header">
                <tr>
                    <th>Coupon Image</th>
                    <th>Coupon Code</th>
                    <th>Business Name</th>
                    <th>Expired On</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-coupon>
                <tr>
                    <td>
                        <span class="ui-column-title">Coupon Image</span>

                        <span class="table-image-wrapper">
              <img
                [src]="(coupon.coupon_image == null) ? '../assets/project-images/profile-image-new2.svg' : coupon.coupon_image"
                alt="coupon image" />
            </span>
                    </td>
                    <td><span class="ui-column-title">Coupon Code</span>{{coupon.coupon_code}}</td>
                    <td><span class="ui-column-title">Business Name</span>{{coupon.business[0]?.business_name}}</td>
                    <td><span class="ui-column-title">Expired On</span>{{coupon.expired_on != null ? coupon.expired_on : '-'}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center text-danger font-weight-600" colspan="5">No Records Found.</td>
                </tr>
            </ng-template>

        </p-table>
    </div>
</div>

<!-- Filter Wrapper -->
<div *ngIf="isVisible" class="filter-wrapper" [@openClose]>
    <div class="filter-flex-wrapper flex-direction-row">
        <div>
            <h3 class="filter-title-text">Filter</h3>
        </div>
        <div (click)="closeFilter()">
            <i class="fa fa-times filter-close-icon"></i>
        </div>
    </div>
    <form [formGroup]="couponListForm" (ngSubmit)="onSubmit()" class="filter-form-wrapper">
        <div class="filter-flex-wrapper">
            <div>
                <!-- business list -->
                <div>
                    <p class="filter-text">Business</p>
                    <p-dropdown [options]="business" formControlName="business" placeholder="Select business" [showClear]="true" styleClass="prime-dropdown-wrapper" [class.is-invalid]="(couponListForm.controls['business'].hasError('required') && couponListForm.controls['business'].touched)  || isSubmitted">
                    </p-dropdown>
                </div>

                <!-- expiring on  -->
                <div class="padding-top-24">
                    <p class="filter-text">
                        Expiring On
                    </p>
                    <div class="prime-calender-wrapper">
                        <p-calendar [(ngModel)]="expiredDate" formControlName="expiring_on" dateFormat="dd/mm/yy" [minDate]="today" [readonlyInput]="true" [showIcon]="true" placeholder="select date">
                        </p-calendar>
                    </div>
                </div>

            </div>
            <div class="filter-button-wrapper">
                <button type="submit" class="full-button-wrapper">Apply Filters</button>
                <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
            </div>

        </div>

    </form>

</div>