<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Oops! Page not found</h3>
            <h1>
                <span>4</span>
                <span>0</span>
                <span>4</span>
            </h1>
        </div>
        <h2 class="notfound-text">we are sorry, but the page you requested was not found</h2>
        <div class="center-content">
            <a [routerLink]="['/']" routerLinkActive="router-link-active"><button>Go to Homepage</button></a>
        </div>
    </div>
</div>