.padding-top-30 {
    padding-top:30px;
}

 .checkbox-flex-wrapper {
    p-checkbox {
        margin-right: 2em !important;
    }
}

.margin-top-40 {
    margin-top:40px;
}


.main { 
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0px;
    text-transform: capitalize;
} 
  
/* Hide the default checkbox */ 
input[type=checkbox] { 
    visibility: hidden; 
} 
  
/* Creating a custom checkbox 
based on demand */ 
.geekmark { 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 20px; 
    width: 20px; 
    // background-color: black; 
    background-color: #fff;
    border: 1px solid #F36E1D;
    border-radius: 3px;
} 
  
/* Specify the background color to be 
shown when hovering over checkbox */ 
.main:hover input ~ .geekmark { 
    // background-color: yellow; 
    background-color: white;
    border: 1px solid #F36E1D;
    border-radius: 3px;
} 
  
/* Specify the background color to be 
shown when checkbox is active */ 
.main input:active ~ .geekmark { 
    background-color: red; 
} 
  
/* Specify the background color to be 
shown when checkbox is checked */ 
.main input:checked ~ .geekmark { 
    background-color: #F36E1D; 
} 
  
/* Checkmark to be shown in checkbox */ 
/* It is not be shown when not checked */ 
.geekmark:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 
  
/* Display checkmark when checked */ 
.main input:checked ~ .geekmark:after { 
    display: block; 
} 
  
/* Styling the checkmark using webkit */ 
.main .geekmark:after { 
    left: 6px;
    bottom: 3px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
} 

.checkbox-flex-wrapper {
    display: flex;
    flex-wrap: wrap;

    label {
        flex-basis: 50%;
    }
}

.resend-link-wrapper {
    .location-icon {
        color: #f36e1d !important;
        padding-right: 5px;
    }
    .resend-link {
        color: #f36e1d !important;
        font-weight: 600;   
    }
    &:hover {

        .location-icon {
            color:#db5606 !important;
            transition:0.3s all ease-in-out;
          
        }

        .resend-link  {
            color:#db5606 !important;
            transition:0.3s all ease-in-out;
        }
     
    }
}


  
  
  