<div class="wrapper form-wrapper-spacing">
  <app-heading-wrapper></app-heading-wrapper>

  <!-- Form Wrapper -->
  <div class="col-sm-8 card form-card-wrapper">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <!-- branch list section -->
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Branch List</p>
          <!-- dropdown wrapper -->
          <p-dropdown [options]="branches" placeholder="Select Branch" [showClear]="true"
            styleClass="prime-dropdown-wrapper" formControlName="business_branch_id"
            [class.is-invalid]="(adminModule.business_branch_id.hasError('required') && adminModule.business_branch_id.touched)  || isSubmitted"
            (onChange)="onBranchChange(adminModule.business_branch_id.value)">
          </p-dropdown>
          <div
            *ngIf="(adminModule.business_branch_id.hasError('required')  && (adminModule.business_branch_id.dirty || adminModule.business_branch_id.touched)) || isSubmitted"
            [ngClass]="(adminModule.business_branch_id.valid) ? 'display-none' : 'error'">
            Please select branch.
          </div>
        </div>

        <div class="form-block">
          <p class="form-text">Title</p>

          <!-- dropdown wrapper -->
          <p-dropdown [options]="titles" placeholder="Select Title" [showClear]="true"
            styleClass="prime-dropdown-wrapper" formControlName="designation"
            [class.is-invalid]="(adminModule.designation.hasError('required') && adminModule.designation.touched)  || isSubmitted">
          </p-dropdown>
          <div
            *ngIf="(adminModule.designation.hasError('required')  && (adminModule.designation.dirty || adminModule.designation.touched)) || isSubmitted"
            [ngClass]="(adminModule.designation.valid) ? 'display-none' : 'error'">
            Please select title.
          </div>
        </div>

      </div>

      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">First Name</p>
          <div class="form-search-input">
            <input type="text" placeholder="First Name" formControlName="first_name"
              [class.is-invalid]="(adminModule.first_name.hasError('required') && adminModule.first_name.touched)  && isSubmitted">
          </div>
          <div
            *ngIf="(adminModule.first_name.hasError('required')  && (adminModule.first_name.dirty || adminModule.first_name.touched)) && isSubmitted"
            [ngClass]="(adminModule.first_name.valid) ? 'display-none' : 'error'">
            Please enter first name.
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Last Name</p>
          <div class="form-search-input">
            <input type="text" placeholder="Last Name" formControlName="last_name"
              [class.is-invalid]="(adminModule.last_name.hasError('required') && adminModule.first_name.touched)  && isSubmitted">
          </div>
          <div
            *ngIf="(adminModule.last_name.hasError('required')  && (adminModule.last_name.dirty || adminModule.last_name.touched)) && isSubmitted"
            [ngClass]="(adminModule.last_name.valid) ? 'display-none' : 'error'">
            Please enter last name.
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Email</p>
          <div class="form-search-input">
            <input type="text" placeholder="email" formControlName="email_id"
              [class.is-invalid]="(adminModule.email_id.hasError('required') && adminModule.email_id.touched)  && isSubmitted">
          </div>
          <div
            *ngIf="(adminModule.email_id.hasError('required')  && (adminModule.email_id.dirty || adminModule.email_id.touched)) && isSubmitted"
            [ngClass]="(adminModule.email_id.valid) ? 'display-none' : 'error'">
            Please enter email.
          </div>
        </div>

        <div class="form-block">
          <p class="form-text">Mobile</p>

          <div class="form-search-input contact-form-input">
            <div class="input-group contact-input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{country_code}}</span>
              </div>
              <input type="text" placeholder="Mobile" formControlName="mobile_number"
                [class.is-invalid]="(adminModule.mobile_number.hasError('required') && adminModule.mobile_number.touched) && isSubmitted">
            </div>
          </div>

          <div
            *ngIf="(adminModule.mobile_number.hasError('required')  && (adminModule.mobile_number.dirty || adminModule.mobile_number.touched)) && isSubmitted"
            [ngClass]="(adminModule.mobile_number.valid) ? 'display-none' : 'error'">
            Please enter mobile.
          </div>
        </div>
      </div>

      <!-- title dropdown -->
      <div class="margin-top-40">
        <div class="checkbox-flex-wrapper">
          <!-- checkbox wrapper -->

          <label class="main">
            checkAll
            <input type="checkbox" formControlName="check_all" [(ngModel)]="selectedCheckValue"
              (ngModelOptions)="{standalone: true}" value="checkAll" (change)="checkAll($event)">
            <span class="geekmark"></span>
          </label>
          <div [ngClass]="adminModule.check_all.hasError('required') && isSubmitted ? 'error' : 'display-none'">
            Please choose atleast one role.
          </div>
        </div>
      </div>

      <div class="display-flex padding-top-24">
        <!-- checkbox wrapper -->
        <div class="checkbox-flex-wrapper">

          <label formArrayName="user_role" *ngFor="let role of getUserRoleControl; let i = index">
            <label class="main">
              {{rolesList[i].role_label}}
              <input type="checkbox" [formControlName]="i" (change)="selectCheckList($event, i);"
                value="{{rolesList[i].roles}}" />
              <span class="geekmark"></span>
            </label>
          </label>
        </div>
      </div>


      <div class="align-button-right padding-top-30">
        <button type="reset" (click)="resetForm()" class="border-button-wrapper margin-right-32">Cancel</button>
        <button type="submit" class="button-wrapper">{{buttonName}}</button>
      </div>

    </form>

  </div>

</div>
