<div class="landing-wrapper about">
    <!-- header wrapper -->
    <header class="header-wrapper animated fadeInDown" id="navbar">
        <div class="container-fluid">
            <div class="header-flex-wrapper">
                <!-- delivr-logo -->
                <div class="logo-image" [routerLink]="['/']">
                    <img src="assets/project-images/delivr-landing-logo.svg" alt="delivr landing logo" />
                </div>

                <!-- header button wrapper -->

            </div>
        </div>
    </header>

    <!-- heading section wrappper -->
    <section class="header-section-wrapper">
        <!-- heading title wrapper -->
        <div class="heading-title-wrapper">
            <div class="landing-header-text">
                <h3>About Us</h3>
            </div>

            <!-- location wrapper -->
        </div>

        <!-- landing-cycle logo img -->

    </section>
    <section class="about-content">
        <div class="container">
            <div class="sub-sec">
                <p>Dubai has had relentless appetite for change since the UAE was formed back in the days, we never have enough time to do all the things we want to do. </p>

                <p> Dubai 2020 is upon us and with this upon us is the way we do business in the city today.</p>

                <p> Delivr can change the way you move things, how you shop and lets you access your city like never before. We’re an app that connects you to the nearest delivery partner who can make purchases, pick up items from any store or restaurant
                    in the city and bring them to you. In a Jiffy.</p>

                <p>It’s never easy to make purchases or drop off packages when you get busy with work, get stuck in traffic, or you might even end up forgetting about it completely.</p>
            </div>
            <p>All you need to do is </p>
            <p>Tell us where to go, what needs to be done and when.</p>
            <p>What happens next? Sit back and let us worry about your task-at-hand.</p>
            <p> You could say that we are always on the move for you.</p>


        </div>


    </section>




    <!-- footer starts -->
    <footer class="footer-wrapper">
        <div class="container">
            <div class="row">
                <!-- delivery-logo -->
                <div class="col-lg-2 col-sm-12">
                    <div>
                        <img src="assets/project-images/delivr-landing-logo.svg" alt="delivr landing logo" />
                    </div>
                </div>

                <!-- about terms&condition  -->
                <div class="col-lg-5 col-sm-12">
                    <div class="footer-heading">
                        <p>Contact</p>
                    </div>
                    <!-- footer list wrapper  -->
                    <div class="footer-list-wrapper">
                        <ul class="list-style-none">
                            <li [routerLink]="['../about']">
                                <a>About</a>
                            </li>
                            <li [routerLink]="['../terms-and-conditions']">
                                <a>Terms & Conditions</a>
                            </li>
                            <li [routerLink]="['../privacy-policy']">
                                <a>Privacy Policy</a>
                            </li>
                        </ul>
                    </div>

                    <!-- footer social wrapper  -->
                    <!-- <div class="footer-social-wrapper">
                        <ul class="list-style-none">
                            <li class="footer-list-icon">
                                <a>
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="footer-list-icon">
                                <a>
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="footer-list-icon">
                                <a>
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="footer-list-icon">
                                <a>
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->

                    <!-- copyright wrapper -->
                    <div class="copyright-wrapper">
                        <p>Copyright 2019 | Delivr</p>
                    </div>

                </div>

                <!-- contact wrapper -->
                <div class="col-lg-5 col-sm-12">

                    <!-- footer heading -->
                    <div class="footer-heading">
                        <p>Contact</p>
                    </div>

                    <!-- footer para text -->
                    <!-- <div class="footer-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div> -->

                    <!-- delivr mail wrapper -->
                    <div class="delivery-mail-wrapper">
                        <ul class="list-style-none">
                            <li class="display-flex">
                                <div class="delivery-footer-img">
                                    <img src="assets/project-images/icon-location.svg" alt="icon email" />
                                </div>
                                <div class="footer-end-text">
                                    <p>
                                        22<sup>nd</sup> St, AI Quoz Industrial Area 3, Dubai
                                    </p>
                                </div>
                            </li>
                            <li class="display-flex">
                                <div class="delivery-footer-img">
                                    <img src="assets/project-images/icon-email.svg" alt="icon email" />
                                </div>
                                <div class="footer-end-text">
                                    <a href="mailto:deepak@delivr.biz?Subject=''" target="_blank" class="hyperlink">deepak@delivr.biz</a>
                                </div>
                            </li>
                            <li class="display-flex">
                                <div class="delivery-footer-img">
                                    <img src="assets/project-images/icon-call.svg" alt="icon call icon" />
                                </div>
                                <div class="footer-end-text">
                                    <a href="tel:+971-504570395" class="hyperlink">+971-504570395</a>, <a href="tel:+971-505539468" class="hyperlink">+971-505539468</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </footer>
    <!-- footer ends -->
</div>