<div class="wrapper">
    <div class="col-sm-12 heading-flex-wrapper">
        <app-heading-wrapper></app-heading-wrapper>
        <div class="display-flex align-center heading-toggle-switch">
            <!-- <app-active-switch></app-active-switch> -->
            <div class="display-flex back-button">
                <!-- back button wrapper -->
                <div class="back-button-block" (click)="previousPage()">
                    <a class="border-button-small">Back</a>
                </div>
                <!-- <a class="border-button-small">Edit</a> -->
                <!-- edit button wrapper -->
                <button type="button" class="button-wrapper edit-button-wrapper" [routerLink]="['../../edit', utility.base64Encode(id)]">Edit</button>
            </div>
        </div>
    </div>

    <!-- justify content row wrapper -->
    <div class="row justify-content-around">
        <div class="col-sm-8 card order-card-wrapper form-card-wrapper">
            <div class="display-flex padding-top-24">
                <div class="profile-image-block">
                    <img src="{{(businessDetails.business_logo) ? businessDetails.business_logo : '/assets/img/user-icon.png'}}" alt="business image UI" />
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">First Name</p>
                    <div class="form-search-input">
                        <p class="form-view-text" *ngIf="businessDetails">
                            {{(businessDetails.businessUsers[0].first_name) ? businessDetails.businessUsers[0].first_name : '-'}}
                        </p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Last Name</p>
                    <div class="form-search-input">
                        <p class="form-view-text" *ngIf="businessDetails">
                            {{(businessDetails.businessUsers[0].last_name) ? businessDetails.businessUsers[0].last_name : '-'}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Business Name</p>
                    <div class="form-search-input">
                        <p class="form-view-text" *ngIf="businessDetails">
                            {{(businessDetails.business_name) ? businessDetails.business_name : '-'}}
                        </p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Business Type</p>
                    <div class="form-search-input">
                        <p class="form-view-text text-capitalize" *ngIf="businessDetails">
                            {{(businessDetails.businessType.business_type) ? businessDetails.businessType.business_type : '-'}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Designation</p>
                    <div class="form-search-input">
                        <p class="form-view-text" *ngIf="businessDetails">
                            {{(businessDetails.businessUsers[0].designation) ? businessDetails.businessUsers[0].designation : '-'}}
                        </p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Email ID</p>
                    <div class="form-search-input">
                        <p class="form-view-text" *ngIf="businessDetails">
                            {{(businessDetails.email_id) ? businessDetails.email_id : '-'}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Contact Number</p>
                    <div class="form-search-input">
                        <p class="form-view-text" *ngIf="businessDetails">
                            {{(businessDetails.mobile_number) ? businessDetails.mobile_number : '-'}}
                        </p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Alternate Number</p>
                    <div class="form-search-input">
                        <p class="form-view-text" *ngIf="businessDetails">
                            {{(businessDetails.alternate_number) ? businessDetails.alternate_number : '-'}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Country</p>
                    <div class="form-search-input">
                        <p class="form-view-text" *ngIf="businessDetails">
                            {{(businessDetails.businessBranch[0].countries.country) ? businessDetails.businessBranch[0].countries.country : '-'}}
                        </p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">City</p>
                    <div class="form-search-input">
                        <p class="form-view-text" *ngIf="businessDetails">
                            {{(businessDetails.businessBranch[0].cities.city) ? businessDetails.businessBranch[0].cities.city : '-'}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Flat/Building no.</p>
                    <div class="form-search-input">
                        <p class="form-view-text" *ngIf="businessDetails">
                            {{(businessDetails.businessBranch[0].address_line_1) ? businessDetails.businessBranch[0].address_line_1 : '-'}}
                        </p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Street Address</p>
                    <div class="form-search-input">
                        <p class="form-view-text" *ngIf="businessDetails">
                            {{(businessDetails.businessBranch[0].address_line_2) ? businessDetails.businessBranch[0].address_line_2 : '-'}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">PO Box</p>
                    <div class="form-search-input">
                        <p class="form-view-text" *ngIf="businessDetails">
                            {{(businessDetails.businessBranch[0].pincode) ? businessDetails.businessBranch[0].pincode : '-'}}
                        </p>
                    </div>
                </div>
            </div>
            <br>


            <!-- Table Wrapper -->
            <div class="table-wrapper">
                <p-table [value]="batch" styleClass="country-list-wrapper" dataKey="slug">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3em"></th>
                            <th>Batch Id</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Vehicles</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-batch let-expanded="expanded">
                        <tr>
                            <td>
                                <a [pRowToggler]="batch" class="payment-arrow-icon">
                                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                </a>
                            </td>
                            <td>{{batch.slug}}</td>
                            <td>{{batch.assigned_to_business_from | date: 'dd/MM/yyyy' }}</td>
                            <td>{{batch.assigned_to_business_to | date: 'dd/MM/yyyy'}}</td>
                            <td> <span *ngIf="today >= getDate(batch.assigned_to_business_to) && !batch.is_renew"><a
                    (click)="renewBatch(batch.id)" class="text-danger">Expired (click to
                    renew)</a></span></td>
                            <td>{{batch.vehicleMapping.length}}</td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                        <tr class="payment-row-block">
                            <td [attr.colspan]="7" style="padding-left: 35px;background: #fff !important;">
                                <div class="ui-g ui-fluid payment-list-wrapper payment-details-wrapper" style="font-size:16px;padding:20px">
                                    <p-table [value]="rowData.vehicleMapping">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Vehicle Number</th>
                                                <th>Color</th>
                                                <th>Model Name</th>
                                                <th>Action</th>
                                            </tr>

                                        </ng-template>
                                        <ng-template pTemplate="body" let-car let-i="rowIndex" let-editing="editing">
                                            <tr>

                                                <td class="padding-left-16">
                                                    {{(car.vehicle.vehicle_number) ? car.vehicle.vehicle_number : '-'}}</td>
                                                <td class="padding-left-16">{{(car.vehicle.color) ? car.vehicle.color : '-'}}</td>
                                                <td class="padding-left-16 text-capitalize">
                                                    {{(car.vehicle.vehicle_model.model_name) ? car.vehicle.vehicle_model.model_name : '-'}}
                                                </td>
                                                <td class="padding-left-16">
                                                    <a class="view-link" [routerLink]="['/admin/vehicles-list/details', utility.base64Encode(car.vehicle_id)]">
                  View Details
                </a>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td class="text-center text-danger font-weight-600" colspan="6">No vehicles assigned.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!-- assign bike -->
            <div class="form-footer-button padding-top-24">
                <div class="border-button-wrapper" (click)="assignBikePage()">
                    <a>Assign New Bike</a>
                </div>
            </div>

        </div>

        <div class="col-sm-4 card form-card-wrapper">
            <ng-container *ngIf="(businessDetails.bank_statement || businessDetails.businessUsers.passport_document || businessDetails.agreement || businessDetails.license || businessDetails.bank_statement || businessDetails.credit_application_form); else noDataFound">

                <div class="padding-top-24">
                    <p class="form-grey-text">Emirates ID</p>
                    <!-- document-wrapper -->
                    <ng-container *ngIf="businessDetails.businessUsers[0].emirates_id != ''; else imageBlock">
                        <div class="document-file-wrapper">
                            <a href="{{businessDetails.businessUsers[0].emirates_id}}">
                                <img src="assets/project-images/document-pdf.png" alt="document-image" />
                            </a>
                        </div>
                    </ng-container>
                    <ng-template #imageBlock>
                        <div class="document-wrapper">
                            <img src="assets/project-images/thumbnail-image.svg" height="100" width="100" />
                        </div>
                    </ng-template>
                </div>
                <div class="padding-top-24">
                    <p class="form-grey-text">Passport Copy</p>

                    <!-- passport copy -->
                    <ng-container *ngIf="businessDetails.businessUsers[0].passport_document != ''; else imageBlock">
                        <div class="document-file-wrapper">
                            <a href="{{businessDetails.businessUsers[0].passport_document}}">
                                <img src="assets/project-images/document-pdf.png" alt="document-image" />
                            </a>
                        </div>
                    </ng-container>
                    <ng-template #imageBlock>
                        <div class="document-wrapper">
                            <img src="assets/project-images/thumbnail-image.svg" height="100" width="100" />
                        </div>
                    </ng-template>




                </div>
                <div class="display-flex justify-space-between">
                    <div class="padding-top-24">
                        <p class="form-grey-text">Agreement</p>

                        <!-- agreement pdf  wrapper -->
                        <ng-container *ngIf="businessDetails.agreement != ''; else elseBlock">
                            <div class="document-file-wrapper">
                                <a href="{{businessDetails.agreement}}">
                                    <img src="assets/project-images/document-pdf.png" alt="document-image" />
                                </a>
                            </div>
                        </ng-container>
                        <ng-template #elseBlock>
                            <div class="document-wrapper">
                                <img src="assets/project-images/thumbnail-image.svg" alt="thumbnail-image" />
                            </div>
                        </ng-template>

                    </div>
                    <div class="padding-top-24">
                        <p class="form-grey-text">License</p>
                        <ng-container *ngIf="businessDetails.license != ''; else elseLicense">
                            <div class="document-file-wrapper">
                                <a href="{{businessDetails.license}}">
                                    <img src="assets/project-images/document-pdf.png" alt="document-image" />
                                </a>
                            </div>
                        </ng-container>
                        <ng-template #elseLicense>
                            <div class="document-wrapper">
                                <img src="assets/project-images/thumbnail-image.svg" alt="thumbnail-image" />
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="padding-top-24">
                    <p class="form-grey-text">Bank Statement</p>
                    <!-- bank statement pdf  wrapper -->
                    <ng-container *ngIf="businessDetails.bank_statement; else elseBlock">
                        <div class="document-file-wrapper">
                            <a href="{{businessDetails.bank_statement}}">
                                <img src="assets/project-images/document-pdf.png" alt="document-image" />
                            </a>
                        </div>
                    </ng-container>
                    <ng-template #elseBlock>
                        <div class="document-wrapper">
                            <img src="assets/project-images/thumbnail-image.svg" alt="thumbnail-image" />
                        </div>
                    </ng-template>
                </div>

                <div class="padding-top-24">
                    <p class="form-grey-text">Credit Application Form</p>

                    <!-- Credit Application pdf  wrapper -->
                    <ng-container *ngIf="businessDetails.credit_application_form; else elseBlock">
                        <div class="document-file-wrapper">
                            <a href="{{businessDetails.credit_application_form}}">
                                <img src="assets/project-images/document-pdf.png" alt="document-image" />
                            </a>
                        </div>
                    </ng-container>
                    <ng-template #elseBlock>
                        <div class="document-wrapper">
                            <img src="assets/project-images/thumbnail-image.svg" alt="thumbnail-image" />
                        </div>
                    </ng-template>
                </div>


                <div class="padding-top-24">
                    <p class="form-grey-text">Other Document</p>

                    <!-- Credit Application pdf  wrapper -->
                    <ng-container *ngIf="businessDetails.other_document; else elseBlock">
                        <div class="document-file-wrapper">
                            <a href="{{businessDetails.other_document}}">
                                <img src="assets/project-images/document-pdf.png" alt="document-image" />
                            </a>
                        </div>
                    </ng-container>
                    <ng-template #elseBlock>
                        <div class="document-wrapper">
                            <img src="assets/project-images/thumbnail-image.svg" alt="thumbnail-image" />
                        </div>
                    </ng-template>
                </div>

            </ng-container>
            <ng-template #noDataFound>
                <!-- no data found image -->
                <div class="no-data-found">
                    <img src="assets/project-images/no-data-found.svg" alt=" No data found image" />
                </div>
            </ng-template>

        </div>
    </div>
</div>

<!-- image dialog wrapper starts -->
<p-dialog header="Image Viewer" [(visible)]="imageDisplay" [modal]="true" [responsive]="true" [style]="{width: '650px', minWidth: '650px'}" [minY]="70" [maximizable]="false" appendTo="body" styleClass="prime-modal-dialog prime-dialog-repair">
    <div class="dialog-content">
        <div class="image-wrapper-block">
            <img [src]="imageUrl || 'assets/project-images/thumbnail-image.svg'" alt="vehicle images wrapper" />
        </div>
    </div>
</p-dialog>
<!-- image dialog wrapper ends -->