.table-wrapper {
  border-top: 2px solid #d9e0ea;
}

::ng-deep .country-list-wrapper .ui-table-thead tr {
  border-top: none !important;
}

::ng-deep .country-list-wrapper {
  .ui-table-wrapper {
    table {
      width: 100% !important;
      table-layout: inherit !important;
    }
  }
}

.order-card-wrapper {
  max-width: 60.666667%;
}

.payment-sub-head {
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
}

.payment-arrow-icon {
  color: #727373;
}

:ng-deep .payment-details-wrapper{
    &.ui-g {
        padding: 0 0 !important;
    }
}

.payment-row-block {
  tr {
    border-top: none !important;

    &:last-child {
      border-bottom: none !important;
    }
    
    }

    &>td {
        padding:0 !important;
    }
    td {
        &.padding-left-16 {
            padding-left: 16px !important;
        }
        
    }
  }


.payment-list-wrapper.ui-g {
  border: none !important;
  box-shadow: 0px 0px 20px 0px #a9c3eb inset;
  padding: 10px 10px !important;
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}

::ng-deep .payment-list-wrapper {
  .ui-table {
    .ui-table-thead {
      &>tr {
        &>th {
          padding: 0.571em 16px !important;
        }
      }
    }
  }
}

.view-link {
  color: #aaacaf !important;
}
