* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    padding: 0;
    margin: 0;
  }
  #notfound {
    position: relative;
    height: 100vh;
  }
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }
  .notfound .notfound-404 {
    position: relative;
    height: 240px;
  }
  .notfound .notfound-404 h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 252px;
    font-weight: 900;
    margin: 0px;
    color: #262626;
    text-transform: uppercase;
    letter-spacing: -40px;
    margin-left: -20px;
  }
  .notfound .notfound-404 h1>span {
    text-shadow: -8px 0px 0px #fff;
  }
  .notfound .notfound-404 h3 {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #262626;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 6px;
  }
  .notfound h2 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 200px;
    }
    .notfound .notfound-404 h1 {
      font-size: 200px;
    }
  }
  @media only screen and (max-width: 500px) {
    #notfound .notfound {
      padding: 0 25px;
    }
    #notfound .notfound h2.notfound-text {
      font-size: 16px;
    }
  }
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
      height: 162px;
    }
    .notfound .notfound-404 h1 {
      font-size: 162px;
      height: 150px;
      line-height: 162px;
    }
    .notfound h2 {
      font-size: 16px;
    }
    #notfound .notfound h2.notfound-text {
      padding-top: 35px;
    }
    #notfound .notfound .notfound-404 h1 {
      top: 40%;
    }
  }
  .center-content button {
    width: 200px;
    height: 48px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    background-color: #F36E1D;
    box-shadow: 8px 10px 27px 0 rgba(46, 62, 80, 0.21);
    cursor: pointer;
  }
  .center-content button:hover {
    transition: all 0.3s ease-in-out;
    transform: translate(0, -2px);
  }
  .center-content button:focus,
  .center-content button:active {
    outline: none;
  }
  @media only screen and (max-width: 328px) {
    #notfound .notfound h2.notfound-text {
      font-size: 14px;
    }
  }