<div class="wrapper flex-wrapper">
  <!-- delivr logo -->
  <div class="delivr-logo">
    <img src="assets/project-images/delivr-logo.png" alt="delivr logo">
  </div>
  <div class="card col-sm-7">
    <!-- activation header block -->
    <div class="activation-header-wrapper">
      <h2>{{pageContent.message}}</h2>

      <form [formGroup]="activateForm" (ngSubmit)="onSubmit()">
        <div class="form-wrapper custom-form">
          <div class="form-group">
            <input name="password" type="password" placeholder="New Password" formControlName="password"
              [class.invalid]="activateForm.controls['password'].hasError('required') && (activateForm.controls['password'].dirty || activateForm.controls['password'].touched) && isSubmitted" />
            <div
              *ngIf="(activateForm.controls['password'].invalid && (activateForm.controls['password'].dirty || activateForm.controls['password'].touched) && isSubmitted)"
              class="error">
              <p
                *ngIf="(activateForm.controls['password'].hasError('required') || activateForm.controls['password'].hasError('whitespace'))">
                Password is required.
              </p>
            </div>
          </div>
          <div class="form-group padding-top-15">
            <input name="password" type="password" placeholder="Confirm Password" formControlName="confirmPassword"
              [class.invalid]="activateForm.controls['confirmPassword'].hasError('required') && (activateForm.controls['confirmPassword'].dirty || activateForm.controls['confirmPassword'].touched) && isSubmitted" />
            <div
              *ngIf="(activateForm.controls['confirmPassword'].invalid && (activateForm.controls['confirmPassword'].dirty || activateForm.controls['confirmPassword'].touched) && isSubmitted)"
              class="error">
              <p
                *ngIf="(activateForm.controls['confirmPassword'].hasError('required') || activateForm.controls['confirmPassword'].hasError('whitespace'))">
                Password is required.
              </p>
            </div>
          </div>
          <div class="button-align-block">
            <!-- activate button -->
            <button type="submit" title="Activate" class="custom-btn yellow-btn text-center block-center">
              Activate
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
