.flex-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .card {
        margin: 18px auto !important;
        max-height: fit-content;
    }
}

.activation-header-wrapper {
    width: 70%;
    margin:0 auto;
    padding: 40px 0 30px;

    h2 {
        letter-spacing: 0px;
        font-size: 28px;
        text-align: center;
        color: #001108;
        font-weight: 600;
    }

}

.form-wrapper {
    width:60%;
    margin:0 auto;
    padding-top:30px;
}

.button-align-block {
    padding-top:20px;
}