.payment-sub-head {
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
}

.payment-arrow-icon {
    color: #727373;
}

:ng-deep .payment-details-wrapper {
    &.ui-g {
        padding: 0 0 !important;
    }
}

.payment-row-block {
    tr {
        border-top: none !important;
        &:last-child {
            border-bottom: none !important;
        }
    }
    td {
        padding-left: 0 !important;
        &:first-child {
            padding: 0 !important;
        }
    }
}

.payment-list-wrapper.ui-g {
    border: none !important;
    box-shadow: 0px 0px 20px 0px #a9c3eb inset;
    padding: 10px 10px !important;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.action-link {
    background: #f36e1d;
    padding: 0 10px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    &:hover {
        background: #e55904;
        color: #fff !important;
        transition: 0.3s all ease-in-out;
    }
}

::ng-deep .prime-payment-dialog {
    &.ui-dialog-resizable {
        .ui-dialog-content {
            overflow: inherit !important;
        }
    }
}

::ng-deep .prime-calender-wrapper .ui-datepicker:not(.ui-datepicker-inline) {
    top: -440px !important;
}