<div class="wrapper">
  <app-heading-wrapper [sectionTitle]="'Payments'"></app-heading-wrapper>
  <!-- Search wrapper -->
  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)"></app-search>
  </div>

  <div *ngIf="isVisible" class="filter-wrapper" [@openClose] style="max-height: 100%; ">
    <div class="filter-flex-wrapper flex-direction-row">
      <div>
        <h3 class="filter-title-text">Filter</h3>
      </div>
      <div (click)="closeFilter()">
        <i class="fa fa-times filter-close-icon"></i>
      </div>
    </div>
  </div>

  <div class="table-wrapper" style="text-align: center;">
    <p-table [value]="table" styleClass="country-list-wrapper" [paginator]="true" [lazy]="true"
      [alwaysShowPaginator]="false" [rows]="10" (onLazyLoad)="paginate($event)" [rows]="10" dataKey="slug"
      [responsive]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:3em"></th>
          <th>Batch ID</th>
          <th>Business</th>
          <th>Total</th>
          <th>Paid</th>
          <th>Remaining</th>
          <th>Installments</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-payment let-i="rowIndex" let-expanded="expanded">
        <tr>
          <td>
            <a href="#" [pRowToggler]="payment" class="payment-arrow-icon">
              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
            </a>
          </td>

          <td><span class="ui-column-title"></span>{{payment.slug}}</td>
          <td><span class="ui-column-title"></span>{{payment.business_name}}</td>
          <td>
            <span class="ui-column-title">Total</span>
            <b>{{payment.total_price}}</b>
          </td>
          <td>
            <span class="ui-column-title">Paid</span>
            <span style="color: green;"><b>{{payment.paid_price ? payment.paid_price : '0.00'}}</b></span>
          </td>
          <td>
            <span class="ui-column-title">Due</span>
            <span style="color: red;"><b>{{(payment.total_price*1)-(payment.paid_price*1)}}</b></span>
          </td>
          <td>
            <span class="ui-column-title">Installments</span>
            <span><b>{{payment.most_recent_installment}} / {{payment.installment_counts}}</b></span>
          </td>

        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr class="payment-row-block">
          <td [attr.colspan]="7" style="padding-left: 35px;background: #fff !important;">
            <div class="ui-g ui-fluid payment-list-wrapper payment-details-wrapper" style="font-size:16px;padding:20px">
              <p-table [value]="rowData.payments">
                <ng-template pTemplate="header">
        <tr>
          <th>Invoice ID</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Date Paid</th>
          <th>Actions</th>
        </tr>

      </ng-template>
      <ng-template pTemplate="body" let-pay let-i="rowIndex" let-payment let-editing="editing">
        <tr>
          <td style="font-weight:bold;">{{pay.is_paid ? pay.payment_id : '-'}}</td>
          <td>
            {{pay.amount_paid}}
          </td>
          <td>
            <b>{{pay.is_paid ? 'PAID' : ((rowData.total_price*1)-(rowData.paid_price*1) == 0 ? '--NA--' : 'UNPAID')}}</b>
          </td>
          <td>{{pay.payment_date != null ? (pay.payment_date | date: shortDate ): '-' }}</td>
          <td>
            <span style="color: green;" *ngIf="(pay.is_paid && i<rowData.most_recent_installment)"> Paid
            </span>
            <ng-container *ngIf="(rowData.total_price*1)-(rowData.paid_price*1) == 0; else payableTemplate">
              <span style="color: red;"
                *ngIf="pay.is_paid==false && ((rowData.total_price*1)-(rowData.paid_price*1) == 0)">--NA--</span>
            </ng-container>
            <ng-template #payableTemplate>
              <button *ngIf="(pay.is_paid==false && i==rowData.most_recent_installment)"
                (click)="updater($event, pay, rowData, i)" class="action-link">Pay</button>
              <span style="color: red;" *ngIf="(pay.is_paid==false && i>rowData.most_recent_installment)">
                ---
              </span>
            </ng-template>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </td>
  </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td class="text-center text-danger font-weight-600" colspan="5">No Records Found.</td>
    </tr>
  </ng-template>
  </p-table>
</div>
</div>

<!-- Add Payment dialog starts -->
<p-dialog header="Payment" [(visible)]="addDisplay" [modal]="true" [responsive]="true" [closeOnEscape]="false"
  [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body"
  styleClass="prime-modal-dialog prime-payment-dialog" (onHide)="resetForm()">
  <div class="payment-dialog-block">
    <!-- payment ID -->
    <div class="display-flex justify-space-between">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">Invoice ID:</p>
        <div class="form-search-input">
          <p class="form-view-text">
            {{(currentPayment.payment_id == null) ? '-' : currentPayment.payment_id}}
          </p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">Remaining:</p>
        <div class="form-search-input">
          <p class="form-view-text red-text">
            {{remaining-paymentModule.amount.value > 0 ? remaining-paymentModule.amount.value : ''}}
          </p>
        </div>
      </div>
    </div>

  </div>
  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
    <div>
      <!-- paid amount wrapper -->
      <div class="form-block padding-top-24">
        <p class="form-grey-text">Paid Amount</p>
        <div class="form-search-input">
          <input type="text" name="amount" formControlName="amount" (keyup)="checkLimit($event, paymentModule.amount)"
            (keydown)="_utility.onInputValidator($event, true)"
            [class.is-invalid]="(paymentModule.amount.errors  && (paymentModule.amount.dirty || paymentModule.amount.touched) && isSubmitted) || (paymentModule.amount.errors  && (paymentModule.amount.dirty || paymentModule.amount.touched))"
            placeholder="Paid Amount">
          <div
            *ngIf="(((paymentModule.amount.hasError('required') || paymentModule.amount.hasError('whitespace'))  && (paymentModule.amount.dirty || paymentModule.amount.touched)) && isSubmitted) || ((paymentModule.amount.hasError('required') || paymentModule.amount.hasError('whitespace'))  && (paymentModule.amount.dirty || paymentModule.amount.touched)) || (paymentModule.amount.dirty || paymentModule.amount.touched)"
            [ngClass]="(paymentModule.amount.valid) ? 'display-none' : 'error'">
            Please enter amount paid.
          </div>
        </div>
      </div>

      <!-- payment date -->
      <div class="padding-top-24">
        <p class="form-grey-text">Payment Date</p>
        <div class="prime-calender-wrapper">
          <p-calendar formControlName="date" placeholder="Payment date" [showIcon]="true"
            [class.is-invalid]="(paymentModule.date.errors  && (paymentModule.date.dirty || paymentModule.date.touched) && isSubmitted) || (paymentModule.date.errors  && (paymentModule.date.dirty || paymentModule.date.touched))">
          </p-calendar>
          <div
            *ngIf="(((paymentModule.date.hasError('required') || paymentModule.date.hasError('whitespace'))  && (paymentModule.date.dirty || paymentModule.date.touched)) && isSubmitted) || ((paymentModule.date.hasError('required') || paymentModule.date.hasError('whitespace'))  && (paymentModule.date.dirty || paymentModule.date.touched)) || (paymentModule.date.dirty || paymentModule.date.touched)"
            [ngClass]="(paymentModule.date.valid) ? 'display-none' : 'error'">
            Please select payment date.
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="modal-flex-button padding-top-32">
        <button type="reset" (click)="resetForm()" class="modal-border-button">Cancel</button>
        <button type="submit" class="modal-button-wrapper">Pay</button>
      </div>
    </p-footer>
  </form>
</p-dialog>
