<div class="wrapper vehicle-wrapper maintenance-wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">

    <!-- search wrapper starts enable search while implementing function-->
    <!-- <app-search (keyEvent)="searchText($event)"></app-search> -->

    <div class="display-flex">
      <div class="filter-icon-wrapper display-block" (click)="showFilter()">
        <!-- <i class="fa fa-filter card-icon"></i> -->
        <div class="filter-card-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459"
            style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
            <g>
              <g>
                <g id="filter">
                  <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#8F8F8F" />
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- Filter wrapper -->
  <div *ngIf="isVisible" class="filter-wrapper" [@openClose]>
    <div class="filter-flex-wrapper flex-direction-row">
      <div>
        <h3 class="filter-title-text">Filter</h3>
      </div>
      <div (click)="closeFilter()">
        <i class="fa fa-times filter-close-icon"></i>
      </div>
    </div>
    <form [formGroup]="maintenanceForm" (ngSubmit)="onSubmit()" class="filter-form-wrapper">
      <div class="filter-flex-wrapper">
        <div>
          <div>
            <p class="filter-text">Brand</p>
            <!-- <p-dropdown [options]="brands" [(ngModel)]="selectedBrand" placeholder="Select brand name" optionLabel="name"
            [showClear]="true" styleClass="prime-dropdown-wrapper"></p-dropdown> -->
            <p-dropdown [options]="brands" formControlName="brand" placeholder="Select brand" [showClear]="true"
              styleClass="prime-dropdown-wrapper"
              [class.is-invalid]="(maintenanceForm.controls['brand'].hasError('required') && maintenanceForm.controls['brand'].touched)  || isSubmitted">
            </p-dropdown>
            <div
              *ngIf="(maintenanceForm.controls['brand'].hasError('required')  && (maintenanceForm.controls['brand'].dirty || maintenanceForm.controls['brand'].touched)) || isSubmitted"
              [ngClass]="(maintenanceForm.controls['brand'].valid) ? 'display-none' : 'error'">
              Please select brand.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">Model</p>
            <div class="filter-search-input">
              <input type="text" placeholder="Enter model name" formControlName="modal"
                [class.is-invalid]="maintenanceForm.controls['modal'].hasError('required') && isSubmitted" />
            </div>
            <div
              *ngIf="(maintenanceForm.controls['modal'].hasError('required')  && (maintenanceForm.controls['modal'].dirty || maintenanceForm.controls['modal'].touched)) || isSubmitted"
              [ngClass]="(maintenanceForm.controls['modal'].valid) ? 'display-none' : 'error'">
              Please enter modal.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">Service Type</p>
            <div class="filter-search-input">
              <input type="text" placeholder="Enter service type" formControlName="service"
                [class.is-invalid]="maintenanceForm.controls['service'].hasError('required') && isSubmitted" />
            </div>
            <div
              *ngIf="(maintenanceForm.controls['service'].hasError('required')  && (maintenanceForm.controls['service'].dirty || maintenanceForm.controls['service'].touched)) || isSubmitted"
              [ngClass]="(maintenanceForm.controls['service'].valid) ? 'display-none' : 'error'">
              Please enter service type.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">Status</p>
            <p-dropdown optionLabel="name" [options]="status" formControlName="status" dropdownIcon="fa fa-chevron-down"
              styleClass="prime-dropdown-wrapper prime-dropdown-status"
              [class.is-invalid]="(maintenanceForm.controls['status'].hasError('required') && maintenanceForm.controls['status'].touched)  || isSubmitted">
              <ng-template let-fs pTemplate="item">
                <div class="option-row">
                  <div>
                    <span
                      [ngClass]="{'warning-circle': fs.value.name == 'Pending', 'new-circle': fs.value.name == 'Ongoing','active-circle': fs.value.name == 'Completed' }"></span>
                    {{fs.value.name}}
                  </div>
                </div>
              </ng-template>
              <ng-template let-fs pTemplate="selectedItem">
                <div class="option-row">
                  <div>
                    <span
                      [ngClass]="{'warning-circle': fs.value.name == 'Pending', 'new-circle': fs.value.name == 'Ongoing','active-circle': fs.value.name == 'Completed' }"></span>
                    {{fs.value.name}}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <div
              *ngIf="(maintenanceForm.controls['status'].hasError('required')  && (maintenanceForm.controls['status'].dirty || maintenanceForm.controls['status'].touched)) || isSubmitted"
              [ngClass]="(maintenanceForm.controls['status'].valid) ? 'display-none' : 'error'">
              Please select status
            </div>
          </div>
        </div>

        <!-- <div class="filter-button-wrapper">
          <button type="submit" class="full-button-wrapper">Apply Filters</button>
        </div> -->

        <div class="filter-button-wrapper">
          <button type="submit" class="full-button-wrapper">Apply Filters</button>
          <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
        </div>

      </div>
    </form>
  </div>
  <!-- Filter Wrapper ends -->
  <!-- tabs wrapper -->
  <div class="tabs-wrapper">
    <p-tabMenu [model]="items" [activeItem]="activeItem" styleClass="prime-tabs-wrapper prime-long-tabs-wrapper">
      <ng-template pTemplate="item" let-item let-i="index">
        <div (click)="getItem($event, i, item.label)">
          <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
          <div class="ui-menuitem-text">
            {{item.label}}
          </div>
        </div>
      </ng-template>
    </p-tabMenu>
  </div>

  <!--New Services-->
  <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'new'">
    <p-table [value]="newList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [alwaysShowPaginator]="false" [rows]="10" sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'brand'">Brand
            <p-sortIcon [field]="'id'"></p-sortIcon>
          </th>
          <th>Model
          </th>
          <th>Reg Number</th>
          <th>Engine Number</th>
          <th>Last Service</th>
          <th>Service Type</th>
          <th>Distance (KM)</th>
          <th>Renewel Service</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-new>
        <tr>
          <td><span class="ui-column-title">Brand</span>{{new.brand}}</td>
          <td><span class="ui-column-title">Model</span>{{new.model}}</td>
          <td><span class="ui-column-title">Reg Number</span>{{new.regNo}}</td>
          <td><span class="ui-column-title">Engine Number</span>{{new.engine}}</td>
          <td><span class="ui-column-title">Last Service</span>{{new.lastService}}</td>
          <td><span class="ui-column-title">Service Type</span>{{new.serviceType}}</td>
          <td><span class="ui-column-title">Distance (KM)</span>{{new.distance}}</td>
          <td><span class="ui-column-title">Renewel Service</span>{{new.renewal}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span
              [ngClass]="{'warning-circle': new.status == 'Pending', 'new-circle': new.status == 'Ongoing', 'active-circle': new.status == 'Completed'}"></span>
            <span class="text-capitalize">
              {{new.status}}
            </span>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!--Ongoing Services-->
  <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'ongoing'">
    <p-table [value]="ongoingList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="10" sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'brand'">Brand
            <p-sortIcon [field]="'id'"></p-sortIcon>
          </th>
          <th>Model
          </th>
          <th>Reg Number</th>
          <th>Engine Number</th>
          <th>Last Service</th>
          <th>Service Type</th>
          <th>Distance (KM)</th>
          <th>Renewel Service</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ongoing>
        <tr>
          <td><span class="ui-column-title">Brand</span>{{ongoing.brand}}</td>
          <td><span class="ui-column-title">Model</span>{{ongoing.model}}</td>
          <td><span class="ui-column-title">Reg Number</span>{{ongoing.regNo}}</td>
          <td><span class="ui-column-title">Engine Number</span>{{ongoing.engine}}</td>
          <td><span class="ui-column-title">Last Service</span>{{ongoing.lastService}}</td>
          <td><span class="ui-column-title">Service Type</span>{{ongoing.serviceType}}</td>
          <td><span class="ui-column-title">Distance (KM)</span>{{ongoing.distance}}</td>
          <td><span class="ui-column-title">Renewel Service</span>{{ongoing.renewal}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span
              [ngClass]="{'warning-circle': ongoing.status == 'Pending', 'new-circle': ongoing.status == 'Ongoing', 'active-circle': ongoing.status == 'Completed'}"></span>
            <span class="text-capitalize">
              {{ongoing.status}}
            </span>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!--Service History-->
  <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'service'">
    <p-table [value]="serviceList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="2" sortField="id" [sortOrder]="-1">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'brand'">Brand
            <p-sortIcon [field]="'id'"></p-sortIcon>
          </th>
          <th>Model
          </th>
          <th>Reg Number</th>
          <th>Engine Number</th>
          <th>Last Service</th>
          <th>Service Type</th>
          <th>Distance (KM)</th>
          <th>Renewel Service</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-service>
        <tr>
          <td><span class="ui-column-title">Brand</span>{{service.brand}}</td>
          <td><span class="ui-column-title">Model</span>{{service.model}}</td>
          <td><span class="ui-column-title">Reg Number</span>{{service.regNo}}</td>
          <td><span class="ui-column-title">Engine Number</span>{{service.engine}}</td>
          <td><span class="ui-column-title">Last Service</span>{{service.lastService}}</td>
          <td><span class="ui-column-title">Service Type</span>{{service.serviceType}}</td>
          <td><span class="ui-column-title">Distance (KM)</span>{{service.distance}}</td>
          <td><span class="ui-column-title">Renewel Service</span>{{service.renewal}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span
              [ngClass]="{'warning-circle': service.status == 'Pending', 'new-circle': service.status == 'Ongoing', 'active-circle': service.status == 'Completed'}"></span>
            <span class="text-capitalize">
              {{service.status}}
            </span>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!--Part History-->
  <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'part'">
    <p-table [value]="partList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="2" sortField="id" [sortOrder]="-1">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'brand'">Brand
            <p-sortIcon [field]="'id'"></p-sortIcon>
          </th>
          <th>Model
          </th>
          <th>Reg Number</th>
          <th>Engine Number</th>
          <th>Last Service</th>
          <th>Service Type</th>
          <th>Distance (KM)</th>
          <th>Renewel Service</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-part>
        <tr>
          <td><span class="ui-column-title">Brand</span>{{part.brand}}</td>
          <td><span class="ui-column-title">Model</span>{{part.model}}</td>
          <td><span class="ui-column-title">Reg Number</span>{{part.regNo}}</td>
          <td><span class="ui-column-title">Engine Number</span>{{part.engine}}</td>
          <td><span class="ui-column-title">Last Service</span>{{part.lastService}}</td>
          <td><span class="ui-column-title">Service Type</span>{{part.serviceType}}</td>
          <td><span class="ui-column-title">Distance (KM)</span>{{part.distance}}</td>
          <td><span class="ui-column-title">Renewel Service</span>{{part.renewal}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span
              [ngClass]="{'warning-circle': part.status == 'Pending', 'new-circle': part.status == 'Ongoing', 'active-circle': part.status == 'Completed'}"></span>
            <span class="text-capitalize">
              {{part.status}}
            </span>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>