<div class="wrapper">
  <app-heading-wrapper [sectionTitle]="'Brand List'"></app-heading-wrapper>

  <!-- Search wrapper -->
  <div class="search-flex-wrapper countries-page">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"
      [placeHolderText]="'Search Brand Name'"></app-search>
    <app-button-wrapper [buttonTitle]="'Add Brand'" (click)="showModal()"></app-button-wrapper>
  </div>

  <!-- table wrapper -->
  <div class="table-wrapper">
    <p-table [value]="brands" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="10" [lazy]="true" (onLazyLoad)="paginate($event)" [totalRecords]="total">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:5em">S.No.
          </th>
          <th style="width:10em">Brand Name</th>
          <th>#Models</th>
          <th>#Vehicles</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-brand let-i="rowIndex">
        <tr>
          <td><span class="ui-column-title">S.No.</span>
            {{i+1}}
          </td>
          <td>
            <span class="ui-column-title">Brand Name</span>
            <span class="text-capitalize">
              {{brand.brand_name}}
            </span>

          </td>
          <td><span class="ui-column-title">#Models</span>
            <span class="text-capitalize">
              {{brand.VehicleModel[0] ? brand.VehicleModel[0].count : 0}}
            </span>

          </td>
          <td>
            <span class="ui-column-title">#Vehicles</span>
            {{brand.Vehicle[0] ? brand.Vehicle[0].count : 0}}
          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0 view-icon"
              [routerLink]="['../brand/brand-details', utility.base64Encode(brand.brand_id)]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
            <a class="success ml-2 edit-icon" (click)="showModal(brand)">
              <i class="fa fa-pencil"></i> Edit
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="5">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- dialog starts -->
<p-dialog header="{{modalTitle}}" [(visible)]="modalDisplayFlag" [modal]="true" [responsive]="true"
  [closeOnEscape]="false" [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false"
  appendTo="body" styleClass="prime-modal-dialog" (onHide)="resetForm()">
  <form [formGroup]="brandForm" (ngSubmit)="onSubmit()">
    <div>
      <p class="modal-text padding-top-20">Brand Name*</p>
      <div class="modal-search-input">
        <input type="text" placeholder="Enter brand name" (blur)="utility.removeInputSpace(brandModule.brand_name)"
          formControlName="brand_name" />
      </div>
      <div *ngIf="(brandModule.brand_name.hasError('required') && brandModule.brand_name.touched)"
        [ngClass]="(brandModule.brand_name.valid) ? 'display-none' : 'error'">
        Please enter a brand name.
      </div>
    </div>
    <p-footer>
      <div class="modal-flex-button padding-top-32">
        <button type="reset" (click)="resetForm()" class="modal-border-button">Cancel</button>
        <button type="submit" class="modal-button-wrapper">{{modalButton}}</button>
      </div>
    </p-footer>
  </form>

</p-dialog>