.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
   }
   
   .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
   }
   
   .animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
   }
   
   @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
   
    to {
      opacity: 1;
    }
   }
   
   @keyframes fadeIn {
    from {
      opacity: 0;
    }
   
    to {
      opacity: 1;
    }
   }
   
   .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
   }