.back-button-block {
    margin-right: 1em;
}

.role-wrapper {
    padding: 8px 0;
}

// checkbox tick mark
.checkbox-tick-wrapper {
    border: 1px solid #F36E1D;
    padding: 2px 3px;
    border-radius: 3px;
    margin-right: 1em;
    .check-square {
        color: #F36E1D;
        font-size:18px;
    }
}