<div class="wrapper">
  <div class="col-sm-8 heading-flex-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="display-flex align-center heading-toggle-switch">
      <!-- <app-active-switch></app-active-switch> -->
      <!-- back and edit button -->
      <div class="back-button-block" (click)="previousPage()">
        <a class="border-button-small">Back</a>
      </div>
      <div [routerLink]="['../../edit', id]">
        <a class="border-button-small">Edit</a>
      </div>
    </div>
  </div>
  <!-- form details wrapper -->
  <div class="col-sm-8 card card-details-wrapper ">
    <!-- <ng-container *ngIf="couponDetailsData"> -->

    <div class="form-card-wrapper">
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Branch</p>
          <div class="form-search-input">
            <p class="form-view-text">{{userData.businessArea.address_branch_name}}</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">First Name</p>
          <div class="form-search-input">
            <p class="form-view-text">{{userData.first_name}}</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Last Name </p>
          <div class="form-search-input">
            <p class="form-view-text">{{userData.last_name}}</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Email</p>
          <div class="form-search-input">
            <p class="form-view-text">
              {{userData.email_id}}
            </p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Mobile </p>
          <div class="form-search-input">
            <p class="form-view-text">{{userData.mobile_number}}</p>
          </div>
        </div>
      </div>

      <div class="display-flex padding-top-24">
        <div class="form-block">
          <p class="form-grey-text">User Roles: </p>
          <!-- user roles -->
          <div *ngFor="let item of userData.user_role" class="role-wrapper">
            <span class="checkbox-tick-wrapper">
              <!-- <i class="fa fa-check-square check-square"></i> -->
              <i class="fa fa-check check-square"></i>
            </span>
            <span class="form-view-text">
              {{item}}
            </span>
          </div>
        </div>
      </div>

    </div>
    <!-- </ng-container> -->
  </div>
</div>