<div class="wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">
    <app-search></app-search>
    <div class="display-flex">
      <div class="filter-icon-wrapper display-block" (click)="showFilter()">
        <div class="filter-card-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459"
            style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
            <g>
              <g>
                <g id="filter">
                  <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#8F8F8F" />
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <!-- tabs wrapper -->
  <div class="tabs-wrapper">
    <p-tabMenu [model]="items" [activeItem]="activeItem" styleClass="prime-tabs-wrapper">
      <ng-template pTemplate="item" let-item let-i="index">
        <div (click)="getItem($event, i, item.label)">
          <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
          <div class="ui-menuitem-text">
            {{item.label}}
          </div>
        </div>
      </ng-template>
    </p-tabMenu>
  </div>

  <!--Request List-->
  <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'request'">
    <p-table [value]="requestList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="10" sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'title'">Title
            <p-sortIcon [field]="'title'"></p-sortIcon>
          </th>
          <th>Priority</th>
          <th>Category</th>
          <th>Vendor Name</th>
          <th>Location</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request>
        <tr>
          <td><span class="ui-column-title">Title</span>{{request.title}}</td>
          <td class="display-flex align-center"><span class="ui-column-title">Priority</span>
            <span
              [ngClass]="{'high-priority': request.priority == 'High', 'medium-priority': request.priority == 'Medium', 'low-priority': request.priority == 'Low' }"></span>
            {{request.priority}}
          </td>
          <td><span class="ui-column-title">Category</span>{{request.category}}</td>
          <td><span class="ui-column-title">Vendor Name</span>{{request.vendorName}}</td>
          <td><span class="ui-column-title">Location</span>{{request.location}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span
              [ngClass]="{'pending-circle': request.status == 'Pending', 'outgoing-circle': request.status == 'Outgoing', 'finished-circle': request.status == 'Finished' }"></span>
            <span class="text-capitalize">
              {{request.status}}
            </span>

          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../details', request.id]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!--Pending List-->
  <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'pending'">
    <p-table [value]="pendingList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="10" sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'title'">Title
            <p-sortIcon [field]="'title'"></p-sortIcon>
          </th>
          <th>Priority</th>
          <th>Category</th>
          <th>Vendor Name</th>
          <th>Location</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pending>
        <tr>
          <td><span class="ui-column-title">Title</span>{{pending.title}}</td>
          <td class="display-flex align-center"><span class="ui-column-title">Priority</span>
            <span
              [ngClass]="{'high-priority': pending.priority == 'High', 'medium-priority': pending.priority == 'Medium', 'low-priority': pending.priority == 'Low' }"></span>
            {{pending.priority}}
          </td>
          <td><span class="ui-column-title">Category</span>{{pending.category}}</td>
          <td><span class="ui-column-title">Vendor Name</span>{{pending.vendorName}}</td>
          <td><span class="ui-column-title">Location</span>{{pending.location}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span
              [ngClass]="{'pending-circle': pending.status == 'Pending', 'outgoing-circle': pending.status == 'Outgoing', 'finished-circle': pending.status == 'Finished' }"></span>
            <span class="text-capitalize">
              {{pending.status}}
            </span>

          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../details', pending.id]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!--Resolved List-->
  <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'resolved'">
    <p-table [value]="resolvedList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="2" sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>

          <th [pSortableColumn]="'title'">Title
            <p-sortIcon [field]="'title'"></p-sortIcon>
          </th>
          <th>Priority</th>
          <th>Category</th>
          <th>Vendor Name</th>
          <th>Location</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-resolved>
        <tr>
          <td><span class="ui-column-title">Title</span>{{resolved.title}}</td>
          <td class="display-flex align-center">
            <span class="ui-column-title">Priority</span>
            <span
              [ngClass]="{'high-priority': resolved.priority == 'High', 'medium-priority': resolved.priority == 'Medium', 'low-priority': resolved.priority == 'Low' }"></span>
            {{resolved.priority}}
          </td>
          <td><span class="ui-column-title">Category</span>{{resolved.category}}</td>
          <td><span class="ui-column-title">Vendor Name</span>{{resolved.vendorName}}</td>
          <td><span class="ui-column-title">Location</span>{{resolved.location}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span
              [ngClass]="{'pending-circle': resolved.status == 'Pending', 'outgoing-circle': resolved.status == 'Outgoing', 'finished-circle': resolved.status == 'Finished' }"></span>
            <span class="text-capitalize">
              {{resolved.status}}
            </span>

          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../details', resolved.id]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Filter wrapper -->
<div *ngIf="isVisible" class="filter-wrapper" [@openClose]>
  <div class="filter-flex-wrapper flex-direction-row">
    <div>
      <h3 class="filter-title-text">Filter</h3>
    </div>
    <div (click)="closeFilter()">
      <i class="fa fa-times filter-close-icon"></i>
    </div>
  </div>
  <form [formGroup]="requestVendorForm" (ngSubmit)="onSubmit()" class="filter-form-wrapper">
    <div class="filter-flex-wrapper">
      <div>
        <div>
          <p class="filter-text">Priority</p>
          <p-dropdown [options]="priorities" dropdownIcon="fa fa-chevron-down" formControlName="priority"
            styleClass="prime-dropdown-wrapper prime-dropdown-status"
            [class.is-invalid]="(requestVendorForm.controls['priority'].hasError('required') && requestVendorForm.controls['priority'].touched)  || isSubmitted">
            <ng-template let-fs pTemplate="item">
              <div class="option-row">
                <div class="display-flex align-center">
                  <span
                    [ngClass]="{'high-priority': fs.value == 'High', 'medium-priority': fs.value == 'Medium', 'low-priority': fs.value == 'Low' }"></span>
                  {{fs.value}}
                </div>
              </div>
            </ng-template>
            <ng-template let-fs pTemplate="selectedItem">
              <div class="option-row">
                <div class="display-flex align-center">
                  <span
                    [ngClass]="{'high-priority': fs.value == 'High', 'medium-priority': fs.value == 'Medium', 'low-priority': fs.value == 'Low' }"></span>
                  {{fs.value}}
                </div>
              </div>
            </ng-template>
          </p-dropdown>
          <div
            *ngIf="(requestVendorForm.controls['priority'].dirty || requestVendorForm.controls['priority'].touched) || isSubmitted"
            [ngClass]="(requestVendorForm.controls['priority'].valid) ? 'display-none' : 'error'">
            Please select priority.
          </div>
        </div>
        <div class="padding-top-24">
          <p class="filter-text">Category</p>
          <div class="filter-search-input">
            <input type="text" placeholder="Enter category name" formControlName="category"
              [class.is-invalid]="requestVendorForm.controls['category'].hasError('required') && isSubmitted" />
          </div>
          <div
            *ngIf="(requestVendorForm.controls['category'].hasError('required')  && (requestVendorForm.controls['category'].dirty || requestVendorForm.controls['category'].touched)) || isSubmitted"
            [ngClass]="(requestVendorForm.controls['category'].valid) ? 'display-none' : 'error'">
            Please enter category.
          </div>
        </div>
        <div class="padding-top-24">
          <p class="filter-text">Country</p>
          <!-- <p-dropdown [options]="countries" placeholder="Select country" optionLabel="name" [showClear]="true"
            styleClass="prime-dropdown-wrapper"></p-dropdown> -->
          <p-dropdown [options]="countries" formControlName="country" placeholder="Select country"
            styleClass="prime-dropdown-wrapper"
            [class.is-invalid]="(requestVendorForm.controls['country'].hasError('required') && requestVendorForm.controls['country'].touched)  || isSubmitted">
          </p-dropdown>
          <div
            *ngIf="(requestVendorForm.controls['country'].hasError('required')  && (requestVendorForm.controls['country'].dirty || requestVendorForm.controls['country'].touched)) || isSubmitted"
            [ngClass]="(requestVendorForm.controls['country'].valid) ? 'display-none' : 'error'">
            Please select country.
          </div>
        </div>
        <div class="padding-top-24">
          <p class="filter-text">City</p>
          <!-- <p-dropdown [options]="cities" placeholder="Select city" optionLabel="name" [showClear]="true"
            styleClass="prime-dropdown-wrapper"></p-dropdown> -->
          <p-dropdown [options]="cities" formControlName="city" placeholder="Select city" [showClear]="true"
            styleClass="prime-dropdown-wrapper"
            [class.is-invalid]="(requestVendorForm.controls['city'].hasError('required') && requestVendorForm.controls['city'].touched)  || isSubmitted">
          </p-dropdown>
          <div
            *ngIf="(requestVendorForm.controls['city'].hasError('required')  && (requestVendorForm.controls['city'].dirty || requestVendorForm.controls['city'].touched)) || isSubmitted"
            [ngClass]="(requestVendorForm.controls['city'].valid) ? 'display-none' : 'error'">
            Please select city.
          </div>
        </div>
        <div class="padding-top-24">
          <p class="filter-text">Status</p>
          <p-dropdown [options]="status" dropdownIcon="fa fa-chevron-down" formControlName="status"
            styleClass="prime-dropdown-wrapper prime-dropdown-status"
            [class.is-invalid]="(requestVendorForm.controls['status'].hasError('required') && requestVendorForm.controls['status'].touched)  || isSubmitted">
            <ng-template let-fs pTemplate="item">
              <div class="option-row">
                <div>
                  <span
                    [ngClass]="{'pending-circle': fs.value == 'Pending', 'outgoing-circle': fs.value == 'Outgoing', 'finished-circle': fs.value == 'Finished' }"></span>
                  {{fs.value}}
                </div>
              </div>
            </ng-template>
            <ng-template let-fs pTemplate="selectedItem">
              <div class="option-row">
                <div>
                  <span
                    [ngClass]="{'pending-circle': fs.value == 'Pending', 'outgoing-circle': fs.value == 'Outgoing', 'finished-circle': fs.value == 'Finished' }"></span>
                  {{fs.value}}
                </div>
              </div>
            </ng-template>
          </p-dropdown>
          <div
            *ngIf="(requestVendorForm.controls['status'].hasError('required')  && (requestVendorForm.controls['status'].dirty || requestVendorForm.controls['status'].touched)) || isSubmitted"
            [ngClass]="(requestVendorForm.controls['status'].valid) ? 'display-none' : 'error'">
            Please select status.
          </div>
        </div>
      </div>



      <div class="filter-button-wrapper">
        <button type="submit" class="full-button-wrapper">Apply Filters</button>
        <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
      </div>

    </div>
  </form>

</div>
<!-- Filter Wrapper ends -->