<div class="wrapper">
  <div class="col-sm-12 heading-flex-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="display-flex align-center heading-toggle-switch">

      <div class="display-flex back-button">
        <div class="back-button-block" (click)="previousPage()">
          <a class="border-button-small">Back</a>
        </div>
        <div *ngIf="currentUrl != '/vehicle/vehicle-edit/'" [routerLink]="['../../edit', utility.base64Encode(id)]">
          <button type="button" class="button-wrapper edit-button-wrapper">Edit</button>
        </div>
      </div>

    </div>
  </div>

  <div class="row justify-content-around">
    <div class="col-sm-8 card order-card-wrapper form-card-wrapper">
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Country</p>
          <div class="form-search-input">
            <p class="form-view-text text-capitalize">{{(vehicle.countries.country) ? vehicle.countries.country : '-'}}
            </p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">City</p>
          <div class="form-search-input">
            <p class="form-view-text text-capitalize">{{(vehicle.cities.city) ? vehicle.cities.city : '-'}}</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Vehicle Brand</p>
          <div class="form-search-input">
            <p class="form-view-text text-capitalize">
              {{(vehicle.vehicle_brand.brand_name) ? vehicle.vehicle_brand.brand_name : '-'}}</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Vehicle Model</p>
          <div class="form-search-input">
            <p class="form-view-text text-capitalize">
              {{(vehicle.vehicle_model.model_name) ? vehicle.vehicle_model.model_name : '-'}}</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Color</p>
          <div class="form-search-input">
            <p class="form-view-text text-capitalize">{{(vehicle.color) ? vehicle.color : '-'}}</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Engine Capacity</p>
          <div class="form-search-input">
            <p class="form-view-text">‎{{(vehicle.engine_capacity) ? vehicle.engine_capacity : '-'}}</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Engine Number</p>
          <div class="form-search-input">
            <p class="form-view-text">{{(vehicle.engine_number) ? vehicle.engine_number : '-'}}</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Starting Mechanism</p>
          <div class="form-search-input">
            <p class="form-view-text">{{(vehicle.starting_mechanism) ? vehicle.starting_mechanism : '-'}}</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Tyre Type Front</p>
          <div class="form-search-input">
            <p class="form-view-text">{{(vehicle.tyre_type) ? vehicle.tyre_type : '-'}}</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Tyre Type Rear</p>
          <div class="form-search-input">
            <p class="form-view-text">{{(vehicle.wheel_type) ? vehicle.wheel_type : '-'}}</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Price</p>
          <div class="form-search-input">
            <p class="form-view-text">{{(vehicle.price) ? vehicle.price : '-'}}</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Vehicle Registration Number</p>
          <div class="form-search-input">
            <p class="form-view-text">‎{{(vehicle.vehicle_number) ? vehicle.vehicle_number : '-'}}</p>
          </div>
        </div>
      </div>

      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Usage Status</p>
          <div class="form-search-input form-small-input">
            <p class="form-view-text text-capitalize">‎{{(vehicle.usage_status) ? vehicle.usage_status : '-'}}</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Chassis Number</p>
          <div class="form-search-input">
            <p class="form-view-text">‎{{(vehicle.chasing_number) ? vehicle.chasing_number : '-'}}</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Mileage</p>
          <div class="form-search-input form-small-input">
            <p class="form-view-text">‎{{(vehicle.mileage) ? vehicle.mileage : '-'}}</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Lease Price</p>
          <div class="form-search-input">
            <p class="form-view-text">‎{{(vehicle.lease_price) ? vehicle.lease_price : '-'}}
              {{(vehicle.currency) ? vehicle.currency : '-'}}</p>
          </div>
        </div>
      </div>


    </div>

    <div class="col-sm-4 card">

      <ng-container
        *ngIf="(vehicle.registration_card || vehicle.insurance || vehicle.vehicle_images); else noDataFound">
        <!-- documents -->
        <div class="padding-top-24">
          <p class="form-view-text margin-bottom-0">Documents</p>
        </div>

        <!-- registration card -->
        <div class="padding-top-24">
          <div class="form-block">
            <p class="form-grey-text">Registration Card</p>
            <div class="document-position-wrapper">
              <img [src]="vehicle.registration_card || 'assets/project-images/thumbnail-image.svg'"
                (click)="openImageDialog('registration_card', vehicle.registration_card,'')" />
            </div>
          </div>
        </div>

        <!-- insurance -->
        <div class="padding-top-24">
          <div class="form-block">
            <p class="form-grey-text">Insurance</p>
            <div class="document-position-wrapper">
              <img [src]="vehicle.insurance || 'assets/project-images/thumbnail-image.svg'"
                (click)="openImageDialog('insurance', vehicle.insurance,'')" />
            </div>
          </div>
        </div>

        <!-- vehicle images heading -->
        <div class="padding-top-24">
          <p class="form-view-text margin-bottom-0">Vehicle Images</p>
        </div>

        <!-- vehicle images -->
        <div>
          <div *ngFor="let vehicleImg of vehicle.vehicle_images;let i = index" class="document-image-wrapper">
            <img [src]="vehicleImg.vehicle_image" class="w-100"
              (click)="openImageDialog('vehicle_image',vehicle.vehicle_images,i)" />
          </div>
        </div>
      </ng-container>
      <ng-template #noDataFound>
        <!-- no data found image -->
        <div class="no-data-found">
          <img src="assets/project-images/no-data-found.svg" alt=" No data found image" />
        </div>
      </ng-template>
    </div>
  </div>

</div>

<!-- dialog starts -->
<p-dialog header="Image Viewer" [(visible)]="imageDisplayFlag" [modal]="true" [responsive]="true"
  [style]="{width: '46%', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body"
  styleClass="prime-modal-dialog">
  <div *ngIf="imageUrl" class="image-wrapper-block">
    <img [src]="imageUrl" alt="image viewer image">
  </div>
</p-dialog>
<!-- dialog ends -->
