.table-wrapper {
  padding-top: 32px;
}


.vehicle-wrapper {
  ::ng-deep .country-list-wrapper {
    .ui-table-thead {
      tr {
        border-top: 2px solid #D9E0EA !important;
      }
    }
  }
}
