<div class="wrapper vehicle-wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">

    <!-- <app-search></app-search> -->

    <!-- search wrapper starts -->
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"
      [placeHolderText]="'Search Branch Name'"></app-search>

    <app-button-wrapper [buttonTitle]="'Add Branch'" routerLink="../add"></app-button-wrapper>
  </div>

  <!--All Orders-->
  <div class="table-wrapper vehicle-wrapper">
    <p-table [value]="branchList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="10" sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>
          <!-- <th [pSortableColumn]="'orderDate'">Branch ID
            <p-sortIcon [field]="'id'"></p-sortIcon>
          </th> -->
          <th>Branch Name
          </th>
          <th>Branch Address</th>
          <th>Branch City</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-branch>
        <tr>
          <!-- <td><span class="ui-column-title">Branch ID</span>{{branch.branchId}}</td> -->
          <td>
            <span class="ui-column-title">Branch Name</span>
            <span class="text-capitalize">{{branch.address_branch_name}}</span>
          </td>
          <td><span class="ui-column-title">Branch Address</span>{{branch.address_line_1}} {{branch.address_line_2}}
          </td>
          <td><span class="ui-column-title">Branch City</span>{{branch.cities.city}} - {{branch.countries.country}}
          </td>
          <td>
            <span class="ui-column-title">Status</span>
            <app-active-switch *ngIf="branch.type != 'mainbranch' else staticContent"
              [checked]="branch.status == 'active'" [possibleValue]="possibleValue"
              (change)="changeStatus($event, branch.branch_area_id)"></app-active-switch>
            <ng-template #staticContent>--NA--</ng-template>

          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../details', utiltiy.base64Encode(branch.branch_area_id)]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="5">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- table and tabs wrapper ends -->
</div>