<div class="wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">
    <app-search></app-search>
    <div class="display-flex">
      <div class="filter-icon-wrapper display-block" (click)="showFilter()">
        <!-- <i class="fa fa-filter card-icon"></i> -->
        <div class="filter-card-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459"
            style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
            <g>
              <g>
                <g id="filter">
                  <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#8F8F8F" />
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>

    </div>
  </div>
  <!-- Filter wrapper -->
  <div *ngIf="isVisible" class="filter-wrapper" [@openClose]>
    <div class="filter-flex-wrapper flex-direction-row">
      <div>
        <h3 class="filter-title-text">Filter</h3>
      </div>
      <div (click)="closeFilter()">
        <i class="fa fa-times filter-close-icon"></i>
      </div>
    </div>
    <form [formGroup]="requestModuleForm" (ngSubmit)="onSubmit()" class="filter-form-wrapper">
      <div class="filter-flex-wrapper">
        <div>
          <div>
            <p class="filter-text">Brand</p>
            <p-dropdown [options]="brands" formControlName="brand" placeholder="Select brand"
              styleClass="prime-dropdown-wrapper"
              [class.is-invalid]="(requestModuleForm.controls['brand'].hasError('required') && requestModuleForm.controls['brand'].touched)  || isSubmitted">
            </p-dropdown>
            <div
              *ngIf="(requestModuleForm.controls['brand'].hasError('required')  && (requestModuleForm.controls['brand'].dirty || requestModuleForm.controls['brand'].touched)) || isSubmitted"
              [ngClass]="(requestModuleForm.controls['brand'].valid) ? 'display-none' : 'error'">
              Please select brand.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">Model</p>
            <div class="filter-search-input">
              <input type="text" placeholder="Enter model name" formControlName="model"
                [class.is-invalid]="requestModuleForm.controls['model'].hasError('required') && isSubmitted" />
            </div>
            <div
              *ngIf="(requestModuleForm.controls['model'].hasError('required')  && (requestModuleForm.controls['model'].dirty || requestModuleForm.controls['model'].touched)) || isSubmitted"
              [ngClass]="(requestModuleForm.controls['model'].valid) ? 'display-none' : 'error'">
              Please enter modal.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">Last Service Range</p>
            <div>
              <input type="text" class="filter-small-input" formControlName="serviceRangeOne"
                [class.is-invalid]="requestModuleForm.controls['serviceRangeOne'].hasError('required') && isSubmitted">
              and
              <input type="text" class="filter-small-input" formControlName="serviceRangeTwo"
                [class.is-invalid]="requestModuleForm.controls['serviceRangeTwo'].hasError('required') && isSubmitted">
            </div>
            <div
              *ngIf="((requestModuleForm.controls['serviceRangeOne'].hasError('required')  && (requestModuleForm.controls['serviceRangeOne'].dirty || requestModuleForm.controls['serviceRangeOne'].touched)) || isSubmitted) && ((requestModuleForm.controls['serviceRangeTwo'].hasError('required')  && (requestModuleForm.controls['serviceRangeTwo'].dirty || requestModuleForm.controls['serviceRangeTwo'].touched)) || isSubmitted)"
              [ngClass]="((requestModuleForm.controls['serviceRangeOne'].valid) && (requestModuleForm.controls['serviceRangeTwo'].valid)) ? 'display-none' : 'error'">
              Please enter ranges.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">Distance Range</p>
            <div>
              <input type="text" class="filter-small-input" formControlName="distanceRangeOne"
                [class.is-invalid]="requestModuleForm.controls['distanceRangeOne'].hasError('required') && isSubmitted">
              and
              <input type="text" class="filter-small-input" formControlName="distanceRangeTwo"
                [class.is-invalid]="requestModuleForm.controls['distanceRangeTwo'].hasError('required') && isSubmitted">
            </div>
            <div
              *ngIf="((requestModuleForm.controls['distanceRangeOne'].hasError('required')  && (requestModuleForm.controls['distanceRangeOne'].dirty || requestModuleForm.controls['distanceRangeOne'].touched)) || isSubmitted) && ((requestModuleForm.controls['distanceRangeTwo'].hasError('required')  && (requestModuleForm.controls['distanceRangeTwo'].dirty || requestModuleForm.controls['distanceRangeTwo'].touched)) || isSubmitted)"
              [ngClass]="((requestModuleForm.controls['distanceRangeOne'].valid) && (requestModuleForm.controls['distanceRangeTwo'].valid)) ? 'display-none' : 'error'">
              Please enter ranges.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">Country</p>
            <p-dropdown [options]="countries" formControlName="country" placeholder="Select country"
              styleClass="prime-dropdown-wrapper"
              [class.is-invalid]="(requestModuleForm.controls['country'].hasError('required') && requestModuleForm.controls['country'].touched)  || isSubmitted">
            </p-dropdown>
            <div
              *ngIf="(requestModuleForm.controls['country'].hasError('required')  && (requestModuleForm.controls['country'].dirty || requestModuleForm.controls['country'].touched)) || isSubmitted"
              [ngClass]="(requestModuleForm.controls['country'].valid) ? 'display-none' : 'error'">
              Please select country.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">City</p>
            <p-dropdown [options]="cities" formControlName="city" placeholder="Select city"
              styleClass="prime-dropdown-wrapper"
              [class.is-invalid]="(requestModuleForm.controls['city'].hasError('required') && requestModuleForm.controls['city'].touched)  || isSubmitted">
            </p-dropdown>
            <div
              *ngIf="(requestModuleForm.controls['city'].hasError('required')  && (requestModuleForm.controls['city'].dirty || requestModuleForm.controls['city'].touched)) || isSubmitted"
              [ngClass]="(requestModuleForm.controls['city'].valid) ? 'display-none' : 'error'">
              Please select city.
            </div>
          </div>
          <div class="padding-top-24">
            <p class="filter-text">Status</p>
            <p-dropdown [options]="status" dropdownIcon="fa fa-chevron-down" formControlName="status"
              styleClass="prime-dropdown-wrapper prime-dropdown-status"
              [class.is-invalid]="(requestModuleForm.controls['status'].hasError('required') && requestModuleForm.controls['status'].touched)  || isSubmitted">
              <ng-template let-fs pTemplate="item">
                <div class="option-row">
                  <div>
                    <span
                      [ngClass]="{'pending-circle': fs.value == 'New', 'outgoing-circle': fs.value == 'Ongoing', 'finished-circle': fs.value == 'Finished' }"></span>
                    {{fs.value}}
                  </div>
                </div>
              </ng-template>
              <ng-template let-fs pTemplate="selectedItem">
                <div class="option-row">
                  <div>
                    <span
                      [ngClass]="{'pending-circle': fs.value == 'New', 'outgoing-circle': fs.value == 'Ongoing', 'finished-circle': fs.value == 'Finished' }"></span>
                    {{fs.value}}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <div
              *ngIf="(requestModuleForm.controls['status'].hasError('required')  && (requestModuleForm.controls['status'].dirty || requestModuleForm.controls['status'].touched)) || isSubmitted"
              [ngClass]="(requestModuleForm.controls['status'].valid) ? 'display-none' : 'error'">
              Please select status.
            </div>
          </div>
        </div>

        <!-- <div>
          <button type="submit" class="full-button-wrapper">Apply Filters</button>
        </div> -->

        <div class="filter-button-wrapper">
          <button type="submit" class="full-button-wrapper">Apply Filters</button>
          <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
        </div>

      </div>
    </form>
  </div>


  <!-- tabs wrapper -->
  <div class="tabs-wrapper">
    <p-tabMenu [model]="items" [activeItem]="activeItem" styleClass="prime-tabs-wrapper">
      <ng-template pTemplate="item" let-item let-i="index">
        <div (click)="getItem($event, i, item.label)">
          <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
          <div class="ui-menuitem-text">
            {{item.label}}
          </div>
        </div>
      </ng-template>
    </p-tabMenu>
  </div>

  <!--All Request List-->
  <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'all'">
    <p-table [value]="requestList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="10" sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'Business Name'">Business Name
            <p-sortIcon [field]="'businessName'"></p-sortIcon>
          </th>
          <th>Name</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request>
        <tr>
          <td><span class="ui-column-title">Business Name</span>{{request.businessName}}</td>
          <td><span class="ui-column-title">Name</span>{{request.name}}</td>
          <td><span class="ui-column-title">Email</span>{{request.email}}</td>
          <td><span class="ui-column-title">Contact Number</span>{{request.contact}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span
              [ngClass]="{'new-circle': request.status == 'New', 'outgoing-circle': request.status == 'Ongoing', 'finished-circle': request.status == 'Resolved' }"
              class="text-capitalize"></span>
            {{request.status}}
          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../details', request.id]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!--New List-->
  <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'new'">
    <p-table [value]="newList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="10" sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'Business Name'">Business Name
            <p-sortIcon [field]="'businessName'"></p-sortIcon>
          </th>
          <th>Name</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-new>
        <tr>
          <td><span class="ui-column-title">Business Name</span>{{new.businessName}}</td>
          <td><span class="ui-column-title">Name</span>{{new.name}}</td>
          <td><span class="ui-column-title">Email</span>{{new.email}}</td>
          <td><span class="ui-column-title">Contact Number</span>{{new.contact}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span
              [ngClass]="{'pending-circle': new.status == 'New', 'outgoing-circle': new.status == 'Ongoing', 'finished-circle': new.status == 'Resolved' }"
              class="text-capitalize"></span>
            {{new.status}}

          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!--Resolved List-->
  <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'resolved'">
    <p-table [value]="resolvedList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" [rows]="2" sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>

          <th [pSortableColumn]="'Business Name'">Business Name
            <p-sortIcon [field]="'businessName'"></p-sortIcon>
          </th>
          <th>Name</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-resolved>
        <tr>
          <td><span class="ui-column-title">Business Name</span>{{resolved.businessName}}</td>
          <td><span class="ui-column-title">Name</span>{{resolved.name}}</td>
          <td><span class="ui-column-title">Email</span>{{resolved.email}}</td>
          <td><span class="ui-column-title">Contact Number</span>{{resolved.contact}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span
              [ngClass]="{'pending-circle': resolved.status == 'New', 'outgoing-circle': resolved.status == 'Ongoing', 'finished-circle': resolved.status == 'Finished' }"
              class="text-capitalize"></span>
            {{resolved.status}}
          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../details', new.id]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>


</div>