<div class="wrapper vehicle-wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"
      [placeHolderText]="'Search Registration No'">
    </app-search>
    <div class="display-flex">
      <div class="filter-icon-wrapper display-block" (click)="showFilter()">
        <div class="filter-card-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459"
            style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
            <g>
              <g>
                <g id="filter">
                  <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#8F8F8F" />
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="table-wrapper">
    <p-table [value]="vehicleList" styleClass="country-list-wrapper" [responsive]="true" (onLazyLoad)="paginate($event)"
      [paginator]="true" [alwaysShowPaginator]="false" [rows]="10" [lazy]="true" [totalRecords]="total">
      <ng-template pTemplate="header">
        <tr>
          <th>
            Brand
          </th>
          <th>Model</th>
          <th>Registration Number</th>
          <th>Assigned To</th>
          <th>Branch</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vehicle>
        <tr>
          <td><span class="ui-column-title">Brand</span>
            <span class="text-capitalize">{{vehicle.vehicle_brand.brand_name}}</span>
          </td>
          <td><span class="ui-column-title">Model</span>
            <span class="text-capitalize">{{vehicle.vehicle_model.model_name}}</span>
          </td>
          <td><span class="ui-column-title">Registration Number</span>{{vehicle.vehicle_number}}</td>
          <td>
            <span class="ui-column-title">Assigned To</span>
            {{vehicle.vehicle_mapping[0].Users ? vehicle.vehicle_mapping[0].Users.driver : '-'}}
          </td>
          <td>
            <span class="ui-column-title">Branch</span>
            {{vehicle.vehicle_mapping[0].businessBranch?.address_branch_name}}
          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../vehicle-list/details', utility.base64Encode(vehicle.vehicle_id)]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="6">No Records Found.</td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>

<!-- Filter wrapper -->
<div *ngIf="isVisible" class="filter-wrapper" [@openClose]>
  <div class="filter-flex-wrapper flex-direction-row">
    <div>
      <h3 class="filter-title-text">Filter</h3>
    </div>
    <div (click)="closeFilter()">
      <i class="fa fa-times filter-close-icon"></i>
    </div>
  </div>
  <form [formGroup]="vehicleFilterForm" (ngSubmit)="filter()" class="filter-form-wrapper">
    <div class="filter-flex-wrapper">
      <div>
        <div>
          <p class="filter-text">Brand</p>
          <p-dropdown [options]="brands" [showClear]="true" (onChange)="filterModelOnBrandChange()"
            formControlName="brand" placeholder="Select brand" styleClass="prime-dropdown-wrapper"></p-dropdown>
        </div>
        <div class="padding-top-24">
          <p class="filter-text">Model</p>
          <div class="filter-search-input">
            <p-dropdown [options]="models" [showClear]="true" formControlName="model" placeholder="Select model"
              styleClass="prime-dropdown-wrapper" [disabled]="models.length==0"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="filter-button-wrapper">
        <button type="submit" class="full-button-wrapper">Apply Filters</button>
        <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
      </div>
    </div>
  </form>
</div>
<!-- Filter Wrapper ends -->
