.filter-button-wrapper {
    display:flex;
    justify-content: space-between;

    .full-button-wrapper {
        min-width:auto;
        padding: 8px 15px;
    }

    .full-border-wrapper {
        border: 1px solid #D8D8D8 !important;
        color: #8F8F8F;
        min-width: 5em;
        border-radius: 3px;
    }
}

.payment-sub-head{
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
}

.payment-arrow-icon {
    color:#727373;
}

:ng-deep .payment-details-wrapper{

    &.ui-g {
        // min-width: 66.4em !important;
        padding: 0 0 !important;
    }
  
}

.payment-row-block {
    tr {
    border-top: none !important;
     
    &:last-child {
        border-bottom: none !important;
    }
    }
    td {
        padding-left:0 !important;

        &:first-child {
            padding: 0 !important;
        }
    }
}

.payment-list-wrapper.ui-g {
    border: none !important;
    box-shadow: 0px 0px 20px 0px #a9c3eb inset;
    padding: 10px 10px !important;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    min-width:66.4em !important;
}

::ng-deep .prime-dropdown-wrapper {
    &.ui-dropdown {
        width: 100% !important;
        min-width: 9em !important;
    }
}

.word-break {
    word-break: break-word;
}

.request-for-repair {
   
        .filter-wrapper {
            top:-11% !important;
        }
}

:ng-deep .ui-datepicker td {
    word-break: inherit !important;
}

