.landing-wrapper {
    background: #fff;
    padding-bottom: 0 !important;
}

// header css styling
.sticky {
    background: #fff;
    box-shadow: 0px 0px 2px grey;
    .transparent-button-wrapper {
        border-color: #374799;
        color: #374799;
        &:hover {
            background-color: #374799;
            color: #fff;
        }
    }
    .header-flex-wrapper {
        padding: 10px 0px !important;
    }
}

.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.8s;
    // landing button wrapper
    .landing-button-wrapper {
        .transparent-button-wrapper {
            span.phone-btn {
                display: none;
            }
            &:first-child {
                margin-right: 16px;
            }
        }
    }
    .header-flex-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 33px 0px 33px;
    }
}

// header section css
.header-section-wrapper {
    background-image: url('../../../../assets/project-images/landing-image.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 12em;
    .inner-header-section-wrapper {
        display: flex;
        // align-items: center;
        .heading-title-wrapper {
            // padding-left:67px;
            padding: 5px 0 0px 0px;
            .landing-header-text {
                h3 {
                    color: #fff;
                    font-weight: 600;
                    font-size: 42px;
                }
            }
            .landing-para-text {
                padding-top: 15px;
                p {
                    color: #fff;
                    font-size: 20px;
                }
            }
            .location-wrapper {
                display: flex;
                align-items: center;
                padding-top: 15px;
                .location-logo {
                    padding-right: 6px;
                }
                .location-text {
                    font-size: 21px;
                    color: #F33F44;
                    font-weight: 600;
                }
            }
        }
        .landing-image-wrapper {
            padding-left: 1em;
            img {
                max-width: 100%;
            }
        }
    }
}

// confirmed delivery wrapper
.confirmed-delivery-wrapper {
    padding-top: 68px;
    .delivery-header {
        text-align: center;
        h4 {
            font-size: 42px;
            color: #222940;
            font-weight: 600;
        }
        p {
            color: #222940;
            font-size: 20px;
            letter-spacing: 0px;
            margin-bottom: 0;
        }
    }
    .delivery-card-wrapper {
        padding-top: 48px;
        .col-lg-6.col-sm-12.confirm-cards {
            margin-bottom: 32px;
            .delivery-card {
                padding: 20px 24px;
                border: 1px solid #D3D5D9;
                border-radius: 8px;
                height: 100%;
                transition: .8s;
                .margin-right-32 {
                    img {
                        max-width: 100%;
                    }
                }
                div {
                    h3 {
                        font-size: 36px;
                        color: #222940;
                        font-weight: 700;
                        margin-bottom: 0;
                    }
                }
            }
            .delivery-card:hover {
                box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
                transform: translateY(-2px);
            }
        }
    }
    // delivery lists wrapper
    .delivery-items-wrapper {
        .delivery-items {
            list-style: none;
            padding-top: 64px;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0;
            padding-bottom: 30px;
            li {
                cursor: pointer;
                .delivery-block {
                    background: #fff;
                    margin: 0 auto;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.17);
                    img {
                        cursor: pointer;
                    }
                }
                .delivery-item-text {
                    padding-top: 32px;
                    p {
                        font-size: 20px;
                        color: #222940;
                        font-weight: 600;
                        text-align: center;
                    }
                }
                // &:hover {
                //     .delivery-block {
                //         transition:0.3s all ease-in;
                //         transform: scale(1.09);
                //     }
                // }
            }
        }
    }
}

// delivery list wrapper 
.delivery-items-wrapper li:hover .delivery-block {
    transition: 0.3s all ease-in;
    transform: scale(1.09);
}

// testimonials styling starts
.testimonial-wrapper {
    .delivery-partner-wrapper {
        // border:1px solid #707070;
        background: linear-gradient(to right, #FFAE20, #EA9600);
        border-radius: 8px;
        padding: 30px 33px;
        height: 100%;
        .delivery-partner-image {
            //     width:475px;
            img {
                width: 100%;
            }
        }
        .delivery-partner-header {
            padding-top: 33px;
            text-align: center;
            h3 {
                font-size: 32px;
                font-weight: 700;
                color: #222940;
            }
            p {
                font-size: 18px;
                font-weight: 400;
            }
        }
        .know-more {
            span {
                color: #222940;
                cursor: pointer;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
    .blue-gradient-wrapper {
        background: linear-gradient(to right, #18182B, #304260) !important;
        color: #fff !important;
        h3 {
            color: #fff !important;
        }
        .know-more {
            span {
                color: #fff !important;
            }
        }
    }
}

.transparent-button-wrapper {
    &:hover {
        transition: 0.3s all ease-in-out;
        background: #fff;
        color: #fa8722;
        border-color: #fff;
    }
}

// footer section 
.footer-wrapper {
    background: #F5F5F5;
    padding: 26px 0 16px;
    .footer-heading {
        p {
            color: #222940;
            font-weight: 700;
            font-size: 16px;
        }
    }
    .footer-list-wrapper {
        ul {
            padding-left: 0;
            li {
                display: inline-block;
                margin-right: 1em;
                a {
                    font-size: 16px;
                    color: #222940;
                    font-weight: 500;
                }
                a:hover {
                    color: #ee9b07;
                }
            }
        }
    }
    .footer-social-wrapper {
        ul {
            padding-left: 0 !important;
            .footer-list-icon {
                background: linear-gradient(to right, #18182B, #304260);
                border-radius: 3px;
                width: 24px;
                height: 24px;
                padding: 0px 3px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-right: 1em;
                a {
                    color: #fff;
                }
            }
            .footer-list-icon:hover {
                background: #ee9b07;
                a {
                    color: #fff;
                }
            }
        }
    }
    .footer-text {
        p {
            font-size: 16px;
            color: #222940;
            font-weight: 400;
        }
    }
    .delivery-mail-wrapper {
        ul {
            padding-left: 0px;
        }
        .delivery-footer-img {
            max-width: 34px;
            float: left;
            img {
                width: 100%;
            }
        }
        .footer-end-text {
            width: calc(100% - 34px);
            overflow: hidden;
            padding-left: 20px;
            ;
            p {
                color: #222940;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

.copyright-wrapper {
    padding-left: 18%;
    p {
        color: #222940;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
    }
}

// Carosuel css
.carousel-section {
    color: #fff;
}

.carousel-inner {
    // background-image:"./assets/project-images/carousel-bg.svg";
    h4 {
        font-weight: bold;
    }
}

.user-post-box {
    box-shadow: 0px 0px 2px 1px #eaeaea57;
    margin-top: 5px;
    padding: 20px 15px;
    background-color: #fff;
    color: #222940;
    border-bottom: 6px solid #fa8242;
    border-radius: 4px;
    min-height: 274px;
    .user-image {
        // width: 100px;
        // height: 100px;
        // float: left;
    }
    h5 {
        padding-top: 5px;
        margin: 0;
        font-size: 16px;
        font-weight: 800;
        color: #222940;
    }
    .user-post-desc {
        p {
            padding-top: 6px;
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            color: #222940;
        }
    }
}

.slider-bottom-banner {
    img {
        width: 100%;
        margin-top: -5px;
    }
}

@media (max-width:1024px) {
    .header-section-wrapper {
        .inner-header-section-wrapper {
            .heading-title-wrapper {
                .landing-header-text {
                    h3 {
                        font-size: 32px;
                    }
                }
                .landing-para-text {
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .confirmed-delivery-wrapper {
        .delivery-header {
            h4 {
                font-size: 32px;
            }
            p {
                font-size: 18px;
            }
        }
        .delivery-card-wrapper {
            .col-lg-6.col-sm-12.confirm-cards {
                margin-bottom: 32px;
                .delivery-card {
                    .margin-right-32 {
                        img {
                            max-width: 100%;
                        }
                    }
                    div {
                        h3 {
                            font-size: 26PX;
                        }
                    }
                }
            }
        }
        // delivery lists wrapper
        .delivery-items-wrapper {
            .delivery-items {
                li {
                    cursor: pointer;
                    .delivery-block {}
                    .delivery-item-text {
                        p {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    // testimonials styling starts
    .testimonial-wrapper {
        .delivery-partner-wrapper {
            .delivery-partner-image {
                img {}
            }
            .delivery-partner-header {
                h3 {
                    font-size: 22px;
                }
                p {
                    font-size: 18px;
                }
            }
            .know-more {
                span {
                    font-size: 16px;
                }
            }
        }
        .blue-gradient-wrapper {
            color: #fff !important;
            h3 {}
            .know-more {
                span {}
            }
        }
    }
}

@media (max-width:991px) {
    .delivery-partner-wrapper {
        margin-bottom: 32px;
    }
    .header-section-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .heading-title-wrapper {
        padding-left: 0px !important;
    }
    .footer-logo {
        margin-bottom: 32px;
    }
    .header-section-wrapper .heading-title-wrapper {
        padding: 6em 0 0 78px;
    }
    .header-section-wrapper .heading-title-wrapper .landing-header-text {
        width: 100%;
    }
    // delivery lists wrapper
    .delivery-items-wrapper {
        .delivery-items {
            li {
                width: 50%;
                margin-bottom: 22px;
            }
        }
    }
    .testimonial-wrapper {
        .delivery-partner-wrapper {
            height: auto;
            margin-bottom: 33px;
            .delivery-partner-image {
                img {}
            }
            .delivery-partner-header {
                padding-top: 33px;
                text-align: center;
                h3 {}
                p {}
            }
            .know-more {
                span {}
            }
        }
        .blue-gradient-wrapper {
            h3 {}
            .know-more {
                span {}
            }
        }
    }
    .copyright-wrapper {
        padding-left: 0;
        text-align: center;
        width: 100%;
        p {}
    }
}

@media (max-width:767px) {
    .header-wrapper .header-flex-wrapper {
        display: block;
    }
    .header-wrapper.animated.fadeInDown.sticky .header-flex-wrapper {
        display: flex;
    }
    .header-wrapper.animated.fadeInDown.sticky {
        text-align: center;
    }
    .confirmed-delivery-wrapper {
        h4 {
            font-size: 32px;
        }
    }
    .delivery-partner-wrapper {
        margin-bottom: 32px;
    }
    .confirmed-delivery-wrapper .delivery-items-wrapper .delivery-items {
        padding: 0;
    }
    .header-wrapper {
        .logo-image {
            width: auto;
            text-align: center;
        }
        .landing-button-wrapper {
            .transparent-button-wrapper {
                border: none;
                padding: 0;
                background: transparent;
                span.phone-btn {
                    // display: block;
                }
                span.desk-btn {
                    display: none;
                }
                &:first-child {}
            }
        }
        .header-flex-wrapper {}
    }
    .header-wrapper.sticky {
        .logo-image {
            width: auto;
        }
        .landing-button-wrapper {
            .transparent-button-wrapper {
                span.phone-btn {
                    display: block;
                }
                span.desk-btn {}
                &:first-child {
                    margin-right: 46px;
                }
            }
        }
    }
    .header-section-wrapper {
        .inner-header-section-wrapper {
            padding: 5px 0 80px 0px;
            .heading-title-wrapper {
                .landing-header-text {
                    h3 {
                        margin: 0;
                    }
                }
                .landing-para-text {
                    padding-top: 10px;
                    p {
                        font-size: 16px;
                    }
                }
                .location-wrapper {
                    padding-top: 0px;
                    .location-text {
                        font-size: 16px;
                    }
                    .location-logo {
                        max-width: 20px;
                        img {
                            width: 100%;
                            ;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:480px) {
    .delivery-partner-wrapper {
        padding: 12px !important;
        h3 {
            font-size: 24px !important;
        }
        p {
            font-size: 16px;
        }
    }
    .delivery-card {
        img {
            width: 125px;
        }
        h3 {
            font-size: 24px !important;
        }
    }
    .delivery-items-wrapper {
        .delivery-items {
            li {
                // width: 100%;
            }
        }
    }
    .confirmed-delivery-wrapper {
        padding-top: 52px;
        .delivery-header {
            h4 {
                font-size: 20px;
            }
            p {
                font-size: 14px;
            }
        }
        .delivery-card-wrapper {
            padding-top: 24px;
            .col-lg-6.col-sm-12.confirm-cards {
                margin-bottom: 32px;
                .delivery-card {
                    .margin-right-32 {
                        max-width: 200px;
                        img {
                            max-width: 100%;
                        }
                    }
                    div {
                        h3 {
                            font-size: 18px !important;
                        }
                    }
                    div {
                        padding-top: 6px;
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        // delivery lists wrapper
        .delivery-items-wrapper {
            .delivery-items {
                li {
                    cursor: pointer;
                    .delivery-block {}
                    .delivery-item-text {
                        p {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .footer-wrapper .footer-list-wrapper ul li {
        display: block;
    }
    .header-section-wrapper .inner-header-section-wrapper .heading-title-wrapper .location-wrapper {
        display: flex;
        justify-content: center;
    }
    .header-section-wrapper .inner-header-section-wrapper {
        text-align: center;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-heading {
        text-align: center;
    }
    .footer-list-wrapper {
        text-align: center;
    }
    .footer-social-wrapper {
        text-align: center;
    }
}

.head-icons {
    a {
        padding: 0 10px;
        font-size: 30px;
        i.fa {
            color: #fba111;
        }
        margin-top: 25px;
    }
    margin-top: 25px;
}

.login-button-wrapper {
    margin-left: 1em;
}