<div class="landing-wrapper">
    <!-- header wrapper -->
    <header class="header-wrapper animated fadeInDown" id="navbar">
        <div class="container">
            <div class="header-flex-wrapper">
                <!-- delivr-logo -->
                <div class="logo-image" (click)="callPage()">
                    <img src="assets/project-images/delivr-landing-logo.svg" alt="delivr landing logo" />
                </div>

                <!-- header button wrapper -->
                <div class="landing-button-wrapper">
                    <button type="button" class="transparent-button-wrapper" [routerLink]="['../delivr-for-business']">
                        <span class="desk-btn">Delivr for Business</span>
                        <span class="phone-btn"><img src="assets/project-images/phone-business.png"></span>
                    </button>
                    <button type="button" class="transparent-button-wrapper" [routerLink]="['../delivr-for-riders']">
                        <span class="desk-btn"> Delivr for Riders</span>
                        <span class="phone-btn"><img src="assets/project-images/phone-partner.png"></span>
                    </button>
                </div>
            </div>
        </div>

    </header>

    <!-- heading section wrappper -->
    <section class="header-section-wrapper">
        <div class="container">
            <div class="inner-header-section-wrapper">
                <!-- heading title wrapper -->
                <div class="heading-title-wrapper">
                    <div class="landing-header-text">
                        <h3>Building the Future of Delivery</h3>
                    </div>
                    <div class="landing-para-text">
                        <p>Groceries, food or pet supplies? Get it dun!</p>
                    </div>

                    <!-- location wrapper -->
                    <div class="location-wrapper">
                        <span class="location-logo">
                            <img src="assets/project-images/location.svg" alt="location" />
                        </span>
                        <span class="location-text">Everywhere in UAE</span>
                    </div>
                </div>

                <!-- landing-cycle logo img -->
                <div class="landing-image-wrapper">
                    <img src="assets/project-images/landing-cycle.svg" alt="landing cycle image" />
                </div>
            </div>
        </div>
    </section>

    <!-- confirmed delivery section -->
    <section class="confirmed-delivery-wrapper">
        <div class="container">
            <div class="delivery-header">
                <h4>Your hyperlocal delivery network!</h4>
                <p>
                    The last mile market place with customers and extensive partner network.
                </p>
            </div>

            <!-- cards wrapper -->
            <div class="delivery-card-wrapper">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <!-- card wrapper -->
                        <div class="delivery-card">
                            <div class="display-flex align-items-center">
                                <div class="margin-right-32">
                                    <img src="assets/project-images/motorbike.svg" alt="motorbike" />
                                </div>
                                <div>
                                    <h3>Confirmed Delivery.</h3>
                                    <div class="padding-top-24">
                                        <p>
                                            Our delivery partners ensure you get it delivered every time.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <!-- card wrapper -->
                        <div class="delivery-card">
                            <div class="display-flex align-items-center">
                                <div class="margin-right-32">
                                    <img src="assets/project-images/stopwatch.svg" alt="stopwatch" />
                                </div>
                                <div>
                                    <h3>24x7 Delivery. Anywhere.</h3>
                                    <div class="padding-top-24">
                                        <p>
                                            You define. We set the plan.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row delivery-row-wrapper">
                    <!-- card wrapper here -->
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <div class="delivery-card">
                            <div class="display-flex align-items-center">
                                <div class="margin-right-32">
                                    <img src="assets/project-images/goods.svg" alt="goods" />
                                </div>
                                <div>
                                    <h3>No Minimum Order.</h3>
                                    <div class="padding-top-24">
                                        <p>Tailored to suit you.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- card wrapper here -->
                    <div class="col-lg-6 col-sm-12 confirm-cards">
                        <div class="delivery-card">
                            <div class="display-flex align-items-center">
                                <div class="margin-right-32">
                                    <img src="assets/project-images/giftbox.svg" alt="giftbox" />
                                </div>
                                <div>
                                    <h3>Free Delivery Service.</h3>
                                    <div class="padding-top-24">
                                        <p>For new users, for a limited time.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- list items wrapper -->
            <!-- <div class="delivery-items-wrapper">
                <ul class="delivery-items">
                    <li>
                        <div class="delivery-block">
                            <img src="assets/project-images/box.svg" alt="box image" />
                        </div>
                        <div class="delivery-item-text">
                            <p>Send Package</p>
                        </div>
                    </li>

                    <li>
                        <div class="delivery-block">
                            <img src="assets/project-images/grocery.svg" alt="grocery image" />
                        </div>
                        <div class="delivery-item-text">
                            <p>Grocery</p>
                        </div>
                    </li>

                    <li>
                        <div class="delivery-block">
                            <img src="assets/project-images/burger.svg" alt="burger image" />
                        </div>
                        <div class="delivery-item-text">
                            <p>Restaurants</p>
                        </div>
                    </li>

                    <li>
                        <div class="delivery-block">
                            <img src="assets/project-images/box-1.svg" alt="box 1 image" />
                        </div>
                        <div class="delivery-item-text">
                            <p>Pet Supplies</p>
                        </div>
                    </li>

                    <li>
                        <div class="delivery-block">
                            <img src="assets/project-images/meat.svg" alt="meat image" />
                        </div>
                        <div class="delivery-item-text">
                            <p>Meat</p>
                        </div>
                    </li>

                    <li>
                        <div class="delivery-block">
                            <img src="assets/project-images/basket.svg" alt="basket image" />
                        </div>
                        <div class="delivery-item-text">
                            <p>Other Stores</p>
                        </div>
                    </li>

                </ul>
            </div> -->

        </div>
    </section>
    <!-- confirmed delivery section ends-->


    <!-- Carousel -->

    <section class="carousel-section carousel-inner">
        <div class="container-fluid">
            <h4 class="text-center">Testimonials</h4>
            <p class="text-center testimonial-sub-head">
                Our partners are our best reviews.
            </p>

            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <div class="user-post-box">
                        <!-- <div class="media-left">
                            <img src="{{slide.img }}" class="mr-2 user-image" alt="user image">
                        </div>
                        <div class="user-detail">
                            <h5>{{slide.name}}</h5>
                            <p>{{slide.city}}</p>
                        </div>
                        <div class="user-post-desc">
                            <p>{{slide.description}}</p>
                        </div> -->

                        <div class="media">
                            <img src="{{slide.img }}" class="align-self-center mr-2 user-image" alt="user image">
                            <div class="media-body user-post-desc align-self-center">
                                <h5>{{slide.name}}</h5>
                                <!-- <p>{{slide.city}}</p> -->
                            </div>
                        </div>
                        <div class="user-post-desc-bottom">
                            <p>{{slide.description}}</p>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>

        </div>
    </section>
    <section class="slider-bottom-banner">
        <img src="assets/project-images/slider-bottom.svg" alt="" />
    </section>
    <!-- testimonials section starts -->
    <section class="testimonial-wrapper">
        <div class="container">
            <div class="row">
                <!-- delivery card wrapper -->
                <div class="col-lg-6 col-sm-12">
                    <!-- delivery partner -->
                    <div class="delivery-partner-wrapper">
                        <div class="delivery-partner-image">
                            <img src="assets/project-images/delivery-partner.png" alt="deliver partner image" />
                        </div>
                        <!-- partner text wrapper -->
                        <div class="delivery-partner-header">
                            <h3>Become a Delivr Rider</h3>
                            <p>
                                You successfully run a fleet, you have aspirations to grow, you partner with successful companies. Want to grow in the region.
                            </p>
                        </div>
                        <!-- know more -->
                        <div class="text-center know-more" [routerLink]="['/delivr-for-riders']">
                            <span>Know more</span>
                        </div>
                    </div>
                </div>

                <!-- delivery card wrapper -->
                <div class="col-lg-6 col-sm-12">
                    <!-- delivery partner -->
                    <div class="delivery-partner-wrapper blue-gradient-wrapper">
                        <div class="delivery-partner-image">
                            <img src="assets/project-images/business-partner.png" alt="deliver partner image" />
                        </div>
                        <!-- partner text wrapper -->
                        <div class="delivery-partner-header">
                            <h3>Get your business on Delivr</h3>
                            <p>
                                Delivery is the new normal, your business understands this is a requirement now, you want to focus on your core business.
                            </p>
                        </div>
                        <!-- know more -->
                        <div class="text-center know-more" [routerLink]="['/delivr-for-business']">
                            <span>Know more</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- testimonials section ends -->

    <!-- footer starts -->
    <footer class="footer-wrapper">
        <div class="container">
            <div class="row">
                <!-- delivery-logo -->
                <div class="col-lg-2 col-sm-12">
                    <div class="footer-logo" [routerLink]="['/']">
                        <img src="assets/project-images/delivr-landing-logo.svg" alt="delivr landing logo" />
                    </div>
                </div>

                <!-- about terms&condition  -->
                <div class="col-lg-5 col-sm-12">
                    <div class="footer-heading">
                        <p>Contact</p>
                    </div>
                    <!-- footer list wrapper  -->
                    <div class="footer-list-wrapper">
                        <ul class="list-style-none">
                            <li [routerLink]="['../about']">
                                <a>About</a>
                            </li>
                            <li [routerLink]="['../terms-and-conditions']">
                                <a>Terms & Conditions</a>
                            </li>
                            <li [routerLink]="['../privacy-policy']">
                                <a>Privacy Policy</a>
                            </li>
                        </ul>
                    </div>

                    <!-- footer social wrapper  -->
                    <!-- <div class="footer-social-wrapper">
                        <ul class="list-style-none">
                            <li class="footer-list-icon">
                                <a>
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="footer-list-icon">
                                <a>
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="footer-list-icon">
                                <a>
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="footer-list-icon">
                                <a>
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div> -->


                </div>

                <!-- contact wrapper -->
                <div class="col-lg-5 col-sm-12">

                    <!-- footer heading -->
                    <div class="footer-heading">
                        <p>Contact</p>
                    </div>


                    <div class="delivery-mail-wrapper">
                        <ul class="list-style-none">
                            <li>

                                <div class="delivery-footer-img">
                                    <img src="assets/project-images/icon-location.svg" alt="icon email" />
                                </div>
                                <div class="footer-end-text">
                                    <p>
                                        22<sup>nd</sup> St, AI Quoz Industrial Area 3, Dubai
                                    </p>
                                </div>

                            </li>
                            <li>

                                <div class="delivery-footer-img">
                                    <img src="assets/project-images/icon-email.svg" alt="icon email" />
                                </div>
                                <div class="footer-end-text">
                                    <a href="mailto:deepak@delivr.biz?Subject=''" target="_blank" class="hyperlink">deepak@delivr.biz</a>
                                </div>

                            </li>
                            <li>

                                <div class="delivery-footer-img">
                                    <img src="assets/project-images/icon-call.svg" alt="icon call icon" />
                                </div>
                                <div class="footer-end-text">
                                    <a href="tel:+971-504570395" class="hyperlink">+971-504570395</a>, <a href="tel:+971-505539468" class="hyperlink">+971-505539468</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- copyright wrapper -->
                <div class="copyright-wrapper">
                    <p>Copyright {{currentYear}} | Delivr</p>
                </div>
            </div>
        </div>

    </footer>
    <!-- footer ends -->
</div>

