<div class="wrapper">
  <div class="col-sm-8 heading-flex-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="display-flex align-center heading-toggle-switch dropdown-status-wrapper">
      <div *ngIf="currentUrl != '/vendor/branch/edit/'" [routerLink]="['../../edit', id]">
        <a class="border-button-small">Edit</a>
      </div>
    </div>
  </div>

  <!-- form card details wrapper -->
  <div class="col-sm-8 card form-card-wrapper">
    <div class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">First Name</p>
        <div class="form-search-input">
          <p class="form-view-text">William </p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">Last Name</p>
        <div class="form-search-input">
          <p class="form-view-text">West</p>
        </div>
      </div>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">Email</p>
        <div class="form-search-input">
          <p class="form-view-text">william@delivr.com</p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">Mobile</p>
        <div class="form-search-input">
          <p class="form-view-text">9876543210r</p>
        </div>
      </div>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">Branch</p>
        <div class="form-search-input form-small-input">
          <p class="form-view-text">MC Donald</p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">User Role</p>
        <div class="form-search-input">
          <p class="form-view-text">MC Donald</p>
        </div>
      </div>
    </div>
  </div>



</div>