.notification-dropdown {
    .dropdown-item {
        display: flex;

      
        .icon-bell {
            font-size: 30px;
            display: flex;
            align-items: center;
            padding-right: 10px;
        }
    }

    .noti-text {
        font-size: 85%;
        white-space: normal !important;
    }

    .noti-list {
        height: auto !important;

        div {
            &:last-child {
               a {
                   border: none !important;
               }
            }
        }
    }
}

.notification-item-wrapper:nth-child(3n) .noti-text, .notification-item-wrapper:nth-child(3n) .noti-title {
    color: #F15221;
}

.notification-item-wrapper:nth-child(3n+1) .noti-text, .notification-item-wrapper:nth-child(3n+1) .noti-title {
    color: #2AB3CE;
}

.notification-item-wrapper:nth-child(3n+2) .noti-text, .notification-item-wrapper:nth-child(3n+2) .noti-title {
    color: #F54F60;
}

.notification-item-wrapper:nth-child(3n)  .icon-bell::before {
    content: "\e908";
    color: #f15221;
}

.notification-item-wrapper:nth-child(3n+1) .icon-bell::before {
    content: "\e906";
    color: #2ba2d6;
}

.notification-item-wrapper:nth-child(3n+2) .icon-bell::before {
    content: "\e907";
    color: #f54f60;
}

.notification-link-text {
    color: #EF6510 !important;
    font-weight: 600;
}

.text-bold-500 {
    font-weight: 500;
}

.navbar {
    .notification {
        position: absolute;
        top: 6px;
        // right: 20px;
        right:22px;
    }
}

.badge-pill {
    padding: 0px 3px 0px;
}

.badge {
    // padding: 6px 10px;
    padding: 0px 3px;
    font-size: 62%;
    font-weight: 500;
    letter-spacing: 0.3px;
}