<!-- Navbar (Header) Starts -->
<nav class="header-navbar navbar navbar-expand-lg navbar-light bg-faded">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle d-lg-none float-left" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="d-lg-none navbar-right navbar-collapse-toggle">
        <a class="open-navbar-container" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
          aria-controls="navbarSupportedContent">
          <i class="ft-more-vertical"></i>
        </a>
      </span>
    </div>
    <div class="navbar-container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav">
          <li class="nav-item mr-2  d-none d-lg-block">
            <a href="javascript:;" class="nav-link" id="navbar-fullscreen" appToggleFullscreen (click)="ToggleClass()">
              <i class="{{toggleClass}} font-medium-3 blue-grey darken-4"></i>
              <p class="d-none">fullscreen</p>
            </a>
          </li>

          <li class="nav-item" ngbDropdown [placement]="placement" (click)="markAsRead()">
            <a class="nav-link position-relative" id="dropdownBasic2" ngbDropdownToggle>
              <i class="ft-bell font-medium-3 blue-grey darken-4"></i>
              <span *ngIf="totalNotification" class="notification badge badge-pill badge-danger">&nbsp;</span>
              <p class="d-none">Notifications</p>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="notification-dropdown">
              <div class="noti-list" *ngIf="notificationList.length > 0">
                <div *ngFor="let notifications of notificationList" class="notification-item-wrapper">
                  <a (click)="showNotification()"
                    class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4">
                    <i class="icon-bell float-left d-block font-large-1 mt-1 mr-2"></i>
                    <span class="noti-wrapper">
                      <span class="noti-title d-block text-bold-400">
                        {{notifications.title}}
                      </span>
                      <span class="noti-text">{{notifications.body}}</span>
                    </span>
                  </a>
                </div>
              </div>
              <a class="noti-footer primary text-center d-block border-top border-top-blue-grey border-top-lighten-4 text-bold-400 py-1"
                (click)="showNotification()">
                Show All Notifications
              </a>
            </div>
          </li>

          <li class="nav-item" ngbDropdown [placement]="placement">
            <a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
              <i class="ft-user font-medium-3 blue-grey darken-4"></i>
              <p class="d-none">User Settings</p>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="text-left">
              <a class="dropdown-item py-1" (click)="profilePage()">
                <i class="ft-edit mr-2"></i>
                <span>My Profile</span>
              </a>
              <a class="dropdown-item py-1" routerLink="/inbox">
                <i class="ft-mail mr-2"></i>
                <span>My Inbox</span>
              </a>
              <a class="dropdown-item py-1" href="javascript:;">
                <i class="ft-settings mr-2"></i>
                <span>Settings</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">
                <i class="ft-power mr-2"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar (Header) Ends -->