<div class="wrapper ">
  <app-heading-wrapper></app-heading-wrapper>

  <!-- Form Wrapper -->
  <div class="col-sm-8 card form-card-wrapper">
    <form [formGroup]="vendorListForm" (ngSubmit)="onSubmit()">
      <div class="display-flex align-center padding-top-24 mobile-display-flex">

        <div>
          <!-- (click)="vendorList.business_logo.value = null"-->
          <div class="file-upload-wrapper file-wrapper">
            <input name="business_logo" #businesslogo type="file" value="" name="business_logo"
              (change)="uploadImage($event, 'business_logo')" accept=".jpg, .jpeg, .png" maxsize="2000000" />
            <span>
              <i class="icon-attachment"></i>
              Browse File
            </span>
            <div *ngIf="(vendorList.business_logo.invalid)"
              [ngClass]="(vendorList.business_logo.valid) ? 'display-none' : 'error'">
              <p *ngIf="(vendorList.business_logo.hasError('pattern'))" class="error">
                Only Image (JPG/JPEG/PNG) is allowed.
              </p>
              <p *ngIf="(vendorList.business_logo.hasError('size'))" class="error">
                Max size exceeds. You can upload upto 2 MB only.
              </p>
            </div>
          </div>
          <!-- <div class="user-profile-bg"></div> -->
          <div class="profile-image-block">
            <img src="{{(imageObject.business_logo) ? imageObject.business_logo : '/assets/img/user-icon.png'}}"
              alt="business image UI" />
          </div>

        </div>

      </div>
      <div class="display-flex padding-top-24">
        <div formGroupName="businessUsers" class="form-block padding-right-32">
          <p class="form-text">First Name*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter first name"
              (blur)="utility.removeInputSpace(businessUserControl.first_name)" formControlName="first_name"
              [class.is-invalid]="businessUserControl.first_name.invalid && isSubmitted">
          </div>
          <div
            *ngIf="(((businessUserControl.first_name.hasError('required') || businessUserControl.first_name.hasError('whitespace'))  && (businessUserControl.first_name.dirty || businessUserControl.first_name.touched)) && isSubmitted) || ((businessUserControl.first_name.hasError('required') ||businessUserControl.first_name.hasError('whitespace'))  && (businessUserControl.first_name.dirty || businessUserControl.first_name.touched))"
            [ngClass]="(businessUserControl.first_name.valid) ? 'display-none' : 'error'">
            Please enter first name.
          </div>
        </div>
        <div formGroupName="businessUsers" class="form-block">
          <p class="form-text">Last Name*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter last name"
              (blur)="utility.removeInputSpace(businessUserControl.last_name)" formControlName="last_name"
              [class.is-invalid]="(businessUserControl.last_name.errors  && (businessUserControl.last_name.dirty || businessUserControl.last_name.touched) && isSubmitted) || (businessUserControl.last_name.errors  && (businessUserControl.last_name.dirty || businessUserControl.last_name.touched))">
          </div>
          <div
            *ngIf="(((businessUserControl.last_name.hasError('required') || businessUserControl.last_name.hasError('whitespace'))  && (businessUserControl.last_name.dirty || businessUserControl.last_name.touched)) && isSubmitted) || ((businessUserControl.last_name.hasError('required') ||businessUserControl.last_name.hasError('whitespace'))  && (businessUserControl.last_name.dirty || businessUserControl.last_name.touched))"
            [ngClass]="(businessUserControl.last_name.valid) ? 'display-none' : 'error'">
            Please enter last name.
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Business Type*</p>
          <!-- dropdown wrapper -->
          <p-dropdown [options]="vendors" placeholder="Select business type" [showClear]="true"
            styleClass="prime-dropdown-wrapper" formControlName="business_type"
            [class.is-invalid]="(vendorList.business_type.hasError('required') && vendorList.business_type.touched)  || isSubmitted">

          </p-dropdown>
          <div
            *ngIf="(vendorList.business_type.hasError('required')  && (vendorList.business_type.dirty || vendorList.business_type.touched)) || isSubmitted"
            [ngClass]="(vendorList.business_type.valid) ? 'display-none' : 'error'">
            Please select business type.
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Business Name*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter business name"
              (focus)="utility.removeError(vendorList.email_id, 'duplicate')"
              (blur)="utility.removeInputSpace(vendorList.business_name)" formControlName="business_name"
              [class.is-invalid]="(vendorList.business_name.errors  && (vendorList.business_name.dirty || vendorList.business_name.touched) && isSubmitted) || (vendorList.business_name.errors  && (vendorList.business_name.dirty || vendorList.business_name.touched))">
          </div>
          <div
            *ngIf="(((vendorList.business_name.hasError('required') || vendorList.business_name.hasError('whitespace'))  && (vendorList.business_name.dirty || vendorList.business_name.touched)) && isSubmitted) || ((vendorList.business_name.hasError('required') ||vendorList.business_name.hasError('whitespace'))  && (vendorList.business_name.dirty || vendorList.business_name.touched))"
            [ngClass]="(vendorList.business_name.valid) ? 'display-none' : 'error'">
            Please enter business name.
          </div>
          <div *ngIf="(vendorList.business_name.hasError('duplicate') && isSubmitted)"
            [ngClass]="(vendorList.business_name.hasError('duplicate')) ? 'error' : 'display-none'">
            Business with this name already exists.
          </div>
        </div>
      </div>

      <div formGroupName="businessBranch" class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Country*</p>
          <p-dropdown [options]="countries" formControlName="country" placeholder="Select country"
            styleClass="prime-dropdown-wrapper" (onChange)="filtercities(businessAddressControl.country.value)"
            [class.is-invalid]="businessAddressControl.country.hasError('required') && isSubmitted">
          </p-dropdown>
        </div>
        <div class="form-block">
          <p class="form-text">City*</p>
          <p-dropdown [options]="cities" formControlName="city" placeholder="Select city"
            styleClass="prime-dropdown-wrapper" [disabled]="cities.length==0"
            [class.is-invalid]="(businessAddressControl.city.hasError('required') && businessAddressControl.city.touched)&& isSubmitted">
          </p-dropdown>
          <div
            *ngIf="(businessAddressControl.city.hasError('required')  && (businessAddressControl.city.dirty || businessAddressControl.city.touched)) || isSubmitted"
            [ngClass]="(businessAddressControl.city.valid) ? 'display-none' : 'error'">
            Please select city.
          </div>
        </div>
      </div>

      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Contact number*</p>
          <div class="form-search-input contact-form-input">
            <div class="input-group contact-input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{countryCode}}</span>
              </div>
              <input type="text" placeholder="Enter mobile number" formControlName="mobile_number"
                (blur)="utility.removeInputSpace(vendorList.mobile_number)" (keydown)="utility.onInputValidator($event)"
                [class.is-invalid]="(vendorList.mobile_number.errors  && (vendorList.mobile_number.dirty || vendorList.mobile_number.touched) && isSubmitted) || (vendorList.mobile_number.errors  && (vendorList.mobile_number.dirty || vendorList.mobile_number.touched))">
            </div>
          </div>
          <div
            *ngIf="(((vendorList.mobile_number.hasError('required') || vendorList.mobile_number.hasError('whitespace'))  && (vendorList.mobile_number.dirty || vendorList.mobile_number.touched)) && isSubmitted) || ((vendorList.mobile_number.hasError('required') ||vendorList.mobile_number.hasError('whitespace'))  && (vendorList.mobile_number.dirty || vendorList.mobile_number.touched))"
            [ngClass]="(vendorList.mobile_number.valid) ? 'display-none' : 'error'">
            Please enter mobile number.
          </div>
          <div
            *ngIf="((vendorList.mobile_number.value?.length > 10 && vendorList.mobile_number.touched) && isSubmitted) || (vendorList.mobile_number.value?.length > 10 && (vendorList.mobile_number.touched || vendorList.mobile_number.dirty)) || (vendorList.mobile_number.hasError('minlength') && (vendorList.mobile_number.touched || vendorList.mobile_number.dirty)) "
            [ngClass]="(vendorList.mobile_number.valid) ? 'display-none' : 'error'">
            Please enter 10 digits only.
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Alternate number</p>
          <div class="form-search-input contact-form-input">
            <div class="input-group contact-input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{countryCode}}</span>
              </div>
              <input type="text" placeholder="Enter alternate number" formControlName="alternate_number"
                (blur)="utility.removeInputSpace(vendorList.alternate_number)"
                (keydown)="utility.onInputValidator($event)"
                [class.is-invalid]="(vendorList.alternate_number.errors  && (vendorList.alternate_number.dirty || vendorList.alternate_number.touched) && isSubmitted) || (vendorList.alternate_number.errors  && (vendorList.alternate_number.dirty || vendorList.alternate_number.touched))">
            </div>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Email ID*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter email id"
              (focus)="utility.removeError(vendorList.email_id, 'duplicate')"
              (blur)="utility.removeInputSpace(vendorList.email_id)" formControlName="email_id"
              [class.is-invalid]="(vendorList.email_id.errors  && (vendorList.email_id.dirty || vendorList.email_id.touched) && isSubmitted) || (vendorList.email_id.errors  && (vendorList.email_id.dirty || vendorList.email_id.touched))">
          </div>
          <div
            *ngIf="(((vendorList.email_id.hasError('required') || vendorList.email_id.hasError('whitespace'))  && (vendorList.email_id.dirty || vendorList.email_id.touched)) && isSubmitted) || ((vendorList.email_id.hasError('required') ||vendorList.email_id.hasError('whitespace'))  && (vendorList.email_id.dirty || vendorList.email_id.touched))"
            [ngClass]="(vendorList.email_id.valid) ? 'display-none' : 'error'">
            Please enter email id.
          </div>
          <div *ngIf="(vendorList.email_id.hasError('duplicate') && isSubmitted)"
            [ngClass]="(vendorList.email_id.hasError('duplicate')) ? 'error' : 'display-none'">
            This email already exists.
          </div>
        </div>
        <div formGroupName="businessUsers" class="form-block">
          <p class="form-text">Designation*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter designation"
              (blur)="utility.removeInputSpace(businessUserControl.designation)" formControlName="designation"
              [class.is-invalid]="(businessUserControl.designation.errors  && (businessUserControl.designation.dirty || businessUserControl.designation.touched) && isSubmitted) || (businessUserControl.designation.errors  && (businessUserControl.designation.dirty || businessUserControl.designation.touched))">
          </div>
          <div
            *ngIf="(((businessUserControl.designation.hasError('required') || businessUserControl.designation.hasError('whitespace'))  && (businessUserControl.designation.dirty || businessUserControl.designation.touched)) && isSubmitted) || ((businessUserControl.designation.hasError('required') ||businessUserControl.designation.hasError('whitespace'))  && (businessUserControl.designation.dirty || businessUserControl.designation.touched))"
            [ngClass]="(businessUserControl.designation.valid) ? 'display-none' : 'error'">
            Please enter designation.
          </div>
        </div>
      </div>

      <div formGroupName="businessBranch" class="display-flex padding-top-24">
        <div class="form-block  padding-right-32">
          <p class="form-text">PO Box*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter PO Box"
              (blur)="utility.removeInputSpace(businessAddressControl.postal_Code)" formControlName="postal_Code"
              (keydown)="utility.onInputValidator($event)" maxlength="7"
              [class.is-invalid]="(businessAddressControl.postal_Code.errors  && (businessAddressControl.postal_Code.dirty || businessAddressControl.postal_Code.touched) && isSubmitted) || (businessAddressControl.postal_Code.errors  && (businessAddressControl.postal_Code.dirty || businessAddressControl.postal_Code.touched))">
          </div>
          <div
            *ngIf="(((businessAddressControl.postal_Code.hasError('required') || businessAddressControl.postal_Code.hasError('whitespace'))  && (businessAddressControl.postal_Code.dirty || businessAddressControl.postal_Code.touched)) && isSubmitted) || ((businessAddressControl.postal_Code.hasError('required') ||businessAddressControl.postal_Code.hasError('whitespace'))  && (businessAddressControl.postal_Code.dirty || businessAddressControl.postal_Code.touched))"
            [ngClass]="(businessAddressControl.postal_Code.valid) ? 'display-none' : 'error'">
            Please enter PO Box.
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Street Address*</p>
          <div class="form-search-input">
            <input type="text" #address placeholder="Enter street address"
              (blur)="utility.removeInputSpace(businessAddressControl.address_line_2)" formControlName="address_line_2"
              [class.is-invalid]="(businessAddressControl.address_line_2.errors  && (businessAddressControl.address_line_2.dirty || businessAddressControl.address_line_2.touched) && isSubmitted) || (businessAddressControl.address_line_2.errors  && (businessAddressControl.address_line_2.dirty || businessAddressControl.address_line_2.touched))">
          </div>
          <div
            *ngIf="(((businessAddressControl.address_line_2.hasError('required') || businessAddressControl.address_line_2.hasError('whitespace'))  && (businessAddressControl.address_line_2.dirty || businessAddressControl.address_line_2.touched)) && isSubmitted) || ((businessAddressControl.address_line_2.hasError('required') ||businessAddressControl.address_line_2.hasError('whitespace'))  && (businessAddressControl.address_line_2.dirty || businessAddressControl.address_line_2.touched))"
            [ngClass]="(businessAddressControl.address_line_2.valid) ? 'display-none' : 'error'">
            Please enter street address.
          </div>
        </div>
      </div>
      <div class="padding-top-24 " style="height: 300px">

        <agm-map [latitude]="latitude" [longitude]="longitude">
          <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
            (dragEnd)="markerDragEnd($event)"></agm-marker>
        </agm-map>
      </div>
      <div formGroupName="businessBranch" class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">House /Flat /Building no.*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter address"
              (blur)="utility.removeInputSpace(businessAddressControl.address_line_1)" formControlName="address_line_1"
              [class.is-invalid]="(businessAddressControl.address_line_1.errors  && (businessAddressControl.address_line_1.dirty || businessAddressControl.address_line_1.touched) && isSubmitted) || (businessAddressControl.address_line_1.errors  && (businessAddressControl.address_line_1.dirty || businessAddressControl.address_line_1.touched))">
          </div>
          <div
            *ngIf="(((businessAddressControl.address_line_1.hasError('required') || businessAddressControl.address_line_1.hasError('whitespace'))  && (businessAddressControl.address_line_1.dirty || businessAddressControl.address_line_1.touched)) && isSubmitted) || ((businessAddressControl.address_line_1.hasError('required') ||businessAddressControl.address_line_1.hasError('whitespace'))  && (businessAddressControl.address_line_1.dirty || businessAddressControl.address_line_1.touched))"
            [ngClass]="(businessAddressControl.address_line_1.valid) ? 'display-none' : 'error'">
            Please enter house no./flat no./building no.
          </div>
        </div>
      </div>

      <div class="padding-top-24">
        <p class="form-text">Upload Documents</p>
      </div>
      <div class="row">
        <!-- Agreement -->
        <div class="col-lg-6">
          <div class="padding-top-24">
            <p class="form-grey-text">Agreement</p>
            <div>
              <div class="file-upload-wrapper file-wrapper">
                <input name="agreement" #agreement type="file" value="" name="agreement[]"
                  (click)="agreement.value = null" (change)="uploadImage($event, 'agreement')" accept=".pdf"
                  maxsize="10000000" />
                <span>
                  <i class="icon-attachment"></i>
                  Browse File
                </span>
                <div *ngIf="(vendorList.agreement.invalid)"
                  [ngClass]="(vendorList.agreement.valid) ? 'display-none' : 'error'">
                  <p *ngIf="(vendorList.agreement.hasError('pattern'))" class="error">
                    Only PDF is allowed.
                  </p>
                  <p *ngIf="(vendorList.agreement.hasError('size'))" class="error">
                    Max size exceeds. You can upload upto 10 MB only.
                  </p>
                </div>
              </div>
              <!-- image wrapper here -->
              <ng-container *ngIf="imageObject.agreement && imageObject.agreement != ''; else noagreement">

                <div class="document-file-wrapper">
                  <a target="_blank" href="{{imageObject.agreement}}">
                    <img src="assets/project-images/document-pdf.png" alt="document-image" />
                  </a>
                </div>
              </ng-container>
              <ng-template #noagreement>
                <!-- file thumbnail wrapper -->
                <div class="file-thumbnail-wrapper">
                  <img src="assets/project-images/thumbnail-image.svg" />
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <!-- License -->
          <div class="padding-top-24">
            <p class="form-grey-text">Trade License</p>
            <div>
              <!-- file upload wrapper -->
              <div class="file-upload-wrapper file-wrapper">
                <input name="license" type="file" (change)="uploadImage($event, 'license')" maxsize="10000000"
                  accept=".pdf">
                <span>
                  <i class="icon-attachment"></i>
                  Browse File
                </span>
                <div *ngIf="((vendorList.license.invalid))"
                  [ngClass]="(vendorList.license.valid) ? 'display-none' : 'error'">
                  <p *ngIf="((vendorList.license.hasError('pattern')))">
                    Only Images are allowed
                  </p>
                  <p *ngIf="((vendorList.license.hasError('limit')))">
                    You can upload only 2 files.
                  </p>
                  <p *ngIf="((vendorList.license.hasError('size')))">
                    Max size exceeds. You can upload upto 2 MB only.
                  </p>
                </div>
              </div>

              <!-- image wrapper here -->
              <ng-container *ngIf="imageObject.license && imageObject.license != ''; else nolicense">

                <div class="document-file-wrapper">
                  <a target="_blank" href="{{imageObject.license}}">
                    <img src="assets/project-images/document-pdf.png" alt="document-image" />
                  </a>
                </div>
              </ng-container>
              <ng-template #nolicense>
                <!-- file thumbnail wrapper -->
                <div class="file-thumbnail-wrapper">
                  <img src="assets/project-images/thumbnail-image.svg" />
                </div>
              </ng-template>
            </div>
          </div>
        </div>

      </div>
      <div class="row padding-top-24">
        <!-- Emirates Id  -->
        <div class="col-lg-6">
          <div formGroupName="businessUsers" class="padding-top-24">
            <p class="form-grey-text">Emirates ID</p>

            <!-- file upload wrapper -->
            <div class="file-upload-wrapper file-wrapper">
              <input name="emirates_id" type="file" maxsize="10000000" accept=".pdf"
                (change)="uploadImage($event, 'emirates_id')">
              <span>
                <i class="icon-attachment"></i>
                Browse File
              </span>

              <div *ngIf="((businessUserControl.emirates_id.invalid))"
                [ngClass]="(businessUserControl.emirates_id.valid) ? 'display-none' : 'error'">
                <p *ngIf="((businessUserControl.emirates_id.hasError('pattern')))">
                  Only Images are allowed
                </p>
                <p *ngIf="((businessUserControl.emirates_id.hasError('limit')))">
                  You can upload only 2 files.
                </p>
                <p *ngIf="((businessUserControl.emirates_id.hasError('size')))">
                  Max size exceeds. You can upload upto 2 MB only.
                </p>
              </div>
            </div>

            <!-- image-wrapper here -->
            <ng-container *ngIf="imageObject.emirates_id && imageObject.emirates_id != ''; else noemirates">

              <div class="document-file-wrapper">
                <a target="_blank" href="{{imageObject.emirates_id}}">
                  <img src="assets/project-images/document-pdf.png" alt="document-image" />
                </a>
              </div>
            </ng-container>
            <ng-template #noemirates>
              <!-- file thumbnail wrapper -->
              <div class="file-thumbnail-wrapper">
                <img src="assets/project-images/thumbnail-image.svg" />
              </div>
            </ng-template>
          </div>
        </div>
        <!-- passports  -->
        <div class="col-lg-6">
          <div formGroupName="businessUsers" class="padding-top-24">
            <p class="form-grey-text">Passport Copy</p>

            <!-- file upload wrapper -->
            <div class="file-upload-wrapper file-wrapper">
              <input name="passport_document" type="file" maxsize="10000000" accept=".pdf"
                (change)="uploadImage($event, 'passport_document')">
              <span>
                <i class="icon-attachment"></i>
                Browse File
              </span>
              <div *ngIf="((businessUserControl.passport_document.invalid))"
                [ngClass]="(businessUserControl.passport_document.valid) ? 'display-none' : 'error'">
                <p *ngIf="((businessUserControl.passport_document.hasError('pattern')))">
                  Only Images are allowed
                </p>
                <p *ngIf="((businessUserControl.passport_document.hasError('limit')))">
                  You can upload only 2 files.
                </p>
                <p *ngIf="((businessUserControl.passport_document.hasError('size')))">
                  Max size exceeds. You can upload upto 2 MB only.
                </p>
              </div>
            </div>

            <!-- image-wrapper here -->
            <ng-container *ngIf="imageObject.passport_document && imageObject.passport_document != ''; else nopassport">

              <div class="document-file-wrapper">
                <a target="_blank" href="{{imageObject.passport_document}}">
                  <img src="assets/project-images/document-pdf.png" alt="document-image" />
                </a>
              </div>
            </ng-container>
            <ng-template #nopassport>
              <!-- file thumbnail wrapper -->
              <div class="file-thumbnail-wrapper">
                <img src="assets/project-images/thumbnail-image.svg" />
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row padding-top-24">
        <div class="col-lg-6">
          <!-- credit application form -->
          <div class="padding-top-24">
            <p class="form-grey-text">Credit Application Form</p>
            <!-- file upload wrapper -->
            <div class="file-upload-wrapper file-wrapper">
              <input name="emirates_id" type="file" maxsize="10000000"
                (change)="uploadImage($event, 'credit_application_form')" accept=".pdf">
              <span>
                <i class="icon-attachment"></i>
                Browse File
              </span>
              <div *ngIf="(vendorList.credit_application_form.invalid)"
                [ngClass]="(vendorList.credit_application_form.valid) ? 'display-none' : 'error'">
                <p *ngIf="(vendorList.credit_application_form.hasError('pattern'))" class="error">
                  Only PDF is allowed.
                </p>
                <p *ngIf="(vendorList.credit_application_form.hasError('size'))" class="error">
                  Max size exceeds. You can upload upto 10 MB only.
                </p>
              </div>
            </div>
            <!-- image-wrapper here -->
            <ng-container
              *ngIf="imageObject.credit_application_form && imageObject.credit_application_form != ''; else nocreditapplication">
              <!-- image wrapper here -->
              <div class="document-file-wrapper">
                <a target="_blank" href="{{imageObject.credit_application_form}}">
                  <img src="assets/project-images/document-pdf.png" alt="document-image" />
                </a>
                <!-- <div class="close-icon-wrapper" (click)="delete(i,'agreement',url)">
                          <span class="close-icon"><i class="fa fa-close"></i></span>
                        </div> -->
              </div>
            </ng-container>
            <ng-template #nocreditapplication>
              <!-- file thumbnail wrapper -->
              <div class="file-thumbnail-wrapper">
                <img src="assets/project-images/thumbnail-image.svg" />
              </div>
            </ng-template>


          </div>
        </div>
        <div class="col-lg-6">
          <div class="padding-top-24">
            <p class="form-grey-text">Other Documents</p>
            <!-- file upload wrapper -->
            <div class="file-upload-wrapper file-wrapper">
              <input name="other_document" type="file" (change)="uploadImage($event, 'other_document')" accept=".pdf"
                maxsize="10000000">
              <span>
                <i class="icon-attachment"></i>
                Browse File
              </span>

              <div *ngIf="(vendorList.other_document.invalid)"
                [ngClass]="(vendorList.other_document.valid) ? 'display-none' : 'error'">
                <p *ngIf="(vendorList.other_document.hasError('pattern'))" class="error">
                  Only PDF is allowed.
                </p>
                <p *ngIf="(vendorList.other_document.hasError('size'))" class="error">
                  Max size exceeds. You can upload upto 10 MB only.
                </p>
              </div>
            </div>

            <ng-container *ngIf="imageObject.other_document && imageObject.other_document != ''; else nootherdocument">
              <!-- image wrapper here -->
              <div class="document-file-wrapper">
                <a target="_blank" href="{{imageObject.other_document}}">
                  <img src="assets/project-images/document-pdf.png" alt="document-image" />
                </a>
              </div>
            </ng-container>
            <ng-template #nootherdocument>
              <!-- file thumbnail wrapper -->
              <div class="file-thumbnail-wrapper">
                <img src="assets/project-images/thumbnail-image.svg" />
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row padding-top-24">

        <div class="bank-statement-wrapper">
          <!-- Emirates ID -->
          <div class="padding-top-24">
            <p class="form-grey-text">6 Month Bank Statement</p>
            <div>
              <!-- file upload wrapper -->
              <div class="file-upload-wrapper file-wrapper">
                <input name="bank_statement" type="file" (change)="uploadImage($event, 'bank_statement')" accept=".pdf"
                  maxsize="10000000">
                <span>
                  <i class="icon-attachment"></i>
                  Browse File
                </span>
                <div *ngIf="(vendorList.bank_statement.invalid)"
                  [ngClass]="(vendorList.bank_statement.valid) ? 'display-none' : 'error'">
                  <p *ngIf="(vendorList.bank_statement.hasError('pattern'))" class="error">
                    Only PDF is allowed.
                  </p>
                  <p *ngIf="(vendorList.bank_statement.hasError('size'))" class="error">
                    Max size exceeds. You can upload upto 10 MB only.
                  </p>
                </div>
              </div>

              <!-- image wrapper here -->
              <ng-container
                *ngIf="imageObject.bank_statement && imageObject.bank_statement != ''; else nobankstatement">
                <!-- image wrapper here -->
                <div class="document-file-wrapper">
                  <a target="_blank" href="{{imageObject.bank_statement}}">
                    <img src="assets/project-images/document-pdf.png" alt="document-image" />
                  </a>
                </div>
              </ng-container>
              <ng-template #nobankstatement>
                <!-- file thumbnail wrapper -->
                <div class="file-thumbnail-wrapper">
                  <img src="assets/project-images/thumbnail-image.svg" />
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="align-button-right">
        <button type="reset" (click)="resetForm()" class="border-button-wrapper margin-right-32">Cancel</button>
        <button type="button" class="button-wrapper" (click)="onSubmit()">{{buttonName}}</button>
      </div>
    </form>
  </div>
</div>



<!-- image dialog wrapper starts -->
<p-dialog header="Image Viewer" [(visible)]="imageDisplay" [modal]="true" [responsive]="true"
  [style]="{width: '650px', minWidth: '650px'}" [minY]="70" [maximizable]="false" appendTo="body"
  styleClass="prime-modal-dialog prime-dialog-repair">
  <div class="dialog-content">
    <div class="image-wrapper-block">
      <img [src]="imageUrl || 'assets/project-images/thumbnail-image.svg'" alt="vehicle images wrapper " />
    </div>
  </div>
</p-dialog>
<!-- image dialog wrapper ends -->
