<div class="wrapper servicepage">
  <app-heading-wrapper></app-heading-wrapper>

  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"></app-search>

    <app-button-wrapper [buttonTitle]="'Add New Category'" (click)="addEditServiceCategory()"></app-button-wrapper>
  </div>

  <div class="table-wrapper">
    <p-table [value]="serviceCategoryList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" (onLazyLoad)="paginate($event)" [lazy]="true" [totalRecords]="total" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 7em;">Serial#</th>
          <th>Service Category Name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-category let-i="rowIndex">
        <tr>
          <td><span class="ui-column-title">Serial</span>{{i+1}}</td>
          <td><span class="ui-column-title">Service Category Name</span>{{category.service_category_name}}</td>

          <td>
            <span class="ui-column-title">Status</span>
            <app-active-switch [checked]="category.status == 'on'" [possibleValue]="possibleValue"
              (change)="changeStatus($event, category.service_category_id)"></app-active-switch>
          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <button class="success p-0" (click)="addEditServiceCategory(i)">
              <i class="fa fa-eye font-medium-1 "></i>
              Edit
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="4">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- dialog starts -->
<p-dialog header="{{formHeading}}" [(visible)]="displayForm" [modal]="true" [responsive]="true"
  [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body"
  [closeOnEscape]="false" styleClass="prime-modal-dialog" (onHide)="resetForm()">
  <form [formGroup]="serviceCategoryForm" (ngSubmit)="onSubmit()">
    <div>
      <p class="modal-text">Service Category Name*</p>
      <div class="modal-search-input">
        <input type="text" placeholder="Enter Service Category Name" formControlName="service_category_name"
          [class.is-invalid]="(serviceForm.service_category_name.errors  && (serviceForm.service_category_name.dirty || serviceForm.service_category_name.touched) && isSubmitted) || (serviceForm.service_category_name.errors  && (serviceForm.service_category_name.dirty || serviceForm.service_category_name.touched))" />
      </div>
      <div
        *ngIf="(((serviceForm.service_category_name.hasError('required') || serviceForm.service_category_name.hasError('whitespace'))  && (serviceForm.service_category_name.dirty || serviceForm.service_category_name.touched)) && isSubmitted) || ((serviceForm.service_category_name.hasError('required') || serviceForm.service_category_name.hasError('whitespace'))  && (serviceForm.service_category_name.dirty || serviceForm.service_category_name.touched))"
        [ngClass]="(serviceForm.service_category_name.valid) ? 'display-none' : 'error'">
        Please enter Service Category name.
      </div>
    </div>
    <p-footer>
      <div class="modal-flex-button padding-top-32">
        <button type="reset" (click)="resetForm()" class="modal-border-button">Cancel</button>
        <button type="submit" class="modal-button-wrapper">{{formButton}}</button>
      </div>
    </p-footer>
  </form>

</p-dialog>