// .heading-wrapper {
//     h3 {
//         text-transform: uppercase;
//         font-size: 28px;
//         font-weight: bold;
//         color: #4A4A4A;
//     }
// }
// .search-input {
//     position:relative;
//     display:inline-block;
//     input[type=text] {
//         width:16em;

//         border: 1px solid #D8D8D8;
//         padding: 8px 10px;
//         border-radius: 3px;
//     }
//     .search-icon {
//         position: absolute;
//         top: 8px;
//         right: 10px;
//         svg {
//             width:20px;
//             height:20px;
//         }
//     }
// }
// .card {
//     padding: 5px 15px 20px;
// }

// .card-icon {
//     color: #8F8F8F;
//     font-size: 18px;
//     margin-left: 5px;
// }

// .small-card-icon {
//     color: #999999;
//     font-size: 13px;
//     margin-left: 0px;
// }

// .flex-wrapper {
//     display: flex;
//     justify-content: space-between;
//     margin-top:20px;
//     .flex-title {
//         .flex-title-text {
//             color: #4A4A4A;
//             font-size: 18px;
//             text-transform: uppercase;
//             font-weight: 500;

//         }
//  }
//     .country-sub-title {
//         color:#8F8F8F;
//         &:not(:last-child) {
//             margin-right:16px;
//         }
//     }
//     .country-card-text {
//         font-size: 14px;
//         color: #8F8F8F;
//         font-weight:500;


//     }
//     .fade-card-text {
//         color: #999999;
//         font-size: 15px;
//         margin-left: 0px;
//         margin-bottom:0;
//         text-align: right;
//         cursor:pointer;
//     }
// }

// .search-flex-wrapper {
//     display: flex;
//     align-items: center;
//     margin-top: 30px;
//     justify-content: space-between;
// }

// .button-wrapper  {
//     background: #E9BA00;
//     padding: 10px 15px;
//     min-width: 11em;
//     text-align: center;
//     border-radius: 3px;
//     color: #fff;
//     font-weight: 400;
//     cursor: pointer;
// }

// .modal-search-input {
//     input[type=text] {
//         width:100%;
//         border: 1px solid #D8D8D8;
//         padding: 5px 10px;
//         color:#8F8F8F;
//         border-radius: 3px;
//     }
// }
// // Gneric toggle switch
// ::ng-deep .prime-switch-override {
//         height:10px !important;
//         width:2.5em !important;
//         margin-right:10px;
//         &.ui-inputswitch-checked 
//         {
//             .ui-inputswitch-slider {
//                 background: #ececec !important;
//                 &::before {
//                     background-color: #848282 !important;
//                     height: 16px !important;
//                     width: 16px !important;
//                     top: -3px;
//                 }
//             }
//         }
//         .ui-inputswitch-slider {

//             background-color: #CFF6E2 !important;
//             &::before {
//                 background:#13D36D !important;
//                 height: 16px !important;
//                 width: 16px !important;
//                 top: -3px;
//             }
//         }


//     }

//     // Generic Popup Modal
// ::ng-deep .prime-modal-dialog {
//     @media (max-width:640px) {
//         padding:15px !important;
//         box-shadow: none !important;
//     }
//     .modal-text {
//         font-size: 14px;
//         font-weight: 500;
//         color: black;
//         padding-bottom:8px;
//     }
//     .ui-dialog-titlebar {
//         border-top-left-radius:8px;
//         border-top-right-radius:8px;
//         border: 0px solid #ffffff !important;
//         background-color: #ffffff !important;
//         padding: 24px 24px 0 !important;
//         font-size:21px !important;
//         @media (max-width:640px) {
//             border:0px solid #fff !important;
//         }


//         .ui-dialog-title {
//             font-size:21px;
//         }
//     }
//     .ui-dialog-content {
//         background-color: #ffffff !important;
//         color: #333333;
//         padding: 32px 24px !important;
//         border: 0px solid #ffffff !important;
//     }
//     .ui-dialog-footer {
//         border-bottom-left-radius:8px;
//         border-bottom-right-radius:8px;
//         border:0px solid #fff !important;
//         padding: 0 24px 24px !important;
//     }

//     .modal-flex-button {
//         display:flex;
//         justify-content: space-between;
//         .modal-border-button {
//             border: 1px solid #D8D8D8;
//             padding: 8px 10px;
//             min-width: 10em;
//             text-align: center;
//             color: #8f8f8f;
//             border-radius: 3px;
//             font-weight: 500;
//             cursor:pointer;

//             &:hover {
//                 color: #8f8f8f;
//             }
//         }
//         .modal-button-wrapper {
//             padding: 8px 10px;
//             min-width: 10em;
//             text-align: center;
//             color: #ffffff;
//             border-radius: 3px;
//             font-weight: 500;
//             background-color: #FFC107;
//             cursor:pointer;

//             &:hover {
//                 color: #ffffff;
//             }
//         }
//     }
// }

// @media (max-width:640px) {
//     .country-card-block {
//         display: flex;
//         align-items: flex-end;
//         flex-direction: column;
//         height: 100%;
//         justify-content: space-between;
//     }
//     .country-sub-title {
//         display:block;
//         margin-right:0;
//     }
//     .search-input {
//         display:block;
//     }
//     .search-input input[type=text] {
//         width:100%;
//     }
//     .search-input {
//         input[type=text] {
//             width:100%;
//         }
//     }
//     .button-wrapper {
//         min-width: auto;
//         padding: 8px 10px;
//         font-size: 14px;
//     }
//     .table-wrapper {
//         .ui-column-title {
//          color: #4A4A4A;
//         }
//     }
//     .search-icon {
//         top:10px;
//     }
//     .modal-border-button, .modal-button-wrapper {
//         padding:4px 10px !important;
//         min-width: 7em !important;
//     }
//     .search-input {
//         margin-top:0px;
//     }
// }

.view-icon {
  padding-right: 7px !important;
}

.card-icon {
  padding-left: 5px !important;
}

// dropdown wrapper styling
.prime-textarea-input .ui-widget-header .ui-inputtext, .ui-widget-content .ui-inputtext {
  min-height: auto !important;
}