<div class="wrapper">
  <app-heading-wrapper [sectionTitle]="'Country'"></app-heading-wrapper>
  <!-- Search wrapper -->
  <div class="search-flex-wrapper countries-page">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"
      [placeHolderText]="'Search Country Name'"></app-search>
    <app-button-wrapper [buttonTitle]="'Add Country'" (click)="addCountry()"></app-button-wrapper>
  </div>

  <!-- table wrapper -->
  <div class="table-wrapper">
    <p-table [value]="countries" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true" [lazy]="true"
      [alwaysShowPaginator]="false" [rows]="10" [sortOrder]="1" (onLazyLoad)="paginate($event)" [totalRecords]="total">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:5em">S.No.
          </th>
          <th style="width:10em">Country Name</th>
          <th>#Cities</th>
          <th>#Vehicles</th>
          <th>#Business</th>
          <th style="width: 12em;text-align: center;">Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vehicle let-i="rowIndex">
        <tr>
          <td><span class="ui-column-title">S.No.</span>{{i+1}}</td>
          <td>
            <span class="ui-column-title">Country Name</span> {{(vehicle.country) ? vehicle.country : '-'}}
          </td>
          <td><span class="ui-column-title">#Cities</span>{{vehicle.cities[0]==undefined ? 0 : vehicle.cities[0].count}}
          </td>
          <td>
            <span
              class="ui-column-title">#Vehicles</span>{{vehicle.businessBranch[0]==undefined ? 0 : vehicleCount(vehicle.businessBranch)}}
          </td>
          <td><span
              class="ui-column-title">#Business</span>{{(vehicle.businessBranch[0]==undefined || vehicle.businessBranch[0]=='') ? 0 : length(vehicle.businessBranch)}}
          </td>
          <td>
            <span class="ui-column-title">Status</span>
            <app-active-switch [checked]="vehicle.status == 'active'" [possibleValue]="posibleValue"
              (change)="changeStatus($event, vehicle.country_id)"></app-active-switch>
          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0 view-icon"
              [routerLink]="['../country/details', utility.base64Encode(vehicle.country_id)]">
              <i class="fa fa-eye font-medium-1 "></i> View
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="7">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- dialog starts -->
<p-dialog header="Add Country" [(visible)]="addDisplay" [modal]="true" [responsive]="true" [closeOnEscape]="false"
  [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body"
  styleClass="prime-modal-dialog" (onHide)="resetForm()">
  <form [formGroup]="addCountryForm" (ngSubmit)="onSubmit()">
    <div>
      <p class="form-text">Country*</p>
      <p-dropdown [options]="countryjson" formControlName="country" placeholder="Select country" [showClear]="true"
        styleClass="prime-dropdown-wrapper" (onChange)="updateform(addCountryForm.value.country)"
        [class.is-invalid]="(countryForm.country.hasError('required') && countryForm.country.touched) && isSubmitted">
      </p-dropdown>
      <div *ngIf="(countryForm.country.hasError('required') && countryForm.country.touched)"
        [ngClass]="(countryForm.country.valid) ? 'display-none' : 'error'">
        Please choose a country.
      </div>
    </div>
    <div class="padding-top-24">
      <p class="modal-text">Currency Code</p>

      <div class="modal-search-input">
        <input type="text" disabled placeholder="currency" name="currency" formControlName="currency"
          [class.is-invalid]="(countryForm.currency.errors  && (countryForm.currency.dirty || countryForm.currency.touched) && isSubmitted) || (countryForm.currency.errors  && (countryForm.currency.dirty || countryForm.currency.touched))" />
      </div>
    </div><br>
    <div>
      <p class="modal-text">Country Code</p>
      <div class="modal-search-input">
        <input type="text" disabled placeholder="country" name="name" formControlName="country_code"
          [class.is-invalid]="(countryForm.country_code.errors  && (countryForm.country_code.dirty || countryForm.country_code.touched) && isSubmitted) || (countryForm.country_code.errors  && (countryForm.country_code.dirty || countryForm.country_code.touched))" />
      </div>
    </div>
    <p-footer>
      <div class="modal-flex-button padding-top-32">
        <button type="reset" (click)="resetForm()" class="modal-border-button">Cancel</button>
        <button type="submit" class="modal-button-wrapper">Add</button>
      </div>
    </p-footer>
  </form>
</p-dialog>