<!-- <router-outlet></router-outlet> -->
<div ngxUiLoaderBlurred blur="7">
    <router-outlet></router-outlet>
</div>
<ngx-ui-loader></ngx-ui-loader>
<p-toast [style]="{marginTop: '80px'}" position="bottom-center"></p-toast>