<div class="wrapper">
  <div class="col-sm-8 heading-flex-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="display-flex align-center heading-toggle-switch dropdown-status-wrapper">
      <div *ngIf="currentUrl != '/vendor/branch/edit/'"
        [routerLink]="['../../edit', utility.base64Encode(branchDetails.branch_area_id)]">
        <!-- <a class="border-button-small">Edit</a> -->
        <button class="button-wrapper edit-button-wrapper">Edit</button>
      </div>
      <!-- back button wrapper -->
      <div (click)="previousPage()">
        <a class="border-button-small">Back</a>
      </div>
    </div>
  </div>

  <!-- form card details wrapper -->
  <div class="col-sm-8 card form-card-wrapper">

    <div *ngIf="branchDetails.businessPartner!=null" class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">Partner</p>
        <div class="form-search-input">
          <p class="form-view-text">{{branchDetails.businessPartner.partner}}</p>
        </div>
      </div>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">Branch Name</p>
        <div class="form-search-input">
          <p class="form-view-text">{{branchDetails.address_branch_name}}</p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">Country</p>
        <div class="form-search-input">
          <p class="form-view-text">{{branchDetails.countries.country}}</p>
        </div>
      </div>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block padding-right-32">
        <p class="form-grey-text">City</p>
        <div class="form-search-input">
          <p class="form-view-text">{{branchDetails.cities.city}}</p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">House no./Flat no./Building no.</p>
        <div class="form-search-input">
          <p class="form-view-text">{{branchDetails.address_line_1}}</p>
        </div>
      </div>
    </div>
    <div class="display-flex padding-top-24">
      <div class="form-block">
        <p class="form-grey-text">Street Address</p>
        <div class="form-search-input form-small-input">
          <p class="form-view-text">{{branchDetails.address_line_2}}</p>
        </div>
      </div>
      <div class="form-block">
        <p class="form-grey-text">Postal Code</p>
        <div class="form-search-input">
          <p class="form-view-text">{{branchDetails.postal_Code}}</p>
        </div>
      </div>
    </div>
    <div class="display-flex padding-top-24">
      <!-- assign bike -->
      <div class="form-footer-button padding-top-24">
        <div class="border-button-wrapper" (click)="assignNewBike()">
          <a>Assign New Bike</a>
        </div>
      </div>
    </div>
  </div>
</div>