.col-width-wrapper {
    max-width:65.4% !important;
    padding:0 !important;
}
.justify-space-between {
    justify-content: space-between;
}

// table wrapper
::ng-deep .country-list-wrapper {
    .ui-table-thead {
        tr {
            border-top: 0px solid #D9E0EA !important;
            border-bottom: 0px solid #D9E0EA !important;
        }
    }
    .ui-table-tbody {
        tr {
            td {
                background:#fff !important;
            }
        }
    } 
}

.height-wrapper {
    min-height:70vh;
}

::ng-deep .country-list-wrapper .ui-table-thead tr th {
    background:#fff !important;
}

.selected-bike-wrapper {
    background: #E7EDF6;
    padding:0;
    display:flex;
    justify-content: space-between;


    .bike-title-text {
        font-size:18px;
        color:#4A4A4A;
        padding: 21px 21px 0;
        font-weight: 500;
    }
}

.align-button-right {
    justify-content: space-evenly;
    padding-bottom:21px;
}
