<div class="wrapper">
  <!-- heading wrapper -->
  <app-heading-wrapper></app-heading-wrapper>
  <!-- search wrapper -->
  <div class="search-flex-wrapper">
    <app-search></app-search>
  </div>
  <!-- table list column wrapper -->
  <div class="container">
    <div class="row justify-space-between">
      <div class="col-lg-8 col-sm-12 col-width-wrapper height-wrapper card">
        <!-- Table wrapper -->
        <div>
          <p-table [value]="bikeList" styleClass="country-list-wrapper prime-table-radio-wrapper" [responsive]="true"
            sortField="id" [sortOrder]="1" [(selection)]="selectedValue" [metaKeySelection]="true">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3em">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [pSortableColumn]="'bikerName'">ID
                  <p-sortIcon [field]="'id'"></p-sortIcon>
                </th>
                <th>Reg Num</th>
                <th>Brand</th>
                <th>Model</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-bike>
              <tr [pSelectableRow]="rowData">
                <td>
                  <span class="ui-column-title">Select Button</span>
                  <p-tableCheckbox [value]="rowData" selectionMode="multiple">
                  </p-tableCheckbox>
                </td>

                <td><span class="ui-column-title">ID</span>
                  {{bike.id}}
                </td>
                <td>
                  <span class="ui-column-title">Reg Num</span>
                  {{bike.vehicle_number}}
                </td>
                <td>
                  <span class="ui-column-title">Email</span>
                  {{bike.brand_name}}
                </td>
                <td>
                  <span class="ui-column-title">Rating</span>
                  {{bike.model_name}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      {{selectedValue.length}}
      <div *ngIf="selectedValue" class="col-lg-4 col-sm-12 card height-wrapper selected-bike-wrapper">

        <!-- Table wrapper -->
        <div>
          <p class="bike-title-text">Selected Bikes</p>

          <p-table [value]="selectedValue" styleClass="country-list-wrapper prime-table-radio-wrapper"
            [responsive]="true" sortField="id" [sortOrder]="1" [metaKeySelection]="true">
            <ng-template pTemplate="header">
              <tr>
                <!-- <th style="width: 3em">
                </th>
                <th [pSortableColumn]="'bikerName'">ID
                  <p-sortIcon [field]="'id'"></p-sortIcon>
                </th> -->
                <th>Reg Num</th>
                <th>Brand</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body">
              <tr *ngFor="let bikes of selectedValue">
                <td>
                  <span class="ui-column-title">Select Button</span>
                  <p-tableCheckbox [value]="rowData" (click)="checkboxSelection(bikes.id)">
                  </p-tableCheckbox>
                </td>

                <td><span class="ui-column-title">ID</span>
                  {{bikes.id}}
                </td>
                <td>
                  <span class="ui-column-title">Reg Num</span>
                  {{bikes.vehicle_number}}
                </td>
                <td>
                  <span class="ui-column-title">Email</span>
                  {{bikes.brand_name}}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td class="text-center text-danger font-weight-600" colspan="8">No Records Found.</td>
              </tr>
            </ng-template>
            <!-- <ng-template pTemplate="summary">
              <ul>
                <li *ngFor="let car of selectedValue" style="text-align: left">
                  {{car.id + ' - ' + car.brand + ' - ' }}
                </li>
              </ul>
            </ng-template> -->
          </p-table>
        </div>

        <div class="align-button-right">
          <button type="reset" class="border-button-wrapper margin-right-32">Cancel</button>
          <button (onClick)="onClick($event)" type="submit" class="button-wrapper">{{buttonName}}</button>
        </div>
      </div>
    </div>
  </div>
</div>