<div class="wrapper">
 <div class="col-sm-8 ">
    <!-- edit and back button -->
    <div (click)="previousPage()" class="display-inline-block">
      <a class="border-button-small">Back</a>
    </div>
    <div class="card">
      <div class="flex-wrapper margin-bot-20">
        <div class="card-flex-wrap">
          <div>
            <h4 class="detail-sub-title">Country Name</h4>
            <p class="text-uppercase">
              {{list ? list.Country.country : 'country name'}}
            </p>
          </div>
          <div>
            <h4 class="detail-sub-title">City Name</h4>
            <p>{{list ? list.city : 'city name'}}</p>
          </div>
        </div>
        <div (click)="editCity(list.city, list.city_id, list.Country.country_id)">
          <p class="detail-sub-title edit-icon">
            <i class="fa fa-pencil"></i>
            Edit
          </p>
        </div>
      </div>
      <div class="flex-wrapper margin-bot-20">
        <div class="card-flex-wrap">
          <div>
            <h4 class="detail-sub-title">Businesses</h4>
            <p class="text-uppercase">{{list ? list.businessBranch.length : 0}}</p>
          </div>
          <div>
            <h4 class="detail-sub-title">Vehicles</h4>
            <p>{{list ? list.c : 0}}</p>
          </div>
        </div>
        <div>
          <app-active-switch [checked]="list? list.status == 'active' : false" [possibleValue]="posibleValue"
            (change)="changeStatus($event, list.city_id)"></app-active-switch>
        </div>
      </div>
    </div>

  </div>
  <!-- dialog starts -->
  <p-dialog header="Edit City" [(visible)]="display" [modal]="true" [responsive]="true" [closeOnEscape]="false"
    [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body"
    styleClass="prime-modal-dialog" (onHide)="resetForm()">
    <form [formGroup]="cityDetailsForm" (ngSubmit)="onSubmit()">
      <div>
        <p class="modal-text padding-top-20">City Name*</p>
        <div class="modal-search-input">
          <input type="text" placeholder="Edit city name" formControlName="cityName"
            [class.is-invalid]="(cityDetail.cityName.errors  && (cityDetail.cityName.dirty || cityDetail.cityName.touched) && isSubmitted) || (cityDetail.cityName.errors  && (cityDetail.cityName.dirty || cityDetail.cityName.touched))" />
        </div>
        <div
          *ngIf="(((cityDetail.cityName.hasError('required') || cityDetail.cityName.hasError('whitespace'))  && (cityDetail.cityName.dirty || cityDetail.cityName.touched)) && isSubmitted) || ((cityDetail.cityName.hasError('required') || cityDetail.cityName.hasError('whitespace'))  && (cityDetail.cityName.dirty || cityDetail.cityName.touched)) || (cityDetail.cityName.dirty || cityDetail.cityName.touched)"
          [ngClass]="(cityDetail.cityName.valid) ? 'display-none' : 'error'">
          Please enter city name.
        </div>
      </div>
      <p-footer>
        <div class="modal-flex-button padding-top-32">
          <button type="reset" (click)="resetForm()" class="modal-border-button">Cancel</button>
          <button type="submit" class="modal-button-wrapper">Update</button>
        </div>
      </p-footer>
    </form>
  </p-dialog>
</div>