<section class="full-height-wrapper bg-theme-grey auth-bg">
  <div class="section-content full-height-wrapper">
    <div class="centered-box shadow-lg">
      <div class="box-image bg-theme-yellow">
        <figure [routerLink]="['/']">
          <img src="../../../assets/project-images/Color logo - no background.svg" alt="Delivr Logo">
        </figure>
      </div>
      <div class="box-content bg-white">
        <!--Content Starts-->
        <div class="content" *ngIf="!resetStatus">
          <h3 class="heading font-medium color-dark-grey">RESET PASSWORD</h3>
          <p class="sub-heading font-medium color-light-grey">Set your new password.</p>
          <!-- reset password form starts -->
          <form class="auth-form custom-form" [formGroup]="form" (ngSubmit)="onSubmit()">

            <input name="password" type="password" placeholder="New Password" formControlName="password"
              [class.invalid]="resetModule.password.hasError('required') && (resetModule.password.dirty || resetModule.password.touched) && isSubmitted">

            <input name="confirmPassword" type="password" placeholder="Confirm Password"
              formControlName="confirmPassword">

            <button type="submit" class="custom-btn yellow-btn text-center block-center">Reset</button>
          </form>
          <!-- reset password form ends -->
        </div>
        <div class="content" *ngIf="resetStatus">
          <h3 class="heading font-medium color-dark-grey">CONGRATULATIONS!</h3>
          <p class="sub-heading font-medium color-light-grey">
            Your password has been reset. Please login with the new
            password.
          </p>
          <button type="button" class="custom-btn yellow-btn text-center block-center" routerLink="../../login">
            Back to Login</button>
        </div>
        <!--Content Ends-->
      </div>
    </div>
  </div>
</section>