<div class="wrapper">
  <!-- heading wrapper -->
  <app-heading-wrapper></app-heading-wrapper>
  <div class="col-sm-12 card form-card-wrapper add-service-form">
    <form [formGroup]="serviceListForm" (ngSubmit)="onSubmit()">

      <!-- category and service input form -->
      <div class="display-flex padding-top-24 ">
        <div class="form-block padding-right-32">
          <p class="form-text">Category</p>
          <p-dropdown placeholder="Select Category" [options]="categories" formControlName="service_category"
            styleClass="prime-dropdown-wrapper" [disabled]="categories.length == 0"
            [class.is-invalid]="(serviceListForm.controls.service_category.hasError('required') && serviceListForm.controls.service_category.touched) && isSubmitted">
          </p-dropdown>
          <div
            *ngIf="(serviceListForm.controls.service_category.invalid && (serviceListForm.controls.service_category.dirty || serviceListForm.controls.service_category.touched) && isSubmitted)"
            class="error">
            <p *ngIf="(serviceListForm.controls.service_category.hasError('required'))">
              Please enter category
            </p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Service</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter service"
              (blur)="_utitlity.removeInputSpace(serviceListForm.controls.service_name)" formControlName="service_name"
              [class.is-invalid]="serviceListForm.controls.service_name.errors  && (serviceListForm.controls.service_name.dirty || serviceListForm.controls.service_name.touched) && isSubmitted" />
          </div>
          <div
            *ngIf="(serviceListForm.controls.service_name.invalid && (serviceListForm.controls.service_name.dirty || serviceListForm.controls.service_name.touched) && isSubmitted)"
            class="error">
            <p
              *ngIf="(serviceListForm.controls.service_name.hasError('required') || serviceListForm.controls.service_name.hasError('whitespace'))">
              Please enter service
            </p>
          </div>
        </div>
      </div>

      <!-- type input form -->
      <div class="display-flex align-items-end padding-top-24">
        <div class="padding-right-32">
          <p class="form-text">Type:</p>
        </div>
        <div class="prime-radio-wrapper">
          <p-radioButton name="group1" value="paid" label="Paid" formControlName="type" (onClick)="onChange($event)">
          </p-radioButton>
          <p-radioButton name="group1" value="free" label="Free" formControlName="type" styleClass="inactive-radio"
            (onClick)="onChange($event)">
          </p-radioButton>
        </div>
      </div>

      <!-- small form WRAPPER STARTS -->
      <ng-container *ngIf="showFormFlag">
        <div class="display-flex padding-top-24 form-heading-wrapper">
          <div class="form-block">
            <p class="form-text">Country</p>
          </div>
          <div class="form-block">
            <p class="form-text">Brand</p>
          </div>
          <div class="form-block">
            <p class="form-text">Model</p>
          </div>
          <div class="form-block">
            <p class="form-text">Engine Capacity</p>
          </div>
          <div class="form-block">
            <p class="form-text">Price</p>
          </div>
        </div>


        <!-- service item form array -->
        <div formArrayName="servicePricing">
          <div *ngFor="let servicePrice of serviceListForm.controls.servicePricing.controls; let i=index">
            <div [formGroupName]="i">
              <div class="display-flex align-items-end">

                <!-- form fields wrapper here -->
                <div class="flex-wrapper">
                  <!-- country wrapper -->
                  <div class="form-block padding-right-32">

                    <p-dropdown [options]="countries" formControlName="country" placeholder="Select country"
                      styleClass="prime-dropdown-wrapper"
                      [class.is-invalid]="servicePrice.controls.country.hasError('required') && isSubmitted">
                    </p-dropdown>
                    <div
                      *ngIf="(((servicePrice.controls.country.hasError('required') || servicePrice.controls.country.hasError('whitespace'))  && (servicePrice.controls.country.dirty || servicePrice.controls.country.touched)) && isSubmitted) || ((servicePrice.controls.country.hasError('required') ||servicePrice.controls.country.hasError('whitespace'))  && (servicePrice.controls.country.dirty || servicePrice.controls.country.touched))"
                      [ngClass]="(servicePrice.controls.country.valid) ? 'display-none' : 'error'">
                      Please select country.
                    </div>
                  </div>

                  <!-- brand wrapper -->
                  <div class="form-block padding-right-32">
                    <p-dropdown [options]="brands" (onChange)="onChangeBrand($event, i)" filter="true"
                      formControlName="brand" placeholder="Select brand" styleClass="prime-dropdown-wrapper"
                      [class.is-invalid]="servicePrice.controls.brand.hasError('required') && isSubmitted">
                    </p-dropdown>
                    <div
                      *ngIf="(((servicePrice.controls.brand.hasError('required') || servicePrice.controls.brand.hasError('whitespace'))  && (servicePrice.controls.brand.dirty || servicePrice.controls.brand.touched)) && isSubmitted) || ((servicePrice.controls.brand.hasError('required') ||servicePrice.controls.brand.hasError('whitespace'))  && (servicePrice.controls.brand.dirty || servicePrice.controls.brand.touched))"
                      [ngClass]="(servicePrice.controls.brand.valid) ? 'display-none' : 'error'">
                      Please select brand.
                    </div>
                  </div>

                  <!-- model wrapper  -->
                  <div class="form-block padding-right-32">
                    <p-dropdown [options]="arrayModel[i]" filter="true" formControlName="model"
                      placeholder="Select model"
                      [class.is-invalid]="servicePrice.controls.model.hasError('required') && isSubmitted"
                      styleClass="prime-dropdown-wrapper">
                    </p-dropdown>
                    <div
                      *ngIf="(((servicePrice.controls.model.hasError('required'))  && (servicePrice.controls.country.dirty || servicePrice.controls.model.touched)) && isSubmitted) || ((servicePrice.controls.model.hasError('required'))  && (servicePrice.controls.model.dirty || servicePrice.controls.model.touched))"
                      [ngClass]="(servicePrice.controls.model.valid) ? 'display-none' : 'error'">
                      Please select model.
                    </div>
                  </div>

                  <!-- search input wrapper -->
                  <div class="form-block padding-right-32">
                    <div class="form-search-input">
                      <input type="text" placeholder="Enter Engine capacity"
                        (blur)="_utitlity.removeInputSpace(servicePrice.controls.engine_capacity)"
                        formControlName="engine_capacity"
                        [class.is-invalid]="servicePrice.controls.engine_capacity.hasError('required') && isSubmitted" />
                    </div>
                    <div
                      *ngIf="(((servicePrice.controls.engine_capacity.hasError('required') || servicePrice.controls.engine_capacity.hasError('whitespace'))  && (servicePrice.controls.engine_capacity.dirty || servicePrice.controls.engine_capacity.touched)) && isSubmitted) || ((servicePrice.controls.engine_capacity.hasError('required') ||servicePrice.controls.engine_capacity.hasError('whitespace'))  && (servicePrice.controls.engine_capacity.dirty || servicePrice.controls.engine_capacity.touched))"
                      [ngClass]="(servicePrice.controls.engine_capacity.valid) ? 'display-none' : 'error'">
                      Please enter capacity.
                    </div>
                  </div>

                  <!-- price input wrapper -->
                  <div class="form-block pr-3">
                    <div class="form-search-input">
                      <input type="text" placeholder="Enter price"
                        [class.is-invalid]="servicePrice.controls.price.hasError('required') && isSubmitted"
                        (blur)="_utitlity.removeInputSpace(servicePrice.controls.price)" formControlName="price" />
                    </div>
                    <div
                      *ngIf="(((servicePrice.controls.price.hasError('required') || servicePrice.controls.price.hasError('whitespace'))  && (servicePrice.controls.price.dirty || servicePrice.controls.price.touched)) && isSubmitted) || ((servicePrice.controls.price.hasError('required') ||servicePrice.controls.price.hasError('whitespace'))  && (servicePrice.controls.price.dirty || servicePrice.controls.price.touched))"
                      [ngClass]="(servicePrice.controls.price.valid) ? 'display-none' : 'error'">
                      Please enter price.
                    </div>
                  </div>
                </div>

                <!-- delete button wrapper here -->
                <div class="blank-container-wrapper">
                  <ng-container *ngIf="i > 0; else elseBlock">
                    <!-- button wrapper -->
                    <div class="button-flex-wrapper">
                      <!-- add more button -->
                      <button type="button" class="button-wrapper delete-button-color" (click)="removeItems(i)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </ng-container>

                  <ng-template #elseBlock>
                    <div></div>
                  </ng-template>

                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- button wrapper -->
        <div class="button-flex-wrapper add-more-btn">
          <!-- add more button -->
          <button type="button" class="button-wrapper" (click)="addMoreItems()">
            <span><i class="fa fa-plus"></i></span>
            Add More
          </button>
        </div>
      </ng-container>



      <div class="padding-top-24 align-button-right">
        <button type="button" (click)="resetForm()" class="border-button-wrapper margin-right-32">
          Cancel
        </button>
        <button type="submit" class="button-wrapper">
          {{buttonName}}
        </button>
      </div>




    </form>
  </div>
</div>
