::ng-deep .prime-radio-wrapper {
  .ui-radiobutton {
    .ui-radiobutton-box.ui-state-active {
      font-weight: 500 !important;

      .ui-radiobutton-icon {
        margin-top: -3px !important;
      }
    }
  }

  .ui-radiobutton-label {
    font-size: 15px !important;
  }

  .ui-label-active {
    font-weight: 500;
  }
}

.button-flex-wrapper {
  display: flex;
  align-items: center;
}

.flex-wrapper {
  display: flex;
  width: 100%;
  // flex-wrap: wrap;

  .form-block {
    width: 20%;
  }
}

.button-flex-wrapper {
  .button-wrapper {
    min-width: auto;
    padding: 6px 14px;
  }
}

.align-button-right {
  padding-top: 45px;
}

.custom-dropdown-item.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.ui-radiobutton-label {
  cursor: pointer;
}
.form-card-wrapper {
  .display-flex {
    .form-block:nth-child(2){
      padding-top: 0px;
    }
  }
}

.add-more-btn {
  padding-top:38px;
} 

@media (max-width:640px)
{
  .form-card-wrapper {
      .padding-right-32 {
        padding-right: 5px;
      }
  }
  .flex-wrapper {
    .form-block {
      width: 30%;
    }
  }
}


