<div class="wrapper vehicle-wrapper coupon-wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"
      [placeHolderText]="'Search Driver Name'"></app-search>

  </div>

  <div class="table-wrapper">
    <p-table [value]="feedback" styleClass="country-list-wrapper" [responsive]="true" [lazy]="true"
      (onLazyLoad)="paginate($event)" [paginator]="true" [alwaysShowPaginator]="false" [rows]="10"
      [totalRecords]="total">
      <ng-template pTemplate="header">
        <tr>
          <th>Driver Name
          </th>
          <th>Contact Number</th>
          <th>Email Id</th>
          <th>Rating</th>
          <th>Delivered</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-feedback>
        <tr>
          <td>
            <span class="ui-column-title">Driver Name</span>
            <span class="text-capitalize">{{feedback.driver}}</span>
          </td>
          <td><span class="ui-column-title">Contact Number</span>{{feedback.mobile_number}}</td>
          <td>
            <span class="ui-column-title">Email Id</span>
            {{feedback.email_id?feedback.email:'-'}}
          </td>
          <td>
            <span class="ui-column-title">Rating</span>
            {{(feedback.orders[0]?feedback.orders[0].avg : 0) | number : '1.2-2'}}
          </td>
          <td>
            <span class="ui-column-title">Delivered</span>
            {{feedback.orders[0]?feedback.orders[0].count : 0}}
          </td>

          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0"
              [routerLink]="['../driver-feedback/details', utility.base64Encode(feedback.driver_id)]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-danger text-center font-weight-600" colspan="6">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
