<div class="wrapper vehicle-wrapper coupon-wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"></app-search>
  </div>
  <div class="table-wrapper">
    <p-table [value]="feedbackReview" styleClass="country-list-wrapper" [responsive]="true" [lazy]="true"
      (onLazyLoad)="paginate($event)" [paginator]="true" [alwaysShowPaginator]="false" [rows]="10"
      [totalRecords]="total">
      <ng-template pTemplate="header">
        <tr>
          <th>Order Number
          </th>
          <th>Customer</th>
          <th>Contact Number</th>
          <th>Email Id</th>
          <th>Rating</th>
          <th>Order Date Time</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-feedback>
        <tr>
          <td><span class="ui-column-title">Order Number</span>{{feedback.invoice_id}}</td>
          <td><span class="ui-column-title">Customer</span>{{feedback.customer}}</td>
          <td><span class="ui-column-title">Contact Number</span>{{feedback.mobile_number}}</td>
          <td>
            <span class="ui-column-title">Email Id</span>
            {{feedback.email}}
          </td>
          <td>
            <span class="ui-column-title">Rating</span>
            {{feedback.rating | number : '1.2-2'}}
          </td>
          <td>
            <span class="ui-column-title">Order Date Time</span>
            {{feedback.order_date | date : 'mediumDate'}} {{feedback.order_date | date : 'shortTime'}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-danger text-center font-weight-600" colspan="6">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
