tr{
    th:nth-child(5){
        width:9em;
        text-align: center;
    }
    td:nth-child(5){
        text-align: center;
    }
}
@media (max-width:992px){
    tr{
    td:nth-child(5){
     
        text-align: left;
    }
}
}