<div class="wrapper vehicle-wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">
    <app-search></app-search>
    <app-button-wrapper [buttonTitle]="'Add Business User'" routerLink="../add"></app-button-wrapper>
  </div>

  <!--All Orders-->
  <div class="table-wrapper vehicle-wrapper">
    <p-table [value]="businessList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true" [rows]="10"
      sortField="id" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'id'">Branch ID
            <p-sortIcon [field]="'id'"></p-sortIcon>
          </th>
          <th>Name
          </th>
          <th>Branch Name</th>
          <th>Address</th>
          <th style="width:8em">#Vehicles</th>
          <th>Status</th>
          <th style="width:11em">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-business>
        <tr>
          <td><span class="ui-column-title">Business ID</span>{{business.businessId}}</td>
          <td><span class="ui-column-title">Name</span>{{business.name}}</td>
          <td><span class="ui-column-title">Branch Name</span>{{business.branchName}}</td>
          <td><span class="ui-column-title">Branch Address</span>{{business.address}}</td>
          <td><span class="ui-column-title">#Vehicles</span>{{business.vehicles}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <app-active-switch></app-active-switch>
          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../details', business.id]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- table and tabs wrapper ends -->
</div>