<div class="wrapper">
    <div class="col-sm-8 heading-flex-wrapper">
        <app-heading-wrapper></app-heading-wrapper>
        <div class="display-flex align-center heading-toggle-switch dropdown-status-wrapper">
            <div class="margin-right-20" (click)="previousPage()">
                <a class="border-button-small">Back</a>
            </div>
            <div *ngIf="currentUrl != '/vendor/driver-edit/'" [routerLink]="['../../edit', utility.base64Encode(id)]">
                <!-- <a class="border-button-small">Edit</a> -->
                <button class="button-wrapper edit-button-wrapper">Edit</button>
            </div>
        </div>
    </div>
    <ng-container *ngIf="driver">
        <!-- form wrapper  -->
        <div class="col-sm-8 card form-card-wrapper">
            <div class="padding-top-24">
                <p class="form-grey-text font-size-16 text-uppercase">Basic Information</p>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">First Name</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(driver.first_name == null) ? '-' : driver.first_name}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Last Name</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(driver.last_name == null) ? '-' : driver.last_name}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Email ID</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(driver.email_id == null || driver.email_id == '') ? '-' : driver.email_id}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Contact Number</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(driver.mobile_number == null) ? '-' : driver.mobile_number}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Country</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(driver.countries.country == null) ? '-' : driver.countries.country}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">City</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(driver.cities.city == null) ? '-' : driver.cities.city}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Address 1</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(driver.address_line_1 == null) ? '-' : driver.address_line_1}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Address 2</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(driver.address_line_2 == null) ? '-' : driver.address_line_2}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Branch Name</p>
                    <div class="form-search-input">
                        <p class="form-view-text">
                            {{(driver.businessArea.address_branch_name == null) ? '-' : driver.businessArea.address_branch_name}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Postal Code</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(driver.postal_Code == null) ? '-' : driver.postal_Code}}</p>
                    </div>
                </div>
            </div>
            <div class="form-block padding-top-24">
                <div class="form-block" *ngIf="driver.license_document.length != 0">
                    <p class="form-grey-text">License Document</p>
                    <div class="display-flex">
                        <div class="form-search-input document-wrapper" *ngFor="let license of driver.license_document;let i=index" (click)="openImageDialog('license',driver.license_document,i)">
                            <img [src]="license" class="img-responsive" />
                        </div>
                    </div>

                </div>
                <div class="form-block padding-top-24" *ngIf="driver.passport_document.length != 0">
                    <p class="form-grey-text">Passport Document</p>
                    <div class="display-flex">
                        <div class="form-search-input document-wrapper" *ngFor="let passport of driver.passport_document;let i=index" (click)="openImageDialog('passport',driver.passport_document,i)">
                            <img [src]="passport" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="form-block padding-top-24" *ngIf="driver.tollgate_document.length != 0">
                    <p class="form-grey-text">Tollgate Document</p>
                    <div *ngFor="let url of pageData.tollgate_document;let i=index" class="document-file-wrapper">
                        <a target="_blank" href="{{url}}">
                            <img src="assets/project-images/document-pdf.png" alt="document-image" />
                        </a>
                    </div>

                </div>
                <div class="form-block padding-top-24" *ngIf="driver.emirates_id.length != 0 || driver.emirates_id != ''">
                    <p class="form-grey-text">Emirates Id</p>
                    <!-- <div *ngFor="let url of pageData.tollgate_document;let i=index" class="document-file-wrapper">
                        <a target="_blank" href="{{url}}">
                            <img src="assets/project-images/document-pdf.png" alt="document-image" />
                        </a>
                    </div> -->
                    <div class="document-wrapper">
                        <img [src]="assets/project-images/thumbnail-img.svg || driver.emirates_id" alt="emirates id" />
                    </div>
                </div>
            </div>

            <ng-container *ngIf="vehicleData">
                <div class="padding-top-24 separator-line">
                </div>
                <div class="padding-top-24">
                    <p class="form-grey-text font-size-16 text-uppercase">Vehicle Information</p>
                </div>
                <div class="display-flex padding-top-24">
                    <div class="form-block">
                        <p class="form-text">Vehicle Number</p>
                        <div class="form-search-input form-small-input">
                            <p class="form-view-text">{{vehicleData.vehicle.vehicle_number}}</p>
                        </div>
                    </div>
                </div>
                <div class="display-flex padding-top-24">
                    <div class="form-block padding-right-32">
                        <p class="form-grey-text">Brand</p>
                        <div class="form-search-input">
                            <p class="form-view-text text-capitalize">{{vehicleData.vehicle.vehicle_brand.brand_name}}</p>
                        </div>
                    </div>
                    <div class="form-block">
                        <p class="form-grey-text">Model</p>
                        <div class="form-search-input">
                            <p class="form-view-text text-capitalize">{{vehicleData.vehicle.vehicle_model.model_name}}</p>
                        </div>
                    </div>
                </div>
                <div class="display-flex padding-top-24">
                    <div class="form-block padding-right-32">
                        <p class="form-grey-text">Engine Number</p>
                        <div class="form-search-input">
                            <p class="form-view-text">{{vehicleData.vehicle.engine_number}}</p>
                        </div>
                    </div>
                    <div class="form-block">
                        <p class="form-grey-text">Starting Mechanism</p>
                        <div class="form-search-input">
                            <p class="form-view-text">{{vehicleData.vehicle.starting_mechanism}}</p>
                        </div>
                    </div>
                </div>
                <div class="display-flex padding-top-24">
                    <div class="form-block padding-right-32">
                        <p class="form-grey-text">Tyre Type</p>
                        <div class="form-search-input">
                            <p class="form-view-text">{{vehicleData.vehicle.tyre_type}}</p>
                        </div>
                    </div>
                    <div class="form-block">
                        <p class="form-grey-text">Wheel Type</p>
                        <div class="form-search-input">
                            <p class="form-view-text">{{vehicleData.vehicle.wheel_type}}</p>
                        </div>
                    </div>
                </div>
                <div class="padding-top-24">
                    <div class="form-block">
                        <p class="form-grey-text">Stroke Type</p>
                        <div class="form-search-input">
                            <p class="form-view-text">{{vehicleData.vehicle.stroke}}</p>
                        </div>
                    </div>
                </div>
                <div class="padding-top-24">
                    <div class="form-block">
                        <p class="form-grey-text">Documents</p>
                        <div class="display-flex">
                            <div *ngIf="vehicleData.vehicle.registration_card != ''" class="form-search-input document-wrapper" (click)="openImageDialog('registration_card',vehicleData.vehicle.registration_card, '')">
                                <img [src]="vehicleData.vehicle.registration_card" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-top-24">
                    <div class="form-block">
                        <p class="form-grey-text">Insurance</p>
                        <div class="display-flex">
                            <div *ngIf="vehicleData.vehicle.insurance != ''" class="form-search-input document-wrapper" (click)="openImageDialog('insurance',vehicleData.vehicle.insurance, '')">
                                <img src="{{vehicleData.vehicle.insurance}}" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-top-24">
                    <div class="form-block">
                        <p class="form-grey-text">Vehicle Images</p>
                        <!-- vehicle image wrapper -->
                        <div class="display-flex">
                            <div *ngFor="let vehicleImg of vehicleData.vehicle.vehicle_images;let i=index">
                                <div class="form-search-input document-wrapper" (click)="openImageDialog('vehicle',vehicleData.vehicle.vehicle_images,i)">
                                    <img [src]="vehicleImg.vehicle_image" alt="vehicle image wrapper">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </ng-container>
</div>

<!-- dialog starts -->
<p-dialog header="Image Viewer" [(visible)]="openImageDisplay" [modal]="true" [responsive]="true" [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body" [closeOnEscape]="false" styleClass="prime-modal-dialog" (onHide)="closeImageDialog()">
    <div *ngIf="imageUrl" class="dialog-content">
        <img src="{{imageUrl}}" class="img-responsive">
    </div>
</p-dialog>
<!-- dialog ends -->