.img-responsive {
    width:100%;
}

.details-image-wrapper {
    width: 175px;
    height: 100px;
    display:inline-block;

    img {
        width: 100%;
        height: inherit;
        object-fit: cover;
    }

    &:not(:last-child) {
        margin-right:15px;
    }
}