@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3ia6t6');
  src:  url('fonts/icomoon.eot?3ia6t6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3ia6t6') format('truetype'),
    url('fonts/icomoon.woff?3ia6t6') format('woff'),
    url('fonts/icomoon.svg?3ia6t6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh-button:before {
  content: "\e905";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-Group-6 .path1:before {
  content: "\e901";
  color: rgb(255, 74, 74);
}
.icon-Group-6 .path2:before {
  content: "\e902";
  margin-left: -0.7783203125em;
  color: rgb(231, 52, 63);
}
.icon-attachment:before {
  content: "\e900";
  color: #3480ff;
}
.icon-history:before {
  content: "\e94d";
}
