::ng-deep .prime-dropdown-wrapper {
    &.ui-dropdown {
        width: 100% !important;
        min-width: 9em !important;
    }
}

.request-repair-block {
    .filter-wrapper {
        top:-6%;
    }
}