<div class="wrapper maintenance request-repair-block">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"></app-search>
    <div class="display-flex">
      <div class="filter-icon-wrapper display-block" (click)="showFilter()">
        <div class="filter-card-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459"
            style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
            <g>
              <g>
                <g id="filter">
                  <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#8F8F8F" />
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- Filter wrapper -->
  <div *ngIf="isVisible" class="filter-wrapper" [@openClose]>
    <div class="filter-flex-wrapper flex-direction-row">
      <div>
        <h3 class="filter-title-text">Filter</h3>
      </div>
      <div (click)="closeFilter()">
        <i class="fa fa-times filter-close-icon"></i>
      </div>
    </div>
    <form [formGroup]="requestRepairForm" (ngSubmit)="onSubmit()" class="filter-form-wrapper">
      <div class="filter-flex-wrapper">
        <div>

          <div>
            <p class="filter-text">Brand</p>
            <p-dropdown [options]="brandList" (onChange)="onchangeBrand(requestRepairForm.controls['brand'].value)"
              formControlName="brand" placeholder="Select Brand" [showClear]="true" styleClass="prime-dropdown-wrapper">
            </p-dropdown>
          </div>

          <div class="padding-top-24">
            <p class="filter-text">Model</p>
            <p-dropdown [options]="modelList" placeholder="Select Model" [showClear]="true" formControlName="model"
              styleClass="prime-dropdown-wrapper">
            </p-dropdown>

          </div>
          <div class="padding-top-24">
            <p class="filter-text">Status</p>
            <p-dropdown [options]="status" dropdownIcon="fa fa-chevron-down" formControlName="status"
              styleClass="prime-dropdown-wrapper prime-dropdown-status" [showClear]="true">
              <ng-template let-fs pTemplate="item">
                <div class="option-row">
                  <div>
                    <span
                      [ngClass]="{'pending-circle': fs.value == 'New', 'outgoing-circle': fs.value == 'Ongoing', 'finished-circle': fs.value == 'Finished' }"></span>
                    {{fs.value}}
                  </div>
                </div>
              </ng-template>
              <ng-template let-fs pTemplate="selectedItem">
                <div class="option-row">
                  <div>
                    <span
                      [ngClass]="{'pending-circle': fs.value == 'New', 'outgoing-circle': fs.value == 'Ongoing', 'finished-circle': fs.value == 'Finished' }"></span>
                    {{fs.value}}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
            <div
              *ngIf="(requestRepairForm.controls['status'].hasError('required')  && (requestRepairForm.controls['status'].dirty || requestRepairForm.controls['status'].touched)) || isSubmitted"
              [ngClass]="(requestRepairForm.controls['status'].valid) ? 'display-none' : 'error'">
              Please select status.
            </div>
          </div>

          <div class="padding-top-24">
            <p class="filter-text">Start-End Date Range</p>
            <div class="prime-calender-wrapper d-flex ">

              <p-calendar [(ngModel)]="dateValue1" (onSelect)="chooseDate($event)" inputId="orderRangeOne"
                formControlName="startDate" placeholder="Start From" [maxDate]="dateValue2" name="orderRangeOne"
                showIcon="true" [readonlyInput]="true" showButtonBar="true"></p-calendar>

              <span class="font-text-bold">&nbsp;-&nbsp;</span>
              <p-calendar [(ngModel)]="dateValue2" [minDate]="dateValue1" inputId="orderRangeTwo" name="orderRangeTwo"
                formControlName="endDate" placeholder="End To" showIcon="true" [readonlyInput]="true"
                showButtonBar="true">
              </p-calendar>
            </div>
          </div>

        </div>

        <div class="filter-button-wrapper">
          <button type="submit" class="full-button-wrapper">Apply Filters</button>
          <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
        </div>

      </div>
    </form>

  </div>
  <!-- Filter Wrapper ends -->

  <!-- table wrapper starts -->
  <div class="table-wrapper">
    <p-table [value]="requestList" styleClass="country-list-wrapper" [lazy]="true" [responsive]="true"
      [paginator]="true" [totalRecords]="total" [alwaysShowPaginator]="false" (onLazyLoad)="paginate($event)"
      [rows]="10" sortField="id" [sortOrder]="-1" columnResizeMode="expand">
      <ng-template pTemplate="header">
        <tr>
          <th>#Request</th>
          <th>Requested By</th>
          <th>#Engine</th>
          <th style="width:9em">#Registration</th>
          <th style="width:9em">Brand/Model</th>
          <th>Raised On</th>
          <th style="width:11em">Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request>
        <tr>

          <td><span class="ui-column-title">Request No</span>{{request.request_number}}</td>
          <td><span class="ui-column-title">Requested By</span>
            <span class="font-bold">Driver : </span>
            {{request.driver.driver}}
            <br>
            <span class="font-bold">Contact : </span>
            {{request.driver.mobile_number}}
          </td>
          <td><span class="ui-column-title">#Engine</span>{{request.vehicleData.engine_number}}</td>
          <td><span class="ui-column-title">#Registration</span>{{request.vehicleData.vehicle_number}}</td>
          <td>
            <span class="ui-column-title">Brand/Model</span>
            <div class="word-break">
              <span class="font-bold">Brand: </span>
              {{request.vehicleData.brand_name}}
            </div>
            <div class="word-break">
              <span class="font-bold">Model: </span>
              {{request.vehicleData.model_name}}
            </div>

          </td>
          <td><span class="ui-column-title">Raised On</span>{{request.requested_on | date:'mediumDate'}}</td>
          <td><span class="ui-column-title">Status</span>
            <span class="text-capitalize">{{request.status}}</span>

          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../details', _utility.base64Encode(request.id)]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="8">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- table wrapper ends -->

</div>