<div class="wrapper">
  <div class="col-sm-8 heading-flex-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
  </div>
  <div *ngIf="selectedValue" class="row no-flex-wrap mobile-display-block">
    <div *ngIf="showMap" class="col-sm-8 card margin-right-24 padding-0">
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <agm-map [latitude]="center_lat" [longitude]="center_lng">
        <!--Direction : Origin to Destination-->
        <agm-direction [origin]="origin" [destination]="destination" [renderOptions]="renderOpts"
          [markerOptions]="markerOptions">
        </agm-direction>
      </agm-map>
    </div>
    <div *ngIf="order" class="col-sm-4 col-x3 card form-card-wrapper">
      <div class="padding-top-24">
        <p class="form-grey-text text-uppercase">Current Order ({{selectedValue.driver}})</p>
      </div>
      <div class="padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Order ID</p>
          <div class="form-search-input">
            <p class="form-view-text">{{order.invoice_id}}</p>
          </div>
        </div>
      </div>
      <div class="padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Order Date & Time</p>
          <div class="form-search-input">
            <p class="form-view-text">{{order.order_date | date : 'mediumDate'}} |
              {{order.order_date | date : 'shortTime'}}</p>
          </div>
        </div>
      </div>
      <div class="padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Customer Name</p>
          <div class="form-search-input">
            <p class="form-view-text">{{order.customer}}</p>
          </div>
        </div>
      </div>
      <div class="padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Address</p>
          <div class="form-search-input">
            <p class="form-view-text">{{order.address}}</p>
          </div>
        </div>
      </div>
      <div class="padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Contact Number</p>
          <div class="form-search-input">
            <p class="form-view-text">{{order.mobile_number}}</p>
          </div>
        </div>
      </div>
      <div class="padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Payment Details</p>
          <div class="form-search-input">
            <p class="form-view-text">{{order.currency}} {{order.subtotal}} (To be paid)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card padding-0">
    <div class="card-padding">
      <p class="form-grey-text font-size-16 text-uppercase">Ongoing Orders</p>
    </div>
    <!-- Table wrapper -->
    <div class="table-wrapper table-responsive">
      <p-table [value]="trackList" styleClass="country-list-wrapper prime-table-radio-wrapper" [responsive]="true"
        sortField="id" [sortOrder]="1" [(selection)]="selectedValue" [metaKeySelection]="true">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:3em;"></th>
            <th [pSortableColumn]="'driverName'">Driver Name
              <p-sortIcon [field]="'id'"></p-sortIcon>
            </th>
            <th>Contact Number</th>
            <th>Email</th>
            <th style="width: 7em;">Rating</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-track>

          <tr [pSelectableRow]="rowData">
            <td>
              <span class="ui-column-title">Select Button</span>
              <p-tableRadioButton [value]="rowData" (click)="selectCarWithButton()" selectionMode="single">
              </p-tableRadioButton>
            </td>

            <td>
              <span class="ui-column-title">Driver Name</span>
              <span class="text-capitalize">{{track.driver}}</span>
            </td>
            <td>
              <span class="ui-column-title">Contact Number</span>
              {{track.mobile_number}}
            </td>
            <td>
              <span class="ui-column-title">Email</span>
              {{track.email_id}}
            </td>
            <td>
              <span class="ui-column-title">Rating</span>
              {{(track.driver_rating != null ? track.driver_rating : 0) | number:'1.2-2'}}
            </td>
            <td>
              <span class="ui-column-title">Status</span>
              <span [ngClass]="{'active-circle': track.status == 'Ongoing'}"></span>
              {{track.orders[0]?track.orders[0].order_status : 'Available'}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center text-danger font-weight-600" colspan="6">No Records Found.</td>
          </tr>
        </ng-template>

      </p-table>
    </div>
  </div>
</div>