<div class="wrapper">
  <!-- heading title -->
  <div class="col-sm-8 heading-flex-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
  </div>

  <div class="row no-flex-wrap mobile-display-block">
    <div class="col-sm-12 card margin-right-24 padding-0">
      <div class="map-height-wrapper">
        <!-- this creates a google map on the page with the given lat/lng from -->
        <agm-map #gm [latitude]="center_lat" [longitude]="center_lng">
          <agm-marker-cluster imagePath="assets/img/icons/clustermark">
            <agm-marker *ngFor="let data of driverList; let i = index" [latitude]="data.tracker[0]?.driver_latitude"
              [longitude]="data.tracker[0]?.driver_longitude" iconUrl="assets/img/icons/delivr-bike marker.svg"
              label="i" id="i" (mouseOver)="onMouseOver(infoWindow,gm)">
              <agm-info-window [disableAutoPan]="false" #infoWindow>
                <div>
                  {{data.first_name}}
                </div>
                <div>
                  <strong>Orders</strong> {{data.order_count}}
                </div>
              </agm-info-window>
            </agm-marker>
          </agm-marker-cluster>



          <!--Direction : Origin to Destination-->
          <!-- <agm-direction [origin]="trip_map_details.origin" [destination]="trip_map_details.destination">
          </agm-direction> -->
        </agm-map>
      </div>
    </div>
  </div>

  <div class="card padding-0">
    <div class="card-padding">
      <div class="display-flex justify-space-between">
        <div>
          <p class="form-grey-text font-size-16 text-uppercase">Assign Drivers</p>
        </div>
        <div class="refresh-button-wrapper">
          <span (click)="refreshButton()">
            <i class="fa fa-refresh"></i>
          </span>
        </div>
      </div>

    </div>

    <!-- Table wrapper -->
    <div class="table-wrapper">
      <p-table [value]="driverList" styleClass="country-list-wrapper prime-table-radio-wrapper" [responsive]="true"
        sortField="id" [sortOrder]="1" [(selection)]="selectedValue" [metaKeySelection]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Driver Name</th>
            <th>Contact Number</th>
            <th>Assigned Orders</th>
            <th>Accepted Orders</th>
            <th>Rating</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-track let-i="rowIndex">
          <tr [ngClass]="(checkIsAssigned(i) == true) ? 'assigned-row-wrapper': ''">
            <td>
              <span class="ui-column-title">Driver Name</span>
              {{track.first_name}}
            </td>

            <td>
              <span class="ui-column-title">Contact Number</span>
              {{track.mobile_number}}
            </td>

            <td>
              <span class="ui-column-title">Assigned Orders</span>
              {{track.orders[0]?track.orders[0].assigned_count : 0}}
            </td>
            <td>
              <span class="ui-column-title">Accepted Orders</span>
              {{track.orders[0]?track.orders[0].accepted_count : 0}}
            </td>
            <td>
              <span class="ui-column-title">Rating</span>
              <!-- {{track.rating}} -->
            </td>
            <td>
              <span class="ui-column-title">Action</span>
              <!-- <a class="success p-0" [routerLink]="['../details', track.id]">
                <i class="fa fa-eye font-medium-1 "></i>
                View
              </a> -->
              <button type="button" class="assign-button" (click)="assignOrder(track.user_id)"
                [ngClass]="(checkIsAssigned(i) == true) ? 'assigned-button-wrapper' : ''">{{checkIsAssigned(i) ? "Assigned" : "Assign"}}</button>

            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <!-- button wrapper -->
  <div class="border-button-wrapper back-button-wrapper" (click)="previousPage()">
    <button type="button" class="back-button">Back</button>
  </div>

</div>