.map-height-wrapper {
  // min-height:500px;
  agm-map {
    height: 400px;
  }
}

.assign-button {
  background: transparent;
  color: #9fa0a2;
  padding: 0px 10px;
  // margin-left: 10px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #c8c7c7;

  &:hover {
    transition: 0.3s all ease-in;
    color: #6d6d6e;
    border: 1px solid #6d6d6e;
  }
}

// ::ng-deep .country-list-wrapper {

// }

tr.assigned-row-wrapper {
  &:nth-child(odd) {
    td {
      background-color: #d1ebd1 !important;
    }
  }
  &:nth-child(even) {
    td {
      background-color: #d1ebd1 !important;
    }
  }
}

.assigned-button-wrapper {
  color: #ffffff;
  border: 1px solid #f36e1d;
  background: #f36e1d;
  cursor: not-allowed;
  pointer-events: none;

  // &:hover {
  //     color: #fafaff;
  //     border: 1px solid #e4b834;
  //     background: #e4b834;
  // }
}

.border-button-wrapper {
  display: inline-block !important;
  min-width: 7em !important;

  &.back-button-wrapper {
    margin-bottom: 35px;
  }

  .back-button {
    color: #8f8f8f;
  }
}
