<div class="wrapper vehicle-wrapper  form-wrapper-block business-wrapper">

  <app-heading-wrapper [sectionTitle]="'Business List'"></app-heading-wrapper>
  <!-- Search wrapper -->
  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)" [placeHolderText]="'Search Business & User'"
      (clearEvent)="clearInput($event)"></app-search>
    <div class="display-flex">
      <div class="filter-icon-wrapper" (click)="showFilter()">
        <!-- <i class="fa fa-filter card-icon"></i> -->
        <div class="filter-card-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459"
            style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
            <g>
              <g>
                <g id="filter">
                  <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#8F8F8F" />
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <app-button-wrapper [buttonTitle]="'Add Business'" [routerLink]="['/admin/business-list/add']"
        routerLinkActive="router-link-active">
      </app-button-wrapper>
    </div>
  </div>

  <!-- vendor tabs table wrapper -->
  <!-- tabs wrapper -->
  <div class="tabs-wrapper">
    <p-tabMenu [model]="items" [activeItem]="activeItem" styleClass="prime-tabs-wrapper">
      <ng-template pTemplate="item" let-item let-i="index">
        <div (click)="getItem($event, i, item.label)">
          <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
          <div class="ui-menuitem-text">
            {{item.label}}
          </div>
        </div>
      </ng-template>
    </p-tabMenu>
  </div>

  <!--All Vendors-->
  <div class="table-wrapper vehicle-wrapper">
    <p-table [value]="vendorList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      (onLazyLoad)="paginate($event)" [lazy]="true" [alwaysShowPaginator]="false" [rows]="10" [totalRecords]="total">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:5em">#No.</th>
          <th>Business Type</th>
          <th>Business Name</th>
          <th>Email Id</th>
          <th>Contact User</th>
          <th>Contact No.</th>
          <th>Location</th>
          <th style="width:10em">Status</th>
          <th style="width:10em">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vendor let-i="rowIndex">
        <tr>
          <td><span class="ui-column-title">Serial</span>{{i+1}}</td>
          <td class="text-capitalize"><span class="ui-column-title">Business
              Type</span>{{vendor.businessType.business_type}}</td>
          <td><span class="ui-column-title">Business Name</span>{{vendor.business_name}}</td>
          <td><span class="ui-column-title">Email Id</span>{{vendor.email_id}}</td>
          <td><span class="ui-column-title">Contact
              User</span>{{vendor.businessUsers[0].first_name}} {{vendor.businessUsers[0].last_name}}
          </td>
          <td><span class="ui-column-title">Contact No.</span>{{vendor.mobile_number}}</td>
          <td><span class="ui-column-title">Location</span>{{vendor.businessBranch[0].countries.country}}</td>
          <td>
            <span class="ui-column-title">Status</span>
            <span *ngIf="!vendor.businessUsers[0].is_user_verified" class="text-capitalize"> Pending </span>
            <app-active-switch *ngIf="vendor.businessUsers[0].is_user_verified" [checked]="vendor.status == 'active'"
              [possibleValue]="possibleValue" (change)="changeStatus($event, vendor.business_id)"></app-active-switch>
          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0 display-block"
              [routerLink]="['../business-list/details', utility.base64Encode(vendor.business_id)]">
              <i class="fa fa-eye font-medium-1 "></i> View
            </a>
            <a *ngIf="!vendor.businessUsers[0].is_user_verified" class="success p-0 display-block"
              (click)="resendLink(vendor)">
              <i class="fa fa-paper-plane-o font-medium-1 "></i> Resend Link
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="9">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<!-- Filter Wrapper -->
<div *ngIf="isVisible" class="filter-wrapper" [@openClose]>
  <div class="filter-flex-wrapper flex-direction-row">
    <div>
      <h3 class="filter-title-text">Filter</h3>
    </div>
    <div (click)="closeFilter()">
      <i class="fa fa-times filter-close-icon"></i>
    </div>
  </div>
  <form [formGroup]="vendorListForm" (ngSubmit)="onSubmit()" class="filter-form-wrapper">
    <div class="filter-flex-wrapper">
      <div>
        <div>
          <p class="filter-text">Business Type</p>

          <p-dropdown [options]="types" formControlName="businessType" [showClear]="true"
            placeholder="Select Business Type" styleClass="prime-dropdown-wrapper"
            [class.is-invalid]="(vendorListForm.controls['businessType'].hasError('required') && vendorListForm.controls['businessType'].touched)  || isSubmitted">
          </p-dropdown>
          <div
            *ngIf="(vendorListForm.controls['businessType'].hasError('required')  && (vendorListForm.controls['businessType'].dirty || vendorListForm.controls['businessType'].touched)) || isSubmitted"
            [ngClass]="(vendorListForm.controls['businessType'].valid) ? 'display-none' : 'error'">
            Please select type.
          </div>
        </div>
        <div class="padding-top-24">
          <p class="filter-text">Country</p>

          <p-dropdown [options]="countries" formControlName="country" [showClear]="true" placeholder="Select country"
            [showClear]="true" styleClass="prime-dropdown-wrapper"
            (onChange)="filtercities(vendorListForm.value.country)"
            [class.is-invalid]="(vendorListForm.controls['country'].hasError('required') && vendorListForm.controls['country'].touched)  || isSubmitted">
          </p-dropdown>

          <div
            *ngIf="(vendorListForm.controls['country'].hasError('required')  && (vendorListForm.controls['country'].dirty || vendorListForm.controls['country'].touched)) || isSubmitted"
            [ngClass]="(vendorListForm.controls['country'].valid) ? 'display-none' : 'error'">
            Please select country
          </div>
        </div>
        <div class="padding-top-24">
          <p class="filter-text">City</p>

          <p-dropdown [options]="cities" formControlName="city" [showClear]="true" placeholder="Select city"
            [disabled]="cities.length == 0" [showClear]="true" styleClass="prime-dropdown-wrapper"
            [class.is-invalid]="(vendorListForm.controls['city'].hasError('required') && vendorListForm.controls['city'].touched)  || isSubmitted">
          </p-dropdown>

          <div
            *ngIf="(vendorListForm.controls['city'].hasError('required')  && (vendorListForm.controls['city'].dirty || vendorListForm.controls['city'].touched)) || isSubmitted"
            [ngClass]="(vendorListForm.controls['city'].valid) ? 'display-none' : 'error'">
            Please select city.
          </div>

        </div>
      </div>
      <div class="filter-button-wrapper">
        <button type="submit" class="full-button-wrapper">Apply Filters</button>
        <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
      </div>

    </div>
  </form>

</div>
