.business-wrapper {
    .filter-wrapper {
        top: -10%;
    }
}

.filter-button-wrapper {
    display: flex;
    justify-content: space-between;
    .full-button-wrapper {
        min-width: auto;
        padding: 8px 15px;
    }
    .full-border-wrapper {
        border: 1px solid #D8D8D8 !important;
        color: #8F8F8F;
        min-width: 5em;
        border-radius: 3px;
    }
}

tr {
    th:nth-child(4n+4) {
        // text-align: center;
    }
    td:nth-child(2) {
        padding-right: 5px;
    }
    td,
    th {
        word-break: break-all;
    }
}