<div class="wrapper">
  <div class="col-sm-8 heading-flex-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="display-flex align-center heading-toggle-switch dropdown-status-wrapper">

      <!-- border button yellow -->
      <div (click)="actionRequest()">
        <ng-container *ngIf="requestData.status == 'new'">
          <a class="border-button-yellow">Start Processing</a>
        </ng-container>
        <ng-container *ngIf="requestData.status == 'ongoing'">
          <a class="border-button-yellow">Complete</a>
        </ng-container>
      </div>

      <!-- check whether it is not new and ongoing -->
      <ng-container *ngIf="requestData.status != 'new' && requestData.status != 'ongoing'">
        <span class="complete-text-wrapper">
          {{requestData.status}}
        </span>
      </ng-container>

    </div>
  </div>
  <!-- form details wrapper -->
  <div class="col-sm-8 card card-details-wrapper ">
    <div class="form-card-wrapper">
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Request Number</p>
          <div class="form-search-input">
            <p class="form-view-text">
              {{requestData.request_number == null ? '-' : requestData.request_number }}</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Requested On</p>
          <div class="form-search-input">
            <p class="form-view-text">
              {{requestData.requested_on == null ? '-' : requestData.requested_on | date:'mediumDate'}}</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Resolved At</p>
          <div class="form-search-input">
            <p class="form-view-text">{{requestData.resolved_at == null ? '-' : requestData.resolved_at}} </p>
          </div>
        </div>
      </div>

      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Driver's Name</p>
          <div class="form-search-input">
            <p class="form-view-text">{{driverData.driver == null ? '-' : driverData.driver}}</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Driver's Contact No. </p>
          <div class="form-search-input">
            <p class="form-view-text">{{driverData.mobile_number == null ? '-' : driverData.mobile_number}}</p>
          </div>
        </div>
      </div>

      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Vehicle Number</p>
          <div class="form-search-input">
            <p class="form-view-text">{{vehicleData.vehicle_number == null ? '-' : vehicleData.vehicle_number}}</p>
          </div>
        </div>
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Vehicle Brand Name</p>
          <div class="form-search-input">
            <p class="form-view-text">{{vehicleData.brand_name == null ? '-' : vehicleData.brand_name}}</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block">
          <p class="form-grey-text">Vehicle Model Name</p>
          <div class="form-search-input">
            <p class="form-view-text">{{vehicleData.model_name == null ? '-' : vehicleData.model_name}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- table wrapper starts -->
    <div class="table-wrapper">
      <p-table [value]="serviceData" styleClass="country-list-wrapper" [responsive]="true" [alwaysShowPaginator]="false"
        columnResizeMode="expand">
        <ng-template pTemplate="header">
          <tr>
            <!-- <th>Service No.</th> -->
            <th>Service Name</th>
            <th>Service Type</th>
            <th>Service Pricing</th>
            <!-- <th>Status</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-service>
          <tr>

            <td>
              <span class="ui-column-title">Service Name</span>{{service.service_name}}
            </td>
            <td>
              <span class="ui-column-title">Service Type</span>
              {{service.type}}
            </td>
            <td>
              <span class="ui-column-title">Service Pricing</span>
              {{service.servicePricing[0] == null ? '-' : service.servicePricing[0].price+" "+service.servicePricing[0].currency}}
            </td>
            <!-- <td><span class="ui-column-title">Status</span>{{service.status}}</td> -->
          </tr>

        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="text-center text-danger font-weight-600" colspan="8">No Records Found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- table wrapper ends -->

  </div>
</div>
