<div class="wrapper servicepage">
  <app-heading-wrapper></app-heading-wrapper>

  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"
      [placeHolderText]="'Search Service Name'"></app-search>

    <app-button-wrapper [buttonTitle]="'Add New Service'" routerLink="../service-list/add-service"></app-button-wrapper>
  </div>

  <!-- table wrapper -->
  <div class="table-wrapper">
    <p-table [value]="serviceList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [alwaysShowPaginator]="false" (onLazyLoad)="paginate($event)" dataKey="list_id" [lazy]="true"
      [totalRecords]="total" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>Service Name</th>
          <th>Service Category</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-service let-expanded="expanded">
        <tr>
          <td>
            <a href="#" [pRowToggler]="service" title="Pricing Details" class="payment-arrow-icon">
              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
            </a>
          </td>
          <td>
            {{service.service_name}}
          </td>
          <td>
            {{service.service_category_name}}
          </td>
          <td>
            <a class="success p-0"
              [routerLink]="['../service-list/edit-service', utility.base64Encode(service.list_id)]">
              <i class="fa fa-eye font-medium-1 "></i>
              Edit
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-service let-columns="columns">
        <tr>
          <td [attr.colspan]="4" class="padding-0">
            <div class="ui-g ui-fluid payment-list-wrapper payment-details-wrapper" style="font-size:16px;padding:20px">
              <p-table [value]="service.servicePricing">
                <ng-template pTemplate="header">
        <tr class="border-top-none">
          <th>Country</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Engine Capacity</th>
          <th>Price</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pay let-i="rowIndex" let-price let-editing="editing">
        <tr>
          <td style="font-weight:bold;">
            {{price.country}}
          </td>
          <td>
            {{price.brand_name}}
          </td>
          <td>
            {{price.model_name}}
          </td>
          <td>
            {{price.engine_capacity}}
          </td>
          <td>
            {{price.price}} {{price.currency}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </td>
  </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td class="text-center text-danger font-weight-600" colspan="4">No Records Found.</td>
    </tr>
  </ng-template>
  </p-table>
</div>
</div>
