.payment-arrow-icon {
    color:#727373;
}

:ng-deep .payment-details-wrapper{
    &.ui-g {
        padding: 0 0 !important;
    }

    .ui-table-thead {
        tr {
            border-top: none !important;
        }
    }

    p-table {
            tr {
                border-bottom: none !important;
            }
    }
}

.border-top-none  {
    border-top: none !important;
}

.payment-row-block {
    tr {
    border-top: none !important;
     
    &:last-child {
        border-bottom: none !important;
    }
    }
    td {
        padding-left:0 !important;

        &:first-child {
            padding: 0 !important;
        }
    }
}

.payment-list-wrapper.ui-g {
    border: none !important;
    box-shadow: 0px 0px 20px 0px #a9c3eb inset;
    padding: 10px 10px !important;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}
