<div class="wrapper">
  <div class="col-sm-8 heading-flex-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="display-flex align-center heading-toggle-switch dropdown-status-wrapper">
      <p-dropdown optionLabel="name" [options]="status" [(ngModel)]="selectedStatus" dropdownIcon="fa fa-chevron-down"
        styleClass="prime-dropdown-wrapper" styleClass="prime-dropdown-status">
        <ng-template let-fs pTemplate="item">
          <div class="option-row">
            <div>
              <span
                [ngClass]="{'new-circle': fs.value.name == 'New', 'outgoing-circle': fs.value.name == 'Ongoing', 'finished-circle': fs.value.name == 'Finished' }"></span>
              {{fs.value.name}}
            </div>
          </div>
        </ng-template>
        <ng-template let-fs pTemplate="selectedItem">
          <div class="option-row">
            <div>
              <span
                [ngClass]="{'new-circle': fs.value.name == 'New', 'outgoing-circle': fs.value.name == 'Ongoing', 'finished-circle': fs.value.name == 'Finished' }"></span>
              {{fs.value.name}}
            </div>
          </div>
        </ng-template>
      </p-dropdown>

      <div (click)="showDialog()">
        <a class="border-button-yellow">Resolve</a>
      </div>
    </div>
  </div>

  <!-- form details wrapper -->
  <div class="col-sm-8 card card-details-wrapper ">
    <div class="form-card-wrapper">
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Business Name</p>
          <div class="form-search-input">
            <p class="form-view-text">Alfredo Corp</p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Name</p>
          <div class="form-search-input">
            <p class="form-view-text">Alfredo Dawson</p>
          </div>
        </div>
      </div>
      <div class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-grey-text">Email</p>
          <div class="form-search-input">
            <p class="form-view-text">alfredo.dawson@gmail.com </p>
          </div>
        </div>
        <div class="form-block">
          <p class="form-grey-text">Contact Number </p>
          <div class="form-search-input">
            <p class="form-view-text">(305) 851-0168</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- dialog starts -->
<p-dialog header="Module is Resolved!" [(visible)]="addDisplay" [modal]="true" [responsive]="true"
  [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body"
  styleClass="prime-modal-dialog prime-dialog-repair">
  <div class="text-center">
    <p class="modal-grey-text">The request for Module has been resolved.</p>
  </div>
  <p-footer>
    <div class="text-center modal-flex-center">
      <a (click)="addDisplay=false" class="modal-button-wrapper">Resolved!</a>
    </div>
  </p-footer>
</p-dialog>