<div class="wrapper vehicle-wrapper form-wrapper-block coupon-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="search-flex-wrapper">

        <!-- search wrapper -->
        <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"></app-search>

        <div class="display-flex">
            <div class="filter-icon-wrapper" (click)="showFilter()">
                <div class="filter-card-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
                        <g>
                            <g>
                                <g id="filter">
                                    <path
                                        d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                                        data-original="#000000" class="active-path" data-old_color="#000000"
                                        fill="#8F8F8F" />
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
            <app-button-wrapper [buttonTitle]="'Create Coupon'" routerLink="../coupon/add"></app-button-wrapper>
        </div>
    </div>
    <!-- table wrapper -->
    <div class="table-wrapper">
        <p-table [value]="couponData" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true" [alwaysShowPaginator]="false" [rows]="10" sortField="title" [sortOrder]="1" (onLazyLoad)="paginate($event)" [lazy]="true" [totalRecords]="total">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:9em">Coupon Image</th>
                    <th>Coupon Code</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-coupon>
                <tr>
                    <td>
                        <span class="ui-column-title">Coupon Image</span>

                        <span class="table-image-wrapper">
                            <img [src]="(coupon.coupon_image == null) ? '../assets/project-images/profile-image-new2.svg' : coupon.coupon_image"
                                alt="coupon image" />
                        </span>

                    </td>
                    <td><span class="ui-column-title">Coupon Code</span>{{coupon.coupon_code}}</td>
                    <td><span class="ui-column-title">Start Date</span>{{coupon.start_date | date:'yyyy-MM-dd'}}</td>
                    <td><span class="ui-column-title">End Date</span>{{coupon.end_date | date:'yyyy-MM-dd'}}</td>
                    <td>
                        <span class="ui-column-title">Status</span>
                        <ng-container *ngIf="(todayDate < coupon.start_date | date:'yyyy-MM-dd'); expiredBlock">
                            <span>In-active</span>
                        </ng-container>
                        <ng-template #expiredBlock>
                            <span>Expired</span>
                        </ng-template>

                        <ng-container *ngIf="(todayDate > coupon.start_date | date:'yyyy-MM-dd' && today < coupon.end_date | date:'yyyy-MM-dd')">
                            <span>Active</span>
                        </ng-container>

                    </td>
                    <td>
                        <span class="ui-column-title">Action</span>
                        <a class="success p-0" [routerLink]="['../coupon/edit', utility.base64Encode(coupon.coupon_id)]">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7" class="text-danger text-center font-weight-600">No Records Found</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<!-- Filter Wrapper -->
<div *ngIf="isVisible" class="filter-wrapper" [@openClose]>
    <div class="filter-flex-wrapper flex-direction-row">
        <div>
            <h3 class="filter-title-text">Filter</h3>
        </div>
        <div (click)="clearFilter()">
            <i class="fa fa-times filter-close-icon"></i>
        </div>
    </div>
    <form [formGroup]="couponListForm" (ngSubmit)="onSubmit()" class="filter-form-wrapper">
        <div class="filter-flex-wrapper">
            <div>
                <!-- discount range -->
                <!-- <div>
                    <p class="filter-text">Discount Range: {{couponListForm.controls.discount_range.value[0]+ '-' +couponListForm.controls.discount_range.value[1]}}
                    </p>
                    <div class="prime-slider-wrapper">
                        <p-slider formControlName="discount_range" (onChange)="changeSlider()" [range]="true"></p-slider>
                    </div>
                </div> -->

                <!-- start date range -->
                <div>
                    <p class="filter-text">Start Date Range</p>
                    <div class="prime-calender-wrapper d-flex ">

                        <p-calendar [(ngModel)]="dateValue1" inputId="orderRangeOne" formControlName="start_range_from" placeholder="Start From" [maxDate]="dateValue2" name="orderRangeOne" showIcon="true" [readonlyInput]="true" showButtonBar="true"></p-calendar>

                        <span class="font-text-bold">&nbsp;-&nbsp;</span>
                        <p-calendar [(ngModel)]="dateValue2" [minDate]="dateValue1" inputId="orderRangeTwo" name="orderRangeTwo" formControlName="start_range_to" placeholder="End To" showIcon="true" [readonlyInput]="true" showButtonBar="true">
                        </p-calendar>

                    </div>
                </div>

                <!-- end date range -->
                <div class="padding-top-24">
                    <p class="filter-text">End Date Range</p>
                    <div class="prime-calender-wrapper d-flex ">

                        <p-calendar [(ngModel)]="endDateValue1" inputId="orderRangeOne" formControlName="end_range_from" placeholder="End From" [maxDate]="endDateValue2" name="orderRangeOne" showIcon="true" [readonlyInput]="true" showButtonBar="true"></p-calendar>

                        <span class="font-text-bold">&nbsp;-&nbsp;</span>
                        <p-calendar [(ngModel)]="endDateValue2" [minDate]="endDateValue1" inputId="orderRangeTwo" name="orderRangeTwo" formControlName="end_range_to" placeholder="End To" showIcon="true" [readonlyInput]="true" showButtonBar="true">
                        </p-calendar>

                    </div>
                </div>

                <!-- expiring on  -->
                <div class="padding-top-24">
                    <p class="filter-text">
                        Expiring On
                    </p>
                    <div class="prime-calender-wrapper">
                        <p-calendar [(ngModel)]="expiredDate" formControlName="expiring_on" dateFormat="dd/mm/yy" [minDate]="today" [readonlyInput]="true" [showIcon]="true" placeholder="select date">
                        </p-calendar>
                    </div>
                </div>



            </div>

            <div class="filter-button-wrapper">
                <button type="submit" class="full-button-wrapper">Apply Filters</button>
                <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
            </div>

        </div>

    </form>

</div>