<div class="wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)" [placeHolderText]="'Search Name'">
    </app-search>
  </div>

  <!--All Request List-->
  <div class="table-wrapper">
    <p-table [value]="requestList" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [lazy]="true" (onLazyLoad)="paginate($event)" [alwaysShowPaginator]="false" [rows]="10" [totalRecords]="total">
      <ng-template pTemplate="header">
        <tr>
          <th>Id </th>
          <th>Name</th>
          <th>Request For</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>City</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request let-i="rowIndex">
        <tr>
          <td><span class="ui-column-title">Id</span>{{i+1}}</td>
          <td><span class="ui-column-title">Name</span>{{request.name}}</td>
          <td><span class="ui-column-title">Request For</span>{{request.form_type}}</td>
          <td><span class="ui-column-title">Email</span>{{request.email}}</td>
          <td><span class="ui-column-title">Contact Number</span>{{request.phone_number}}</td>
          <td><span class="ui-column-title">City</span>
            <span class="text-capitalize">{{request.city}}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="6">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
