.filter-button-wrapper {
    display:flex;
    justify-content: space-between;

    .full-button-wrapper {
        min-width:auto;
        padding: 8px 15px;
    }

    .full-border-wrapper {
        border: 1px solid #D8D8D8 !important;
        color: #8F8F8F;
        min-width: 5em;
        border-radius: 3px;
    }
}

::ng-deep .prime-dropdown-status {
    min-width: 100px !important;
    .ui-inputtext {
        background: #f7f7f7;
    }

    .ui-dropdown-trigger {
         background-color:#f7f7f7 !important;
    }
}