.search-flex-wrapper {
    justify-content: flex-end;
}

.plan-details-wrapper {
    padding:0;

    .plan-card-wrapper {
        padding: 0px 25px 20px;
    }
}

::ng-deep .search-table-wrapper {
    app-search {
        .search-input {
            padding-left:25px;
            input[type=text] {
                box-shadow: 0px 0px 3px #ebebeb;
            }
        }
    }
}

.padding-right-20 {
    padding-right:20px;
}

// dropdown wrapper
.dropdown-wrapper {
    p-dropdown {
        &:first-child {
            margin-right:20px;
        }
    }

    padding-right:20px;
}