<div class="wrapper vehicle-wrapper lease-wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">

  </div>

  <!-- lease plan list details -->
  <div class="row">
    <div class="col-lg-10 col-sm-12">
      <div class="card plan-details-wrapper">

        <div class="plan-card-wrapper">
          <div class="display-flex padding-top-24">
            <!-- batch -->
            <div class="form-block">
              <p class="form-grey-text">Batch</p>
              <div class="form-search-input">
                <p class="form-view-text">{{leasePlanBatch.slug}}</p>
              </div>
            </div>

            <!-- starts from -->
            <div class="form-block">
              <p class="form-grey-text">Start from</p>
              <div class="form-search-input">
                <p class="form-view-text">{{leasePlanBatch.assigned_to_business_from | date : 'mediumDate'}}</p>
              </div>
            </div>

            <!-- ends from -->
            <div class="form-block">
              <p class="form-grey-text">Ends on</p>
              <div class="form-search-input">
                <p class="form-view-text">{{leasePlanBatch.assigned_to_business_to | date : 'mediumDate'}}</p>
              </div>
            </div>
          </div>
          <div class="display-flex padding-top-24">
            <!-- Total Price -->
            <div class="form-block">
              <p class="form-grey-text">Total Price</p>
              <div class="form-search-input">
                <p class="form-view-text">{{leasePlanBatch.total_price}} {{currency}}</p>
              </div>
            </div>

            <!-- Paid Price -->
            <div class="form-block">
              <p class="form-grey-text">Paid Price</p>
              <div class="form-search-input">
                <p class="form-view-text">{{leasePlanBatch.paid_price}} {{currency}}</p>
              </div>
            </div>

            <!-- Remaining -->
            <div class="form-block">
              <p class="form-grey-text">Remaining</p>
              <div class="form-search-input">
                <p class="form-view-text">{{leasePlanBatch.total_price - leasePlanBatch.paid_price}}
                  {{currency}}</p>
              </div>
            </div>

          </div>

          <div class="display-flex padding-top-24">

            <!-- vehicle assigned -->
            <div class="form-block">
              <p class="form-grey-text"># Vehicle Assigned</p>
              <div class="form-search-input">
                <p class="form-view-text">
                  {{leasePlanBatch.vehicleMapping[0] ? leasePlanBatch.vehicleMapping[0].count  : 0}}</p>
              </div>
            </div>
          </div>
        </div>

        <form [formGroup]="leaseFilter">
          <div class="search-table-wrapper">
            <div class="display-flex justify-space-between">
              <div>
                <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"></app-search>
              </div>
              <div class="display-flex padding-right-20 dropdown-wrapper">

                <!-- brands -->
                <p-dropdown [options]="brands" [showClear]="true" (onChange)="filterModelOnBrandChange()"
                  formControlName="brand" placeholder="Select brand" styleClass="prime-dropdown-wrapper"></p-dropdown>

                <!-- models -->
                <p-dropdown [options]="models" [showClear]="true" placeholder="Select model"
                  [disabled]="models.length==0" formControlName="model" styleClass="prime-dropdown-wrapper">
                </p-dropdown>
              </div>
            </div>
          </div>
        </form>

        <!-- table wrapper here -->
        <div class="table-wrapper">
          <p-table [value]="leaseList" styleClass="country-list-wrapper" [responsive]="true" sortField="id"
            [sortOrder]="1">
            <ng-template pTemplate="header">
              <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Registration Number</th>
                <th>Engine Number</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lease>
              <tr>
                <td>
                  <span class="ui-column-title">Brand</span>
                  <span class="text-capitalize">
                    {{lease.vehicle.brand_name}}
                  </span>

                </td>
                <td><span class="ui-column-title">Model</span>
                  <span class="text-capitalize">
                    {{lease.vehicle.model_name}}
                  </span>
                </td>
                <td>
                  <span class="ui-column-title">Registration Number</span>
                  {{lease.vehicle.vehicle_number}}
                </td>
                <td>
                  <span class="ui-column-title">Engine Number</span>
                  {{lease.vehicle.engine_number}}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="4" class="text-center text-danger font-weight-600">No Records Found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>

      </div>
    </div>
  </div>




</div>
