<div class="wrapper">
  <div class="col-sm-8 heading-flex-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <!-- <div [routerLink]="['../../profile']">
      <a class="border-button-small">Back</a>
    </div> -->
  </div>
  <div class="col-sm-8 card">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-card-wrapper">
        <div class="display-flex padding-top-24">
          <div class="form-block padding-right-32">
            <p class="form-text">First Name*</p>
            <div class="form-search-input">
              <input type="text" placeholder="Enter first name" formControlName="firstName" />
            </div>
          </div>
          <div class="form-block">
            <p class="form-text">Last Name*</p>
            <div class="form-search-input">
              <input type="text" placeholder="Enter last name" formControlName="lastName" />
            </div>
          </div>
        </div>
        <div class="display-flex padding-top-24">
          <div class="form-block padding-right-32">
            <p class="form-text">Contact number*</p>
            <div class="form-search-input contact-form-input">
              <div class="input-group contact-input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">{{countryCode}}</span>
                </div>
                <input type="text" placeholder="Enter contact number" formControlName="contact" />
              </div>
            </div>
          </div>
          <div class="form-block">
            <p class="form-text">Alternate number*</p>
            <div class="form-search-input contact-form-input">
              <div class="input-group contact-input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">{{countryCode}}</span>
                </div>
                <input type="text" placeholder="Enter alternate number" formControlName="alternate_number" />
              </div>
            </div>
          </div>
        </div>
        <div class="display-flex padding-top-24">
          <div class="form-block padding-right-32">
            <p class="form-text">Email ID*</p>
            <div class="form-search-input form-small-input">
              <input type="text" placeholder="Enter email id" formControlName="email" />
            </div>
          </div>
        </div>

        <div class="padding-top-24">
          <p class="form-text">Upload Documents *</p>
        </div>

        <div class="row">
          <!-- Agreement -->
          <div class="col-lg-6">
            <div class="padding-top-24">
              <p class="form-grey-text">Agreement</p>
              <div>
                <div class="file-upload-wrapper file-wrapper">
                  <input name="agreement" type="file" (change)="uploadImage($event, 'agreement')" accept=".pdf"
                    formControlName="agreement">
                  <span>
                    <i class="icon-attachment"></i>
                    Browse File
                  </span>

                </div>

                <!-- image wrapper here -->
                <div class="document-wrapper">
                  <img [src]="'assets/project-images/City-bg.png'" height="100" width="100" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <!-- License -->
            <div class="padding-top-24">
              <p class="form-grey-text">License</p>
              <div>
                <!-- file upload wrapper -->
                <div class="file-upload-wrapper file-wrapper">
                  <input name="license" type="file" (change)="uploadImage($event, 'license')" formControlName="license">
                  <span>
                    <i class="icon-attachment"></i>
                    Browse File
                  </span>
                </div>

                <!-- image wrapper here -->
                <div class="document-wrapper">
                  <img [src]="'assets/project-images/City-bg.png'" height="100" width="100" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Agreement -->
          <div class="col-lg-6">
            <div class="padding-top-24">
              <p class="form-grey-text">6 Month Bank Statement</p>
              <div>
                <div class="file-upload-wrapper file-wrapper">
                  <input name="agreement" type="file" (change)="uploadImage($event, 'agreement')" accept=".pdf"
                    formControlName="bank_statement">
                  <span>
                    <i class="icon-attachment"></i>
                    Browse File
                  </span>
                  <!-- <div *ngIf="((vendorList.agreement.hasError('required')) && isSubmitted)"
                        [ngClass]="(vendorList.agreement.valid) ? 'display-none' : 'error'">&nbsp;
                        Please upload the agreement
                      </div> -->
                </div>

                <!-- image wrapper here -->
                <div class="document-wrapper">
                  <!-- <img [src]="vendorListForm.value.agreement || 'assets/project-images/City-bg.png'" height="100"
                        width="100" /> -->
                  <img [src]="'assets/project-images/City-bg.png'" height="100" width="100" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <!-- License -->
            <div class="padding-top-24">
              <p class="form-grey-text">Emirates ID</p>
              <div>
                <!-- file upload wrapper -->
                <div class="file-upload-wrapper file-wrapper">
                  <input name="license" type="file" (change)="uploadImage($event, 'license')"
                    formControlName="emirates_id">
                  <span>
                    <i class="icon-attachment"></i>
                    Browse File
                  </span>
                  <!-- <div *ngIf="((vendorList.license.hasError('required')) && isSubmitted)"
                        [ngClass]="(vendorList.license.valid) ? 'display-none' : 'error'">&nbsp;
                        Please upload the license
                      </div> -->
                </div>

                <!-- image wrapper here -->
                <div class="document-wrapper">
                  <!-- <img [src]="vendorListForm.value.license || 'assets/project-images/City-bg.png'" height="100"
                        width="100" /> -->
                  <img [src]="'assets/project-images/City-bg.png'" height="100" width="100" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Agreement -->
          <div class="col-lg-6">
            <div class="padding-top-24">
              <p class="form-grey-text">Passport Copy</p>
              <div>
                <div class="file-upload-wrapper file-wrapper">
                  <input name="agreement" type="file" (change)="uploadImage($event, 'agreement')" accept=".pdf"
                    formControlName="passport">
                  <span>
                    <i class="icon-attachment"></i>
                    Browse File
                  </span>
                  <!-- <div *ngIf="((vendorList.agreement.hasError('required')) && isSubmitted)"
                        [ngClass]="(vendorList.agreement.valid) ? 'display-none' : 'error'">&nbsp;
                        Please upload the agreement
                      </div> -->
                </div>

                <!-- image wrapper here -->
                <div class="document-wrapper">
                  <!-- <img [src]="vendorListForm.value.agreement || 'assets/project-images/City-bg.png'" height="100"
                        width="100" /> -->
                  <img [src]="'assets/project-images/City-bg.png'" height="100" width="100" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <!-- License -->
            <div class="padding-top-24">
              <p class="form-grey-text">Other Documents</p>
              <div>
                <!-- file upload wrapper -->
                <div class="file-upload-wrapper file-wrapper">
                  <input name="license" type="file" (change)="uploadImage($event, 'license')"
                    formControlName="other_document">
                  <span>
                    <i class="icon-attachment"></i>
                    Browse File
                  </span>
                  <!-- <div *ngIf="((vendorList.license.hasError('required')) && isSubmitted)"
                        [ngClass]="(vendorList.license.valid) ? 'display-none' : 'error'">&nbsp;
                        Please upload the license
                      </div> -->
                </div>

                <!-- image wrapper here -->
                <div class="document-wrapper">
                  <!-- <img [src]="vendorListForm.value.license || 'assets/project-images/City-bg.png'" height="100"
                        width="100" /> -->
                  <img [src]="'assets/project-images/City-bg.png'" height="100" width="100" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- footer button wrapper -->
        <div class="align-button-right">
          <button type="reset" (click)="resetForm()" class="border-button-wrapper margin-right-32">Cancel</button>
          <button type="submit" class="button-wrapper">{{buttonName}}</button>
        </div>

      </div>
    </form>

  </div>
</div>