<form [formGroup]="accountDebitForm" (ngSubmit)="onSubmit()">
  <div>
    <!-- <p class="modal-text">Account Type</p> -->
    <div class="modal-search-input">
      <input type="text" placeholder="account type" name="account_type" formControlName="account_type"
        (keydown)="_utility.onInputValidator($event, true)"
        [class.is-invalid]="(accountModule.account_type.errors  && (accountModule.account_type.dirty || accountModule.account_type.touched) && isSubmitted) || (accountModule.account_type.errors  && (accountModule.account_type.dirty || accountModule.account_type.touched))" />
      <div
        *ngIf="(((accountModule.account_type.hasError('required') || accountModule.account_type.hasError('whitespace'))  && (accountModule.account_type.dirty || accountModule.account_type.touched)) && isSubmitted) || ((accountModule.account_type.hasError('required') || accountModule.account_type.hasError('whitespace'))  && (accountModule.account_type.dirty || accountModule.account_type.touched)) || (accountModule.account_type.dirty || accountModule.account_type.touched)"
        [ngClass]="(accountModule.account_type.valid) ? 'display-none' : 'error'">
        Please enter account type value.
      </div>
    </div>
  </div>
  <!-- <p-footer>
    <div class="modal-flex-button padding-top-32">
      <button type="reset" (click)="resetForm()" class="modal-border-button">Cancel</button>
      <button type="submit" class="modal-button-wrapper">Credit Amount</button>
    </div>
  </p-footer> -->
</form>