<div class="wrapper" [dir]="options.direction">
  <div class="app-sidebar">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
  </div>
  <app-navbar></app-navbar>
  <div class="main-panel">
    <div class="main-content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <router-outlet></router-outlet>
          <p-confirmDialog [style]="{width: '38vw'}" appendTo="body" styleClass="prime-confirm-wrapper">
          </p-confirmDialog>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

</div>
