    .sidebar-gradient {}
    
    .app-sidebar:before {
        background-image: url(../../../assets/img/sidebar-bg/02.jpg);
        opacity: 1;
    }
    
    .app-sidebar {
        width: 300px;
    }
    
    // confirmation dialog css
     ::ng-deep .prime-confirm-wrapper {
        .ui-dialog {
            .ui-dialog-titlebar {
                padding: 26px 24px 15px !important;
            }
        }
        .ui-button {
            &.reject-button {
                background-color: #fcd30303 !important;
                border: 1px solid #8F8F8F !important;
                color: #8F8F8F !important;
                &:hover {
                    transition: 0.3s all ease-in;
                    border: 1px solid #4A4A4A !important;
                    color: #4A4A4A !important;
                }
            }
            &:hover {
                transition: 0.3s all ease-in;
                box-shadow: 0px 0px 3px #d6d6d6;
            }
        }
    }
    
    @media (min-width: 992px) {
        .main-panel .main-content {
            padding-left: 300px;
        }
    }