.landing-wrapper {
    background: #fff;
    padding-bottom:0 !important;
}
// header css styling
.sticky{
    background:#fff;
    box-shadow: 0px 0px 2px grey;
    .transparent-button-wrapper{
        border-color: #374799;
        color: #374799;
        &:hover{
            background-color: #374799;
            color: #fff;
        }
    }
    .header-flex-wrapper {
       padding: 10px 20px !important;
    }
}
.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.25s ease all;
    // landing button wrapper
    .landing-button-wrapper {
       .transparent-button-wrapper {
           &:first-child {
               margin-right: 16px;
           }
       }
    }

    .header-flex-wrapper {
        display:flex;
        justify-content: space-between;   
        padding: 33px 67px 33px;
    }
}

// header section css
.header-section-wrapper {
    background-image: url('../../../../assets/project-images/landing-image.svg');
    background-size:cover;
    background-repeat: no-repeat;
    height:399px;
    width:100%;
    padding-top:12em;
    display:block;
    // align-items: center;

    .heading-title-wrapper {
        // padding-left:67px;
        //padding: 3em 0 0 78px;

        .landing-header-text {
            // width:45%;
            width:100%;
            text-align: center;
            h3 {
                color: #fff;
                font-weight: 600;
                font-size: 42px;
            }
        }
        .landing-para-text {
            padding-top:15px;
            p {
                color:#000000;
                font-size:20px;
            }
        }

        .location-wrapper {
            display:flex;
            align-items: center;
            padding-top:15px;

            a {
                background-color: #374799;
                padding: 10px 70px;
                border-radius: 15px;
                color: #fff;
                font-weight: 600;
            }

            .location-logo {
                padding-right: 6px;
            }
            .location-text {
                font-size: 21px;
                color:#F33F44;
                font-weight: 600;
            }
        }
    }

    .landing-image-wrapper {
        padding-left:1em;
    }
}
.about {
    .landing-image-wrapper{
        width: 460.14px;
       height: 403.93px !important;
       margin-left: 100px;
       img{
           width:100%;
       }
    }

    .padding-top-24.padding_top_11{
        padding-top: 11px;
    }
}
.about-content p{
    color:#0F0F0F;
    font-size: 16px;
}
section.about-content {
    padding: 60px;
}
section.about-content .sub-sec p {
    padding-bottom: 0;
}

// confirmed delivery wrapper
.confirmed-delivery-wrapper {
    padding-top:68px;

    .delivery-header {
        text-align: center;
        h4 {
            font-size: 42px;
            color: #222940;
            font-weight: 600;
        }

        p {
            color:#222940;
            font-size:20px;
            letter-spacing: 0px;
            margin-bottom:0;
        }
    }

    .delivery-card-wrapper {
        padding-top:48px;
        .delivery-card.patner-card {
            padding: 20px 20px;
            border: 1px solid #D3D5D9;
            border-radius:8px;
            margin-bottom: 32px;
            height: 224px;
            h3 {
                font-size: 36px;
                color: #222940;
                font-weight: 700;
                margin-bottom: 0;
            }
        }
    }

    // delivery lists wrapper
    .delivery-items-wrapper {
        
        .delivery-items {
            list-style: none;
            padding-top:64px;
            li {
                display:inline-block;
                padding-right: 3em;
                cursor: pointer;

                .delivery-block {
                    background: #fff;
                    margin:0 auto;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    cursor:pointer;
                    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.17);

                    img {
                        cursor:pointer;
                    }
                }

                .delivery-item-text {
                    padding-top:32px;
                    
                    p {
                        font-size: 20px;
                        color: #222940;
                        font-weight: 600;
                        text-align: center;
                    }
                }

            }
        }
    }
}

// delivery list wrapper 
.reach-text{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.email-text{
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}
.about .header-section-wrapper {
    height: 399px;
}
.landing-para-text {
    width: 600px;
}
.delivery-items-wrapper li:hover .delivery-block {
    transition:0.3s all ease-in;
    transform: scale(1.09);
}
.signupfootform {
    padding: 40px 0;
        h1{
            font-size: 42px;
            font-weight: bold;
            color:#000000;
            text-align: center;
            width: 100%;
            display: block;
    }
    button.btn.location-wrapper.sign-up-btn {
        background-color: #FECE31;
        padding: 10px 70px;
        border-radius: 15px;
        color: #000000;
        font-weight: 600;
    }
    .btn-sec {
        width: 100%;
        display: block;
        text-align: center;
        padding: 80px 0 0 0;
    }
    .form-sec {
        text-align: center;
        width: 100%;
       display: block;
       padding: 40px 0;

       .field-sec{
        padding: 20px 0;
       }

    }

    span.input-group-addon {
        position: absolute;
        right: 25px;
        top: 14px;
        i.fa{
           
            color: #F64145;
        }
    }
    .form-group{
        position: relative; 
        float: left;
        i.fa.fa-phone {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }
    form .form-control {
        border: 1px solid #C5C0D2;
        color: #AAAAAA;
        height: 48px;
    }

}
.video-testimonial-section{
    h2{
        font-size: 42px;
        color: #1E1E1E;
        font-weight: bold;
    }
    p{
        font-size: 20px;
        color: #1E1E1E;
       
    }
    
        padding: 40px 0;
    
}


// testimonials styling starts
.testimonial-wrapper {
    .delivery-partner-wrapper {
        // border:1px solid #707070;
        background: linear-gradient(to right, #FFAE20 , #EA9600);
        border-radius:8px;
        padding: 30px 33px;
        max-height: 540px;

        .delivery-partner-image {
        //     width:475px;

            img {
                width:100%;
            }
        }

        .delivery-partner-header {
            padding-top: 33px;
            text-align: center;

            h3 {
                font-size: 32px;
                font-weight: 700;
                color: #222940;
            }
            p {
                font-size: 18px;
                font-weight: 400;
            }
        }

        .know-more {
            span {
                color: #222940;
                cursor: pointer;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }

    .blue-gradient-wrapper {
        background: linear-gradient(to right, #18182B , #304260) !important;
        color:#fff !important;
        h3 {
            color: #fff !important;
        }

        .know-more {
            span {
                color: #fff !important;
            }
        }
    }
}

.transparent-button-wrapper {
    &:hover {
        transition:0.3s all ease-in-out;
        background: #fff;
        color: #fa8722;
    }
}

// footer section 
.footer-wrapper {
    background:#F5F5F5;
    padding: 45px 15px 30px;

    .footer-heading {
        p {
            color: #222940;
            font-weight: 700;
            font-size: 16px;
        }
    }

    .footer-list-wrapper {
        ul {
            padding-left:0;

            li {
                display: inline-block;
                margin-right:1em;

                a {
                    font-size: 16px;
                    color: #222940;
                    font-weight: 500;
                }
            }
        }
    }

    .footer-social-wrapper {
        ul {
            padding-left:0 !important;

            .footer-list-icon {
                background: linear-gradient(to right, #18182B, #304260);
                border-radius: 3px;
                width: 24px;
                height: 24px;
                padding: 0px 3px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-right: 1em;

                a {
                    color: #fff;
                }
            }
        }
    }

    .copyright-wrapper {
        padding-top:4em;
    }

    .footer-text {
        padding-left:2em;

        p {
            font-size: 16px;
            color: #222940;
            font-weight: 400;
        }
    }

    .delivery-mail-wrapper {

        .delivery-footer-img {
            padding-right: 10px;
        }

        .footer-end-text {
            color:#222940;
            font-size: 16px;
            font-weight: 400;
        }
    }
}
// Carosuel css
.carousel-section{
    color: #fff;
}
.carousel-inner{
    // background-image:"./assets/project-images/carousel-bg.svg";

    h4{
        font-weight: bold;
    }
}
.user-post-box{
    box-shadow: 0px 0px 2px 1px #eaeaea57;
    margin-top: 5px;
    padding: 20px 15px;
    background-color: #fff;
    color: #222940;
    border-bottom: 6px solid #EA9600;
    border-radius: 4px;
    min-height: 325px;
    .user-image{
        width: 100px;
        height: 100px;
        float: left;
    }
    h5{
        padding-top: 5px;
    }
    .user-post-desc{
        p{
            clear: both;
            padding-top: 10px;
        }
    }
}

h2 {
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    margin-bottom: 15px;
    padding-top: 10px;
}

@media (max-width:767px){
    .carousel-inner{
        background: unset;
        background-color: #374799;
    }
}
@media (max-width:480px){
    .delivery-card{
        img{
            width: 125px;
        }
        h3{
            font-size: 24px !important;
        }
    }
}
@media only screen and(max-width:915px){

    .about {
        .header-section-wrapper .heading-title-wrapper .landing-header-text h3 {
            font-size: 35px;
        }

        .header-section-wrapper .landing-image-wrapper{
            padding: 0 1em!important;
        }

    }
}

@media only screen and(max-width:1199px){
    .video-col {
        width: auto!important;
        height: auto!important;
    }
}
@media only screen and(max-width:1100px){
.about .landing-image-wrapper {
    margin-left: 0;
}
.landing-para-text {
    width: auto; 
}
}
@media only screen and(max-width:839px){

    .about {
        .header-section-wrapper .heading-title-wrapper .landing-header-text h3 {
            font-size: 30px;
        }

        .heading-title-wrapper .landing-para-text{
            font-size: 16px;
        }

    }
}

@media only screen and(max-width:767px){
   

}
@media only screen and(max-width:683px){
    .about {
.header-wrapper .landing-button-wrapper .transparent-button-wrapper:first-child {
    margin-right: 10px;
}
button.transparent-button-wrapper {
    font-size: 14px;
}
.header-section-wrapper .heading-title-wrapper .landing-header-text h3 {
    font-size: 30px;
}

}
.about .header-section-wrapper {
    height: 250px!important;
}
}
@media only screen and(max-width:555px){
    .about {
.header-section-wrapper .heading-title-wrapper .location-wrapper a {
    padding: 8px 40px;
}

    }
}
@media only screen and(max-width:480px){
    section.about-content {
        padding: 40px 20px;
    }
    section.about-content p{

        font-size:18px;  
      }
}

@media only screen and (max-width: 413px){
.header-wrapper .landing-button-wrapper .transparent-button-wrapper:first-child {
    margin-right: 5px!important;
}
.about  .display-flex {
    display: block!important;
    text-align: center;
}
footer.footer-wrapper {
    text-align: center;
}
.header-wrapper .header-flex-wrapper {
    padding: 20px 0px !important;
}
.delivery-card h3 {
    font-size: 24px !important;
    padding-top: 15px;
}
.landing-button-wrapper {
    margin: 20px 0 0 0;
}


}
@media only screen and (max-width: 400px){
  
}
@media only screen and (max-width: 380px){
    section.about-content p{
        font-size:16px;  
      }
   
}
@media only screen and (max-width: 350px){
.landing-button-wrapper {
    margin: 20px 0 0px 0;
    text-align: center;
}
.header-section-wrapper {
    padding-top: 11em !important;
}
.logo-image {
    text-align: center;
}
.header-wrapper .header-flex-wrapper {
    display: block;
}
}




