<div class="wrapper">
  <div class="row no-flex-wrap mobile-display-block">
    <div class="col-sm-6 margin-right-24 card">
      <canvas id="barChart"></canvas>
    </div>
    <div class="col-sm-6 card">
      <canvas id="pieChart"></canvas>
    </div>
  </div>
</div>