<div class=" wrapper vehicle-wrapper form-wrapper-block order-wrapper order-management">
    <app-heading-wrapper></app-heading-wrapper>
    <!-- Search wrapper -->
    <div class="search-flex-wrapper">

        <!-- search wrapper starts -->
        <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)" [placeHolderText]="'Search Customer Name'"></app-search>

        <div class="display-flex">
            <div class="filter-icon-wrapper" (click)="showFilter()">
                <!-- <i class="fa fa-filter card-icon"></i> -->
                <div class="filter-card-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
            <g>
              <g>
                <g id="filter">
                  <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#8F8F8F" />
                </g>
              </g>
            </g>
          </svg>
                </div>
            </div>
            <app-button-wrapper [buttonTitle]="'Create Order'" routerLink="add"></app-button-wrapper>
        </div>

    </div>

    <!-- tabs wrapper -->
    <div class="tabs-wrapper">
        <p-tabMenu [model]="items" [activeItem]="activeItem" styleClass="prime-tabs-wrapper prime-long-tabs-wrapper">
            <ng-template pTemplate="item" let-item let-i="index">
                <div (click)="getItem($event, i, item.label)">
                    <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
                    <div class="ui-menuitem-text">
                        {{item.label}}
                    </div>
                </div>
            </ng-template>
        </p-tabMenu>
    </div>

    <!--All Orders-->
    <div class="table-wrapper vehicle-wrapper">
        <p-table [value]=" ordersList" styleClass="country-list-wrapper" [responsive]="true" (onLazyLoad)="paginate($event)" [paginator]="true" [alwaysShowPaginator]="false" [rows]="10" [lazy]="true" [totalRecords]="total" [customSort]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:8em">Order ID
                    </th>
                    <th>Order Date</th>
                    <th>Channel</th>
                    <th>Item Quantity</th>
                    <th>Cust Name</th>
                    <th style="width:8em">Cust Address</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orders>
                <tr>
                    <td class="order-date-wrapper"><span class="ui-column-title">Order ID</span>{{orders.invoice_id}}</td>
                    <td><span class="ui-column-title">Order Date</span>{{orders.order_date | date : 'dd-MM-y '}}</td>
                    <td><span class="ui-column-title">Channel</span>{{orders.channel | titlecase }}</td>
                    <td><span class="ui-column-title">Item Type</span>{{orders.OrderItem[0].sum}}</td>
                    <td><span class="ui-column-title">Cust Name</span>{{orders.customer | titlecase }}</td>
                    <td><span class="ui-column-title">Cust Address</span>{{orders.address_1}}</td>
                    <td>
                        <span class="ui-column-title">Status</span>
                        <span [ngClass]="{'new-circle': orders.order_status == 'new', 'active-circle': orders.order_status == 'accepted', 'outgoing-circle': orders.order_status == 'assigned', 'pending-circle': orders.order_status == 'ongoing', 'delivery-circle': orders.order_status == 'delivered'}">
            </span>
                        <span class="text-capitalize">
              {{orders.order_status | titlecase}}
            </span>

                    </td>
                    <td>
                        <span class="ui-column-title">Action</span>
                        <a class="success p-0" [routerLink]="['details', utility.base64Encode(orders.order_id)]">
                            <i class="fa fa-eye font-medium-1 "></i> View
                        </a>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center text-danger font-weight-600" colspan="8">No Records Found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Filter wrapper -->
<div *ngIf="isVisible" class="filter-wrapper" [@openClose]>
    <div class="filter-flex-wrapper flex-direction-row">
        <div>
            <h3 class="filter-title-text">Filter</h3>
        </div>
        <div (click)="closeFilter()">
            <i class="fa fa-times filter-close-icon"></i>
        </div>
    </div>
    <form [formGroup]="orderFilterForm" (ngSubmit)="onSubmit()" class="filter-form-wrapper">
        <div class="filter-flex-wrapper">
            <div>
                <div>
                    <p class="filter-text">Order Date Range</p>
                    <div class="prime-calender-wrapper d-flex ">

                        <p-calendar [(ngModel)]="dateValue1" (onSelect)="chooseDate($event)" inputId="orderRangeOne" formControlName="orderRangeOne" placeholder="Start From" [maxDate]="dateValue2" name="orderRangeOne" showIcon="true" [readonlyInput]="true" showButtonBar="true"></p-calendar>

                        <span class="font-text-bold">&nbsp;-&nbsp;</span>
                        <p-calendar [(ngModel)]="dateValue2" [minDate]="dateValue1" inputId="orderRangeTwo" name="orderRangeTwo" formControlName="orderRangeTwo" placeholder="End To" showIcon="true" [readonlyInput]="true" showButtonBar="true">
                        </p-calendar>
                    </div>
                </div>
                <div class="padding-top-24">
                    <p class="filter-text"> Channel</p>

                    <p-dropdown [options]="channels" [showClear]="true" formControlName="channel" placeholder="Select channel" styleClass="prime-dropdown-wrapper" [class.is-invalid]="(orderFilterForm.controls['channel'].hasError('required') && orderFilterForm.controls['channel'].touched)  || isSubmitted">
                    </p-dropdown>
                    <div *ngIf="(orderFilterForm.controls['channel'].dirty || orderFilterForm.controls['channel'].touched) || isSubmitted" [ngClass]="(orderFilterForm.controls['channel'].valid) ? 'display-none' : 'error'">
                        Please select channel
                    </div>
                </div>
            </div>

            <div class="filter-button-wrapper">
                <button type="submit" class="full-button-wrapper">Apply Filters</button>
                <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
            </div>
        </div>
    </form>
</div>
<!-- Filter Wrapper ends -->