.order-wrapper .filter-wrapper {
    top: -10%;
}

::ng-deep .ui-dropdown .ui-dropdown-label {
    text-transform: none !important;
    letter-spacing:1px !important;
}
// .filter-button-wrapper {
//     display:flex;
//     justify-content: space-between;

//     .full-button-wrapper {
//         min-width:auto;
//         padding: 8px 15px;
//     }

//     .full-border-wrapper {
//         border: 1px solid #D8D8D8 !important;
//         color: #8F8F8F;
//         min-width: 5em;
//         border-radius: 3px;
//     }
// }

::ng-deep .country-list-wrapper {
    .order-date-wrapper {
        word-break: break-all;
    }
}