<div class="wrapper">
    <!-- heading details wrapper -->
    <div class="col-sm-8 heading-flex-wrapper">
        <app-heading-wrapper></app-heading-wrapper>
        <div class="display-flex align-center heading-toggle-switch dropdown-status-wrapper">
            <div *ngIf="(orderData.order_status !== 'delivered' && orderData.order_status !== 'ongoing')" [routerLink]="['../../edit', id]">
                <!-- <a class="border-button-small">Edit</a> -->
                <button type="button" class="button-wrapper edit-button-wrapper">
          Edit
        </button>
            </div>
        </div>
    </div>
    <div class="row" [ngClass]="{'justify-content-around' : orderData.order_status == 'delivered'}">
        <div *ngIf="orderData" class="col-sm-8 card form-card-wrapper order-card-wrapper">
            <div class="padding-top-24">
                <p class="form-grey-text font-size-16 text-uppercase">Customer Info</p>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block">
                    <p class="form-text">Order ID *</p>
                    <div class="form-search-input form-small-input">
                        <p class="form-view-text">{{(orderData.invoice_id) ? orderData.invoice_id : '-'}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Order Date</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{orderData.order_date | date : 'MMM dd, yyyy'}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Channel</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(orderData.channel) ? orderData.channel : '-'}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">First Name</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(orderData.first_name) ? orderData.first_name : '-'}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Last Name</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(orderData.last_name) ? orderData.last_name : '-'}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Email ID</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(orderData.email) ? orderData.email : '-'}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Contact number</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(orderData.mobile_number) ? orderData.mobile_number : '-'}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Country</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(orderData.countries?.country) ? orderData.countries?.country : '-'}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">City</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(orderData.cities?.city) ? orderData.cities?.city : '-'}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Address 1</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(orderData.address_1) ? orderData.address_1 : '-'}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Address 2</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(orderData.address_2) ? orderData.address_2 : '-'}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">PO Box</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(orderData.postal_code) ? orderData.postal_code : '-'}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Order Status</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{(orderData.order_status) ? orderData.order_status : '-'}}</p>
                    </div>
                </div>
            </div>
            <div class="padding-top-24 separator-line">
            </div>
            <div class="padding-top-24">
                <p class="form-grey-text font-size-16 text-uppercase">Item Info</p>
            </div>
            <div class="display-flex padding-top-24 item-info-wrapper">
                <div class="form-block">
                    <p class="form-grey-text">Item Name *</p>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Quantity *</p>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Price *</p>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Total *</p>
                </div>
            </div>
            <ng-container *ngIf="orderData.OrderItem">
                <div *ngFor="let item of orderData.OrderItem" class="display-flex padding-top-24 item-input-wrapper">
                    <div class="form-block padding-right-32">
                        <!-- <p class="form-grey-text">Item Name</p> -->
                        <div class="form-search-input">
                            <p class="form-view-text">{{item?.item_name}}</p>
                        </div>
                    </div>
                    <div class="form-block">
                        <!-- <p class="form-grey-text">Quantity</p> -->
                        <div class="form-search-input form">
                            <p class="form-view-text">{{item?.quantity}}</p>
                        </div>
                    </div>
                    <div class="form-block">
                        <!-- <p class="form-grey-text">Price</p> -->
                        <div class="form-search-input ">
                            <p class="form-view-text">{{item?.price}} {{orderData?.countries?.currency}}</p>
                        </div>
                    </div>
                    <div class="form-block">
                        <div class="form-search-input">
                            <p class="form-view-text">
                                {{item?.quantity * item?.price}} {{orderData?.countries?.currency}}
                            </p>
                        </div>
                    </div>
                </div>
            </ng-container>


            <div class="padding-top-24 separator-line">
            </div>
            <div class="padding-top-24">
                <p class="form-grey-text font-size-16 text-uppercase">Payment Details</p>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Payment Method</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{orderData?.payment_method}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Subtotal</p>
                    <div class="form-search-input form">
                        <p class="form-view-text">{{orderData?.subtotal}} {{orderData?.countries.currency}}</p>
                    </div>
                </div>
            </div>
            <!-- Table Wrapper -->
            <div *ngIf="orderData.driver" class="table-wrapper">
                <p-table [value]="driversUI" styleClass="country-list-wrapper" [responsive]="true" sortField="id" [sortOrder]="1">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                Driver Name
                            </th>
                            <th style="width: 11em;">
                                Contact Number
                            </th>
                            <th>Email</th>
                            <th>Rating</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-driver>
                        <tr>
                            <td>
                                <span class="ui-column-title">Driver Name</span> {{driver.first_name}} {{driver.last_name}}
                            </td>
                            <td><span class="ui-column-title">Contact Number</span>{{driver.mobile_number}}</td>
                            <td>
                                <span class="ui-column-title">Email</span> {{driver.email_id}}
                            </td>
                            <td>
                                <span class="ui-column-title">Rating</span> {{(driver.orders[0]?driver.orders[0].avg:0) | number : '1.2-2'}}
                            </td>
                            <td>
                                <span class="ui-column-title">Action</span>
                                <a class="success p-0" [routerLink]="['../../../driver-list/details', utility.base64Encode(driver.user_id)]">
                                    <i class="fa fa-eye font-medium-1 "></i> View
                                </a>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="display-flex padding-top-32">
                <ng-container *ngIf="(orderData.order_status !== 'delivered' && orderData.order_status !== 'ongoing')">
                    <!-- assign driver button -->
                    <div class="form-footer-button">
                        <div class="border-button-wrapper" [routerLink]="['../../assign-driver', this.id]">
                            <ng-container *ngIf="(orderData.order_status == 'assigned' || orderData.order_status == 'accepted'); else elseBlock">
                                <span>Change Driver</span>
                            </ng-container>
                            <ng-template #elseBlock>
                                <span>Assign Driver</span>
                            </ng-template>
                        </div>
                    </div>
                </ng-container>
                <!-- button wrapper -->
                <div class="border-button-wrapper back-button-wrapper" (click)="previousPage()">
                    <button type="button" class="back-button">Back</button>
                </div>
            </div>
        </div>

        <!-- signature wrapper here -->
        <ng-container *ngIf="orderData.order_status == 'delivered'">
            <div class="col-sm-4 card customer-card-wrapper">
                <div class="form-card-wrapper">
                    <div class="padding-top-24">
                        <div class="form-block">
                            <p class="form-grey-text">Customer's Signature</p>
                            <!-- customer signature wrapper -->
                            <div class="customer-signature-wrapper">
                                <img [src]="orderData.customer_signature" alt="customer signature">
                            </div>
                        </div>
                    </div>
                    <div class="padding-top-24">
                        <div class="form-block">
                            <p class="form-grey-text">Customer's Rating</p>
                            <div class="rating-block">
                                <span *ngFor="let x of [1,2,3,4,5]" class="rating-wrapper">
                  <i [ngClass]="(x <= orderData.rating) ? 'fa fa-star' : 'fa fa-star-o'"></i>
                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>