.number-wrapper-block .form-search-input {
    width:100%;
}
.item-input-wrapper {
    .form-block {
        width: 23%;
        display:inline-block;
        margin-right: 15px;
    }
}

.item-info-wrapper {
    .form-block {
        width: 22.7%;
        display: inline-block;
        margin-right: 15px;
    }
}

.payment-wrapper-block {
    justify-content: space-between;

    .form-block {
        &:nth-child(1) {
            width:50%;
        }
        &:nth-child(2) {
            width:32%;
        }
    }
}

.total-input-wrapper {
    span {
        padding:7px 10px 0;
    }
}

.order-card-wrapper {
    max-width: 60.666667%;
}

.customer-card-wrapper {
    max-height:320px;

    .form-grey-text {
        font-size:16px;
    }
}

.customer-signature-wrapper {
    width:150px;
    img {
        width:100%;
    }
}

.col-sm-8 {
    flex: 0 0 60.666667%;
    max-width: 60.666667%;
}