<div class="wrapper vehicle-wrapper lease-wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)" [placeHolderText]="'Search Batch'">
    </app-search>
  </div>

  <div class="table-wrapper">
    <p-table [value]="leaseList" styleClass="country-list-wrapper" [responsive]="true" sortField="id" [sortOrder]="1"
      [paginator]="true" [alwaysShowPaginator]="false" (onLazyLoad)="paginate($event)" [lazy]="true"
      [totalRecords]="total">
      <ng-template pTemplate="header">
        <tr>
          <th>Batch</th>
          <th>Start From</th>
          <th>Ends On</th>
          <th>Term</th>
          <th>Vehicles Assigned</th>
          <th>Total Price</th>
          <th>Paid Price</th>
          <th>Remaining</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lease>
        <tr>
          <td><span class="ui-column-title">Batch</span>
            {{lease.slug}}
          </td>
          <td><span class="ui-column-title">Start From</span>
            {{lease.assigned_to_business_from | date : 'mediumDate'}}
          </td>
          <td>
            <span class="ui-column-title">Ends On</span>
            {{lease.assigned_to_business_to  | date : 'mediumDate'}}
          </td>
          <td>
            <span class="ui-column-title">Term</span>
            {{utility.dateDifference(lease.assigned_to_business_from, lease.assigned_to_business_to)}}
          </td>
          <td>
            <span class="ui-column-title">Vehicles Assigned</span>
            {{lease.vehicleCount}}
          </td>
          <td>
            <span class="ui-column-title">Total Price</span>
            {{lease.total_price}} {{lease.vehicles[0]?.currency}}
          </td>
          <td>
            <span class="ui-column-title">Paid Price</span>
            {{lease.paid_price}} {{lease.vehicles[0]?.currency}}
          </td>
          <td>
            <span class="ui-column-title">Remaining</span>
            {{lease.total_price - lease.paid_price }} {{lease.vehicles[0]?.currency}}
          </td>
          <td>

            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../vehicle-lease-plan/details', utility.base64Encode(lease.id)]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9" class="text-center text-danger font-weight-600">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
