/* You can add global styles to this file, and also import other style files */

@import '../src/assets/icon/icon.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');
@import '../src/assets/sass/scss/core/partials/animated';
.app-sidebar .navigation li>a:before,
.off-canvas-sidebar .navigation li>a:before {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    border-right: solid 5px #F36E1D;
    background: rgba(200, 200, 200, 0.2);
    transition: .35s ease left;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus {
    transition: 0.3s all ease-in-out;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(243, 110, 29);
    outline: 0 none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-group-addon {
    background-color: #fff !important;
}

.hyperlink {
    color: #222940 !important;
    font-weight: 400;
    &:hover {
        transition: 0.3s all ease-in-out;
        color: #0b0d15 !important;
    }
}

.delivery-mail-wrapper ul {
    padding-left: 0 !important;
}

.full-width {
    width: 100% !important;
}

.red-text {
    color: red !important;
    font-weight: 600 !important;
}

.text-red {
    color: #FF586B !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-green {
    color: green !important;
}

.ui-datepicker td {
    word-break: inherit !important;
}

.font-bold {
    font-weight: 600;
    color: #7a7979;
}

.form-details-heading {
    font-weight: 600;
    padding-right: 8px;
    color: #575757;
    font-size: 16px;
}

// landing-wrapper css
.landing-wrapper {
    background: #fff;
    padding-bottom: 0 !important;
}

// login btn wrapper
.login-btn-wrapper {
    margin-left: 1em;
    a {
        padding: 10px 40px !important;
    }
}


/* width */

.card-scroll-block::-webkit-scrollbar {
    width: 6px;
}


/* Track */

.card-scroll-block::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

.card-scroll-block::-webkit-scrollbar-thumb {
    background: #363838;
    border-radius: 10px;
    border-radius: 10px;
}


/* Handle on hover */

.card-scroll-block::-webkit-scrollbar-thumb:hover {
    background: #363838;
}

// header css styling
.sticky {
    background: #fff;
    box-shadow: 0px 0px 2px grey;
    .transparent-button-wrapper {
        border-color: #374799;
        color: #374799;
        &:hover {
            background-color: #374799 !important;
            color: #fff !important;
        }
    }
    .header-flex-wrapper {
        padding: 10px 0px !important;
    }
}

.header-flex-wrapper {
    padding: 10px 0px !important;
}

.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.25s ease all;
    // landing button wrapper
    .landing-button-wrapper {
        .transparent-button-wrapper {
            &:first-child {
                margin-right: 16px;
            }
        }
    }
    .header-flex-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 33px 67px 33px;
    }
}

// table image css
.table-image-wrapper {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    // box-shadow: 0px 0px 11px 0px #d0d0d0;
    box-shadow: 0px 0px 11px 0px #cac7c7;
    img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }
}

// back button styling
.back-button {
    .back-button-block {
        margin-right: 20px;
        .border-button-small {
            height: 100%;
        }
    }
}

.text-center {
    text-align: center !important;
}

.list-style-none {
    list-style: none;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.flex-direction-column {
    flex-direction: column;
}

.display-flex {
    display: flex;
}

.display-inline-block {
    display: inline-block;
}

.text-left {
    text-align: left;
}

.flex-basis-100 {
    flex-basis: 100%;
}

.delete-button-color {
    background: #e13f00 !important;
}

.blank-container-wrapper {
    width: 4.5%;
}

.documents-heading {
    font-size: 15px;
    font-weight: 500;
    color: #4A4A4A;
    margin-bottom: 0;
}

.justify-space-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.align-items-end {
    align-items: flex-end;
}

.footer-login-button {
    padding-top: 40px;
}

.main-panel {
    display: flex;
    flex-direction: column;
}

.wrapper {
    position: relative;
    top: 0;
    padding-bottom: 0;
    // height: 100%;
}

.margin-right-20 {
    margin-right: 20px;
}

.input-group {
    margin-bottom: 0 !important;
}

.file-image-wrapper {
    position: relative;
    background: url('assets/project-images/document.png');
    min-height: 200px;
    background-repeat: no-repeat;
}


/* body {
  display:flex;
} */

.navbar {
    z-index: 2;
    position: static;
}


/* Custom sidebar styling */

.sidebar-content .fa {
    font-weight: normal;
}

.font-size-16 {
    font-size: 16px !important;
}

.sidebar-content .menu-title {
    font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-weight: 100 !important;
}

// .error {
//   font-size: 14px;
//   color: #de0b23;
//   position: relative;
//   top: 0;
// }
.error {
    font-size: 14px;
    color: #de0b23;
    position: absolute;
    top: auto;
    width: inherit;
}

.rating-block {
    padding-top: 10px;
    .rating-wrapper {
        color: #F36E1D;
        padding-right: 7px;
        i {
            font-size: 22px;
        }
    }
}

.error p {
    font-size: 14px;
    text-align: left;
}

.logo-image,
.footer-logo {
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    overflow-x: hidden;
}

button {
    border: none;
    background: none;
    outline: none;
}

button:focus {
    outline: none;
}

.full-height-wrapper {
    height: 100vh;
}


/* Custom table Prime NG: Start */

.table-wrapper {
    margin-top: 30px;
}

.country-list-wrapper .ui-table-thead tr {
    border-top: 2px solid #D9E0EA;
    border-bottom: 2px solid #D9E0EA;
}

.country-list-wrapper .ui-table-thead tr th {
    background: #F5F7FA !important;
    border: none !important;
    color: #4A4A4A !important;
}

.country-list-wrapper .ui-table-tbody tr {
    border-top: 2px solid #D9E0EA;
    border-bottom: 2px solid #D9E0EA;
}

.country-list-wrapper .ui-table-tbody tr:nth-child(odd) td {
    background: #E7EDF6 !important;
    border: none !important;
}

.country-list-wrapper .ui-table-tbody tr td {
    background: #F5F7FA !important;
    border: none !important;
    color: #8F8F8F;
    font-weight: 500;
}

.table-wrapper .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
    color: #848484;
}

.table-wrapper .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #F36E1D;
    color: #ffffff;
}

::ng-deep .ui-table .ui-table-tbody>tr>td {
    background-color: inherit !important;
}


/* Custom Table Prime Ng:End */


/* Custom Checkbox Prime NG: Start*/

.custom-checkbox {
    background: #D8D8D8 !important;
    display: flex;
    align-items: center;
}

.ui-chkbox-label {
    text-transform: inherit !important;
    font-size: 0.875em;
    font-weight: 500;
    color: #707070;
    letter-spacing: 0px;
}

body .ui-chkbox {
    border-radius: 4px !important;
}

body .ui-chkbox .ui-chkbox-box {
    background-color: #ffffff !important;
    border: 1px solid #F36E1D !important;
    border-radius: 4px !important;
}

body .ui-chkbox .ui-chkbox-box:focus,
body .ui-chkbox .ui-chkbox-box:active {
    outline: none;
    box-shadow: none;
}

body .ui-chkbox .ui-chkbox-box.ui-state-focus,
body .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-focus {
    box-shadow: none !important;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    /* background-color: #ffffff !important;
    border-color: #F36E1D !important;
    color: #F36E1D !important; */
    background-color: #F36E1D !important;
    border-color: #F36E1D !important;
    color: #fff !important;
}


/* Custom Checkbox Prime NG: Ends*/

.no-style-link {
    color: #4A4A4A;
    transition: all 0.3s ease;
}

.no-style-link:hover {
    text-decoration: none;
    color: #000;
}


/* Shadows: Start */

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
}

.shadow-xl {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)
}

.shadow-2xl {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25)
}

.shadow-inner {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06)
}

;
.shadow-outline {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5)
}

;
.shadow-none {
    box-shadow: none
}

;

/* Shadows: End */

.bg-theme-blue {
    background-color: #3c4791;
}

.bg-theme-grey {
    background-color: #eee;
}

.bg-theme-yellow {
    // background-color: #fcd303;
    background-image: linear-gradient(to right, #F87532, #FCB803);
}


/* Auth: Start */

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-box {
    display: flex;
    width: 60em;
    height: 28m;
}

.centered-box .box-image {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-box .box-image figure {
    margin: 0;
}

.centered-box .box-image figure img {
    width: 15em;
}

.centered-box .box-content {
    flex-basis: 50%;
}

.centered-box .box-content .content {
    padding: 4.375em 1.875em;
}

.centered-box .box-content .content .heading {
    font-size: 1.250em;
    margin-bottom: 1em;
}

.centered-box .box-content .content .sub-heading {
    font-size: 1em;
    margin-bottom: 1.500em;
}

.centered-box .box-content .content .action-items {
    margin-bottom: 2em;
}

.auth-bg {
    background: url('assets/project-images/City-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/* Auth: End*/

.font-medium {
    font-weight: 500;
}

.font-regular {
    font-weight: 400;
}

.color-light-grey {
    color: #8f8f8f;
}


/* Buttons: Start */

.custom-btn {
    padding: 11px 70px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 500;
    line-height: 19px;
    transition: all .3s linear;
}

.custom-btn:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.custom-btn:active {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.26);
}

.yellow-btn {
    background: #F36E1D;
    border: 1px solid #F36E1D;
    color: #fff;
}

.yellow-btn:hover {
    background: #EF6510;
    border: 1px solid #EF6510;
    color: #fff;
}

.yellow-btn:focus,
.yellow-btn:active {
    outline: none;
}

.white-btn {
    background: transparent;
    border: 1px solid #F36E1D;
    color: #F36E1D;
}

.white-btn:hover {
    background: #F36E1D;
    border: 1px solid #F36E1D;
    color: #fff;
}

.white-btn:focus,
.white-btn:active {
    outline: none;
}

.block-center {
    display: block;
    margin: 0 auto;
}


/*Buttons: End*/


/* Custom Input: Start */

.custom-form input {
    margin-bottom: 20px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #d8d8d8;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin-bottom: 0;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #8f8f8f;
    line-height: 19px;
    font-weight: 400;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #8f8f8f;
    line-height: 19px;
    font-weight: 400;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #8f8f8f;
    line-height: 19px;
    font-weight: 400;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #8f8f8f;
    line-height: 19px;
    font-weight: 400;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #8f8f8f;
    line-height: 19px;
    font-weight: 400;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #8f8f8f;
    line-height: 19px;
    font-weight: 400;
}


/* Custom Input: End */

.close-checkbox {
    background: #D8D8D8;
    padding: 1px 4px;
    border-radius: 3px;
    margin-right: 7px;
}

.tick-checkbox {
    /* border: 1px solid #FCD303;
    border-radius: 4px; */
    padding: 1px 1px;
    border-radius: 3px;
    margin-right: 7px;
}

.check-symbol {
    /* color: #FCD303; */
    color: #ffffff;
    background: #FCD303;
    padding: 2px 2px;
    border-radius: 3px;
}

.form-checkbox-text {
    font-weight: 500;
    color: #707070;
    font-size: 15px;
}

.text-center {
    text-align: center !important;
}


/* Confirm dialog styling starts custom primeNg */

.prime-confirm-wrapper.ui-dialog .ui-dialog-titlebar {
    border: none !important;
    background-color: #ffffff !important;
    padding: 26px 24px 15px !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.prime-confirm-wrapper.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    font-size: 24px;
}

.prime-confirm-wrapper.ui-dialog .ui-dialog-titlebar-icon span {
    font-size: 24px;
}

.prime-confirm-wrapper.ui-confirmdialog.ui-dialog .ui-dialog-content {
    padding-top: 8px !important;
}

.prime-confirm-wrapper.ui-confirmdialog .ui-dialog-content .ui-confirmdialog-icon {
    color: #8F8F8F;
}

.prime-confirm-wrapper .ui-confirmdialog-message {
    font-size: 16px;
    // color: #8F8F8F;
    color: #424141;
}

.prime-confirm-wrapper.ui-dialog .ui-dialog-content {
    border: none !important;
}

.prime-confirm-wrapper.ui-dialog .ui-dialog-footer {
    border: none !important;
    padding-bottom: 24px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.prime-confirm-wrapper .ui-button {
    background-color: #F36E1D !important;
    border: 1px solid #F36E1D !important;
}

.prime-confirm-wrapper .ui-button:nth-child(2) {
    background-color: #fcd30303 !important;
    border: 1px solid #8F8F8F !important;
    color: #8F8F8F !important;
}

.prime-confirm-wrapper .ui-button:nth-child(2):hover {
    transition: 0.3s all ease-in;
    border: 1px solid #4A4A4A !important;
    color: #4A4A4A !important;
}

.prime-confirm-wrapper.ui-dialog .ui-dialog-footer button {
    margin-right: 20px;
}


/* Confirm dialog styling ends custom primeNg */

td.toggle-status {
    text-transform: capitalize;
}

.padding-right-16 {
    padding-right: 16px;
}

// payment list wrapper css starts
.payment-list-wrapper {
    &.ui-g {
        display: block !important;
        padding: 10px 15px !important;
        border: 1px solid #d2d2d4;
        border-radius: 4px;
        box-shadow: 0px 0px 2px 1px #a9c9ff;
    }
    .ui-dataview.ui-dataview-list>.ui-dataview-content>div.ui-g>div {
        width: 50% !important;
    }
}

tr {
    td,
    th {
        word-break: break-word;
    }
}

.slide.slick-slide {
    transition: 0.3s ease all;
}

.slick-dots>li:only-child {
    display: none
}

.slide.slick-slide {
    opacity: 0.5;
    filter: blur(1px);
}

.slide.slick-slide.ng-star-inserted.slick-current.slick-active.slick-center {
    -webkit-transform: scale(1.22);
    transform: scale(1.22);
    z-index: 2;
    position: relative;
    transition: all .2s ease-in-out;
    opacity: 1;
    filter: blur(0);
}

.carousel-inner {
    // background-color: #1a1b30;
    // background: url(./assets/project-images/Subtraction-BG.svg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // padding: 67px 12px;
    // padding-bottom: 20%;
    // margin: 20px 0;
    padding: 67px 12px 0;
    margin: 0;
    background: #293651;
}

section.testimonial-wrapper {
    padding: 20px 0;
}

.user-post-desc-bottom p {
    padding-top: 28px;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #222940;
    line-height: 20px;
}

.media img {
    max-width: 78px;
}

.carousel-section {
    .slick-slide {
        padding: 0px;
    }
    .draggable {
        padding: 50px 15px !important;
    }
    .slick-prev {
        left: 28%;
        z-index: 1;
    }
    .slick-next {
        right: 29% !important;
    }
    .slick-prev,
    .slick-next {
        &::before {
            font-size: 30px;
            color: #fff;
        }
    }
}

// payment list wrapper css ends

/* ----------------------------------------------------- RESPONSIVENESS --------------------------------------------*/


/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {}

@media (max-width: 1000px) {
    .slide.slick-slide.slick-active {
        filter: unset;
        transform: unset;
        opacity: 1;
    }
    .user-post-box {
        margin: 0 18px;
        ;
    }
    .carousel-section .slick-prev {
        left: 0px;
    }
    .carousel-section .slick-next {
        right: 10px !important;
    }
}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    .slide.slick-slide.slick-active {
        -webkit-filter: brightness(1) !important;
        filter: brightness(1) !important;
    }
    .centered-box {
        margin-right: 1em;
        margin-left: 1em;
    }
    .centered-box .box-content .content {
        padding: 1.563em 1.250em;
    }
    .centered-box .box-content .content .heading {
        font-size: 1.05em;
    }
    .centered-box .box-content .content .sub-heading {
        font-size: 0.8em;
    }
    .custom-form input {
        font-size: 0.8em;
    }
    .ui-chkbox-label {
        font-size: 0.675em;
    }
    .no-style-link {
        font-size: 0.8em;
    }
    .centered-box {
        height: 22em;
    }
    .centered-box .box-image figure img {
        width: 13em;
    }
    .ui-table-responsive .ui-table-tbody>tr>td .ui-column-title {
        padding: .4em;
        min-width: 30%;
        display: inline-block !important;
        margin: -.4em 1em -.4em -.4em;
        font-weight: bold;
    }
    //  .ui-table-responsive .ui-table-tbody>tr>td .ui-column-title app-active-switch h3 {
    //   display:inline-block;
    // }
    app-active-switch h3 {
        display: inline-block;
    }
    .text-capitalize {
        text-transform: capitalize;
    }
    .ui-table-responsive .ui-table-thead>tr>th,
    .ui-table-responsive .ui-table-tfoot>tr>td {
        display: none !important;
    }
    .ui-table-responsive .ui-table-tbody>tr>td {
        text-align: left;
        display: block;
        border: 0 none;
        width: 100% !important;
        box-sizing: border-box;
        float: left;
        clear: left;
    }
}


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .section-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .centered-box {
        flex-direction: column;
        height: unset;
    }
    .landing-image-wrapper {
        display: none;
    }
    .patner-page .landing-image-wrapper,
    .business-page .landing-image-wrapper {
        display: block;
    }
}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {}

.search-input {
    position: relative;
    display: inline-block;
}

.search-input input[type=text] {
    width: 16em;
    border: 1px solid #d8d8d8;
    padding: 8px 10px;
    border-radius: 3px;
}

.search-input .search-icon {
    position: absolute;
    top: 8px;
    right: 10px;
}

.search-input .search-icon svg {
    width: 20px;
    height: 20px;
}

.card {
    padding: 5px 15px 20px;
}

.card-padding {
    padding: 24px 15px 0;
}

.card-details-wrapper {
    padding: 5px 0 0 !important;
}

.card-icon {
    color: #8f8f8f;
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
}

.small-card-icon {
    color: #D8D8D8;
    font-size: 13px !important;
    margin-left: 0px;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.flex-wrapper .flex-title .flex-title-text {
    color: #4a4a4a;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.flex-wrapper .country-sub-title {
    color: #8f8f8f;
}

.flex-wrapper .country-sub-title:not(:last-child) {
    margin-right: 16px;
}

.flex-wrapper .country-card-text {
    font-size: 14px;
    color: #8f8f8f;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 12px;
}

.flex-wrapper .fade-card-text {
    color: #D8D8D8;
    font-size: 15px;
    margin-left: 0px;
    margin-bottom: 0;
    text-align: right;
    cursor: pointer;
    margin-top: 5px;
}

.flex-wrapper .fade-card-text:hover {
    transition: 0.3s all ease-in;
    color: #8F8F8F;
}

.fade-card-text:hover .small-card-icon {
    transition: 0.3s all ease-in;
    color: #8F8F8F;
}

.search-flex-wrapper {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}

.position-relative {
    position: relative;
}


/* generic button styling */

.button-wrapper {
    background: #F36E1D !important;
    padding: 10px 15px;
    min-width: 11em;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    &:hover {
        transition: 0.3s all ease-in-out;
        background: #f16108 !important;
    }
}

.search-button-wrapper {
    min-width: auto;
    display: inline-block;
    position: absolute;
    padding: 3px 7px;
    top: 50%;
    transform: translate(-5%, -50%);
    right: 0;
    background: #F36E1D;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}


/* modal search input */

.modal-search-input input[type=text] {
    width: 100%;
    border: 1px solid #d8d8d8;
    padding: 5px 10px;
    color: #8f8f8f;
    border-radius: 3px;
}


/* Generic modal wrapper styling */

.prime-switch-override {
    height: 10px !important;
    width: 2.5em !important;
    margin-right: 10px;
}

.prime-switch-override.ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: #CFF6E2 !important;
}

.prime-switch-override.ui-inputswitch-checked .ui-inputswitch-slider::before {
    background-color: #13D36D !important;
    height: 16px !important;
    width: 16px !important;
    top: -3px;
}

.prime-switch-override .ui-inputswitch-slider {
    background-color: #dedede !important;
}

.prime-switch-override .ui-inputswitch-slider::before {
    background-color: #848282 !important;
    height: 16px !important;
    width: 16px !important;
    top: -3px;
}


/* switch styling end */


/* Gneric modal dialog */

.prime-modal-dialog .modal-text {
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding-bottom: 8px;
    padding-top: 0;
}

.prime-modal-dialog .ui-dialog-titlebar {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 0px solid #ffffff !important;
    background-color: #ffffff !important;
    padding: 24px 24px 0 !important;
    font-size: 21px !important;
}

.prime-modal-dialog .ui-dialog-titlebar .ui-dialog-title {
    font-size: 21px;
}

.prime-modal-dialog .ui-dialog-content {
    background-color: #ffffff !important;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    color: #333333;
    padding: 32px 24px 32px !important;
    border: 0px solid #ffffff !important;
    max-height: 620px !important;
}

.prime-modal-dialog .ui-dialog-footer {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border: 0px solid #fff !important;
    padding: 0 24px 24px !important;
}

.prime-modal-dialog .modal-flex-button {
    display: flex;
    justify-content: space-between;
}

.prime-modal-dialog .modal-flex-button .modal-border-button,
.border-button-wrapper {
    border: 1px solid #6e6b6b;
    padding: 8px 10px;
    min-width: 10em;
    text-align: center;
    color: #6e6b6b;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-button-small {
    border: 1px solid #6e6b6b;
    padding: 8px 10px;
    min-width: 5em;
    text-align: center;
    color: #6e6b6b !important;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        transition: 0.3s all ease-in-out;
        border: 1px solid #2c2b2b;
        color: #2c2b2b !important;
    }
}

.prime-modal-dialog .modal-flex-button .modal-border-button:hover {
    color: #6e6b6b;
}

.prime-modal-dialog .modal-flex-button .modal-button-wrapper {
    padding: 8px 10px;
    min-width: 10em;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    font-weight: 500;
    background-color: #F36E1D;
    cursor: pointer;
}

.modal-button-wrapper {
    padding: 8px 10px;
    min-width: 10em;
    text-align: center;
    color: #ffffff !important;
    border-radius: 3px;
    font-weight: 500;
    background-color: #F36E1D;
    cursor: pointer;
}

.prime-modal-dialog .modal-flex-button .modal-button-wrapper:hover {
    color: #ffffff;
}

.prime-dialog-repair {
    text-align: center !important;
}

.modal-flex-center {
    display: flex;
    justify-content: center;
}


/* Modal dialog ends */


/* Generic table styling */


/* Gneric table styling end */

.success {
    color: #8F8F8F !important;
}

.font-medium-1 {
    font-size: 14px !important;
}

.padding-top-20 {
    padding-top: 20px;
}

.card-flex-wrap {
    display: flex;
    flex-basis: 55%;
    justify-content: space-between;
}

.margin-bot-20 {
    margin-bottom: 20px;
}

.margin-bot-0 {
    margin-bottom: 0;
}

.edit-icon {
    cursor: pointer;
}

.text-uppercase {
    text-transform: uppercase;
}

.detail-sub-title {
    color: #8F8F8F;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
}

.country-card-text {
    font-size: 14px;
    color: #8F8F8F;
    font-weight: 500;
}

.edit-country-text {
    cursor: pointer;
}

.filter-icon-wrapper {
    padding: 8px 10px;
    background: #f5f7fa;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.filter-icon-wrapper:hover {
    transition: 0.3s all linear;
    background: #F36E1D;
    border: 1px solid #F36E1D;
}

.filter-card-icon svg {
    width: 20px;
    height: 24px;
}

.filter-icon-wrapper:hover .filter-card-icon svg g>path {
    fill: #fff;
}

.action-link:hover {
    transition: 0.3s all linear;
    color: #000 !important;
}


/* .filter-icon-wrapper:hover .card-icon {
  color:#fff;
} */

.display-block {
    display: block !important;
}

.filter-icon-wrapper .card-icon {
    margin-left: 0;
    font-size: 18px;
}

.display-flex {
    display: flex;
}

.tabs-wrapper {
    /* padding-top:24px; */
    padding-top: 33px;
}

.coupon-wrapper {
    padding-bottom: 3em;
}

.lease-wrapper {
    padding-bottom: 5em;
}


/* generic tabs styling */

.prime-tabs-wrapper .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-text {
    color: #8F8F8F;
    font-size: 16px;
}


/* .prime-tabs-wrapper .ui-tabmenu-nav {
  border-bottom: 2px solid #D9E0EA !important;
} */

.prime-tabs-wrapper .ui-tabmenuitem {
    border: 1px solid #f5f7fa !important;
    background-color: #f5f7fa !important;
    border-bottom: 0px solid #D9E0EA !important;
}

.prime-tabs-wrapper .ui-tabmenuitem.ui-state-active {
    background-color: #f5f7fa !important;
    border: 2px solid #D9E0EA !important;
    border-bottom: 0px solid !important;
}

.prime-tabs-wrapper .ui-tabmenuitem.ui-state-active .ui-menuitem-link .ui-menuitem-icon {
    color: #3B4693 !important;
    font-weight: 500 !important;
    font-size: 16px;
}

.prime-tabs-wrapper .ui-tabmenuitem.ui-state-active .ui-menuitem-link .ui-menuitem-text {
    color: #3B4693 !important;
    font-weight: 500 !important;
    font-size: 16px;
    margin-right: 0px !important;
}

.vehicle-wrapper {
    margin-top: 0 !important;
}

.vehicle-wrapper .country-list-wrapper .ui-table-thead tr {
    border-top: 0px solid #D9E0EA !important;
}

.vehicle-wrapper .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
    color: #8F8F8F !important;
}

.vehicle-wrapper .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {
    color: #8F8F8F !important;
}

.prime-tabs-wrapper .ui-tabmenuitem.ui-state-active .ui-menuitem-link .ui-menuitem-icon {
    color: #3B4693 !important;
    font-weight: 500 !important;
    font-size: 16px;
}

.prime-tabs-wrapper .ui-tabmenuitem.ui-state-active .ui-menuitem-link .ui-menuitem-text {
    color: #3B4693 !important;
    font-weight: 500 !important;
    font-size: 16px;
}

.vehicle-wrapper .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #3B4693;
    color: #ffffff;
    border-radius: 4px;
}

.vehicle-wrapper .ui-paginator {
    background-color: #f5f7fa;
    border: none;
    margin-top: 24px;
    text-align: right;
}


/* Custom paginator styling */

.table-wrapper .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #3B4693;
    color: #ffffff;
    border-radius: 4px;
}

.table-wrapper .ui-paginator {
    background-color: #f5f7fa;
    border: none;
    margin-top: 24px;
    text-align: right;
}


/* PrimeNg Custom table wrapper starts */

.table-wrapper {
    margin-top: 30px;
}

.country-list-wrapper .ui-table-thead tr {
    border-top: 2px solid #D9E0EA;
    border-bottom: 2px solid #D9E0EA;
}

.country-list-wrapper .ui-table-thead tr th {
    background: #F5F7FA !important;
    border: none !important;
    color: #4A4A4A !important;
}

.country-list-wrapper .ui-table-tbody tr {
    border-top: 2px solid #D9E0EA;
    border-bottom: 2px solid #D9E0EA;
}

.country-list-wrapper .ui-table-tbody tr:nth-child(odd) td {
    background: #E7EDF6 !important;
    border: none !important;
    // word-break: break-all;
    word-break: break-word;
}

.country-list-wrapper .ui-table-tbody tr.bg-red:nth-child(odd) td {
    background: #FF586B !important;
}

.country-list-wrapper .ui-table-tbody tr td {
    background: #F5F7FA !important;
    border: none !important;
    color: #8F8F8F;
    font-weight: 500;
    word-break: break-all;
}

.table-wrapper .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
    color: #848484;
}

.table-wrapper .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #F36E1D;
    color: #ffffff;
}


/* generic tabs styling */

.prime-tabs-wrapper .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-text {
    color: #8F8F8F;
    font-size: 16px;
}

.prime-tabs-wrapper .ui-tabmenuitem {
    border: 1px solid #f5f7fa !important;
    background-color: #f5f7fa !important;
    border-bottom: 0px solid #D9E0EA !important;
}

.prime-tabs-wrapper .ui-tabmenuitem.ui-state-active {
    background-color: #f5f7fa !important;
    border: 2px solid #D9E0EA !important;
    border-bottom: 0px solid !important;
}

.prime-tabs-wrapper .ui-tabmenuitem.ui-state-active .ui-menuitem-link .ui-menuitem-icon {
    color: #3B4693 !important;
    font-weight: 500 !important;
    font-size: 16px;
}

.prime-tabs-wrapper .ui-tabmenuitem.ui-state-active .ui-menuitem-link .ui-menuitem-text {
    color: #3B4693 !important;
    font-weight: 500 !important;
    font-size: 16px;
}

.vehicle-wrapper {
    margin-top: 0 !important;
}

.vehicle-wrapper .country-list-wrapper .ui-table-thead tr {
    border-top: 0px solid #D9E0EA !important;
}

.vehicle-wrapper .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
    color: #8F8F8F !important;
}

.vehicle-wrapper .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {
    color: #8F8F8F !important;
}

.vehicle-wrapper .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #3B4693;
    color: #ffffff;
    border-radius: 4px;
}

.vehicle-wrapper .ui-paginator {
    background-color: #f5f7fa;
    border: none;
    margin-top: 24px;
    text-align: right;
}

.table-wrapper .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #3B4693;
    color: #ffffff;
    border-radius: 4px;
}

.table-wrapper .ui-paginator {
    background-color: #f5f7fa;
    border: none;
    margin-top: 24px;
    text-align: right;
}


/* PrimeNg custom table wrapper ends */


/* Filter CSS */

.filter-form-wrapper {
    display: flex;
    height: 100%;
}

.flex-direction-row {
    flex-direction: row !important;
}

.filter-flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    /* max-width: 280px; */
    width: 290px;
    right: 0;
    // top: -15%;
    top: -10%;
    /* min-height: 750px; */
    min-height: 100vh;
    z-index: 1;
    border-radius: 5px;
    background-color: white;
    padding: 20px 15px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.28);
}

.input-flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-wrapper .filter-flex-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.filter-wrapper .filter-title-text {
    font-size: 25px;
    color: #4A4A4A;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 32px;
}


/* modal search input */

.filter-search-input input[type=text],
.form-search-input input[type=text],
.form-search-input textarea {
    width: 100%;
    border: 1px solid #d8d8d8;
    padding: 5px 10px;
    color: #8f8f8f;
    font-size: 13px;
    border-radius: 3px;
    resize: none;
}

.form-search-input textarea {
    min-height: 85px;
}

.filter-text,
.form-text {
    font-size: 14px;
    font-weight: 500;
    color: #4A4A4A;
    margin-bottom: 0;
}

.form-grey-text,
.modal-grey-text {
    font-size: 14px;
    font-weight: 500;
    color: #8F8F8F;
    margin-bottom: 0;
}

.filter-close-icon {
    color: #8F8F8F;
    font-size: 18px;
    cursor: pointer;
}

// slider wrapper
.prime-slider-wrapper {
    padding-top: 10px;
    .ui-slider {
        &.ui-slider-horizontal {
            height: 8px !important;
        }
        .ui-slider-range {
            background-color: #f36e1d !important;
        }
    }
}

::ng-deep .prime-dropdown-table-status {
    min-width: 100px !important;
    .ui-inputtext {
        background: #f7f7f7;
    }
    .ui-dropdown-trigger {
        background-color: #f7f7f7 !important;
    }
}

.ui-dropdown .ui-dropdown-label {
    text-transform: capitalize;
    letter-spacing: 0px;
    color: #818181;
    font-family: "Montserrat", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}


/* Generic dropdown wrapper */

.prime-dropdown-wrapper .ui-dropdown-items-wrapper p-dropdownitem .ui-dropdown-item .custom-dropdown-item.disabled {
    cursor: not-allowed !important;
    opacity: 0.6 !important;
    width: 100% !important;
    // margin-top: 10px !important;
}

.prime-dropdown-wrapper.ui-dropdown {
    background: #ffffff;
    border: 1px solid #D8D8D8 !important;
    width: 100% !important;
}

.prime-table-dropdown-wrapper.ui-dropdown {
    min-width: auto !important;
}

.prime-dropdown-wrapper .ui-dropdown-items-wrapper p-dropdownitem .ui-dropdown-item {
    text-transform: capitalize !important;
    padding: 0 !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
}

.prime-dropdown-wrapper .ui-dropdown-items-wrapper p-dropdownitem .ui-dropdown-item span {
    padding: 20px 10px !important;
}

.prime-dropdown-wrapper .ui-dropdown-items-wrapper p-dropdownitem .ui-dropdown-item .custom-dropdown-item {
    padding: 10px 10px !important;
}

.prime-dropdown-wrapper.ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
    text-transform: capitalize !important;
    font-size: 13px;
    color: #747474 !important;
    font-family: "Montserrat", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    letter-spacing: 0px !important;
    white-space: pre-wrap !important;
}

.prime-dropdown-wrapper.ui-dropdown.ui-dropdown-clearable .ui-dropdown-label:focus {
    transition: 0.3s all ease-in-out !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(243, 110, 29) !important;
    outline: 0 none !important;
}

::ng-deep .ng-touched.ng-invalid .ui-dropdown-label {
    border-color: #FF586B !important;
}

.prime-dropdown-wrapper .ui-dropdown-trigger-icon {
    font-size: 14px !important;
}

.prime-dropdown-wrapper .ui-dropdown .ui-dropdown-trigger {
    color: #8F8F8F !important;
}

body .ui-dropdown:not(.ui-state-disabled).ui-state-focus,
body .ui-dropdown.ui-state-disabled.ui-state-focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #f36e1d !important;
}

.prime-radio-wrapper .ui-radiobutton {
    width: 9px !important;
    height: 16px !important;
}

.prime-radio-wrapper .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #F36E1D !important;
    background-color: #ffffff !important;
}

.prime-radio-wrapper .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
    background-color: #F36E1D !important;
    width: 7px !important;
    height: 7px !important;
    margin-left: -3.6px !important;
    margin-top: -4px !important;
}

.prime-radio-wrapper .ui-radiobutton .ui-radiobutton-box {
    border: 2px solid #d8d8d8 !important;
    background-color: #ffffff !important;
    width: 13px !important;
    height: 13px !important;
}

.prime-radio-wrapper .ui-radiobutton .ui-radiobutton-box:not(.ui-state-disabled):not(.ui-state-active):hover {
    border-color: #d8d8d8 !important;
}

.prime-radio-wrapper .ui-radiobutton-label {
    color: #8F8F8F !important;
    text-transform: capitalize !important;
    letter-spacing: 1px !important;
    font-size: 16px;
}

.prime-radio-wrapper .ui-label-active {
    color: #4A4A4A !important;
    font-weight: 400;
}

.prime-radio-wrapper p-radiobutton:not(last-child) {
    padding-right: 32px !important;
}

.prime-radio-wrapper .inactive-radio .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
    margin-left: -3.6px !important;
    margin-top: -4px !important;
}

.filter-small-input {
    width: 6em;
    border: 1px solid #d8d8d8;
    padding: 5px 10px;
    color: #8f8f8f;
    border-radius: 3px;
}

.full-button-wrapper {
    background: #F36E1D;
    padding: 10px 15px;
    min-width: 100%;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}


/* filter button styling */

.filter-button-wrapper {
    padding: 5em 0 1em;
    display: flex !important;
    justify-content: space-between;
    .full-border-wrapper {
        border: 1px solid #D8D8D8 !important;
        color: #8F8F8F;
        min-width: 5em;
        border-radius: 3px;
    }
    .full-button-wrapper {
        min-width: auto;
        padding: 8px 15px;
    }
}

.margin-top-100 {
    margin-top: 100px;
}

.padding-top-24 {
    padding-top: 24px;
}

.padding-top-32 {
    padding-top: 32px;
}


/* form styling */

.form-block {
    width: 100%;
}

.padding-right-32 {
    padding-right: 32px;
}

.form-card-wrapper {
    padding: 0 24px 24px;
}

.form-small-input {
    width: 47%;
}

.file-upload-wrapper .ui-button {
    background: url(assets/img/icons/paperclip.png) !important;
    color: #3480FF !important;
    background-size: 12% !important;
    background-position: left !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
    border: none !important;
}

.file-upload-wrapper .ui-fileupload-choose-selected {
    background-size: 9% !important;
}

.file-upload-wrapper .ui-button.ui-button-text-icon-left .ui-button-text {
    padding: 0.429em 1em 0.429em 1.5em;
}

.file-upload-wrapper .ui-button-icon-left {
    display: none;
}

.file-upload-wrapper .pi-plus:before {
    content: "\f0c6" !important;
}

.align-button-right {
    display: flex;
    justify-content: flex-end;
}

.margin-right-32 {
    margin-right: 32px;
}

.vehicle-form-wrapper+footer {
    margin-top: 12rem !important;
}


/* edit delete button styling */

.align-right-wrapper {
    display: flex;
    align-items: center;
}

.align-right-wrapper .edit-icon:first-child {
    padding-right: 50px;
}

.padding-top-12 {
    padding-top: 12px;
}

.padding-top-15 {
    padding-top: 15px;
}


/* Form background image */

.user-profile-bg {
    background-image: url('../src/assets/img/user-icon.png');
    background-repeat: no-repeat;
    min-height: 100px;
    min-width: 100px;
}

.profile-image-block {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }
}

.browse-color-text {
    color: #3480FF;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-top-10 {
    padding-top: 10px;
}

.active-class {
    background-color: #fff !important;
    color: #fa8242 !important;
    border-color: #fff !important;
}

.sticky .active-class {
    background: #374799 !important;
    color: #fff !important;
    border-color: #374799 !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.align-center {
    align-items: center;
}

.heading-flex-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.heading-toggle-switch h3.country-card-text {
    padding-bottom: 0 !important;
    padding-right: 24px;
}

.form-view-text {
    color: #4A4A4A;
    font-weight: 500;
    padding-top: 2px;
}

.padding-top-0 {
    padding-top: 0 !important;
}

.form-footer-button {
    display: inline-flex;
    margin-right: 25px;
    // padding-top: 32px;
}

.padding-top-32 {
    padding-top: 32px;
}

.ui-g-12 {
    padding: .5em 0;
}


/* Custom Textarea styling */

.prime-textarea-input .ui-inputtext {
    border: 1px solid #dbdbdb;
}


/* .prime-textarea-input .ui-inputtext:hover:not(.ui-state-error) {
  border-color: #dbdbdb !important;
} */

.prime-textarea-input .ui-widget-header .ui-inputtext,
.ui-widget-content .ui-inputtext {
    min-height: 100px !important;
}

.prime-dropdown-wrapper .ui-widget-header .ui-inputtext,
.ui-widget-content .ui-inputtext {
    min-height: auto !important;
}

.pending-circle,
.warning-circle {
    background: #FF586B;
    padding: 0px 2px;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
}

.outgoing-circle {
    background: #F36E1D;
    padding: 0px 2px;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
}

.finished-circle {
    background: #13D36D;
    padding: 0px 2px;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
}

.new-circle {
    background: #3B4693;
    padding: 0px 2px;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
}

.delivery-circle,
.active-circle {
    background: #13D36D;
    padding: 0px 2px;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
}

.border-button-yellow {
    border: 1px solid #F36E1D;
    padding: 6px 10px;
    min-width: 8em;
    text-align: center;
    color: #F36E1D !important;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Custom Calender primeNg calender styling  start*/

.prime-calender-wrapper .ui-calendar.ui-calendar-w-btn .ui-inputtext {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 0 none;
    width: 100% !important;
}

.prime-calender-wrapper .ui-inputtext {
    font-size: 14px;
    color: #333333 !important;
    padding: 5px 10px;
    border: 1px solid #dbdbdb !important;
    transition: border-color 0.2s;
    -webkit-appearance: none;
}

.prime-calender-wrapper .ui-button {
    &:focus {
        box-shadow: none !important;
    }
}

.prime-calender-wrapper .ui-button.ui-datepicker-trigger {
    color: #8F8F8F !important;
    background-color: #ffffff !important;
    border: 1px solid #dbdbdb !important;
    border-left: none !important;
    position: absolute;
    height: 100%;
    right: 0;
    height: 36px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.prime-calender-wrapper .ui-calendar {
    width: 100%;
}

.prime-calender-wrapper .ui-datepicker table td.ui-datepicker-today>a,
body .ui-datepicker table td.ui-datepicker-today>span {
    background-color: #F36E1D !important;
    color: #fff !important;
}

.prime-calender-wrapper .ui-datepicker:not(.ui-datepicker-inline) {
    top: 37px !important;
    min-width: 100%;
    padding-left: 0;
}


/* Custom Calender primeNg styling end */


/* Custom primeNg status dropdown styling */

.prime-dropdown-status .ui-dropdown-item.ui-state-highlight {
    color: #ffffff;
    background-color: #F36E1D !important;
    padding: 0px 10px !important;
}

.prime-dropdown-status .ui-dropdown-item {
    padding: 0px 10px !important;
}

.prime-dropdown-status {
    margin-right: 15px;
    border: 1px solid #dbdbdb !important;
}

.high-priority {
    background: #FF586B;
    display: inline-flex;
    width: 4px;
    height: 19px;
    margin-right: 5px;
}

.medium-priority {
    background: #F36E1D;
    display: inline-flex;
    width: 4px;
    height: 19px;
    margin-right: 5px;
}

.low-priority {
    background: #D8D8D8;
    display: inline-flex;
    width: 4px;
    height: 19px;
    margin-right: 5px;
}

.separator-line {
    border-bottom: 2px solid #dbdbdb;
}


/* without using image custom primeNg file wrapper starts */

.file-upload-plus-wrapper .ui-button {
    color: #3480FF !important;
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.file-upload-plus-wrapper .ui-button.ui-button-text-icon-left .ui-button-text {
    padding: 0 35px;
}


/* without using image custom primeNg file wrapper ends */

.table-wrapper-spacing .country-list-wrapper .ui-table-thead tr th:nth-child(1) {
    padding-left: 40px !important;
}

.table-heading-spacing .prime-radio-wrapper .ui-radiobutton-label {
    margin-left: 40px !important;
}

.prime-radio-spacing .ui-radiobutton-label {
    margin-left: 20px;
}


/* primeNg Custom details form styling */

.vehicle-details-wrapper .ui-table-thead tr th {
    background: #ffffff !important;
}

.prime-details-tabs-wrapper .ui-tabmenuitem.ui-state-active {
    background-color: #ffffff !important;
}

.prime-details-tabs-wrapper .ui-tabmenuitem {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.vehicle-details-wrapper tbody>tr:nth-child(even) {
    background-color: #ffffff !important;
}

.col-x3 {
    flex: 0 30.10% !important;
    ;
}

.no-flex-wrap {
    flex-wrap: initial !important;
    margin: 0 !important;
}

.margin-right-24 {
    margin-right: 24px;
}

.height-fit-content {
    height: fit-content;
}

.document-image-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    margin: 10px 17px 0 0;
    display: inline-flex;
    // margin-right: 10px;
    img {
        height: inherit;
        border-radius: inherit;
        object-fit: cover;
    }
}


/* 
.vehicle-lease-details-wrapper .ui-table-thead > tr > th {
  width:20% !important;
} */

.padding-0 {
    padding: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.form-block p {
    margin-bottom: 0;
    word-break: break-word;
}

.ng-touched.ng-invalid {
    border-color: #FF586B !important;
}

.display-none {
    display: none;
}

.prime-calender-wrapper .is-invalid .ui-inputtext {
    border: 1px solid #FF586B !important;
}

.prime-calender-wrapper .ng-invalid.is-invalid .ui-inputtext {
    border: 1px solid #FF586B !important;
}

.prime-calender-wrapper .ng-touched.ng-valid .ui-inputtext {
    border: 1px solid #dbdbdb !important;
}

.prime-calender-wrapper .is-invalid .ui-button {
    border: 1px solid #FF586B !important;
    border-left: none !important;
}

.prime-calender-wrapper .ng-invalid.is-invalid .ui-button {
    border: 1px solid #FF586B !important;
    border-left: none !important;
}

.prime-calender-wrapper .ng-touched.ng-valid .ui-button.ui-datepicker-trigger {
    border: 1px solid #dbdbdb !important;
    border-left: none !important;
}

.is-invalid .prime-dropdown-wrapper.ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
    border: 1px solid #FF586B !important;
}

.ng-invalid.is-invalid .prime-dropdown-wrapper.ui-dropdown label.ui-dropdown-label {
    border: 1px solid #FF586B !important;
}

// .ng-invalid.is-invalid .prime-dropdown-wrapper.ui-dropdown label.ui-dropdown-label:hover {
//     transition:0.3s all ease-in-out !important;
//     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(243, 110, 29) !important;
//     outline: 0 none !important;
// }
// .is-invalid .prime-dropdown-wrapper.ui-dropdown.ui-dropdown-clearable .ui-dropdown-label:hover {
//     transition:0.3s all ease-in-out !important;
//     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(243, 110, 29) !important;
//     outline: 0 none !important;
// }
.ng-touched.ng-valid .prime-dropdown-wrapper.ui-dropdown label.ui-dropdown-label {
    border: 1px solid #dbdbdb !important;
}

.ng-touched.ng-valid .prime-dropdown-wrapper.ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
    border: 1px solid #dbdbdb !important;
}

.ng-invalid.is-invalid .prime-dropdown-wrapper.ui-dropdown .ui-dropdown-trigger {
    border: 1px solid #FF586B !important;
    border-left: none !important;
}

.ng-valid.is-invalid .prime-dropdown-wrapper.ui-dropdown .ui-dropdown-trigger {
    border: 0px solid #dbdbdb !important;
    border-left: none !important;
}

.ng-touched.ng-valid .prime-dropdown-wrapper.ui-dropdown .ui-dropdown-trigger {
    border: 1px solid #dbdbdb !important;
    border-left: none !important;
}

.ng-invalid .prime-dropdown-wrapper.ui-dropdown .ui-dropdown-clear-icon {
    display: none !important;
}

.ng-valid .prime-dropdown-wrapper.ui-dropdown .ui-dropdown-clear-icon {
    display: block !important;
}


/* PrimeNg custom table radio button styling starts*/

p-tableradiobutton .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #F36E1D !important;
    background-color: transparent !important;
    color: #ffffff;
}

p-tableradiobutton .ui-radiobutton .ui-radiobutton-box {
    border: 2px solid #D8D8D8 !important;
    width: 16px !important;
    height: 16px !important;
}

p-tableradiobutton .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
    background-color: #F36E1D !important;
}

p-tableradiobutton .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
    width: 8px !important;
    height: 8px !important;
    margin-left: -4px !important;
    margin-top: -4px !important;
}

.prime-table-radio-wrapper .ui-table-tbody tr.ui-state-highlight td {
    transition: 0.3s all;
    color: #4A4A4A !important;
}

.prime-table-radio-wrapper .ui-table-tbody tr.ui-state-highlight td .success {
    color: #4A4A4A !important;
}


/* PrimeNg custom table radio button styling ends*/

agm-map {
    height: 100%;
}

.custom-select-input {
    width: 100%;
    padding: 0.429em;
    border: 1px solid #dbdbdb;
}

.is-invalid {
    border-color: #FF586B !important;
}

::ng-deep .ui-dropdown .ui-dropdown-label {
    text-transform: none !important;
    letter-spacing: 1px !important;
}


/* contact input group wrapper */

.contact-form-input input[type=text] {
    // width: 83.9%;
    // width:83.9%;
    width: 81.9%;
}

.contact-input-group .input-group-text {
    color: #fff;
    background-color: #F36E1D;
    border: 1px solid #F36E1D;
    min-width: 3.5em;
    font-size: 14px;
    padding: 5px 8px 4px;
}


/* delete icon form array starts */

.delete-icon-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 19px;
    /* padding-top: 26px; */
}

.delete-icon-wrapper i {
    color: white;
    font-size: 18px;
    background-color: #e50e0e;
    padding: 8px 12px;
    border-radius: 4px;
}

.delete-icon-wrapper i:hover {
    transition: 0.3s all ease-in;
    background-color: #a50404;
}


/* file upload wrapper css */

.file-upload-plus-wrapper {
    display: inline-block;
    background-color: #F36E1D;
    padding: 6px 7px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #b6b3b3;
}

.file-upload-plus-wrapper button {
    color: #fff;
}

.file-upload-plus-wrapper button i {
    padding-right: 7px;
}


/* .item-input-wrapper .form-block {
      width: 20%;
      display:inline;
      margin-right: 15px;
}
  
.item-info-wrapper .form-block {
      width: 20%;
      display: inline;
      margin-right: 15px;
}
  
.payment-wrapper-block {
      justify-content: space-between;
}

.payment-wrapper-block .form-block:nth-child(1) {
      width:50%;
}
.payment-wrapper-block  .form-block:nth-child(2) {
      width:32%;
} */

.form-small-text {
    color: #4A4A4A;
    font-weight: 500;
    padding-top: 2px;
    font-size: 14px;
    margin-bottom: 0;
}

.document-wrapper {
    height: 50px;
    width: 50px;
    border-radius: 3px;
    // margin: 10px 15px 0 0;
    margin: 0 15px 0 0;
}

.document-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}


/* file wrapper starts */

.file-wrapper {
    text-align: center;
    padding: 9px 0px 0;
    position: relative;
    overflow: hidden;
    display: flex;
}

.file-wrapper span {
    margin-bottom: 0;
    padding: 10px 0;
    color: #4d8fff !important;
    font-size: 14px;
    font-weight: 500;
}

.file-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 10px;
    opacity: 0;
    width: 100%;
}

.file-wrapper .icon-attachment {
    font-size: 13px;
}


/* file wrapper ends */

// upload camera wrapper
.upload-camera-wrapper {
    // background: #fff;
    background: #e7e7e7;
    padding: 7px 7px !important;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    margin-left: -30px;
    z-index: 0;
}


/* file document position starts */

.document-position-wrapper {
    position: relative;
    margin: 10px 15px 0 0;
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.close-icon-wrapper {
    position: absolute;
    top: -10px;
    right: -7px;
}

.close-icon {
    font-size: 13px;
    background: #FF586B;
    color: white;
    border-radius: 50%;
    padding: 2px 7px 4px;
    cursor: pointer;
}

.document-position-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}


/* file document position ends */

.contact-input-group {
    .input-group-text {
        color: #fff;
        background-color: #F36E1D;
        border: 1px solid #F36E1D;
        min-width: 3.5em;
        font-size: 14px;
        padding: 5px 8px 4px;
    }
}

// prime colspan wrapper css starts
.prime-colspan-wrapper {
    .ui-table-wrapper {
        table {
            tr {
                th {
                    &.table-border {
                        border: 2px solid #d9e0ea !important;
                    }
                    text-align: center !important;
                    &:not(:last-child):not(:first-child) {
                        border: 2px solid #d9e0ea !important;
                    }
                }
                td {
                    &.table-border {
                        border: 2px solid #d9e0ea !important;
                    }
                    &:not(:last-child):not(:first-child) {
                        border: 2px solid #d9e0ea !important;
                    }
                    text-align: center;
                    background-color: inherit !important;
                }
                &::nth-child(odd) {
                    td {
                        border: 2px solid #d9e0ea !important;
                        background-color: inherit !important;
                    }
                }
            }
        }
    }
}

// prime colspan wrapper css ends
// refresh button styling
.refresh-button-wrapper {
    text-align: right;
    span {
        background: #F36E1D;
        color: white;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            transition: 0.3s all ease-in;
            background: #ef630d;
        }
    }
}

// back border button
.back-button-wrapper {
    display: inline-block !important;
    min-width: 7em !important;
    .back-button {
        // color: #8f8f8f;
        color: #6e6b6b;
        font-weight: 500;
    }
}

.edit-button-wrapper {
    min-width: 5em !important;
}

::ng-deep .date-range-wrapper {
    .prime-calender-wrapper {
        width: 43% !important;
        .ui-inputtext {
            width: 100% !important;
        }
    }
}

// file wrapper styling
.document-file-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
}

// image wrapper block
.image-wrapper-block {
    width: 100%;
    // height: 420px;
    // max-height: 320px;
    margin: 0 auto;
    img {
        width: 100%;
        height: inherit;
    }
}

.pencil-icon {
    cursor: pointer;
    span {
        color: #8f8f8f;
        &:hover {
            transition: 0.3s all ease-in;
            color: #707070;
        }
    }
}

.button-wrapper-block {
    .button-wrapper {
        &.button-check-wrapper {
            padding: 5px 10px !important;
            min-width: auto !important;
            margin-right: 8px;
        }
    }
    .button-cancel-wrapper {
        background: transparent;
        padding: 5px 10px;
        border: 1px solid #F36E1D;
        min-width: auto;
        text-align: center;
        border-radius: 3px;
        color: #F36E1D;
        font-weight: 400;
        cursor: pointer;
    }
}

.profile-form-block {
    .pencil-icon {
        opacity: 0;
    }
    &:hover {
        .pencil-icon {
            transition: 0.3s all ease-in;
            opacity: 1;
        }
    }
}

// transparent button wrapper css
.transparent-button-wrapper {
    // border: 1px solid #fff;
    border: 1px solid #000;
    padding: 8px 20px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.14);
    // color: #fff;
    color: #000;
    font-weight: 600;
}

.delivery-row-wrapper {
    // padding-top:32px;
}

.vehicle-wrapper {
    .filter-wrapper {
        position: fixed;
        top: -70px !important;
        overflow-y: scroll;
        height: 500px;
        max-height: 725px !important;
    }
}

// .ui-table-wrapper{
//     .ui-table{
//         border: 1px solid #d2d2d4;
//         padding: 8px;
//         margin-top: 10px;
//         border-radius: 3px;
//     }
// }
@media (min-width: 1200px) {
    // .container {
    //     max-width: 100%;
    //     padding: 0;
    // }
}

@media (max-width:768px) {
    .form-card-wrapper {
        max-width: 100%;
    }
}

@media (max-width:640px) {
    .contact-form-input input[type=text] {
        width: 83.8%;
    }
    .form-card-wrapper .display-flex .form-block:nth-child(2) {
        padding-top: 0;
    }
    .button-spacing-wrapper {
        padding-top: 26px;
    }
    .vehicle-form-wrapper .col-sm-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mobile-display-block {
        display: block !important;
    }
    /* Long tabs wrapper styling starts*/
    .prime-long-tabs-wrapper .ui-tabmenuitem.ui-state-active .ui-menuitem-link .ui-menuitem-text {
        font-size: 14px !important;
    }
    .prime-long-tabs-wrapper .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-text {
        font-size: 14px !important;
    }
    /* Long tabs wrapper styling ends*/
    .heading-flex-wrapper {
        display: block;
    }
    .vehicle-wrapper .ui-paginator,
    .table-wrapper .ui-paginator {
        padding-bottom: 24px;
        text-align: center !important;
    }
    .vehicle-wrapper .ui-table.ui-table-responsive .ui-paginator-bottom,
    .table-wrapper .ui-table.ui-table-responsive .ui-paginator-bottom {
        border: none !important;
    }
    .prime-textarea-input .ui-widget-header .ui-inputtext,
    .ui-widget-content .ui-inputtext {
        width: 100% !important;
    }
    .table-wrapper .ui-chkbox-label {
        font-size: 14px;
    }
    .form-card-wrapper .ui-chkbox-label {
        font-size: 13px;
    }
    .ui-g-12 {
        padding: .5em 0 !important;
    }
    .align-right-wrapper {
        display: flex;
        align-items: flex-start;
    }
    .align-right-wrapper .edit-icon:first-child {
        padding-right: 15px;
    }
    .search-flex-wrapper {
        display: block;
    }
    .search-flex-wrapper .search-input {
        width: 100%;
    }
    .search-flex-wrapper .button-wrapper {
        display: inline-block;
        /* margin-top:15px; */
    }
    .form-card-wrapper .display-flex {
        display: block;
    }
    .form-card-wrapper .padding-right-32 {
        padding-right: 0;
    }
    .form-card-wrapper .display-flex .form-block:nth-child(2) {
        padding-top: 24px;
    }
    .border-button-wrapper {
        min-width: 7em;
    }
    .form-card-wrapper .button-wrapper {
        min-width: 8em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-small-input {
        width: 100%;
    }
    .align-button-right {
        justify-content: flex-start;
        padding-top: 32px;
    }
    .filter-wrapper {
        position: fixed;
        bottom: auto;
        height: auto;
        right: 0;
        top: 25%;
        left: 0;
        min-height: 550px;
        z-index: 1;
        border-radius: 5px;
        background-color: white;
        padding: 20px 15px;
    }
    .filter-wrapper .filter-flex-wrapper {
        width: 100%;
    }
    .filter-small-input {
        width: 9.5em;
    }
    /* filter button styling */
    .filter-button-wrapper {
        padding: 5em 0 2em;
        display: flex !important;
        justify-content: space-between;
    }
    //   .filter-button-wrapper .full-button-wrapper {
    //         min-width:auto;
    //         padding: 8px 15px;
    //     }
    //   .filter-button-wrapper .full-border-wrapper {
    //     border: 1px solid #D8D8D8 !important;
    //     color: #8F8F8F;
    //     min-width: 5em;
    //     border-radius: 3px;
    // }
    // .filter-button-wrapper {
    //   display:flex;
    //   justify-content: space-between;
    // }
    // button.full-button-wrapper {
    //   min-width:auto;
    //   padding: 8px 15px;
    // }
    // button.full-border-wrapper {
    //   border: 1px solid #D8D8D8 !important;
    //   color: #8F8F8F;
    //   min-width: 5em;
    //   border-radius: 3px;
    // }
    .content-wrapper {
        padding: 0 !important;
        min-height: calc(80vh);
    }
    .copyright {
        font-size: 13px;
        padding-top: 30px;
    }
    .navbar {
        padding: 0 12px;
    }
    .prime-modal-dialog {
        padding: 15px !important;
        box-shadow: none !important;
    }
    .prime-modal-dialog .ui-dialog-titlebar {
        border: 0px solid #fff !important;
    }
    .country-card-block {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
    .country-sub-title {
        display: block;
        margin-right: 0;
    }
    .search-input {
        display: block;
    }
    .search-input input[type=text] {
        width: 100%;
    }
    .search-input input[type=text] {
        width: 100%;
    }
    .button-wrapper {
        min-width: auto;
        padding: 8px 10px;
        font-size: 14px;
    }
    .table-wrapper .ui-column-title {
        color: #4A4A4A;
    }
    .search-icon {
        top: 10px;
    }
    .modal-border-button,
    .modal-button-wrapper {
        padding: 4px 10px !important;
        min-width: 7em !important;
    }
    .search-input {
        margin-top: 0px;
    }
    .card-flex-wrap {
        display: block;
    }
    .flex-wrapper.margin-bot-20 {
        margin-bottom: 0;
    }
    .vehicle-wrapper .search-flex-wrapper {
        display: block;
    }
    .vehicle-wrapper .display-flex,
    .form-wrapper-block .display-flex {
        padding-top: 20px;
    }
    .prime-tabs-wrapper .ui-tabmenuitem {
        /* border-bottom: 1px solid #D9E0EA !important; */
        border-bottom: 1px solid #f5f7fa !important;
    }
    .prime-tabs-wrapper .ui-tabmenuitem.ui-state-active {
        border-top: 2px solid #D9E0EA !important;
        border-left: 2px solid #D9E0EA !important;
        border-right: 2px solid #D9E0EA !important;
        border-bottom: 0px solid !important;
    }
    .prime-tabs-wrapper .ui-tabmenuitem.ui-state-active .ui-menuitem-link .ui-menuitem-text {
        font-size: 14px;
    }
    .mobile-display-flex {
        display: flex !important;
    }
}

.slide.slick-slide {
    transition: 0.3s ease all;
}

.slide.slick-slide.slick-active {
    filter: brightness(0.8);
}

.slide.slick-slide.ng-star-inserted.slick-current.slick-active.slick-center {
    transform: scale(1.22);
    filter: unset;
}

// no data found wrapper starts
.no-data-found {
    display: flex;
    height: 100%;
    justify-content: center;
    img {
        width: 120px;
        height: auto;
    }
}

// no data found wrapper ends
.carousel-inner {
    background: #2a3752;
    @mixin margintop($value: 20px) {
        margin-top: $value;
    }
    .countries-page .button-wrapper,
    .business-page .button-wrapper,
    .servicepage .button-wrapper {
        @include margintop();
    }
    .inventory-page .filter-icon-wrapper {
        @include margintop();
    }
    body .business-wrapper .ui-table .ui-table-thead>tr>th {
        padding: 10px 0;
    }
    .maintenance .filter-icon-wrapper {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 999px) {
    .header-section-wrapper .heading-title-wrapper .landing-header-text h3 {
        font-size: 37px !important;
    }
    .confirmed-delivery-wrapper .delivery-card-wrapper .delivery-card.patner-card {
        height: auto !important;
    }
    .header-flex-wrapper {
        padding: 20px 0px !important;
    }
}

@media only screen and (max-width:767px) {
    .form-grey-text {
        font-size: 11px;
    }
    .form-card-wrapper .document-wrapper {
        width: auto;
    }
    .form-card-wrapper {
        padding: 0 10px 24px;
    }
    .header-flex-wrapper .transparent-button-wrapper {
        padding: 8px;
        font-size: 12px;
    }
}

@media only screen and (max-width:600px) {
    .header-wrapper.animated.fadeInDown.sticky .header-flex-wrapper .logo-image img {
        width: auto;
    }
    .header-wrapper .header-flex-wrapper {
        padding: 20px 0 !important;
    }
    .header-wrapper.animated.fadeInDown.sticky .header-flex-wrapper {
        display: block !important;
    }
    .header-wrapper .logo-image,
    .header-wrapper.animated.fadeInDown.sticky {
        text-align: left !important;
    }
    .header-wrapper .header-flex-wrapper .logo-image img {
        width: 80px;
    }
    .heading-title-wrapper .landing-header-text {
        width: 100% !important;
    }
    .header-section-wrapper .heading-title-wrapper {
        padding: 20px 0 !important;
    }
    .header-section-wrapper .inner-header-section-wrapper .heading-title-wrapper .landing-header-text h3 {
        font-size: 28px !important;
    }
    .landing-button-wrapper {
        margin: 13px 0 0 0 !important;
    }
    .carousel-section .slick-next,
    .carousel-section .slick-prev {
        display: none !important;
    }
    .user-post-box {
        margin: 0 0 !important;
    }
    footer.footer-wrapper {
        text-align: left !important;
    }
    .footer-list-wrapper,
    .footer-heading {
        text-align: left !important;
    }
    .copyright-wrapper {
        padding-top: 20px;
    }
    .header-section-wrapper {
        padding-top: 8em !important;
        padding-left: 0 !important;
    }
    .user-post-box {
        min-height: 400px !important;
    }
    .patner-page .signupfootform button.btn.location-wrapper.sign-up-btn {
        width: auto;
        margin: 0 auto;
    }
    .business-page .header-wrapper .header-flex-wrapper,
    .patner-page .header-wrapper .header-flex-wrapper {
        display: flex !important;
        text-align: left;
    }
}

@media only screen and (max-width:575px) {
    .profile-column-wrapper {
        max-width: 100% !important;
        margin: 0 15px;
    }
    .card.form-card-wrapper {
        margin: 20px 15px;
    }
    .col-sm-8.card.order-card-wrapper.form-card-wrapper {
        max-width: 100% !important;
    }
    table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    .table-wrapper table .ui-table-thead th {
        font-size: 12px;
    }
    .signupfootform .btn-sec {
        padding: 80px 16px 0;
    }
    .business-page .display-flex {
        display: block !important;
    }
    .header-section-wrapper .heading-title-wrapper .location-wrapper {
        padding-top: 30px !important;
    }
    .login-btn-wrapper {
        margin-left: 0 !important;
    }
    .header-section-wrapper .heading-title-wrapper .location-wrapper a {
        display: inline-block;
        min-width: 191px;
    }
}

@media only screen and(max-width:480px) {
    p.text-center.testimonial-sub-head {
        font-size: 12px;
    }
    .header-section-wrapper {
        height: auto !important;
        padding-top: 8em !important;
        display: block !important;
        text-align: center;
    }
    .business-page .header-section-wrapper,
    .patner-page .header-section-wrapper {
        padding-bottom: 30px;
    }
    .business-page .header-wrapper .header-flex-wrapper,
    .patner-page .header-wrapper .header-flex-wrapper {
        display: block !important;
        text-align: left;
    }
    .testimonial-wrapper .delivery-partner-wrapper .delivery-partner-header p {
        font-size: 16px !important;
    }
    .header-section-wrapper .heading-title-wrapper {
        width: 80%;
    }
    .patner-page .heading-title-wrapper .landing-para-text {
        font-size: 16px !important;
    }
    .patner-page .header-section-wrapper {
        padding-top: 7em !important;
    }
    .header-section-wrapper .heading-title-wrapper .landing-para-text p {
        max-width: 100% !important;
    }
    .confirmed-delivery-wrapper .delivery-card-wrapper .delivery-card.patner-card {
        height: auto !important;
    }
}

@media only screen and (max-width: 413px) {
    .header-wrapper .landing-button-wrapper .transparent-button-wrapper:first-child {
        margin-right: 5px;
    }
    // footer.footer-wrapper {
    //     text-align: center;
    // }
    .header-wrapper .header-flex-wrapper {
        padding: 20px 0px !important;
    }
    .landing-button-wrapper {
        margin: 0px 0 0 0;
    }
}

@media only screen and (max-width: 400px) {
    .carousel-section.carousel-inner .user-post-box .user-image {
        width: 100%;
        max-width: 100% !important;
        // height: 100px;
        // float: none;
    }
    .user-post-desc-bottom p {
        text-align: center !important;
    }
    .carousel-section.carousel-inner .user-post-box .media {
        display: block;
    }
    .carousel-section.carousel-inner .user-detail {
        text-align: center;
        padding-top: 10px;
    }
    .carousel-section.carousel-inner .user-post-desc {
        text-align: center;
    }
    .carousel-section .draggable {
        padding: 0px 15px !important;
    }
    .footer-wrapper .footer-list-wrapper ul li a {
        font-size: 14px !important;
    }
    .header-section-wrapper .heading-title-wrapper {
        width: 100%;
    }
    .play {
        width: 50px !important;
        height: 50px !important;
    }
    .header-section-wrapper {
        padding-top: 11em !important;
    }
    .patner-page .header-section-wrapper {
        padding-top: 12em !important;
    }
}

@media only screen and (max-width: 320px) {
    .user-post-box {
        min-height: 548px !important;
    }
}
