<!-- <app-breadcrumb></app-breadcrumb> -->
<div class=" driver-wrapper wrapper vehicle-wrapper">
    <app-heading-wrapper></app-heading-wrapper>
    <div class="search-flex-wrapper">

        <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)" [placeHolderText]="'Search Driver Name'"></app-search>

        <div class="display-flex button-spacing-wrapper">
            <div class="filter-icon-wrapper" (click)="showFilter()">
                <!-- <i class="fa fa-filter card-icon"></i> -->
                <div class="filter-card-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve" class="">
            <g>
              <g>
                <g id="filter">
                  <path d="M178.5,382.5h102v-51h-102V382.5z M0,76.5v51h459v-51H0z M76.5,255h306v-51h-306V255z"
                    data-original="#000000" class="active-path" data-old_color="#000000" fill="#8F8F8F" />
                </g>
              </g>
            </g>
          </svg>
                </div>
            </div>
            <app-button-wrapper [buttonTitle]="'Add Driver'" routerLink="../driver-list/add"></app-button-wrapper>
        </div>
    </div>



    <!-- tabs wrapper -->
    <div class="tabs-wrapper">
        <p-tabMenu [model]="items" [activeItem]="activeItem" styleClass="prime-tabs-wrapper">
            <ng-template pTemplate="item" let-item let-i="index">
                <div (click)="getItem($event, i, item.label)">
                    <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
                    <div class="ui-menuitem-text">
                        {{item.label}}
                    </div>
                </div>
            </ng-template>
        </p-tabMenu>
    </div>

    <!--All drivers-->
    <div class="table-wrapper driver-wrapper">
        <ng-container>
            <p-table [value]="driverList" styleClass="country-list-wrapper" [responsive]="true" sortField="id" [lazy]="true" [sortOrder]="1" (onLazyLoad)="paginate($event)" [paginator]="true" [alwaysShowPaginator]="false" [rows]="10" [totalRecords]="total">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Driver Name </th>
                        <th>Contact Number</th>
                        <th style="width:15em;">Email</th>
                        <th>Rating</th>
                        <th>Status</th>
                        <th style="width:20em;">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" *ngIf="driverList.length > 0;" let-driver>
                    <tr [ngClass]="(isChecked == true)? 'unchecked': 'checked'">
                        <td>
                            <span class="ui-column-title">Driver Name</span>
                            <span class="text-capitalize">{{driver.driver}}</span>
                        </td>
                        <td><span class="ui-column-title">Phone</span>{{driver.mobile_number}}</td>
                        <td><span class="ui-column-title">Email</span>{{driver.email_id ? driver.email_id : '-'}}</td>
                        <td><span class="ui-column-title">Rating</span>{{(driver.orders[0]?driver.orders[0].avg : 0) | number : '1.2-2'}}
                        </td>
                        <td class="toggle-status">
                            <span class="ui-column-title">Status</span>

                            <ng-container *ngIf="driver.user_status == 'pending'; else statusToggle">
                                <span [ngClass]="{'pending-circle': driver.user_status == 'pending'}">
                </span>
                                <span class="text-capitalize">
                  {{driver.user_status}}
                </span>

                            </ng-container>
                            <ng-template #statusToggle>
                                <app-active-switch [checked]="driver.user_status == 'active'" [possibleValue]="posibleValue" (change)="actionOnDriver($event, driver.user_id)">
                                </app-active-switch>
                            </ng-template>
                        </td>
                        <td>
                            <span class="ui-column-title">Action</span>
                            <a class="success p-0 action-link display-block" [routerLink]="['../driver-list/details', utility.base64Encode(driver.user_id)]">
                                <i class="fa fa-eye font-medium-1 "></i> View
                            </a>

                            <a class="success p-0 action-link display-block" (click)="openLocation(driver.driverLocation)">
                                <i class="fa fa-location-arrow"></i> Shared Location
                            </a>
                            <ng-container *ngIf="driver.user_status == 'pending'">
                                <a class="success p-0 action-link display-block" (click)="resendOTP(driver)">
                                    <i class="fa fa-paper-plane-o font-medium-1 "></i> Resend OTP
                                </a>
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center text-danger font-weight-600" colspan="6">No Records Found.</td>
                    </tr>
                </ng-template>

            </p-table>
        </ng-container>
    </div>
</div>
<!-- Filter wrapper -->
<div *ngIf="isVisible" class="filter-wrapper" [@openClose]>

    <div class="filter-flex-wrapper flex-direction-row">
        <div>
            <h3 class="filter-title-text">Filter</h3>
        </div>
        <div (click)="closeFilter()">
            <i class="fa fa-times filter-close-icon"></i>
        </div>
    </div>
    <form [formGroup]="driverFilterForm" (ngSubmit)="onSubmit()" class="filter-form-wrapper">
        <div class="filter-flex-wrapper">
            <div>
                <div class="padding-top-24">
                    <p class="filter-text">Country</p>

                    <p-dropdown [options]="countries" (onChange)="filterCountry($event)" formControlName="country" placeholder="Select country" [showClear]="true" styleClass="prime-dropdown-wrapper">
                    </p-dropdown>

                </div>
                <div class="padding-top-24">
                    <p class="filter-text">City</p>
                    <p-dropdown [options]="cities" formControlName="city" [showClear]="true" [disabled]="cities.length==0" placeholder="Select city" styleClass="prime-dropdown-wrapper">
                    </p-dropdown>
                </div>
            </div>

            <div class="filter-button-wrapper">
                <button type="submit" class="full-button-wrapper">Apply Filters</button>
                <button type="button" class="full-border-wrapper" (click)="clearFilter()">Clear</button>
            </div>

        </div>


    </form>

</div>
<!-- shared location dialog wrapper starts -->

<div *ngIf="_album.length>0" [hidden]="true">
    <div *ngFor="let image of _album; let i=index">
        <img [src]="image.src" />
    </div>
</div>

<!-- shared location dialog wrapper ends -->