::ng-deep .country-list-wrapper {
    .ui-table-thead {
        tr {
            &:first-child {
                border-top:none !important;
            }
        }
    }
} 

.table-wrapper {
    margin-top:0;
}

.data-not-found {
    text-align: center;
    padding: 70px 0 40px;

    span {
        font-size: 25px;
    }
}

::ng-deep .prime-dropdown-wrapper {
    .ui-dropdown-label {
        text-transform: none;
        font-family: sans-serif !important;
        font-size: 13px;
        color: #787878;
        letter-spacing: 1px;
       }
}

.search-input {
    position: relative;
    display: inline-block;
    input[type=text] {
        width: 16em;
        border: 1px solid #d8d8d8;
        padding: 8px 10px;
        border-radius: 3px;
      }
      .search-icon {
        position: absolute;
        top: 8px;
        right: 10px;
      }
      .search-icon svg {
        width: 20px;
        height: 20px;
      }
  }


  .driver-wrapper {
      .filter-wrapper {
        max-width: 280px;
        width: 20%;    
      }
  }

  .filter-button-wrapper {
    display:flex;
    justify-content: space-between;

    .full-button-wrapper {
        min-width:auto;
        padding: 8px 15px;
    }

    .full-border-wrapper {
        border: 1px solid #D8D8D8 !important;
        color: #8F8F8F;
        min-width: 5em;
        border-radius: 3px;
    }
}
  
.action-link {
    margin-right:15px;
}

.toggle-status {
    text-align: center;
}

tr {
    th:nth-child(4){
        width: 7em;
    }
    td:nth-child(5){
        text-align: left;
    }
}
