<div class="wrapper servicepage">
  <app-heading-wrapper [sectionTitle]="sectionTitle"></app-heading-wrapper>

  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)"></app-search>
    <div class="display-flex back-button">
      <div class="back-button-block" (click)="previousPage()">
        <a class="border-button-small">Back</a>
      </div>
      <app-button-wrapper [buttonTitle]="'Add City'" (click)="showDialog()"></app-button-wrapper>
    </div>
  </div>

  <p-dialog header="Add City" [(visible)]="display" [modal]="true" [responsive]="true" [closeOnEscape]="false"
    [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body"
    styleClass="prime-modal-dialog" (onHide)="resetForm()">
    <form [formGroup]="editCountryForm" (ngSubmit)="onSubmit()">
      <div>
        <p class="modal-text padding-top-20">City Name*</p>
        <div class="modal-search-input">
          <input type="text" placeholder="Enter city name" (keyup)="check_login()" formControlName="cityName"
            [class.is-invalid]="(cityForm.cityName.errors  && (cityForm.cityName.dirty || cityForm.cityName.touched) && isSubmitted) || (cityForm.cityName.errors  && (cityForm.cityName.dirty || cityForm.cityName.touched))" />
        </div>
        <div
          *ngIf="(((cityForm.cityName.hasError('required') || cityForm.cityName.hasError('whitespace'))  && (cityForm.cityName.dirty || cityForm.cityName.touched)) && isSubmitted) || ((cityForm.cityName.hasError('required') || cityForm.cityName.hasError('whitespace'))  && (cityForm.cityName.dirty || cityForm.cityName.touched)) || (cityForm.cityName.dirty || cityForm.cityName.touched)"
          [ngClass]="(cityForm.cityName.valid) ? 'display-none' : 'error'">
          Please enter city name.
        </div>
      </div>
      <p-footer>
        <div class="modal-flex-button padding-top-32">
          <button type="reset" (click)="resetForm()" class="modal-border-button">Cancel</button>
          <button type="submit" class="modal-button-wrapper">Add</button>
        </div>
      </p-footer>
    </form>
  </p-dialog>

  <div class="table-wrapper">
    <p-table [value]="list" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true" [lazy]="true"
      [alwaysShowPaginator]="false" [rows]="10" (onLazyLoad)="paginate($event)" [totalRecords]="total">
      <ng-template pTemplate="header">
        <tr>
          <th>S.No.</th>
          <th>City</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-country let-i="rowIndex">
        <tr>
          <td><span class="ui-column-title">Country</span>{{i+1}}</td>
          <td><span class="ui-column-title">City</span>{{(country.city) ? country.city : '-'}}</td>
          <td>
            <app-active-switch [checked]="country.status == 'active'" [possibleValue]="posibleValue"
              (change)="changeStatus($event, country.city_id)"></app-active-switch>
          </td>
          <td>
            <span class="ui-column-title">Action</span>
            <a class="success p-0" [routerLink]="['../../city-details', utility.base64Encode(country.city_id)]">
              <i class="fa fa-eye font-medium-1 "></i>
              View
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="4">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- <app-table-wrapper></app-table-wrapper> -->
</div>