<div class="wrapper">
  <app-heading-wrapper></app-heading-wrapper>
  <!-- Form Wrapper -->
  <div class="col-sm-8 card form-card-wrapper">
    <form [formGroup]="branchListForm" (ngSubmit)="onSubmit()">
      <!--[hidden]="businessPartnerControl.partner_id.value != null"-->
      <div class="display-flex padding-top-24">
        <div class="form-block">
          <p *ngIf="partnerList.length > 0" class="form-text">Choose Exisiting Partner</p>
          <p-dropdown *ngIf="partnerList.length > 0" [options]="partnerList" formControlName="partner_id"
            placeholder="Select Partner" styleClass="prime-dropdown-wrapper" (onChange)="choosePartner()"
            [showClear]="true">
          </p-dropdown>
          <p *ngIf="partnerList.length > 0" class="form-text text-center">Or</p>
          <p class="form-text">Enter new Partner</p>
          <div class="form-search-input">
            <input type="text" [disabled]="true" placeholder=" Enter new Partner" formControlName="partner"
              (blur)="utility.removeInputSpace(businessPartnerControl.partner)"
              [class.is-invalid]="(businessPartnerControl.partner.errors  && (businessPartnerControl.partner.dirty || businessPartnerControl.partner.touched) && isSubmitted) || (businessPartnerControl.partner.errors  && (businessPartnerControl.partner.dirty || businessPartnerControl.partner.touched))">
          </div>
          <div
            *ngIf="(((businessPartnerControl.partner.hasError('required') || businessPartnerControl.partner.hasError('whitespace'))  && (businessPartnerControl.partner.dirty || businessPartnerControl.partner.touched)) && isSubmitted)"
            [ngClass]="(businessPartnerControl.partner_id.valid) ? 'display-none' : 'error'">
            Either choose a partner
          </div>
        </div>
      </div>
      <!-- <div [hidden]="businessPartnerControl.partner_id.value == null && " class="display-flex padding-top-24">
        <div class="form-block">
          <p class="form-text">Partner name</p>
          <div class="form-search-input font-weight-bold">
            {{businessPartnerControl.partner.value}}
          </div>
        </div>
      </div> -->
      <div formGroupName="branch" class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">Branch Name*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter branch name" formControlName="address_branch_name"
              [class.is-invalid]="(branchForm.address_branch_name.errors  && (branchForm.address_branch_name.dirty || branchForm.address_branch_name.touched) && isSubmitted) || (branchForm.address_branch_name.errors  && (branchForm.address_branch_name.dirty || branchForm.address_branch_name.touched))">
          </div>
          <div
            *ngIf="(((branchForm.address_branch_name.hasError('required') || branchForm.address_branch_name.hasError('whitespace'))  && (branchForm.address_branch_name.dirty || branchForm.address_branch_name.touched)) && isSubmitted) || ((branchForm.address_branch_name.hasError('required') || branchForm.address_branch_name.hasError('whitespace'))  && (branchForm.address_branch_name.dirty || branchForm.address_branch_name.touched))"
            [ngClass]="(branchForm.address_branch_name.valid) ? 'display-none' : 'error'">
            Please enter branch name.
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">Country*</p>
          <p-dropdown [options]="country" formControlName="country" placeholder="Select Country"
            styleClass="prime-dropdown-wrapper" (onChange)="changeCountry()"
            [class.is-invalid]="(branchForm.country.hasError('required') && branchForm.country.touched)  || isSubmitted">
          </p-dropdown>
          <div
            *ngIf="(branchForm.country.hasError('required')  && (branchForm.country.dirty || branchForm.country.touched)) || isSubmitted"
            [ngClass]="(branchForm.country.valid) ? 'display-none' : 'error'">
            Please select Country.
          </div>
        </div>
      </div>
      <div formGroupName="branch" class="display-flex padding-top-24">
        <div class="form-block padding-right-32">
          <p class="form-text">City*</p>
          <p-dropdown [options]="cities" formControlName="city" placeholder="Select city"
            styleClass="prime-dropdown-wrapper"
            [class.is-invalid]="(branchForm.city.hasError('required') && branchForm.city.touched)  || isSubmitted">
          </p-dropdown>
          <div
            *ngIf="(branchForm.city.hasError('required')  && (branchForm.city.dirty || branchForm.city.touched)) || isSubmitted"
            [ngClass]="(branchForm.city.valid) ? 'display-none' : 'error'">
            Please select city.
          </div>
        </div>
        <div class="form-block">
          <p class="form-text">House /Flat /Building no.*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter House /Flat /Building no." formControlName="address_line_1"
              (keydown.enter)="$event.preventDefault()"
              [class.is-invalid]="(branchForm.address_line_1.errors  && (branchForm.address_line_1.dirty || branchForm.address_line_1.touched) && isSubmitted) || (branchForm.address_line_1.errors  && (branchForm.address_line_1.dirty || branchForm.address_line_1.touched))"
              autocorrect="off" autocapitalize="off" spellcheck="off" type="text">

          </div>
          <div
            *ngIf="(((branchForm.address_line_1.hasError('required') || branchForm.address_line_1.hasError('whitespace'))  && (branchForm.address_line_1.dirty || branchForm.address_line_1.touched)) && isSubmitted) || ((branchForm.address_line_1.hasError('required') || branchForm.address_line_1.hasError('whitespace'))  && (branchForm.address_line_1.dirty || branchForm.address_line_1.touched))"
            [ngClass]="(branchForm.address_line_1.valid) ? 'display-none' : 'error'">
            Please enter House /Flat /Building no.
          </div>
        </div>
      </div>
      <div formGroupName="branch" class="display-flex padding-top-24">
        <div class="form-block  padding-right-32">
          <p class="form-text">Pin Code*</p>
          <div class="form-search-input form-small-input ">
            <input type="text" placeholder="Enter Pin Code" formControlName="postal_Code"
              [class.is-invalid]="(branchForm.postal_Code.errors  && (branchForm.postal_Code.dirty || branchForm.postal_Code.touched) && isSubmitted) || (branchForm.postal_Code.errors  && (branchForm.postal_Code.dirty || branchForm.postal_Code.touched))"
              autocorrect="off" autocapitalize="off" spellcheck="off" type="text">

          </div>
          <div
            *ngIf="(((branchForm.postal_Code.hasError('required') || branchForm.postal_Code.hasError('whitespace'))  && (branchForm.postal_Code.dirty || branchForm.postal_Code.touched)) && isSubmitted) || ((branchForm.postal_Code.hasError('required') || branchForm.postal_Code.hasError('whitespace'))  && (branchForm.postal_Code.dirty || branchForm.postal_Code.touched))"
            [ngClass]="(branchForm.postal_Code.valid) ? 'display-none' : 'error'">
            Please enter Pin Code
          </div>
        </div>
      </div>
      <div formGroupName="branch" class="display-flex padding-top-24">
        <div class="form-block">
          <p class="form-text">Street Address*</p>
          <div class="form-search-input">
            <input type="text" placeholder="Enter street address" formControlName="address_line_2"
              [class.is-invalid]="(branchForm.address_line_2.errors  && (branchForm.address_line_2.dirty || branchForm.address_line_2.touched) && isSubmitted) || (branchForm.address_line_2.errors  && (branchForm.address_line_2.dirty || branchForm.address_line_2.touched))"
              #address>

          </div>
          <div
            *ngIf="(((branchForm.address_line_2.hasError('required') || branchForm.address_line_2.hasError('whitespace'))  && (branchForm.address_line_2.dirty || branchForm.address_line_2.touched)) && isSubmitted) || ((branchForm.address_line_2.hasError('required') || branchForm.address_line_2.hasError('whitespace'))  && (branchForm.address_line_2.dirty || branchForm.address_line_2.touched))"
            [ngClass]="(branchForm.address_line_2.valid) ? 'display-none' : 'error'">
            Please enter street address.
          </div>
        </div>
      </div>
      <div formGroupName="branch" style=" padding-top: 3%;">
        <agm-map [latitude]="latitude" [longitude]="longitude">
          <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
            (dragEnd)="markerDragEnd($event)"></agm-marker>
        </agm-map>
        <input type="hidden" placeholder="Enter street address" formControlName="latitude"
          [class.is-invalid]="(branchForm.latitude.errors  && (branchForm.latitude.dirty || branchForm.latitude.touched) && isSubmitted) || (branchForm.latitude.errors  && (branchForm.latitude.dirty || branchForm.latitude.touched))">
      </div>

      <!-- button wrapper -->
      <div class="align-button-right">
        <button type="reset" (click)="resetForm()" class="border-button-wrapper margin-right-32">Cancel</button>
        <button type="submit" class="button-wrapper">{{buttonName}}</button>
      </div>


    </form>
  </div>

</div>