<div class="wrapper servicepage">
  <app-heading-wrapper [sectionTitle]="sectionTitle"></app-heading-wrapper>

  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)"></app-search>
    <div class="display-flex back-button">
      <div class="back-button-block" (click)="previousPage()">
        <a class="border-button-small">Back</a>
      </div>
      <app-button-wrapper [buttonTitle]="'Add Model'" (click)="showDialog()"></app-button-wrapper>
    </div>
  </div>

  <div class="table-wrapper">
    <p-table [value]="brandDetails" styleClass="country-list-wrapper" [responsive]="true" [paginator]="true"
      [lazy]="true" (onLazyLoad)="paginate($event)" [alwaysShowPaginator]="false" [rows]="10" [totalRecords]="total">
      <ng-template pTemplate="header">
        <tr>
          <th>S.No.</th>
          <th>Model Name</th>
          <th>#Vehicles</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-model let-i="rowIndex">
        <tr>
          <td><span class="ui-column-title">S.No.</span>{{i+1}}</td>
          <td><span class="ui-column-title">Model Name</span>
            <span class="text-capitalize"> {{model.model_name}}</span>
          </td>
          <td><span class="ui-column-title">Vehicles</span>{{model.Vehicle[0] ? model.Vehicle[0].count : 0}}</td>
          <td><span class="ui-column-title">Action</span>
            <a class="success p-0 edit-icon" (click)="showDialog(model)">
              <i class="fa fa-pencil"></i> Edit
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center text-danger font-weight-600" colspan="4">No Records Found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- <app-table-wrapper></app-table-wrapper> -->
</div>

<!-- model dialog starts -->
<p-dialog header="{{modalTitle}}" [(visible)]="modalDisplayFlag" [modal]="true" [responsive]="true"
  [closeOnEscape]="false" [style]="{width: '490px', minWidth: '200px'}" [minY]="70" [maximizable]="false"
  appendTo="body" styleClass="prime-modal-dialog" (onHide)="resetForm()">
  <form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
    <div>
      <p class="modal-text padding-top-20">Model Name*</p>
      <div class="modal-search-input">
        <input type="text" placeholder="Enter model name" formControlName="model_name"
          (blur)="utilityService.removeInputSpace(modelModule.model_name)" />
      </div>
      <div
        *ngIf="(((modelModule.model_name.hasError('required') || modelModule.model_name.hasError('whitespace'))  && (modelModule.model_name.dirty || modelModule.model_name.touched)) && isSubmitted) || ((modelModule.model_name.hasError('required') || modelModule.model_name.hasError('whitespace'))  && (modelModule.model_name.dirty || modelModule.model_name.touched)) || (modelModule.model_name.dirty || modelModule.model_name.touched)"
        [ngClass]="(modelModule.model_name.valid) ? 'display-none' : 'error'">
        Please enter model name.
      </div>
    </div>
    <p-footer>
      <div class="modal-flex-button padding-top-32">
        <button type="reset" (click)="resetForm()" class="modal-border-button">Cancel</button>
        <button type="submit" class="modal-button-wrapper">{{modalButton}}</button>
      </div>
    </p-footer>
  </form>
</p-dialog>
<!-- model disalog ends -->