<div class="wrapper">
  <!-- heading wrapper -->
  <app-heading-wrapper [sectionTitle]="sectionTitle"></app-heading-wrapper>
  <!-- search wrapper -->
  <div class="search-flex-wrapper">
    <app-search (keyEvent)="searchText($event)" (clearEvent)="clearInput($event)"></app-search>
  </div>
  <!-- table list column wrapper -->
  <div class="row justify-space-between">
    <div class="col-lg-8 col-sm-12 col-width-wrapper height-wrapper card">
      <!-- Table wrapper -->
      <div>
        <p-table [value]="bikeList" styleClass="country-list-wrapper prime-table-radio-wrapper" [responsive]="true"
          [(selection)]="selectedValue" (onRowSelect)="onRowSelect($event)"
          (selectionChange)="onRowsSelectionChange($event)" (onRowUnselect)="onRowUnselect($event)">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3em">
                <p-tableHeaderCheckbox (selectionChange)="onRowSelect($event)"></p-tableHeaderCheckbox>
              </th>
              <th>S.No.
              </th>
              <th>Reg Num</th>
              <th>Brand</th>
              <th>Model</th>
              <th *ngIf="flagForBusiness">Price</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-bike let-i="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
              <td>
                <span class="ui-column-title">Select Button</span>
                <p-tableCheckbox [value]="rowData">
                </p-tableCheckbox>
              </td>

              <td><span class="ui-column-title">S.No.</span>
                {{i+1}}
              </td>

              <td>
                <span class="ui-column-title">Reg Num</span>
                {{bike.vehicle_number}}
              </td>
              <td class="text-capitalize">
                <span class="ui-column-title">Brand</span>
                {{bike.brand_name}}
              </td>
              <td class="text-capitalize">
                <span class="ui-column-title">Model</span>
                {{bike.model_name}}
              </td>
              <td *ngIf="flagForBusiness">
                <span class="ui-column-title">Price</span>
                {{bike.lease_price | number:'1.2-2'}} {{bike.currency}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td class="text-center text-danger font-weight-600" colspan="6">No Records Found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12 card height-wrapper selected-bike-wrapper">
      <!-- Table wrapper -->
      <div>
        <p class="bike-title-text">Selected Bikes</p>

        <div *ngIf="flagForBusiness" class="display-flex calender-wrapper">
          <div class="form-block padding-right-16">
            <p class="form-grey-text">From: </p>
            <div class="form-search-input">
              <p-calendar placeholder="Start Date" [(ngModel)]="startDate" (onSelect)="setDuration('startDate')"
                [maxDate]="maxDate" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="2018:2050">
              </p-calendar>
            </div>
          </div>
          <div class="form-block">
            <p class="form-grey-text">To: </p>
            <div class="form-search-input">
              <p-calendar placeholder="End Date" [(ngModel)]="endDate" [minDate]="minDate" dateFormat="yy-mm-dd"
                styleClass="prime-datepicker" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2050"
                (onSelect)="setDuration('endDate')"></p-calendar>
            </div>
          </div>
        </div>

        <div class="installment-dropdown-wrapper" *ngIf="flagForBusiness">
          <p-dropdown [options]="installments" [(ngModel)]="installment_type" placeholder="Installment Type">
          </p-dropdown>
        </div>


        <p-table [value]="selectedValue" styleClass="country-list-wrapper prime-selected-wrapper" [responsive]="true"
          sortField="id" [sortOrder]="1" [metaKeySelection]="true">
          <ng-template *ngIf="flagForBusiness" pTemplate="caption">
            <div class="text-left">
              <span class="font-weight-600">Duration:</span>
              <span class="text-grey">
                {{(duration != null) ? duration : '-'}}
              </span>
            </div>
            <div class="display-flex justify-space-between">
              <!-- total -->
              <div>
                <span class="font-weight-600">Total ({{perDayOrMonth}}):</span>
                <span class="text-grey">
                  {{total | number: '1.2-2'}}
                  {{rowData?.currency}}
                </span>
              </div>
              <!-- payment -->
              <div>
                <span class="font-weight-600">Payment :</span>
                <span class="text-grey">
                  {{paymentPayable ? paymentPayable : '0.00'}}
                  {{selectedValue?.currency}}
                </span>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Reg Num</th>
              <th>Brand</th>
              <th *ngIf="flagForBusiness">Price ({{perDayOrMonth}})</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-bikes>
            <tr>
              <td>
                <span class="ui-column-title">Reg Num</span>
                {{bikes.vehicle_number}}
              </td>
              <td class="text-capitalize">
                <span class="ui-column-title">Brand</span>
                {{bikes.brand_name}}
              </td>
              <td *ngIf="flagForBusiness">
                <span class="ui-column-title">Price ({{perDayOrMonth}})</span>
                {{(perDayOrMonth == "Per day" ? (bikes.lease_price / 30) : bikes.lease_price)|number:'1.2-2'}}
                {{bikes.currency}}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="align-button-right">
        <button type="reset" (click)="resetform()" class="border-button-wrapper">Cancel</button>
        <button (click)="onClick($event)" type="submit" class="button-wrapper">{{buttonName}}</button>
      </div>
    </div>
  </div>
</div>
