.col-width-wrapper {
  // max-width:65.4% !important;
  max-width: 63.4% !important;
  padding: 0 !important;
}

.justify-space-between {
  justify-content: space-between;
}

// table wrapper
::ng-deep .country-list-wrapper {
  .ui-table-thead {
    tr {
      border-top: 0px solid #D9E0EA !important;
      border-bottom: 0px solid #D9E0EA !important;
    }
  }

  .ui-table-tbody {
    tr {
      td {
        background: #fff !important;
      }
    }
  }
}

.height-wrapper {
  min-height: 70vh;
  margin-left: 16px;
}

::ng-deep .country-list-wrapper .ui-table-thead tr th {
  background: #fff !important;
}

.selected-bike-wrapper {
  background: #E7EDF6;
  padding: 0;
  display: flex;
  justify-content: space-between;


  .bike-title-text {
    font-size: 18px;
    color: #4A4A4A;
    padding: 21px 21px 0;
    font-weight: 500;
  }
}

.align-button-right {
  justify-content: space-evenly;
  padding-bottom: 21px;
}

::ng-deep body .ui-chkbox .ui-chkbox-box {
  background-color: #D8D8D8 !important;
  border: 1px solid #D8D8D8 !important;
  border-radius: 4px !important;
}

.border-button-wrapper {
  margin-right: 15px;
}

.calender-wrapper {
  padding: 15px 14px 0;
}

.installment-dropdown-wrapper {
  padding: 13px 14px 20px;
}

::ng-deep .prime-selected-wrapper {
  .ui-table-caption {
    background-color: #e7edf6 !important;
    border: 1px solid #D9E0EA !important;
  }
}

.text-grey {
  color: #727171;
}

::ng-deep .ui-datepicker .ui-datepicker-header .ui-datepicker-title select {
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  padding: 3px 5px;
  color: #333333;
}
