<section class="access-denied-bg">
    <div class="container">

        <div class="access-denied-outer">
            <div class="logo-access">
                <img src="assets/img/access-denied/access-logo.svg">
            </div>

            <div class="access-content">
                <h4>Access Denied</h4>
                <p>Oops! You don’t access to this.</p>
                <div class="access-button-wrapper" [routerLink]="['/admin/dashboard/cards-dashboard']">
                    <a>
                        Go Back
                    </a>
                </div>
            </div>
            <div class="access-botom">
                <img src="assets/img/access-denied/access-bottom.svg">
            </div>

        </div>
    </div>
</section>