    body {
        font-family: 'Montserrat', sans-serif !important;
    }
    
    // color
    $access-blcak: #000000;
    $access-gray :#8F8F8F;
    $access-white :#FFFFFF;
    $access-yellow :#E9BA00;
    $access-bright-gray :rgba(255, 255, 255, 0.05);
    // text-transform
    $access-capitalize:capitalize;
    $access-uppercase:uppercase;
    $access-lowercase:lowercase;
    //fonts-size
    $access-heading-4: 48px;
    $access-heading-sm-4: 26px;
    $access-sub-heading: 24px;
    $access-sm-font :16px;
    // font-weight
    $thin:100;
    $light:300;
    $regular:400;
    $medium:500;
    $semibold:600;
    $bold:700;
    $wtblack:900;
    @mixin background-properties($path, $position, $size, $repeat) {
        background-image: $path;
        background-position: $position;
        background-size: $size;
        background-repeat: $repeat;
    }
    
    %before-access {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    
    .access-denied-bg {
        @include background-properties(url(assets/img/access-denied/access-bg.svg), center, cover, no-repeat);
        position: relative;
    }
    
    .access-denied-outer {
        position: relative;
    }
    
    .logo-access {
        text-align: center;
        margin: 0 auto;
        max-width: 155px;
        padding-bottom: 46px;
        img {
            width: 100%;
        }
    }
    
    .access-content {
        text-align: center;
        padding-bottom: 6%;
     
        h4 {
            font-size: $access-heading-4;
            color: #4A4A4A;
            font-weight: $bold;
            font-family: 'Montserrat', sans-serif !important;
        }
        p {
            font-size: $access-sub-heading;
            color: $access-gray;
            font-weight: $medium;
            margin-bottom:32px;
        }
        a {
            font-size: $access-sm-font;
            color: $access-white;
            font-weight: $medium;
        }
    }
    
    .access-button-wrapper {
        background: $access-yellow;
        padding: 10px 15px;
        border-radius: 3px;
        color: #fff;
        font-weight: 400;
        cursor: pointer;
        max-width: 199px;
        margin: 0 auto;
    }
    
    .access-botom {
        max-width: 80%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    
    @media (max-width: 500px) {
        .access-content h4 {
            font-size: 26px;
        }
        .access-content p {
            font-size: 12px;
        }
        .logo-access {
            max-width: 40%;
        }
        .access-button-wrapper {
            max-width: 102px;
            padding: 4px 7px;
            margin-bottom: 36px;
        }
        .access-content a {
            font-size: 14px;
        }
    }