<!-- form wrapper  -->
<div class="wrapper">
    <div class="col-sm-8 heading-flex-wrapper">
        <app-heading-wrapper></app-heading-wrapper>
    </div>
    <div class="row no-flex-wrap">
        <div class="col-sm-8 card form-card-wrapper margin-right-24">
            <div class="display-flex padding-top-24">
                <div class="form-block">
                    <p class="form-grey-text">Vehicle Number</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{vehicles.vehicle_number}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Brand</p>
                    <div class="form-search-input">
                        <p class="form-view-text text-capitalize">{{vehicles.vehicle_brand.brand_name}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Model</p>
                    <div class="form-search-input">
                        <p class="form-view-text text-capitalize">{{vehicles.vehicle_model.model_name}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Engine Number</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{vehicles.engine_number}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Engine Capacity</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{vehicles.engine_capacity}} cc</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Starting Mechanism</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{vehicles.starting_mechanism}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Mileage per km</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{vehicles.mileage}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Tyre Type Front</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{vehicles.tyre_type}}</p>
                    </div>
                </div>
                <div class="form-block">
                    <p class="form-grey-text">Tyre Type Rear</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{vehicles.wheel_type}}</p>
                    </div>
                </div>
            </div>
            <div class="display-flex padding-top-24">
                <div class="form-block padding-right-32">
                    <p class="form-grey-text">Color</p>
                    <div class="form-search-input">
                        <p class="form-view-text">{{vehicles.color}}</p>
                    </div>
                </div>
            </div>

            <!-- tabs wrapper -->
            <div class="tabs-wrapper">
                <p-tabMenu [model]="items" [activeItem]="activeItem" styleClass="prime-tabs-wrapper prime-long-tabs-wrapper prime-details-tabs-wrapper">
                    <ng-template pTemplate="item" let-item let-i="index">
                        <div (click)="getItem($event, i, item.label)">
                            <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
                            <div class="ui-menuitem-text">
                                {{item.label}}
                            </div>
                        </div>
                    </ng-template>
                </p-tabMenu>
            </div>

            <!--Allocated Drivers-->
            <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'allocated'">
                <p-table [value]="allocatedList" styleClass="country-list-wrapper vehicle-details-wrapper" [responsive]="true" [rows]="10" sortField="id" [sortOrder]="1">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name
                            </th>
                            <th>Contact Number
                            </th>
                            <th>Email ID</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-driverDetails>
                        <tr>
                            <td><span class="ui-column-title">Name</span>{{driverDetails.driver}}</td>
                            <td><span class="ui-column-title">Contact Number</span>{{driverDetails.mobile_number}}</td>
                            <td><span class="ui-column-title">Email ID</span>{{driverDetails.email_id ? driverDetails.email_id : "-"}}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="3" class="text-danger text-center font-weight-600">No Records Found.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!--Maintenance comment on temorary basis-->
            <!-- <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'maintenance'">
        <p-table [value]="maintainList" styleClass="country-list-wrapper" [responsive]="true" sortField="id"
          [sortOrder]="1">
          <ng-template pTemplate="header">
            <tr>
              <th>last Service
              </th>
              <th>Date
              </th>
              <th>KMs</th>
              <th>Upcoming (KM)</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-active>
            <tr>
              <td><span class="ui-column-title">Order ID</span>{{active.lastService}}</td>
              <td><span class="ui-column-title">Order Date</span>{{active.date}}</td>
              <td><span class="ui-column-title">Channel</span>{{active.kms}}</td>
              <td><span class="ui-column-title">Item Type</span>{{active.upcomingKm}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4" class="text-danger text-center">No Records Found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div> -->

            <!--Lease-->
            <div class="table-wrapper vehicle-wrapper" *ngIf="activeTab === 'lease'">
                <p-table [value]="leaseList" styleClass="country-list-wrapper vehicle-lease-details-wrapper" [responsive]="true" sortField="id" [sortOrder]="-1" [resizableColumns]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                Start Date
                            </th>
                            <th>
                                End Date
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-leaseData>
                        <tr>
                            <td><span class="ui-column-title">
                  Start Date</span> {{leaseData.assigned_to_business_from | date : 'mediumDate'}}
                            </td>
                            <td><span class="ui-column-title">
                  End Date</span> {{leaseData.assigned_to_business_to | date : 'mediumDate'}}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="2" class="text-danger text-center font-weight-600">No Records Found.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>
        <div class="col-sm-4 col-x3 card form-card-wrapper height-fit-content">
            <div class="padding-top-24">
                <div class="form-block">
                    <p class="form-grey-text">Documents</p>

                    <!-- registration card -->
                    <div class="padding-top-24">
                        <div class="form-search-input">
                            <p class="form-small-text">Registration Card</p>
                            <div class="document-position-wrapper">
                                <img [src]="vehicles.registration_card || 'assets/project-images/thumbnail-image.svg'" (click)="openImageDialog('registration_card', vehicles.registration_card,'')" />
                            </div>
                        </div>
                    </div>

                    <!-- insaurance -->
                    <div class="padding-top-24">
                        <div class="form-search-input">
                            <p class="form-small-text">Insaurance</p>
                            <div class="document-position-wrapper">
                                <img [src]="vehicles.insurance || 'assets/project-images/thumbnail-image.svg'" (click)="openImageDialog('insurance', vehicles.insurance,'')" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padding-top-24">
                <div class="form-block">
                    <p class="form-grey-text">Vehicle Images</p>

                    <div class="display-flex">
                        <div *ngFor="let vehicle of vehicles.vehicle_images;let i=index" class="document-position-wrapper">
                            <img [src]="vehicle.vehicle_image || 'assets/project-images/thumbnail-image.svg'" (click)="openImageDialog('vehicle-images', vehicles.vehicle_images,i)" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- dialog starts -->
<p-dialog header="Image Viewer" [(visible)]="imageDisplayFlag" [modal]="true" [responsive]="true" [style]="{width: '46%', minWidth: '200px'}" [minY]="70" [maximizable]="false" appendTo="body" styleClass="prime-modal-dialog">
    <div *ngIf="imageUrl" class="image-wrapper-block">
        <img [src]="imageUrl" alt="image viewer image">
    </div>
</p-dialog>
<!-- dialog ends -->